Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

Update lint action
  .github/workflows/lint.yml
Due: none

Lint
  crypto/keyring/keyring.go
Due: none

apply goimports
  client/grpc/tmservice/service.go
  server/mock/helpers.go
  store/prefix/store_test.go
  testutil/network/util.go
  x/authz/simulation/operations_test.go
  x/bank/simulation/operations_test.go
  x/capability/capability_test.go
  x/crisis/keeper/keeper_test.go
  x/distribution/abci.go
  x/distribution/simulation/operations_test.go
  x/feegrant/simulation/operations_test.go
  x/genutil/client/cli/init_test.go
  x/gov/abci_test.go
  x/gov/simulation/operations_test.go
  x/or/da/testutil/types_test.go
  x/slashing/abci.go
  x/slashing/app_test.go
  x/slashing/simulation/operations_test.go
  x/staking/app_test.go
  x/staking/keeper/val_state_change_test.go
  x/staking/simulation/operations_test.go
  x/stakingplus/keeper/msg_server.go
  x/upgrade/abci.go
  x/upgrade/types/storeloader_test.go
Due: modules, client

Update lint target
  Makefile
Due: none

Update docs
  CONTRIBUTING.md
  README.md
Due: none

Revert "feat: implement the interface of the settlement module (#998)"
  docs/core/proto-docs.md
  proto/finschia/or/settlement/v1/genesis.proto
  proto/finschia/or/settlement/v1/query.proto
  proto/finschia/or/settlement/v1/settlement.proto
  proto/finschia/or/settlement/v1/tx.proto
  x/or/settlement/client/cli/query.go
  x/or/settlement/client/cli/tx.go
  x/or/settlement/genesis.go
  x/or/settlement/genesis_test.go
  x/or/settlement/handler.go
  x/or/settlement/keeper/grpc_query.go
  x/or/settlement/keeper/keeper.go
  x/or/settlement/keeper/msg_server.go
  x/or/settlement/module.go
  x/or/settlement/module_simulation.go
  x/or/settlement/simulation/simap.go
  x/or/settlement/testutil/keeper/settlement.go
  x/or/settlement/testutil/nullify/nullify.go
  x/or/settlement/testutil/sample/sample.go
  x/or/settlement/types/codec.go
  x/or/settlement/types/errors.go
  x/or/settlement/types/expected_keepers.go
  x/or/settlement/types/genesis.go
  x/or/settlement/types/genesis.pb.go
  x/or/settlement/types/genesis_test.go
  x/or/settlement/types/keys.go
  x/or/settlement/types/query.pb.go
  x/or/settlement/types/query.pb.gw.go
  x/or/settlement/types/settlement.pb.go
  x/or/settlement/types/tx.pb.go
Due: modules

chore: update changelogs (#1046)
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

Revert "feat: implement the interface of the settlement module (#998)" (#1047)
  docs/core/proto-docs.md
  proto/finschia/or/settlement/v1/genesis.proto
  proto/finschia/or/settlement/v1/query.proto
  proto/finschia/or/settlement/v1/settlement.proto
  proto/finschia/or/settlement/v1/tx.proto
  x/or/settlement/client/cli/query.go
  x/or/settlement/client/cli/tx.go
  x/or/settlement/genesis.go
  x/or/settlement/genesis_test.go
  x/or/settlement/handler.go
  x/or/settlement/keeper/grpc_query.go
  x/or/settlement/keeper/keeper.go
  x/or/settlement/keeper/msg_server.go
  x/or/settlement/module.go
  x/or/settlement/module_simulation.go
  x/or/settlement/simulation/simap.go
  x/or/settlement/testutil/keeper/settlement.go
  x/or/settlement/testutil/nullify/nullify.go
  x/or/settlement/testutil/sample/sample.go
  x/or/settlement/types/codec.go
  x/or/settlement/types/errors.go
  x/or/settlement/types/expected_keepers.go
  x/or/settlement/types/genesis.go
  x/or/settlement/types/genesis.pb.go
  x/or/settlement/types/genesis_test.go
  x/or/settlement/types/keys.go
  x/or/settlement/types/query.pb.go
  x/or/settlement/types/query.pb.gw.go
  x/or/settlement/types/settlement.pb.go
  x/or/settlement/types/tx.pb.go
Due: modules

add non-reproducible test failures to skip
  server/grpc/server_test.go
  x/gov/client/testutil/suite.go
Due: modules

Define interface
  docs/core/proto-docs.md
  proto/finschia/or/settlement/v1/event.proto
  proto/finschia/or/settlement/v1/genesis.proto
  proto/finschia/or/settlement/v1/query.proto
  proto/finschia/or/settlement/v1/settlement.proto
  proto/finschia/or/settlement/v1/tx.proto
  simapp/app.go
  x/or/settlement/client/cli/query.go
  x/or/settlement/client/cli/tx.go
  x/or/settlement/genesis.go
  x/or/settlement/genesis_test.go
  x/or/settlement/handler.go
  x/or/settlement/keeper/grpc_query.go
  x/or/settlement/keeper/keeper.go
  x/or/settlement/keeper/keeper_test.go
  x/or/settlement/keeper/key.go
  x/or/settlement/keeper/msg_server.go
  x/or/settlement/keeper/params.go
  x/or/settlement/module.go
  x/or/settlement/module_simulation.go
  x/or/settlement/simulation/simap.go
  x/or/settlement/testutil/keeper/settlement.go
  x/or/settlement/testutil/nullify/nullify.go
  x/or/settlement/testutil/sample/sample.go
  x/or/settlement/types/codec.go
  x/or/settlement/types/errors.go
  x/or/settlement/types/event.pb.go
  x/or/settlement/types/expected_keepers.go
  x/or/settlement/types/genesis.go
  x/or/settlement/types/genesis.pb.go
  x/or/settlement/types/genesis_test.go
  x/or/settlement/types/keys.go
  x/or/settlement/types/msg.go
  x/or/settlement/types/params.go
  x/or/settlement/types/query.pb.go
  x/or/settlement/types/query.pb.gw.go
  x/or/settlement/types/settlement.pb.go
  x/or/settlement/types/tx.pb.go
Due: modules

Add challenge query
  x/or/settlement/client/cli/query.go
  x/or/settlement/keeper/challenge.go
  x/or/settlement/keeper/challenge_test.go
  x/or/settlement/keeper/grpc_query.go
  x/or/settlement/keeper/grpc_query_test.go
  x/or/settlement/keeper/key.go
  x/or/settlement/types/errors.go
Due: modules

Add StartChallenge msg
  x/or/settlement/client/cli/tx.go
  x/or/settlement/handler.go
  x/or/settlement/keeper/challenge.go
  x/or/settlement/keeper/msg_server.go
  x/or/settlement/types/errors.go
  x/or/settlement/types/msg.go
  x/or/settlement/types/settlement.go
Due: modules

Fix mips
  go.mod
  go.sum
  x/or/settlement/mips/README.md
  x/or/settlement/mips/memory.go
  x/or/settlement/mips/mips.go
  x/or/settlement/mips/plus.go
  x/or/settlement/mips/plus_test.go
  x/or/settlement/mips/state.go
  x/or/settlement/mips/state_test.go
  x/or/settlement/mips/witness.go
Due: modules

Add NsectChallenge msg
  x/or/settlement/client/cli/tx.go
  x/or/settlement/handler.go
  x/or/settlement/keeper/msg_server.go
  x/or/settlement/types/errors.go
  x/or/settlement/types/msg.go
  x/or/settlement/types/settlement.go
  x/or/settlement/types/settlement_test.go
Due: modules

Add demo
  x/or/demo/.gitignore
  x/or/demo/README.md
  x/or/demo/challenge.sh
  x/or/demo/run_chain.sh
  x/or/demo/tools/Makefile
  x/or/demo/tools/cannon/go.mod
  x/or/demo/tools/cannon/go.sum
  x/or/demo/tools/cannon/json.go
  x/or/demo/tools/cannon/main.go
  x/or/demo/tools/cannon/run.go
  x/or/demo/tools/challenge/cmd.go
  x/or/demo/tools/challenge/data/test.json
  x/or/demo/tools/challenge/go.mod
  x/or/demo/tools/challenge/go.sum
  x/or/demo/tools/challenge/main.go
  x/or/demo/tools/miniapp/go.mod
  x/or/demo/tools/miniapp/go.sum
  x/or/demo/tools/miniapp/main.go
  x/or/demo/tools/miniapp/meta.json
  x/or/demo/tools/miniapp/state.json
  x/or/demo/tools/preimage/data/height-100-cha.json
  x/or/demo/tools/preimage/data/height-100-def.json
  x/or/demo/tools/preimage/data/height-100.json
  x/or/demo/tools/preimage/go.mod
  x/or/demo/tools/preimage/go.sum
  x/or/demo/tools/preimage/main.go
  x/or/demo/tools/preimage/main_test.go
Due: modules

Add FinishChallange msg
  x/or/settlement/client/cli/tx.go
  x/or/settlement/handler.go
  x/or/settlement/keeper/msg_server.go
  x/or/settlement/types/errors.go
  x/or/settlement/types/msg.go
  x/or/settlement/types/settlement.go
Due: modules

fix: unable to connect ledger nano S on Ubuntu (#1040)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

fix lint errors and refs for private repo
  .github/workflows/sims.yml
  .github/workflows/test.yml
  testutil/network/network.go
Due: none

Fix and update tests
  x/foundation/keeper/internal/exec.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/msg_server_test.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Revert unrelevant changes
  x/foundation/keeper/internal/exec.go
Due: modules

Revert replace
  go.mod
  go.sum
Due: none

build: update golang version to 1.20 (#1043)
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/test.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  Makefile
  README.md
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  contrib/rosetta/node/Dockerfile
  contrib/rosetta/rosetta-cli/Dockerfile
  crypto/keyring/keyring.go
  go.mod
  go.sum
  snapshots/manager_test.go
  store/rootmulti/snapshot_test.go
Due: none

ci: change to self-hosted
  .github/workflows/autopr.yml
  .github/workflows/clean-artifacts.yml
  .github/workflows/docker.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
Due: none

fix: make x/foundation MsgExec propagate events (#1053)
  CHANGELOG.md
  x/foundation/keeper/internal/exec.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/msg_server_test.go
Due: modules

fix: apply review
  docs/core/proto-docs.md
  proto/finschia/or/rollup/v1/genesis.proto
  proto/finschia/or/rollup/v1/query.proto
  proto/finschia/or/rollup/v1/rollup.proto
  proto/finschia/or/rollup/v1/tx.proto
  simapp/app.go
  x/or/demo/prepare_chain.sh
  x/or/demo/prepare_rollup.sh
  x/or/demo/run_chain.sh
  x/or/rollup/client/cli/query.go
  x/or/rollup/client/cli/tx.go
  x/or/rollup/keeper/keeper.go
  x/or/rollup/keeper/msg_server.go
  x/or/rollup/types/genesis.pb.go
  x/or/rollup/types/query.pb.go
  x/or/rollup/types/query.pb.gw.go
  x/or/rollup/types/rollup.pb.go
  x/or/rollup/types/tx.pb.go
Due: modules

fix: remove max_sequencers field
  docs/core/proto-docs.md
  proto/finschia/or/rollup/v1/rollup.proto
  proto/finschia/or/rollup/v1/tx.proto
  simapp/app.go
  x/or/rollup/client/cli/query.go
  x/or/rollup/client/cli/tx.go
  x/or/rollup/genesis.go
  x/or/rollup/keeper/msg_server.go
  x/or/rollup/module_simulation.go
  x/or/rollup/simulation/helpers.go
  x/or/rollup/testutil/types.go
  x/or/rollup/types/codec.go
  x/or/rollup/types/message_create_rollup.go
  x/or/rollup/types/rollup.pb.go
  x/or/rollup/types/tx.pb.go
Due: modules

ci: change to ssh
  .github/workflows/sims.yml
  .github/workflows/test.yml
Due: none

ci: add ssh-key
  .github/workflows/docker.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
Due: none

ci: try to fix
  .github/workflows/sims.yml
Due: none

fix
  .github/workflows/sims.yml
Due: none

test
  .github/workflows/autopr.yml
  .github/workflows/clean-artifacts.yml
  .github/workflows/docker.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
Due: none

test
  .github/workflows/sims.yml
Due: none

use ubuntu-latest & github apps
  .github/workflows/autopr.yml
  .github/workflows/clean-artifacts.yml
  .github/workflows/docker.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
Due: none

rename
  .github/workflows/sims.yml
Due: none
