Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

fix: apply comment
  x/auth/ante/ante_test.go
  x/auth/types/params.go
Due: modules

chore: increate default valid_sig_block_period (#348)
  x/auth/ante/ante_test.go
  x/auth/types/params.go
Due: modules

fix: introduce `VoterSetCounter` (#347)
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/slashing/v1/slashing.proto
  simapp/export.go
  x/slashing/abci_test.go
  x/slashing/client/cli/cli_test.go
  x/slashing/genesis_test.go
  x/slashing/handler_test.go
  x/slashing/keeper/grpc_query_test.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/simulation/decoder_test.go
  x/slashing/simulation/operations_test.go
  x/slashing/spec/02_state.md
  x/slashing/spec/04_begin_block.md
  x/slashing/spec/05_hooks.md
  x/slashing/types/signing_info.go
  x/slashing/types/slashing.pb.go
  x/wasm/linkwasmd/app/export.go
Due: modules, client

test: decrease sim test time
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  Makefile
Due: none

fix: use tab on Makefile
  Makefile
Due: none

chore: add meaningless comment to enable sim test of github action
  baseapp/abci.go
Due: app

chore: fix lint error
  baseapp/abci.go
Due: app

test: add nondeterminism short version
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  Makefile
Due: none

test: add action cron
  .github/workflows/release-sims.yml
  .github/workflows/sims_normal.yml
  Makefile
Due: none

chore: remove dummy comment
  baseapp/abci.go
Due: app

docs: update changelog (#346) (#349)
  RELEASE_CHANGELOG.md
Due: none

docs: update changelog
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

docs: update release_changelog
  RELEASE_CHANGELOG.md
Due: none

test: decrease sim test time (#350)
  .github/workflows/sims_normal.yml
  CHANGELOG.md
  Makefile
  RELEASE_CHANGELOG.md
Due: none

ci: remove diff condition
  .github/workflows/sims_normal.yml
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

test: remove diff condition from sim-normal ci. (#351)
  .github/workflows/sims_normal.yml
  CHANGELOG.md
Due: none

feat: iavl, db & disk stats logging when IAVL_DEV env. var. is set
  baseapp/abci.go
Due: app

feat: async store pruning
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Due: none

chore: logIoStats get built on linux only
  baseapp/abci.go
  baseapp/iostats.go
  baseapp/iostats_nop.go
  go.mod
Due: app

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: update go.sum
  go.sum
Due: none

feat: iavl, db & disk stats logging (#352)
  CHANGELOG.md
  baseapp/abci.go
  baseapp/iostats.go
  baseapp/iostats_nop.go
  go.mod
  go.sum
Due: app

ci: add an action creating pr
  .github/workflows/autopr.yml
Due: none

feat: change wasm metrics method
  x/wasm/keeper/keeper.go
  x/wasm/keeper/metrics.go
  x/wasm/keeper/options.go
Due: modules

refactor: rename WasmVMCacheMetricsCollector
  x/wasm/keeper/metrics.go
  x/wasm/keeper/options.go
Due: modules

ci: add an action creating pr (#356)
  .github/workflows/autopr.yml
Due: none

fix: build failure and use ostracon fixed version
  baseapp/iostats_nop.go
  go.mod
  go.sum
Due: app

fix: build failure and use ostracon fixed version (#359)
  baseapp/iostats_nop.go
  go.mod
  go.sum
Due: app

docs: add sample command docs
  README.md
  docs/sample-tx.md
Due: none

chore: modify changelog
  CHANGELOG.md
Due: none

docs: add sample command docs (#361)
  CHANGELOG.md
  README.md
  docs/sample-tx.md
Due: none

ci: enable long sim test for release branch
  .github/workflows/release-sims.yml
Due: none

docs: add RELEASE_CHANGELOG.md for rebase
  RELEASE_CHANGELOG.md
Due: none

test: fixed test case
  x/gov/client/cli/cli_test.go
  x/gov/client/rest/grpc_query_test.go
Due: modules

feat: add gov/weighted-vote
  types/tx_msg.go
  x/gov/client/testutil/suite.go
  x/gov/client/utils/query.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/types/msgs_test.go
Due: modules
