Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fixup: fix for comment
  x/fswap/spec/01_concepts.md
Due: modules

docs: correct spec docs of fswap module (#1419)
  CHANGELOG.md
  x/fswap/keeper/keys.go
  x/fswap/spec/01_concepts.md
  x/fswap/spec/02_state.md
  x/fswap/spec/03_events.md
  x/fswap/spec/README.md
Due: modules

fix: fix conflict
  CHANGELOG.md
Due: none

Add grpc-query test
  x/fbridge/keeper/abci_test.go
  x/fbridge/keeper/grpc_query_test.go
Due: modules

chore: apply the changes of #1429
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

Release finschia-sdk v0.49.1 (#1428)
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

Add msg server tests
  x/fbridge/keeper/abci_test.go
  x/fbridge/keeper/grpc_query_test.go
  x/fbridge/keeper/msg_server_test.go
Due: modules

Add type tests
  x/fbridge/keeper/genesis_test.go
  x/fbridge/keeper/grpc_query_test.go
  x/fbridge/keeper/msg_server_test.go
  x/fbridge/types/fbridge_test.go
  x/fbridge/types/keys_test.go
  x/fbridge/types/params_test.go
Due: modules

lint
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/query_test.go
  x/fbridge/client/cli/tx_test.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/msg_server_test.go
  x/fbridge/types/fbridge_test.go
  x/fbridge/types/keys_test.go
  x/fbridge/types/params_test.go
Due: modules

Add CHANGELOG
  CHANGELOG.md
Due: none

test: add CLI, gRPC, MsgServer tests (#1405)
  CHANGELOG.md
  client/tendermint.go
  init_node.sh
  testutil/cli/tm_mocks.go
  types/module/testutil/codec.go
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/query_test.go
  x/fbridge/client/cli/tx.go
  x/fbridge/client/cli/tx_test.go
  x/fbridge/keeper/abci_test.go
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/genesis_test.go
  x/fbridge/keeper/grpc_query_test.go
  x/fbridge/keeper/msg_server_test.go
  x/fbridge/types/fbridge_test.go
  x/fbridge/types/keys_test.go
  x/fbridge/types/params_test.go
Due: modules, client

bug: Fix goreleaser config
  .github/workflows/tag.yml
  .goreleaser.yml
  Makefile
Due: none

Resolve ostracon conflicts
  client/tendermint.go
  go.mod
  go.sum
  testutil/cli/tm_mocks.go
  x/fbridge/client/cli/tx_test.go
Due: modules, client

Remove hardcoding var
  Makefile
Due: none

Modify release config
  .goreleaser.yml
Due: none

Exclude irrelevant commit and include missing commit
  .goreleaser.yml
  Makefile
Due: none

chore
  .github/workflows/tag.yml
Due: none

bug: Fix goreleaser config (#1431)
  .github/workflows/tag.yml
  .goreleaser.yml
  CHANGELOG.md
  Makefile
Due: none

chore: fix some comments
  crypto/keyring/info.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
