Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

feat: support custom r/w gRPC options (backport #1017)
  CHANGELOG.md
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/grpc/server.go
  server/start.go
  testutil/network/util.go
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

feat: support custom r/w gRPC options (backport #1017) (#1019)
  CHANGELOG.md
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/grpc/server.go
  server/start.go
  testutil/network/util.go
Due: none

feat: support custom r/w gRPC options (backport #1017) (#1018)
  CHANGELOG.md
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/grpc/server.go
  server/start.go
  testutil/network/util.go
Due: none

feat: modify CC, SCC interfaces to process multi-txs (#1013)
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  proto/finschia/or/da/v1/tx.proto
  x/or/da/keeper/msg_server.go
  x/or/da/testutil/keeper.go
  x/or/da/types/da.pb.go
  x/or/da/types/keys.go
  x/or/da/types/tx.pb.go
Due: modules

feat: impl decompressor
  x/or/da/genesis_test.go
  x/or/da/keeper/cc.go
  x/or/da/keeper/cc_test.go
  x/or/da/keeper/keeper.go
  x/or/da/keeper/keeper_test.go
  x/or/da/keeper/msg_server.go
  x/or/da/keeper/msg_server_test.go
  x/or/da/testutil/keeper.go
  x/or/da/testutil/types.go
  x/or/da/testutil/types_test.go
  x/or/da/types/errors.go
  x/or/da/types/keys.go
Due: modules

fix interface
  docs/core/proto-docs.md
  go.mod
  proto/finschia/or/da/v1/da.proto
  x/or/da/keeper/keeper.go
  x/or/da/module.go
  x/or/da/testutil/expected_keepers_mocks.go
  x/or/da/testutil/keeper.go
  x/or/da/types/da.pb.go
  x/or/da/types/expected_keepers.go
Due: modules

feat: impl appendCCBatch
  baseapp/baseapp.go
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/event.proto
  types/context.go
  x/or/da/keeper/cc.go
  x/or/da/keeper/cc_test.go
  x/or/da/keeper/msg_server.go
  x/or/da/types/da.go
  x/or/da/types/errors.go
  x/or/da/types/event.pb.go
  x/or/da/types/keys.go
Due: app, modules

lint
  x/or/da/keeper/cc.go
  x/or/da/keeper/msg_server.go
  x/or/da/module.go
  x/or/da/testutil/keeper.go
Due: modules

chore: update golang version
  go.mod
  snapshots/manager_test.go
  store/rootmulti/snapshot_test.go
Due: none

ci: update golang version in workflows
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/test.yml
Due: none

chore: modify the parts that are not updated in Dockerfile, docs, etc.
  CONTRIBUTING.md
  README.md
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  contrib/rosetta/node/Dockerfile
  contrib/rosetta/rosetta-cli/Dockerfile
Due: none

chore: update golang version (#1025)
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  contrib/rosetta/node/Dockerfile
  contrib/rosetta/rosetta-cli/Dockerfile
  go.mod
  snapshots/manager_test.go
  store/rootmulti/snapshot_test.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add CCBatch validation logic
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  proto/finschia/or/da/v1/event.proto
  x/or/da/keeper/cc.go
  x/or/da/keeper/cc_test.go
  x/or/da/keeper/msg_server.go
  x/or/da/types/da.pb.go
  x/or/da/types/event.pb.go
Due: modules

lint
  x/or/da/keeper/cc.go
Due: modules

feat: impl Enqueue keeper logic
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  proto/finschia/or/da/v1/event.proto
  proto/finschia/or/da/v1/params.proto
  proto/finschia/or/da/v1/tx.proto
  x/or/da/genesis.go
  x/or/da/keeper/cc.go
  x/or/da/keeper/grpc_query.go
  x/or/da/keeper/msg_server.go
  x/or/da/keeper/params.go
  x/or/da/keeper/params_test.go
  x/or/da/types/da.pb.go
  x/or/da/types/errors.go
  x/or/da/types/event.pb.go
  x/or/da/types/keys.go
  x/or/da/types/params.pb.go
  x/or/da/types/tx.pb.go
Due: modules

feat: impl EndBlocker to check queue tx
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  x/or/da/abci.go
  x/or/da/keeper/cc.go
  x/or/da/module.go
  x/or/da/types/da.pb.go
Due: modules

make interface to get registered rollup list
  x/or/da/keeper/cc.go
  x/or/da/testutil/expected_keepers_mocks.go
  x/or/da/types/expected_keepers.go
Due: modules

feat: add protobuf
  docs/core/proto-docs.md
  proto/finschia/or/rollup/v1/genesis.proto
  proto/finschia/or/rollup/v1/query.proto
  proto/finschia/or/rollup/v1/rollup.proto
  proto/finschia/or/rollup/v1/tx.proto
Due: none

test: CC keeper unittests
  x/or/da/keeper/cc.go
  x/or/da/keeper/cc_test.go
  x/or/da/keeper/grpc_query_test.go
  x/or/da/keeper/keeper_test.go
  x/or/da/keeper/params_test.go
  x/or/da/testutil/keeper.go
  x/or/da/types/params.go
Due: modules

fix L2QueueTx prepaid logic
  x/or/da/genesis_test.go
  x/or/da/keeper/cc.go
  x/or/da/keeper/cc_test.go
  x/or/da/keeper/keeper.go
  x/or/da/keeper/msg_server.go
  x/or/da/keeper/params.go
  x/or/da/testutil/expected_keepers_mocks.go
  x/or/da/testutil/keeper.go
  x/or/da/types/expected_keepers.go
  x/or/da/types/params.go
Due: modules

fix: modify valid batch checking logic
  x/or/da/keeper/cc.go
  x/or/da/types/errors.go
  x/or/da/types/keys.go
Due: modules

test: unittest for SaveCCBatch
  x/or/da/keeper/cc_test.go
Due: modules

lint
  proto/finschia/or/da/v1/event.proto
Due: none

chore: add description about CCState height
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  x/or/da/types/da.pb.go
Due: none

chore: fix typo
  proto/finschia/or/da/v1/da.proto
  x/or/da/types/da.pb.go
Due: none

chore: rename `saveQueueTx` to `setQueueTx``
  x/or/da/keeper/cc.go
Due: modules

fix: calculate txHash correctly
  x/or/da/keeper/cc.go
Due: modules

fix: decompress batch with loop
  x/or/da/keeper/cc.go
  x/or/da/keeper/cc_test.go
Due: modules

fix typo
  proto/finschia/or/da/v1/da.proto
  x/or/da/types/da.pb.go
Due: none

feat: impl CC logic, tx, interface (#1023)
  baseapp/baseapp.go
  docs/core/proto-docs.md
  go.mod
  proto/finschia/or/da/v1/da.proto
  proto/finschia/or/da/v1/event.proto
  proto/finschia/or/da/v1/params.proto
  proto/finschia/or/da/v1/tx.proto
  types/context.go
  x/or/da/abci.go
  x/or/da/genesis.go
  x/or/da/genesis_test.go
  x/or/da/keeper/cc.go
  x/or/da/keeper/cc_test.go
  x/or/da/keeper/grpc_query.go
  x/or/da/keeper/grpc_query_test.go
  x/or/da/keeper/keeper.go
  x/or/da/keeper/keeper_test.go
  x/or/da/keeper/msg_server.go
  x/or/da/keeper/msg_server_test.go
  x/or/da/keeper/params.go
  x/or/da/keeper/params_test.go
  x/or/da/module.go
  x/or/da/testutil/expected_keepers_mocks.go
  x/or/da/testutil/keeper.go
  x/or/da/testutil/types.go
  x/or/da/testutil/types_test.go
  x/or/da/types/codec.go
  x/or/da/types/da.go
  x/or/da/types/da.pb.go
  x/or/da/types/errors.go
  x/or/da/types/event.pb.go
  x/or/da/types/expected_keepers.go
  x/or/da/types/keys.go
  x/or/da/types/msgs.go
  x/or/da/types/params.go
  x/or/da/types/params.pb.go
  x/or/da/types/tx.pb.go
Due: app, modules

feat: add name len to parse key
  x/or/da/types/keys.go
Due: modules

impl spliting key
  x/or/da/types/keys.go
Due: modules

update genesis proto
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/genesis.proto
  x/or/da/genesis.go
  x/or/da/types/genesis.pb.go
  x/or/da/types/keys.go
Due: modules

feat: impl genesis
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/genesis.proto
  x/or/da/genesis.go
  x/or/da/genesis_test.go
  x/or/da/keeper/genesis.go
  x/or/da/keeper/genesis_test.go
  x/or/da/module.go
  x/or/da/types/genesis.pb.go
Due: modules

go lint
  x/or/da/keeper/genesis.go
  x/or/da/keeper/grpc_query.go
Due: modules
