Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

fix: adjust the gas value for GetContractEnv
  x/wasm/keeper/api.go
Due: modules

chore: update ostracon to @38e64c8
  go.mod
  go.sum
Due: none

chore: update ostracon to @8bacec680
  go.mod
  go.sum
Due: none

chore: update CHANGELOG
  CHANGELOG.md
Due: none

fix: adjust gas cost for GetContractEnv of CosmWasmAPI (#659)
  CHANGELOG.md
  x/wasm/keeper/api.go
Due: modules

ci: add benchmarking job to ci (#658)
  .github/workflows/bench.yml
  CHANGELOG.md
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

feat: remote bech32-cache-size
  server/config/config.go
  server/config/toml.go
  server/start.go
Due: none

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

ibc v3 support for `x/wasm`
  simapp/ante_handler.go
  simapp/app.go
  simapp/test_access.go
  simapp/test_helpers.go
  x/wasm/ibc.go
  x/wasm/ibc_reflect_test.go
  x/wasm/ibc_test.go
  x/wasm/ibctesting/chain.go
  x/wasm/ibctesting/coordinator.go
  x/wasm/ibctesting/endpoint.go
  x/wasm/ibctesting/event_utils.go
  x/wasm/ibctesting/path.go
  x/wasm/ibctesting/wasm.go
  x/wasm/keeper/relay.go
  x/wasm/keeper/relay_test.go
  x/wasm/keeper/wasmtesting/mock_keepers.go
  x/wasm/relay_pingpong_test.go
  x/wasm/relay_test.go
  x/wasm/types/expected_keepers.go
  x/wasm/types/exported_keepers.go
Due: modules

Remove `panic`
  x/ibc/testing/chain.go
Due: modules

Use `github.com/line/lbm-sdk/simapp`
  x/ibc/applications/27-interchain-accounts/module_test.go
  x/ibc/applications/27-interchain-accounts/types/codec_test.go
  x/ibc/applications/transfer/keeper/relay_test.go
  x/ibc/applications/transfer/simulation/decoder_test.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/ibc/core/02-client/legacy/v100/genesis_test.go
  x/ibc/core/02-client/simulation/decoder_test.go
  x/ibc/core/03-connection/simulation/decoder_test.go
  x/ibc/core/03-connection/types/msgs_test.go
  x/ibc/core/04-channel/simulation/decoder_test.go
  x/ibc/core/04-channel/types/msgs_test.go
  x/ibc/core/05-port/keeper/keeper_test.go
  x/ibc/core/genesis_test.go
  x/ibc/core/legacy/v100/genesis_test.go
  x/ibc/core/simulation/decoder_test.go
  x/ibc/light-clients/09-localhost/types/localhost_test.go
  x/ibc/light-clients/99-ostracon/types/ostracon_test.go
  x/ibc/testing/app.go
  x/ibc/testing/chain.go
  x/ibc/testing/sdk_test.go
  x/ibc/testing/simapp/app.go
  x/ibc/testing/simapp/encoding.go
  x/ibc/testing/simapp/genesis_account_test.go
  x/ibc/testing/simapp/sim_test.go
  x/ibc/testing/simapp/simd/cmd/cmd_test.go
  x/ibc/testing/simapp/simd/cmd/genaccounts_test.go
  x/ibc/testing/simapp/simd/cmd/root.go
  x/ibc/testing/simapp/simd/main.go
  x/ibc/testing/simapp/state.go
  x/ibc/testing/simapp/test_helpers.go
  x/ibc/testing/simapp/utils.go
Due: modules

Remove x/ibc/testing/simapp
  simapp/app.go
  simapp/test_access.go
  x/ibc/applications/27-interchain-accounts/module_test.go
  x/ibc/applications/transfer/keeper/relay_test.go
  x/ibc/testing/app.go
  x/ibc/testing/sdk_test.go
  x/ibc/testing/simapp/README.md
  x/ibc/testing/simapp/ante_handler.go
  x/ibc/testing/simapp/app.go
  x/ibc/testing/simapp/config.go
  x/ibc/testing/simapp/encoding.go
  x/ibc/testing/simapp/export.go
  x/ibc/testing/simapp/genesis.go
  x/ibc/testing/simapp/genesis_account.go
  x/ibc/testing/simapp/genesis_account_test.go
  x/ibc/testing/simapp/helpers/test_helpers.go
  x/ibc/testing/simapp/params/amino.go
  x/ibc/testing/simapp/params/doc.go
  x/ibc/testing/simapp/params/encoding.go
  x/ibc/testing/simapp/params/params.go
  x/ibc/testing/simapp/params/proto.go
  x/ibc/testing/simapp/params/weights.go
  x/ibc/testing/simapp/sim_bench_test.go
  x/ibc/testing/simapp/sim_test.go
  x/ibc/testing/simapp/simd/cmd/cmd_test.go
  x/ibc/testing/simapp/simd/cmd/genaccounts.go
  x/ibc/testing/simapp/simd/cmd/genaccounts_test.go
  x/ibc/testing/simapp/simd/cmd/root.go
  x/ibc/testing/simapp/simd/cmd/testnet.go
  x/ibc/testing/simapp/simd/main.go
  x/ibc/testing/simapp/state.go
  x/ibc/testing/simapp/test_helpers.go
  x/ibc/testing/simapp/types.go
  x/ibc/testing/simapp/utils.go
  x/ibc/testing/simapp/utils_test.go
Due: modules

Fix conflicts
  simapp/test_helpers.go
  x/wasm/keeper/snapshotter_integration_test.go
Due: modules

Fix lint error
  simapp/app.go
  x/ibc/applications/transfer/simulation/params.go
  x/ibc/core/02-client/legacy/v100/store.go
  x/ibc/core/ante/ante.go
  x/ibc/core/legacy/v100/genesis.go
  x/ibc/light-clients/99-ostracon/types/misbehaviour.go
  x/ibc/testing/mock/ack.go
  x/ibc/testing/mock/ibc_app.go
  x/ibc/testing/values.go
Due: modules

chore: change default `iavl-cache-size`
  server/config/toml.go
  server/start.go
  store/iavl/store.go
Due: none

Update `CHANGELOG.md`
  CHANGELOG.md
Due: none

test: add testdata
  x/wasm/testdata/checksums.txt
  x/wasm/testdata/dynamic_callee_contract.wasm
  x/wasm/testdata/dynamic_caller_contract.wasm
Due: modules

fix: fix function name
  x/wasm/dynamic_link_test.go
Due: modules

fix: change commit-hash
  go.mod
  go.sum
Due: none

Fix comments
  x/ibc/applications/transfer/keeper/relay_test.go
Due: modules

feat: remove bech32-cache-size (#665)
  CHANGELOG.md
  server/config/config.go
  server/config/toml.go
  server/start.go
Due: none

Apply suggestions from code review
  CHANGELOG.md
  server/start.go
  store/iavl/store.go
Due: none

chore: change default `iavl-cache-size` (#666)
  CHANGELOG.md
  server/config/toml.go
  server/start.go
  store/iavl/store.go
Due: none

feat: add unit test for dynamic link when callee fails (#656)
  go.mod
  go.sum
  x/wasm/dynamic_link_test.go
  x/wasm/module_test.go
  x/wasm/testdata/checksums.txt
  x/wasm/testdata/dynamic_callee_contract.wasm
  x/wasm/testdata/dynamic_caller_contract.wasm
Due: modules

build: update wasmvm and update contracts for tests
  go.mod
  go.sum
  x/wasm/dynamic_link_test.go
  x/wasm/testdata/call_number.wasm
  x/wasm/testdata/dynamic_callee_contract.wasm
  x/wasm/testdata/dynamic_caller_contract.wasm
  x/wasm/testdata/number.wasm
Due: modules

docs: update CHANGELOG.md (include previous PR's info)
  CHANGELOG.md
Due: none

chore: go mod tidy
  go.sum
Due: none

build: update wasmvm and update contracts for tests (#669)
  CHANGELOG.md
  go.mod
  go.sum
  x/wasm/dynamic_link_test.go
  x/wasm/testdata/call_number.wasm
  x/wasm/testdata/dynamic_callee_contract.wasm
  x/wasm/testdata/dynamic_caller_contract.wasm
  x/wasm/testdata/number.wasm
Due: modules

Revert mistaken revert
  baseapp/baseapp.go
Due: app

Replace cosmos address with link address
  x/ibc/applications/27-interchain-accounts/controller/ibc_module_test.go
  x/ibc/applications/27-interchain-accounts/controller/keeper/keeper_test.go
  x/ibc/applications/27-interchain-accounts/host/ibc_module_test.go
  x/ibc/applications/27-interchain-accounts/host/keeper/keeper_test.go
  x/ibc/applications/27-interchain-accounts/types/account_test.go
Due: modules

Replace `wasmd` with `simapp`
  x/wasm/ibctesting/chain.go
  x/wasm/ibctesting/wasm.go
Due: modules

Run the validation on checkTx
  x/auth/ante/setup.go
Due: modules
