Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

chore: rest_test.go build failed
  x/gov/client/rest/rest_test.go
Due: modules

feat: iavl, db & disk stats logging (#352)
  CHANGELOG.md
  baseapp/abci.go
  baseapp/iostats.go
  baseapp/iostats_nop.go
  go.mod
  go.sum
Due: app

test: fixed test case
  x/auth/legacy/legacytx/stdsign.go
  x/gov/client/utils/query_test.go
  x/gov/keeper/querier_test.go
  x/gov/keeper/vote.go
Due: modules

fix: build failure and use ostracon fixed version (#359)
  baseapp/iostats_nop.go
  go.mod
  go.sum
Due: app

ci: add an action creating pr (#356)
  .github/workflows/autopr.yml
Due: none

test: decrease sim test time (#350)
  .github/workflows/sims_normal.yml
  CHANGELOG.md
  Makefile
Due: none

test: fixed test case
  x/gov/client/rest/grpc_query_test.go
Due: modules

feat: gov/weighted-votes
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/gov/v1/gov.proto
  proto/lbm/gov/v1/tx.proto
  simapp/params/weights.go
  x/gov/abci_test.go
  x/gov/client/cli/cli_test.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/grpc_query_test.go
  x/gov/client/rest/rest_test.go
  x/gov/client/testutil/helpers.go
  x/gov/client/utils/query.go
  x/gov/client/utils/query_test.go
  x/gov/client/utils/utils.go
  x/gov/client/utils/utils_test.go
  x/gov/handler.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/querier_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/simulation/decoder_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/spec/04_events.md
  x/gov/types/codec.go
  x/gov/types/gov.pb.go
  x/gov/types/msgs.go
  x/gov/types/msgs_test.go
  x/gov/types/tally.go
  x/gov/types/tx.pb.go
  x/gov/types/vote.go
  x/simulation/expected_keepers.go
Due: modules, client

test: fixed test case
  x/gov/client/cli/cli_test.go
  x/gov/client/rest/grpc_query_test.go
  x/gov/client/rest/rest_test.go
  x/gov/client/testutil/suite.go
Due: modules

docs: add weighted vote explanation to CHANGELOG.md
  CHANGELOG.md
Due: none

feat: add gov/weighted-vote
  types/tx_msg.go
  x/gov/client/testutil/suite.go
  x/gov/client/utils/query.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/types/msgs_test.go
Due: modules

test: fixed test case
  x/gov/client/cli/cli_test.go
  x/gov/client/rest/grpc_query_test.go
Due: modules

docs: edit CHANGELOG.md
  CHANGELOG.md
Due: none

fix: check bech32 address format in bank query
  .github/workflows/sims.yml
  CHANGELOG.md
  RELEASE_CHANGELOG.md
  x/bank/client/cli/query.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
Due: modules

docs: modify release_changelog; wrong PR number
  RELEASE_CHANGELOG.md
Due: none

fix: force genOrBroadcastFn even when `max-msgs != 0`
  x/distribution/client/cli/tx.go
  x/distribution/client/cli/tx_test.go
Due: modules

docs: modify release changelog
  RELEASE_CHANGELOG.md
Due: none

feat: add gov/weighted-vote
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/gov/v1/gov.proto
  proto/lbm/gov/v1/tx.proto
  simapp/params/weights.go
  types/tx_msg.go
  x/auth/legacy/legacytx/stdsign.go
  x/gov/abci_test.go
  x/gov/client/cli/cli_test.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/grpc_query_test.go
  x/gov/client/rest/rest_test.go
  x/gov/client/testutil/helpers.go
  x/gov/client/utils/query.go
  x/gov/client/utils/query_test.go
  x/gov/client/utils/utils.go
  x/gov/client/utils/utils_test.go
  x/gov/handler.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/querier_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/simulation/decoder_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/spec/04_events.md
  x/gov/types/codec.go
  x/gov/types/gov.pb.go
  x/gov/types/msgs.go
  x/gov/types/msgs_test.go
  x/gov/types/tally.go
  x/gov/types/tx.pb.go
  x/gov/types/vote.go
  x/simulation/expected_keepers.go
Due: modules, client

fix: check bech32 address format in bank query (#366)
  .github/workflows/sims.yml
  CHANGELOG.md
  RELEASE_CHANGELOG.md
  x/bank/client/cli/query.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
Due: modules

ci: add auto pr
  .github/workflows/autopr.yml
Due: none

ci: enable long sim test for release branch
  .github/workflows/release-sims.yml
Due: none

fix: merge main files
  .github/workflows/autopr.yml
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

docs: update changelog, release_changelog
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

chore: update changelog temporary for merging release
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none
