Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

ci: add janitor (#9009)
  .github/workflows/janitor.yml
Due: none

x/bank: doc & spec updates (#8999)
  x/bank/keeper/keeper.go
  x/bank/spec/02_keepers.md
Due: modules

Update ledger bech32 tests (#8981)
  crypto/ledger/ledger_test.go
Due: none

Prefer sending tx_bytes to Simulate gRPC endpoint (#8926)
  client/tx/tx.go
  client/tx/tx_test.go
  proto/lbm/tx/v1/service.proto
  simapp/simd/cmd/root.go
  x/auth/client/tx.go
  x/auth/tx/builder.go
  x/auth/tx/service.go
  x/auth/tx/service_test.go
  x/bank/client/rest/tx_test.go
Due: modules, client

Fix broken relative link in ADR033 (#8977)
  docs/architecture/adr-033-protobuf-inter-module-comm.md
Due: none

Make module.Manager.RunMigrations handle new modules correctly (#8988)
  types/module/module.go
Due: none

add reverse iteration to pagination (#8875)
  client/flags/flags.go
  client/utils.go
  docs/core/proto-docs.md
  proto/lbm/base/query/v1/pagination.proto
  types/query/filtered_pagination.go
  types/query/filtered_pagination_test.go
  types/query/pagination.go
  types/query/pagination_test.go
Due: client

Merge pull request from GHSA-2f3p-6gfj-jccq
  simapp/test_helpers.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/keeper_test.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/keeper_test.go
  x/distribution/proposal_handler_test.go
  x/distribution/simulation/operations_test.go
  x/staking/genesis_test.go
  x/staking/handler_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/validator_test.go
Due: modules

Improve set supply (#8950)
  contrib/rosetta/node/data.tar.gz
  x/bank/keeper/genesis.go
  x/bank/keeper/keeper.go
Due: modules

types: add Abs() method to sdk.Int (#8963)
  types/int.go
  types/int_test.go
Due: none

fix race condition on address.String (#8997)
  types/address_race_test.go
Due: none

fix: grpc-gateway error codes (#9015)
  x/staking/client/rest/grpc_query_test.go
Due: modules

Add client config subcommand to CLI (#8953)
  client/cmd.go
  client/config/cmd.go
  client/utils.go
  server/rosetta/converter.go
  simapp/simd/cmd/root.go
Due: client

Fix migrations bug discovered with manual tests (#8998)
  x/bank/legacy/v040/types.go
  x/bank/legacy/v043/store.go
  x/bank/legacy/v043/store_test.go
  x/slashing/module.go
Due: modules

Add ledger/multisig detection in SignTx functions (#9026)
  store/listenkv/store_test.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/tx.go
Due: modules

x/upgrade: protocol version tracking (#8897)
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  simapp/app.go
  x/upgrade/exported/exported.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/spec/02_state.md
  x/upgrade/types/keys.go
Due: app, modules

fix test
  client/keys/add_ledger_test.go
  client/keys/utils_test.go
  crypto/keyring/keyring_ledger_test.go
  crypto/keyring/output_test.go
  crypto/keys/multisig/multisig_test.go
  crypto/ledger/ledger_test.go
  go.mod
  go.sum
  proto/lbm/bank/v1/bank.proto
  types/address_test.go
  types/bech32/legacybech32/pk_test.go
  types/query/filtered_pagination_test.go
  types/query/pagination_test.go
  x/bank/legacy/v040/types.go
  x/bank/types/bank.pb.go
  x/gov/legacy/v043/json_test.go
  x/slashing/module.go
  x/staking/client/rest/grpc_query_test.go
Due: modules, client

ADR-038 Part 1: WriteListener, listen.KVStore, MultiStore and KVStore updates (#8551)
  docs/architecture/adr-038-state-listening.md
  proto/lbm/base/store/v1/listening.proto
  server/mock/store.go
  store/cachekv/store.go
  store/cachemulti/store.go
  store/dbadapter/store.go
  store/dbadapter/store_test.go
  store/gaskv/store.go
  store/gaskv/store_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/listenkv/store.go
  store/listenkv/store_test.go
  store/mem/mem_test.go
  store/mem/store.go
  store/prefix/store.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/tracekv/store.go
  store/tracekv/store_test.go
  store/types/listening.go
  store/types/listening_test.go
  store/types/store.go
Due: none

fix build
  client/debug/main.go
  client/keys/show.go
  client/utils.go
  crypto/keyring/keyring.go
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/lbm/tx/v1/service.proto
  simapp/ante_handler.go
  types/bech32/legacybech32/pk.go
  types/bech32/legacybech32/pk_test.go
  types/module/module.go
  types/query/pagination.pb.go
  types/tx/service.pb.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/fee.go
  x/auth/client/cli/tx_sign.go
  x/auth/legacy/legacytx/stdsig_test.go
  x/bank/legacy/v040/types.go
  x/bank/types/genesis.pb.go
  x/gov/legacy/v040/genesis.pb.go
  x/staking/types/staking.pb.go
  x/wasm/client/rest/query.go
Due: modules, client

fix test bulid
  client/keys/show_test.go
  crypto/keyring/keyring_ledger_test.go
  go.mod
  go.sum
  types/address.go
  types/address_test.go
  x/auth/ante/feegrant_test.go
  x/slashing/client/cli/cli_test.go
  x/slashing/simulation/decoder_test.go
Due: modules, client

InitGenesis in migrations when fromVersion==0 (#9007)
  simapp/app.go
  simapp/app_test.go
  types/module/configurator.go
  types/module/module.go
Due: none

x/bank/types: fix AddressFromBalancesStore panics with invalid keys (#9061)
  x/bank/keeper/view.go
  x/bank/types/errors.go
  x/bank/types/key.go
  x/bank/types/key_test.go
Due: modules

Store supply as Int bytes rather than string bytes (#9051)
  x/bank/keeper/keeper.go
  x/bank/legacy/v043/store.go
  x/bank/legacy/v043/store_test.go
  x/bank/spec/01_state.md
Due: modules

Use Docker to generate swagger files (#9064)
  contrib/devtools/dockerfile
Due: none

Write back account changes after tracking delegation/undelegation for vesting accounts (#8865)
  x/auth/keeper/keeper.go
  x/auth/keeper/migrations.go
  x/auth/legacy/v043/store.go
  x/auth/legacy/v043/store_test.go
  x/auth/module.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
Due: modules

remove plantuml install in docker (#9059)
  Dockerfile
Due: none

revert 8909 (#8960)
  x/staking/client/cli/cli_test.go
  x/staking/simulation/operations.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
Due: modules

x/auth new test - multisig tx on simulate endpoint (#9038)
  x/auth/tx/service_test.go
Due: modules
