Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

feat: add returning the contract env for GlobalAPI (#500)
  go.mod
  go.sum
  x/wasm/keeper/api.go
Due: modules

print grpc-web port to log
  init_node.sh
Due: none

docs: update documents on x/consortium (#490)
  CHANGELOG.md
  x/README.md
  x/consortium/spec/01_concepts.md
  x/consortium/spec/02_state.md
  x/consortium/spec/03_events.md
  x/consortium/spec/04_params.md
  x/consortium/spec/README.md
Due: modules

Fix: fix message representation for signing
  docs/core/proto-docs.md
  proto/lbm/wasm/v1/ibc.proto
  proto/lbm/wasm/v1/proposal.proto
  proto/lbm/wasm/v1/query.proto
  proto/lbm/wasm/v1/tx.proto
  proto/lbm/wasm/v1/types.proto
  x/wasm/client/cli/tx.go
  x/wasm/client/rest/gov.go
  x/wasm/client/rest/tx.go
  x/wasm/keeper/handler_plugin_encoders_test.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/legacy_querier.go
  x/wasm/keeper/legacy_querier_test.go
  x/wasm/keeper/msg_server.go
  x/wasm/keeper/querier.go
  x/wasm/keeper/querier_test.go
  x/wasm/keeper/query_plugins.go
  x/wasm/module_test.go
  x/wasm/types/ibc.pb.go
  x/wasm/types/proposal.go
  x/wasm/types/proposal.pb.go
  x/wasm/types/proposal_test.go
  x/wasm/types/query.pb.go
  x/wasm/types/tx.go
  x/wasm/types/tx.pb.go
  x/wasm/types/tx_test.go
  x/wasm/types/types.pb.go
Due: modules

fix: fix encoding types
  crypto/ledger/encode_test.go
Due: none

Update swagger.yaml and fix protobuf lint error
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/lbm/wasm/v1/proposal.proto
  proto/lbm/wasm/v1/query.proto
  proto/lbm/wasm/v1/tx.proto
  proto/lbm/wasm/v1/types.proto
Due: client

Add this pr's changes to changelog.md
  CHANGELOG.md
Due: none

fix unittest
  client/query_test.go
Due: client

change proper value name and fix old comment.
  proto/lbm/wasm/v1/tx.proto
  x/wasm/module_test.go
Due: modules

restore norace tag
  server/grpc/server_test.go
Due: none

add changelog
  CHANGELOG.md
Due: none

restore format of genesis auth
  x/auth/keeper/keeper.go
  x/auth/types/account.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
Due: modules

add type
  x/auth/types/account.go
Due: modules

fix wasm gas verification check
  x/wasm/keeper/keeper_test.go
Due: modules

fix TestBaseApp_BlockGas
  baseapp/block_gas_test.go
Due: app

fix marshal/unmarshal pubkey
  x/auth/types/account.go
Due: modules

restore MarshalJSONPB, UnmarshalJSONPB
  x/auth/vesting/types/vesting_account.go
Due: modules

fix: restore norace tag (#516)
  CHANGELOG.md
  server/grpc/server_test.go
Due: none

rollback the change of unittest
  client/query_test.go
Due: client

feat: add treasury to x/foundation
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/foundation.proto
  simapp/app.go
  x/foundation/expected_keepers.go
  x/foundation/foundation.pb.go
  x/foundation/keeper/abci.go
  x/foundation/keeper/keeper.go
  x/foundation/keeper/params.go
  x/foundation/keeper/treasury.go
  x/foundation/keys.go
Due: modules, client

feat: add queries to grpc
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/query.proto
  x/foundation/client/cli/query.go
  x/foundation/keeper/grpc_query.go
  x/foundation/query.pb.go
  x/foundation/query.pb.gw.go
Due: modules, client

fix: use non-nullables in genesis
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/foundation/v1/genesis.proto
  x/foundation/client/cli/tx.go
  x/foundation/event.pb.go
  x/foundation/foundation.pb.go
  x/foundation/genesis.go
  x/foundation/genesis.pb.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/validator.go
  x/foundation/proposal.go
Due: modules

docs: update cli helps
  x/foundation/client/cli/tx.go
Due: modules

fix: use non nullable on validatorauth
  x/foundation/keeper/grpc_query_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/proposal_test.go
  x/foundation/keeper/validator_test.go
Due: modules

feat: add query and msg servers for treasury
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/query.proto
  proto/lbm/foundation/v1/tx.proto
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/msg_server.go
  x/foundation/module/module.go
  x/foundation/query.pb.go
  x/foundation/query.pb.gw.go
  x/foundation/tx.pb.go
Due: modules, client

feat: register ThresoldDecisionPolicy
  x/foundation/codec.go
Due: modules

fix: fix bugs
  x/foundation/client/cli/query.go
  x/foundation/foundation.go
  x/foundation/msgs.go
Due: modules

feat: add pruning active proposals
  x/foundation/genesis.go
  x/foundation/keeper/exec.go
  x/foundation/keeper/member.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/tally.go
  x/foundation/keeper/vote.go
Due: modules

feat: add query clis
  x/foundation/client/cli/query.go
Due: modules

feat: support PercentageDecisionPolicy
  x/foundation/client/cli/tx.go
  x/foundation/codec.go
  x/foundation/config.go
  x/foundation/foundation.go
  x/foundation/msgs.go
Due: modules

feat: add proposal related data to the genesis
  x/foundation/foundation.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/member.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/vote.go
Due: modules

test: add keeper tests
  x/foundation/keeper/exec.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal.go
Due: modules

feat: add cli cmd
  x/foundation/client/cli/query.go
Due: modules

fix: make policy validate to use config only
  x/foundation/foundation.go
  x/foundation/keeper/msg_server.go
Due: modules

fix: rename queries
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/query.proto
  x/foundation/client/cli/query.go
  x/foundation/keeper/grpc_query.go
  x/foundation/query.pb.go
  x/foundation/query.pb.gw.go
Due: modules, client

feat: add tx cmds for the tresury
  x/foundation/client/cli/tx.go
  x/foundation/module/module.go
Due: modules

feat: add events
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  x/foundation/event.pb.go
  x/foundation/events.go
  x/foundation/keeper/msg_server.go
Due: modules
