Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

fix: unittest error about blockedAddr
  x/bank/keeper/genesis_test.go
  x/ibc/applications/transfer/keeper/relay_test.go
Due: modules

chore: update changelog
  CHANGELOG.md
  x/ibc/applications/transfer/keeper/relay_test.go
Due: modules

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: add `ReadFileWithSizeLimit` and use it on `x/wasm` (#696)
  CHANGELOG.md
  internal/os/file.go
  internal/os/file_test.go
  x/distribution/client/cli/utils.go
  x/wasm/client/cli/tx.go
Due: modules

chore: change magic number to constant in hash check
  client/grpc/tmservice/service.go
  x/auth/tx/service.go
Due: modules, client

fix: change AccAddressFromBech32 to MustAccAddressFromBech32 (#691)
  CHANGELOG.md
  x/auth/types/account.go
  x/bank/types/balance.go
  x/bank/types/msgs.go
  x/foundation/msgs.go
  x/wasm/keeper/keeper_test.go
  x/wasm/lbmtypes/tx.go
  x/wasm/lbmtypes/tx_test.go
Due: modules

chore: add unittest of `bankplus` blockedAddr
  x/bankplus/keeper/keeper_test.go
Due: modules

chore: add missing blockedAddr checking in bankplus (#705)
  CHANGELOG.md
  x/bank/keeper/genesis_test.go
  x/bankplus/keeper/keeper.go
  x/bankplus/keeper/keeper_test.go
  x/ibc/applications/transfer/keeper/relay_test.go
Due: modules

fix: fix to prevent accepting file name (#690)
  CHANGELOG.md
  go.mod
  x/wasm/client/cli/query.go
  x/wasm/client/cli/query_test.go
Due: modules

fix: typo in val_state_change.go
  x/staking/keeper/val_state_change.go
Due: modules

fix: remove unnecessary part
  x/wasm/keeper/testdata/reflect.go
Due: modules

fix: TXT01 - allow one direct sign in multi sign
  client/tx/tx.go
  client/tx/tx_test.go
  x/auth/client/testutil/suite.go
Due: modules, client

docs: add changelog
  CHANGELOG.md
Due: none

Use MustAccAddressFromBech32()
  x/foundation/keeper/genesis.go
  x/foundation/keeper/member.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/vote.go
  x/foundation/msgs.go
Due: modules

Lint
  x/foundation/keeper/params.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: implement one time mint
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  proto/lbm/foundation/v1/genesis.proto
  proto/lbm/foundation/v1/tx.proto
  simapp/app.go
  x/foundation/codec.go
  x/foundation/event.pb.go
  x/foundation/expected_keepers.go
  x/foundation/genesis.go
  x/foundation/genesis.pb.go
  x/foundation/genesis_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/treasury.go
  x/foundation/keys.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
  x/foundation/tx.pb.go
Due: modules

chore: fix lint error
  x/foundation/keeper/msg_server.go
Due: modules

bugfix: use base64.URLEncoding on test and fix typo
  client/grpc/tmservice/service.go
  client/grpc/tmservice/service_test.go
Due: client

feature: add BlockByHashRequestHandlerFn on RPC
  client/rpc/block.go
  client/rpc/routes.go
  client/rpc/rpc_test.go
Due: client

bugfix
  client/rpc/block.go
  go.mod
  go.sum
Due: client

Make sure operator is a module account
  baseapp/block_gas_test.go
  x/auth/ante/ante_test.go
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
  x/foundation/expected_keepers.go
  x/foundation/foundation.go
  x/foundation/genesis.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/member.go
Due: app, modules

Stop providing CreateValidatorAuthorizations
  simapp/app.go
  x/foundation/expected_keepers.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/keeper.go
  x/foundation/module/module.go
Due: modules

Add more validations on proposals in x/foundation genesis
  x/foundation/genesis.go
  x/foundation/genesis_test.go
  x/foundation/keeper/genesis_test.go
Due: modules

Stop providing generated members
  x/foundation/client/testutil/suite.go
  x/foundation/genesis.go
  x/foundation/genesis_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
Due: modules

Fix EndBlocker
  x/foundation/keeper/abci_test.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/proposal.go
Due: modules

chore: reflect pr review
  x/foundation/keeper/genesis.go
  x/foundation/keeper/msg_server.go
  x/foundation/msgs.go
Due: modules

fix: codecov
  client/rpc/block.go
  client/rpc/rpc_test.go
Due: client

test: add test for panic in UnbondingToUnbonded function
  x/staking/keeper/val_state_change_test.go
Due: modules

chore: add changelog
  CHANGELOG.md
Due: none

test: add test of WeightedOperations
  x/wasm/simulation/operations_test.go
Due: modules

fix: fix format
  x/wasm/simulation/operations_test.go
Due: modules

Revisit validation of FoundationInfo
  x/foundation/client/testutil/suite.go
  x/foundation/foundation.go
  x/foundation/foundation_test.go
  x/foundation/genesis.go
  x/foundation/genesis_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member.go
  x/foundation/keeper/proposal_test.go
  x/foundation/msgs_test.go
Due: modules

Increase coverage
  x/foundation/keeper/exec_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/proposal_test.go
  x/foundation/keeper/vote_test.go
Due: modules

test: fix failed test case
  x/foundation/keeper/msg_server_test.go
Due: modules
