Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

One more test for message event without reply
  x/wasm/keeper/msg_dispatcher_test.go
Due: modules

Filter messages, fix new tests, break older ones
  x/wasm/keeper/msg_dispatcher.go
  x/wasm/keeper/msg_dispatcher_test.go
Due: modules

Update tests to not expect message event
  x/wasm/keeper/submsg_test.go
Due: modules

Remove (now-unneeded) filtering in DefaultWasmVMContractResponseHandler.Handle
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
Due: modules

Simplify filter method
  x/wasm/keeper/msg_dispatcher.go
Due: modules

Keeper tests (#590)
  cmd/wasmd/root.go
  x/wasm/keeper/handler_plugin.go
  x/wasm/keeper/handler_plugin_encoders_test.go
  x/wasm/keeper/handler_plugin_test.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
  x/wasm/module_test.go
Due: modules

Add decorator options
  x/wasm/keeper/options.go
  x/wasm/keeper/options_test.go
  x/wasm/keeper/query_plugins.go
  x/wasm/keeper/recurse_test.go
Due: modules

Fix query handler instantiation
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
Due: modules

Optimize BalanceQuery
  x/wasm/keeper/query_plugins.go
  x/wasm/keeper/query_plugins_test.go
  x/wasm/types/expected_keepers.go
Due: modules

Ensure query isolation (#611)
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/query_plugins.go
Due: modules

chore: go fmt
  x/wasm/keeper/api.go
  x/wasm/keeper/events.go
  x/wasm/keeper/events_test.go
  x/wasm/keeper/gas_register.go
  x/wasm/keeper/handler_plugin.go
  x/wasm/keeper/handler_plugin_encoders.go
  x/wasm/keeper/handler_plugin_encoders_test.go
  x/wasm/keeper/handler_plugin_test.go
  x/wasm/keeper/query_plugins_test.go
  x/wasm/keeper/relay_test.go
  x/wasm/types/events.go
Due: modules

chore: remove unused file
  cmd/wasmd/root.go
Due: none

chore: update document about proto changes.
  client/docs/statik/statik.go
  codec/types/any.pb.go
  go.sum
Due: client

fix: make lint-fix and fix errors
  x/wasm/client/cli/genesis_msg.go
  x/wasm/keeper/api.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/msg_dispatcher.go
  x/wasm/keeper/relay.go
Due: modules

chore: make format && make lint-fix
  client/keys/add_test.go
  simapp/simd/cmd/genaccounts_test.go
  x/auth/client/cli/cli_test.go
  x/token/client/testutil/query.go
  x/token/genesis_test.go
  x/token/keeper/handler_test.go
  x/token/keeper/keeper_test.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/query_server_test.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
  x/token/keeper/transfer.go
  x/token/keeper/transfer_test.go
  x/token/msgs_test.go
Due: modules, client

chore: update wasmvm for ci
  go.mod
Due: none

chore: remove replace
  go.mod
Due: none

chore: update go.sum
  go.sum
Due: none

chore: update wasmvm
  go.mod
  go.sum
Due: none

chore: go mod tidy
  go.sum
Due: none

fix: fix proto's comment and update swagger.yaml about proto
  client/docs/swagger-ui/swagger.yaml
  docs/proto/proto-docs.md
  proto/lbm/wasm/v1/proposal.proto
Due: client

build: change depended wasmvm version to 0.16.3-0.9.0
  go.mod
  go.sum
Due: none

fix: remove source and builder option from wasm tx store-and-instantiate command's help
  x/wasm/client/cli/tx.go
Due: modules

docs: update changelog
  CHANGELOG.md
Due: none

docs: add removed custom encoder's info to changelog
  CHANGELOG.md
Due: none

chore: release 0.45.0-rc0
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

chore: release 0.45.0-rc0 (#452)
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

build: change the wasmvm directory for static build
  Dockerfile
Due: none

fix: modify wasm grpc query api path.
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/wasm/v1/query.proto
  x/wasm/types/query.pb.go
  x/wasm/types/query.pb.gw.go
Due: client

chore: update changelog
  CHANGELOG.md
Due: none

fix: modify wasm grpc query api path. (#453)
  CHANGELOG.md
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/wasm/v1/query.proto
  x/wasm/types/query.pb.go
  x/wasm/types/query.pb.gw.go
Due: client

ci: add swagger check
  .github/actions/generate-swagger/action.yml
  .github/workflows/proto.yml
Due: none

ci: add failure (revert it)
  proto/lbm/consortium/v1/query.proto
Due: none

ci: fix syntax errors
  .github/actions/generate-swagger/action.yml
Due: none

Revert "ci: add failure (revert it)"
  proto/lbm/consortium/v1/query.proto
Due: none

docs: add CHANGELOG.md
  CHANGELOG.md
Due: none

codecs: rename MakeCodecs rename and docs update (#8245)
  codec/amino_codec_test.go
  simapp/app.go
  simapp/encoding.go
  simapp/simd/cmd/genaccounts_test.go
  x/auth/ante/sigverify_test.go
  x/auth/keeper/keeper_test.go
  x/auth/simulation/decoder_test.go
  x/auth/types/common_test.go
  x/auth/vesting/types/common_test.go
  x/bank/keeper/keeper_test.go
  x/capability/simulation/decoder_test.go
  x/distribution/simulation/decoder_test.go
  x/evidence/keeper/querier_test.go
  x/gov/keeper/common_test.go
  x/gov/simulation/decoder_test.go
  x/mint/simulation/decoder_test.go
  x/slashing/simulation/decoder_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/simulation/decoder_test.go
Due: modules
