Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

add unit tests for RBAC
  x/fbridge/keeper/abci.go
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/keeper/transfer_test.go
  x/fbridge/module/module.go
  x/fbridge/testutil/setup.go
Due: modules

merge `halt` with `resume` as `set-bridge-status`
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/query.proto
  proto/lbm/fbridge/v1/tx.proto
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/tx.go
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/types/codec.go
  x/fbridge/types/msgs.go
  x/fbridge/types/query.pb.go
  x/fbridge/types/query.pb.gw.go
  x/fbridge/types/tx.pb.go
Due: modules, client

lint
  x/fbridge/client/cli/tx.go
  x/fbridge/keeper/abci.go
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/keeper.go
  x/fbridge/testutil/setup.go
  x/fbridge/types/genesis.go
  x/fbridge/types/keys.go
  x/fbridge/types/params.go
  x/fbridge/types/params_test.go
Due: modules

Add CHANGELOG
  CHANGELOG.md
Due: none

add ERRORS docs
  x/ERRORS.md
Due: modules

chore
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/msg_server.go
Due: modules

ci: add backport mergify ci for v0.49.x
  .mergify.yml
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

apply 0tech review
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/types/fbridge.go
  x/fbridge/types/genesis.go
Due: modules

enhance bridge switch unit test
  x/fbridge/keeper/auth_test.go
Due: modules

chore
  x/fbridge/types/genesis.go
Due: modules

chore
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
Due: modules

maintain bridge status metadata based on permanent states
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/tx.proto
  x/fbridge/keeper/abci.go
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/types/keys.go
  x/fbridge/types/tx.pb.go
Due: modules

chore: lint fix
  x/fbridge/keeper/keeper.go
  x/fbridge/testutil/setup.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/proposal.go
Due: modules

ci: add v0.49.x for backport mergify (#1356)
  .mergify.yml
  CHANGELOG.md
Due: none

change panic msg for unimplemented features
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/msg_server.go
Due: modules

check duplicate seq in genesis
  x/fbridge/types/genesis.go
Due: modules

bridge inactive counter must always be initialization
  x/fbridge/keeper/keeper.go
Due: modules

bridge is always inactive if there is no guardian
  x/fbridge/keeper/keeper.go
Due: modules

lint
  x/fbridge/keeper/grpc_query.go
Due: modules

start fbridge module after auth/bank
  simapp/app.go
Due: none

remove redundant invariant checking
  x/fbridge/keeper/abci.go
Due: modules

feat: add role-based access control for bridge (#1350)
  CHANGELOG.md
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/event.proto
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/genesis.proto
  proto/lbm/fbridge/v1/query.proto
  proto/lbm/fbridge/v1/tx.proto
  simapp/app.go
  x/ERRORS.md
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/tx.go
  x/fbridge/keeper/abci.go
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/keeper/params.go
  x/fbridge/keeper/transfer_test.go
  x/fbridge/module/module.go
  x/fbridge/testutil/setup.go
  x/fbridge/types/codec.go
  x/fbridge/types/errors.go
  x/fbridge/types/event.pb.go
  x/fbridge/types/fbridge.go
  x/fbridge/types/fbridge.pb.go
  x/fbridge/types/genesis.go
  x/fbridge/types/genesis.pb.go
  x/fbridge/types/keys.go
  x/fbridge/types/msgs.go
  x/fbridge/types/params.go
  x/fbridge/types/params_test.go
  x/fbridge/types/query.pb.go
  x/fbridge/types/query.pb.gw.go
  x/fbridge/types/tx.pb.go
Due: modules, client

feat: add role-based access control for bridge (#1358)
  CHANGELOG.md
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/event.proto
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/genesis.proto
  proto/lbm/fbridge/v1/query.proto
  proto/lbm/fbridge/v1/tx.proto
  simapp/app.go
  x/ERRORS.md
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/tx.go
  x/fbridge/keeper/abci.go
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/keeper/params.go
  x/fbridge/keeper/transfer_test.go
  x/fbridge/module/module.go
  x/fbridge/testutil/setup.go
  x/fbridge/types/codec.go
  x/fbridge/types/errors.go
  x/fbridge/types/event.pb.go
  x/fbridge/types/fbridge.go
  x/fbridge/types/fbridge.pb.go
  x/fbridge/types/genesis.go
  x/fbridge/types/genesis.pb.go
  x/fbridge/types/keys.go
  x/fbridge/types/msgs.go
  x/fbridge/types/params.go
  x/fbridge/types/params_test.go
  x/fbridge/types/query.pb.go
  x/fbridge/types/query.pb.gw.go
  x/fbridge/types/tx.pb.go
Due: modules, client

fix conflicts
  CHANGELOG.md
Due: none

feat: add role-based access control for bridge
  CHANGELOG.md
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/event.proto
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/genesis.proto
  proto/lbm/fbridge/v1/query.proto
  proto/lbm/fbridge/v1/tx.proto
  simapp/app.go
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/tx.go
  x/fbridge/keeper/abci.go
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/keeper/params.go
  x/fbridge/keeper/transfer_test.go
  x/fbridge/module/module.go
  x/fbridge/testutil/setup.go
  x/fbridge/types/codec.go
  x/fbridge/types/errors.go
  x/fbridge/types/event.pb.go
  x/fbridge/types/fbridge.go
  x/fbridge/types/fbridge.pb.go
  x/fbridge/types/genesis.go
  x/fbridge/types/genesis.pb.go
  x/fbridge/types/keys.go
  x/fbridge/types/msgs.go
  x/fbridge/types/params.go
  x/fbridge/types/params_test.go
  x/fbridge/types/query.pb.go
  x/fbridge/types/query.pb.gw.go
  x/fbridge/types/tx.pb.go
Due: modules, client

use ostracon beginblock for compatibility
  x/fbridge/module/module.go
Due: none

lint
  x/fbridge/keeper/auth.go
  x/fbridge/module/module.go
Due: modules

fix CHANGELOG
  CHANGELOG.md
Due: none

feat: add role-based access control for bridge (backport #1358) (#1360)
  CHANGELOG.md
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/event.proto
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/genesis.proto
  proto/lbm/fbridge/v1/query.proto
  proto/lbm/fbridge/v1/tx.proto
  simapp/app.go
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/tx.go
  x/fbridge/keeper/abci.go
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/keeper/params.go
  x/fbridge/keeper/transfer_test.go
  x/fbridge/module/module.go
  x/fbridge/testutil/setup.go
  x/fbridge/types/codec.go
  x/fbridge/types/errors.go
  x/fbridge/types/event.pb.go
  x/fbridge/types/fbridge.go
  x/fbridge/types/fbridge.pb.go
  x/fbridge/types/genesis.go
  x/fbridge/types/genesis.pb.go
  x/fbridge/types/keys.go
  x/fbridge/types/msgs.go
  x/fbridge/types/params.go
  x/fbridge/types/params_test.go
  x/fbridge/types/query.pb.go
  x/fbridge/types/query.pb.gw.go
  x/fbridge/types/tx.pb.go
Due: modules, client

fix fbridge auth checking bug
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/keeper_test.go
Due: modules

lint
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/keeper_test.go
Due: modules

fix typo
  x/fbridge/keeper/keeper_test.go
Due: modules

fix: fbridge auth checking bug (#1361)
  CHANGELOG.md
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/keeper_test.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
