Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

Fix wrong usage of AccAddress in `x/bank` and `x/bankplus`
  x/bank/client/cli/tx.go
  x/bank/client/rest/query.go
  x/bank/client/rest/tx.go
  x/bank/keeper/genesis.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/querier.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/legacy/v043/json_test.go
  x/bank/simulation/operations.go
  x/bankplus/keeper/inactive_test.go
Due: modules

Fix wrong usage of AccAddress in `x/ibc` based on v0.42.11
  x/ibc/applications/transfer/keeper/mbt_relay_test.go
  x/ibc/applications/transfer/keeper/msg_server.go
  x/ibc/applications/transfer/keeper/relay.go
  x/ibc/applications/transfer/types/msgs.go
  x/ibc/core/02-client/types/msgs.go
  x/ibc/core/03-connection/types/msgs.go
  x/ibc/core/03-connection/types/msgs_test.go
  x/ibc/core/04-channel/types/msgs.go
  x/ibc/core/04-channel/types/msgs_test.go
  x/ibc/testing/chain.go
Due: modules

fix: emit legacy event against the original request
  x/collection/keeper/msg_server.go
Due: modules

chore: put the logics after get_client_context except setting from
  x/collection/client/cli/tx.go
Due: modules

fix: revisit creation logics
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
Due: modules

Fix semantic error: x/gov
  x/gov/client/cli/query.go
  x/gov/common_test.go
  x/gov/keeper/deposit.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/vote.go
Due: modules

Fix semantic error: x/slashing
  x/slashing/genesis.go
  x/slashing/keeper/grpc_query.go
  x/slashing/keeper/msg_server.go
  x/slashing/types/msg_test.go
Due: modules

fix: fix syntax error
  x/auth/vesting/msg_server.go
Due: modules

Fix a mistaken revert
  x/slashing/types/msg_test.go
Due: modules

Fix baseapp/block_gas_test
  baseapp/block_gas_test.go
Due: app

Fix the wrong usage of ValAddress in `x/staking`
  x/staking/keeper/alias_functions.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/invariants.go
  x/staking/keeper/query_utils.go
  x/staking/keeper/test_common.go
  x/staking/keeper/validator.go
  x/staking/simulation/operations_test.go
Due: modules

remove prefetch functionality and write by multi-threading
  baseapp/abci.go
  baseapp/grpcrouter.go
  server/mock/store.go
  server/mock/store_test.go
  simapp/ante_handler.go
  store/cachekv/store.go
  store/cachekv/store_test.go
  store/cachemulti/store.go
  store/dbadapter/store.go
  store/dbadapter/store_test.go
  store/gaskv/store.go
  store/gaskv/store_test.go
  store/iavl/metrics.go
  store/iavl/prefetch.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/listenkv/store.go
  store/prefix/store.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/tracekv/store.go
  store/tracekv/store_test.go
  store/types/store.go
  x/auth/ante/ante.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/keeper/account.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/types/expected_keepers.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/view.go
  x/bank/types/expected_keepers.go
  x/capability/keeper/keeper.go
  x/feegrant/expected_keepers.go
  x/gov/types/expected_keepers.go
Due: app, modules

Fix a mistaken revert
  client/keys/show_test.go
Due: client

Fix the wrong usage of ConsAddress in `x/evidence`
  x/evidence/types/evidence.go
Due: modules

fix: reflect comment
  x/wasm/dynamic_link_test.go
  x/wasm/testdata/checksums.txt
Due: modules

Fix the wrong usage of ConsAddress in `x/slashing`
  x/slashing/keeper/querier.go
  x/slashing/legacy/v043/store_test.go
Due: modules

chore: use handy functions on errors
  x/foundation/foundation.go
  x/foundation/keeper/handler.go
  x/foundation/keeper/member.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/vote.go
  x/foundation/proposal.go
Due: modules

refactor: call string implicitly
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
  x/foundation/foundation.go
  x/foundation/keeper/exec.go
  x/foundation/keeper/member.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/vote.go
Due: modules

lint: lint
  x/foundation/authz_test.go
  x/foundation/foundation_test.go
  x/foundation/genesis_test.go
  x/foundation/keeper/exec_test.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/grant_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member_test.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal_test.go
  x/foundation/keeper/treasury_test.go
  x/foundation/keeper/vote_test.go
  x/foundation/msgs_test.go
  x/foundation/proposal_test.go
Due: modules

fix: remove legacy amino
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
Due: modules

docs: fix format of the example
  x/foundation/client/cli/tx.go
Due: modules

fix: x/staking ValAddressFromBech32
  x/staking/keeper/validator.go
Due: modules

test: add a begin blocker test
  x/foundation/keeper/abci_test.go
  x/foundation/keeper/keeper_test.go
Due: modules

fix: change some errors to panic
  x/foundation/keeper/exec.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/member.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/vote.go
Due: modules

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

apply goimports
  store/cachemulti/store.go
  store/listenkv/store.go
  store/rootmulti/store.go
Due: none

feat: add tx cli to the module
  x/collection/module/module.go
Due: none

chore: clean up legacy logic
  x/collection/genesis.go
Due: modules

chore: add `x/wasm` module to `simapp` (#591)
  CHANGELOG.md
  Dockerfile
  Makefile
  baseapp/block_gas_test.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  server/README.md
  server/export_test.go
  simapp/app.go
  simapp/app_test.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  simapp/test_helpers.go
  testutil/network/network.go
  x/auth/client/testutil/suite.go
  x/capability/genesis_test.go
  x/gov/genesis_test.go
  x/upgrade/abci_test.go
  x/wasm/client/cli/genesis_msg_test.go
  x/wasm/simulation/genesis.go
  x/wasm/simulation/params.go
Due: app, modules, client

chore: remove commented routerkey
  x/collection/keys.go
Due: modules

feat: update genesis validation
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/collection/v1/genesis.proto
  x/collection/genesis.go
  x/collection/genesis.pb.go
  x/collection/genesis_test.go
  x/collection/keeper/genesis.go
Due: modules, client

docs: add hints to the deprecation message
  x/collection/collection.go
  x/collection/event.go
Due: modules

Fix a mistaken revert and wrong test in x/foundation
  x/foundation/keeper/proposal.go
  x/foundation/keeper/proposal_test.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
  x/foundation/proposal.go
Due: modules

fix: swap two fields in genesis state
  proto/lbm/collection/v1/genesis.proto
Due: none

chore: fix typo
  x/collection/keeper/grpc_query.go
Due: modules

fix: completely remove the rejected spec
  x/collection/keeper/keys.go
  x/collection/keeper/nft.go
Due: modules

refactor: remove duplicate logic
  x/collection/keeper/grpc_query.go
Due: modules

chore: completely remove Query/NFTs
  x/collection/keeper/grpc_query.go
Due: modules

fix: correct event emissions
  x/collection/keeper/msg_server.go
  x/collection/keeper/nft.go
Due: modules

chore: literal to nil
  x/collection/keeper/nft.go
Due: modules
