Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 40
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

chore: update comment for MsgUpdateParams/Response
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/tx.proto
  x/foundation/tx.pb.go
Due: none

chore: add send tx but failed now
  demo/test_sequencer.sh
Due: none

Change so that app.checkState is updated even when ABCI commits
  baseapp/abci.go
  demo/test_sequencer.sh
Due: app

Introduce Event Breaking section in CHANGELOG
  CHANGELOG.md
Due: none

Check statistics and balance on mint and burn operations
  x/collection/keeper/supply_test.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add test to check update of checkState
  baseapp/abci_test.go
Due: app

chore: update demo scripts
  demo/README.md
  demo/reset.sh
  demo/run_chain.sh
  demo/run_sequencer.sh
  demo/test_sequencer.sh
Due: none

Remove sims.yml
  .github/workflows/sims.yml
Due: none

Remove sims.yml (#1117)
  .github/workflows/sims.yml
Due: none

fix: remove $GOPATH
  demo/reset.sh
  demo/run_sequencer.sh
  demo/test_sequencer.sh
Due: none

chore: introduce Event Breaking section in CHANGELOG (#1112)
  CHANGELOG.md
Due: none

refactor: check statistics and balance on x/collection mint and burn operations (#1114)
  CHANGELOG.md
  x/collection/keeper/supply_test.go
Due: modules

Add state machine breaking section
  CHANGELOG.md
Due: none

Make rdk compatible with tendermint (#1115)
  baseapp/abci.go
  baseapp/abci_test.go
  demo/test_sequencer.sh
Due: app

Move an entry
  CHANGELOG.md
Due: none

Remove prefix
  CHANGELOG.md
Due: none

chore: update changelog for finschia-sdk v0.47.3
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

chore: introduce detailed breaking sections in CHANGELOG (#1113)
  CHANGELOG.md
Due: none

chore: update changelog for finschia-sdk v0.47.3 (#1118)
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

Update README.md
  x/foundation/README.md
Due: modules

Add update-censorship to tx cli
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/tx.go
Due: modules

Lint
  x/foundation/client/cli/tx.go
Due: modules

docs: update links in x/foundation README.md (#1120)
  CHANGELOG.md
  x/foundation/README.md
Due: modules

chore: fix tag comments in github actions workflow docker.yml (#1078)
  .github/workflows/docker.yml
  CHANGELOG.md
Due: none

Add normalizer
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/tx.go
Due: modules

Update statelesskit
  go.mod
  go.sum
  simapp/simd/cmd/querier.go
  simapp/simd/cmd/root.go
Due: none

Add shell to run l2node
  demo/run_l2node.sh
  demo/test_sequencer.sh
Due: none

bump-up ramus
  go.mod
  go.sum
Due: none

docs: add detailed explanation about default events
  docs/docs/core/08-events.md
Due: none
