Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

Add no admin flag for gov
  x/wasm/client/cli/gov_tx.go
Due: modules

Relaxed address strength restrictions for legacy 20 byte addresses
  x/wasm/types/keys.go
  x/wasm/types/keys_test.go
Due: modules

Make utils methods public
  x/wasm/client/cli/genesis_msg.go
  x/wasm/client/cli/genesis_msg_test.go
Due: modules

Mark a whole lot of tests to skip on m1 as they core dump
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/m1compat.go
  x/wasm/keeper/recurse_test.go
  x/wasm/keeper/reflect_test.go
  x/wasm/keeper/relay_test.go
  x/wasm/keeper/staking_test.go
  x/wasm/keeper/submsg_test.go
Due: modules

Redact query errors
  x/wasm/keeper/query_plugins.go
Due: modules

Add deny list for some grpc queries
  x/wasm/keeper/query_plugins.go
  x/wasm/keeper/reflect_test.go
Due: modules

fix: build error
  x/wasm/keeper/reflect_test.go
Due: modules

Make type conversion helpers public
  x/wasm/keeper/handler_plugin.go
  x/wasm/keeper/handler_plugin_encoders.go
  x/wasm/keeper/handler_plugin_encoders_test.go
Due: modules

cleanup from PR comments
  x/wasm/keeper/query_plugins.go
Due: modules

fix: rename path
  x/wasm/keeper/query_plugins.go
  x/wasm/keeper/reflect_test.go
Due: modules

docs: update documents on proto
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/collection.pb.go
  x/collection/query.pb.go
  x/collection/tx.pb.go
Due: none

Improve how we redact query errors
  x/wasm/keeper/query_plugins.go
  x/wasm/keeper/reflect_test.go
Due: modules

Skip a few more tests on m1
  x/wasm/keeper/genesis_test.go
Due: modules

Ensure SystemError is consistently unredacted
  x/wasm/keeper/msg_dispatcher.go
  x/wasm/keeper/query_plugins.go
Due: modules

fix: close iterators
  x/wasm/keeper/genesis.go
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/legacy_querier.go
  x/wasm/types/iavl_range_test.go
Due: modules

Use callback pattern for contract state iterator
  x/wasm/keeper/genesis.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/legacy_querier.go
  x/wasm/types/exported_keepers.go
Due: modules

docs: update version information in the comments
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/collection.pb.go
  x/collection/event.pb.go
  x/collection/query.pb.go
  x/collection/tx.pb.go
Due: none

docs: update ERC777 related comments
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/event.pb.go
  x/collection/tx.pb.go
Due: none

docs: update event proto document format
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  x/token/event.pb.go
Due: none

fix: fix multisig gRPC package path error and remove unused import in gRPC define.
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  crypto/types/multisig.pb.go
  docs/core/proto-docs.md
  proto/cosmos/authz/v1beta1/authz.proto
  proto/cosmos/authz/v1beta1/genesis.proto
  proto/cosmos/authz/v1beta1/query.proto
  proto/cosmos/crypto/multisig/v1beta1/multisig.proto
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/tx.proto
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
  x/authz/authz.pb.go
  x/authz/genesis.pb.go
  x/authz/query.pb.go
Due: client

test: add tests on genesis
  x/collection/collection.go
  x/collection/genesis.go
  x/collection/genesis_test.go
  x/collection/keeper/alias.go
  x/collection/keeper/genesis.go
  x/collection/keeper/genesis_test.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/nft.go
  x/collection/msgs.go
Due: modules

Add more tests for event edge cases
  x/wasm/keeper/events_test.go
Due: modules

Unpack contract details from genesis
  x/wasm/keeper/keeper.go
  x/wasm/types/genesis.go
  x/wasm/types/genesis_test.go
Due: modules

Revisit gov params doc and tests
  x/wasm/keeper/proposal_integration_test.go
Due: modules

Add missing sudo and execute to codec
  x/wasm/types/codec.go
Due: modules

Add a basic validation test
  x/wasm/types/proposal_test.go
  x/wasm/types/test_fixtures.go
Due: modules

ci: stop support for linux/arm(32bit) according to https://github.com/line/ostracon/pull/431
  .github/workflows/test.yml
Due: none

fix: unittest error of `TestQueryABCIHeight`
  client/query_test.go
Due: client

fix: lint error of `foundation` module
  x/foundation/client/testutil/suite.go
Due: modules

fix: unittest error
  client/query_test.go
Due: client

doc: update changelog
  CHANGELOG.md
Due: none

chore: rollback the data race problem.
  client/query_test.go
Due: client

fix: fix the data race problem in `TestQueryABCIHeight`
  client/query_test.go
Due: client

Revert "doc: update changelog"
  CHANGELOG.md
Due: none

Disable stargate queries
  x/wasm/keeper/query_plugins.go
  x/wasm/keeper/reflect_test.go
  x/wasm/types/proposal.go
  x/wasm/types/test_fixtures.go
Due: modules

Remove dead code to make linter happy
  x/wasm/keeper/query_plugins.go
Due: modules
