Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

test: add test of GetSigners
  x/foundation/msgs_test.go
  x/wasm/lbmtypes/tx_test.go
Due: modules

Add `ReadFileWithSizeLimit` and use it on `x/wasm`
  internal/os/file.go
  internal/os/file_test.go
  x/wasm/client/cli/tx.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update group related logics
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
  x/foundation/foundation.go
  x/foundation/foundation_test.go
  x/foundation/genesis.go
  x/foundation/genesis_test.go
  x/foundation/keeper/exec.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member.go
  x/foundation/keeper/member_test.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/proposal_test.go
  x/foundation/keeper/tally.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
Due: modules

test: delete test of GetSigners in foundation
  x/foundation/msgs_test.go
Due: modules

Refactor internal/os into x/wasm
  x/wasm/client/cli/tx.go
  x/wasm/os/file.go
  x/wasm/os/file_test.go
Due: modules

fix: use MustAccAddressFromBech32
  x/auth/types/account.go
  x/bank/types/balance.go
  x/bank/types/msgs.go
Due: modules

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

test: fix to appropriate test
  x/wasm/keeper/keeper_test.go
Due: modules

Revert "Refactor internal/os into x/wasm"
  internal/os/file.go
  internal/os/file_test.go
  x/wasm/client/cli/tx.go
Due: modules

Use `ReadFileWithSizeLimit` on `x/distribution`
  CHANGELOG.md
  x/distribution/client/cli/utils.go
Due: modules

Increase coverage and fix bugs
  x/foundation/foundation_test.go
  x/foundation/genesis_test.go
  x/foundation/keeper/exec_test.go
  x/foundation/keeper/grant_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/tally.go
Due: modules

Update a download file name and add test cases (#1)
  x/wasm/client/cli/query.go
  x/wasm/client/cli/query_test.go
Due: modules

Modify to one liner
  CHANGELOG.md
Due: none

Increase coverage
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
  x/foundation/foundation_test.go
  x/foundation/genesis_test.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal_test.go
  x/foundation/msgs_test.go
Due: modules

Revisit genesis logic
  x/foundation/client/testutil/suite.go
  x/foundation/genesis.go
  x/foundation/genesis_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
Due: modules

Implement OutsourcingDecisionPolicy
  simapp/app.go
  x/foundation/codec.go
  x/foundation/foundation.go
  x/foundation/foundation_test.go
  x/foundation/genesis.go
  x/foundation/genesis_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/member.go
  x/foundation/keys.go
Due: modules

Remove unused logics
  x/foundation/client/cli/tx.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member.go
  x/foundation/keeper/member_test.go
  x/foundation/keeper/proposal_test.go
Due: modules

Update params related logics
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/grpc.go
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
  x/foundation/foundation.go
  x/foundation/genesis.go
  x/foundation/genesis_test.go
  x/foundation/keeper/abci_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/grant_test.go
  x/foundation/keeper/grpc_query_test.go
  x/foundation/keeper/handler.go
  x/foundation/keeper/keeper.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/params.go
  x/foundation/keeper/params_test.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/proposal_test.go
  x/foundation/proposal.go
  x/foundation/proposal_test.go
  x/stakingplus/expected_keepers.go
  x/stakingplus/keeper/keeper_test.go
  x/stakingplus/keeper/msg_server.go
Due: modules

Add OutsourcingDecisionPolicy into proto
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/foundation.proto
  x/foundation/foundation.pb.go
Due: none

Use more specific method of require
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
  x/foundation/foundation_test.go
  x/foundation/genesis_test.go
Due: modules

Revisit genesis proto
  proto/lbm/foundation/v1/genesis.proto
  x/foundation/genesis.pb.go
Due: none

test: add my custom test scripts
  test.Dockerfile
  test_init_node.sh
  testlbm.yaml
Due: none

chore: add missing blockedAddr checking in bankplus
  x/bankplus/keeper/keeper.go
Due: modules

fix: go.mod
  go.mod
Due: none

chore: check txhash length whether it is 64
  CHANGELOG.md
  x/auth/tx/service.go
Due: modules

update tc to cover new logic
  x/auth/tx/service_test.go
Due: modules

chore: check blockhash length whether it is 64
  client/grpc/tmservice/service.go
Due: client

test: add tc about `GetByBlockHash`
  client/grpc/tmservice/service.go
  client/grpc/tmservice/service_test.go
Due: client

test: add more cases to match coverage to 100%
  client/grpc/tmservice/service.go
  client/grpc/tmservice/service_test.go
  x/auth/tx/service_test.go
Due: modules, client

chore: goimports
  client/grpc/tmservice/service.go
Due: client

chore: write to CHANGELOG
  CHANGELOG.md
Due: none

chore: turn off REST test
  client/grpc/tmservice/service_test.go
Due: client

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
