Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat: apply change of prefix of key name in ostracon (#610)
  CHANGELOG.md
  client/keys/import_test.go
  client/keys/show_test.go
  codec/amino_codec_test.go
  crypto/keyring/output_test.go
  crypto/keys/ed25519/ed25519.go
  crypto/keys/multisig/codec.go
  crypto/keys/multisig/multisig_test.go
  crypto/keys/secp256k1/secp256k1.go
  crypto/ledger/amino.go
  crypto/ledger/encode_test.go
  crypto/ledger/ledger_test.go
  go.mod
  go.sum
  types/bech32/legacybech32/pk_test.go
  x/staking/client/rest/rest_test.go
  x/staking/types/validator_test.go
Due: modules, client

test: fix test cases
  baseapp/abci_test.go
  snapshots/helpers_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  x/auth/client/testutil/suite.go
  x/authz/client/rest/grpc_query_test.go
  x/bank/keeper/grpc_query_test.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/key_test.go
Due: app, modules

build: fix build
  docs/core/proto-docs.md
  simapp/app.go
  types/query/filtered_pagination.go
  x/authz/keeper/grpc_query.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/query.pb.go
  x/feegrant/query.pb.gw.go
  x/staking/client/testutil/suite.go
Due: modules

test: fix lint errors
  client/grpc/tmservice/block.go
  snapshots/types/util.go
  types/errors/errors.go
  x/auth/tx/service.go
  x/authz/simulation/operations.go
Due: modules, client

test: fix TestAppStateDeterminism test
  simapp/app.go
Due: none

chore: change pagination flag name 'authorizations' -> 'grants'
  x/authz/client/cli/query.go
Due: modules

build: use golang 1.18
  .github/workflows/proto.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  contrib/rosetta/node/Dockerfile
  contrib/rosetta/rosetta-cli/Dockerfile
  go.mod
  go.sum
  types/query/filtered_pagination.go
  x/authz/keeper/grpc_query.go
Due: modules

docs: add swagger file
  client/docs/swagger-ui/swagger.yaml
Due: client

test: add uncovered tests for codecov/patch
  baseapp/baseapp_test.go
  client/grpc/tmservice/block_test.go
  client/tx/tx_test.go
  crypto/keys/secp256k1/internal/secp256k1/secp256_test.go
  server/config/config_test.go
  server/mock/store_test.go
  snapshots/stream_test.go
  store/iavl/store_test.go
  types/address_test.go
  types/coin_test.go
  types/decimal_test.go
  types/errors/abci_test.go
Due: app, client

build: go mod tidy
  go.mod
  go.sum
Due: none

feat: change gPRC path of `wasm` to origin `cosmwasm` path
  docs/core/proto-docs.md
  go.sum
  proto/cosmwasm/wasm/v1/genesis.proto
  proto/cosmwasm/wasm/v1/ibc.proto
  proto/cosmwasm/wasm/v1/proposal.proto
  proto/cosmwasm/wasm/v1/query.proto
  proto/cosmwasm/wasm/v1/tx.proto
  proto/cosmwasm/wasm/v1/types.proto
  x/wasm/types/genesis.pb.go
  x/wasm/types/ibc.pb.go
  x/wasm/types/proposal.pb.go
  x/wasm/types/query.pb.go
  x/wasm/types/query.pb.gw.go
  x/wasm/types/tx.pb.go
  x/wasm/types/types.pb.go
Due: none

feat: change gPRC path of `wasm` to origin `cosmwasm` path
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/cosmwasm/wasm/v1/query.proto
  x/wasm/types/query.pb.go
  x/wasm/types/query.pb.gw.go
Due: client

chore: update changelog
  CHANGELOG.md
Due: none

ci: remove stale action
  .github/workflows/stale.yml
Due: none

ci: remove stale action (#618)
  .github/workflows/stale.yml
  CHANGELOG.md
Due: none

feat: Change wasm proto path to original `cosmwasm` path (#617)
  CHANGELOG.md
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  go.sum
  proto/cosmwasm/wasm/v1/genesis.proto
  proto/cosmwasm/wasm/v1/ibc.proto
  proto/cosmwasm/wasm/v1/proposal.proto
  proto/cosmwasm/wasm/v1/query.proto
  proto/cosmwasm/wasm/v1/tx.proto
  proto/cosmwasm/wasm/v1/types.proto
  x/wasm/types/genesis.pb.go
  x/wasm/types/ibc.pb.go
  x/wasm/types/proposal.pb.go
  x/wasm/types/query.pb.go
  x/wasm/types/query.pb.gw.go
  x/wasm/types/tx.pb.go
  x/wasm/types/types.pb.go
Due: client

ci: change the Dockerfile to use the downloaded static library
  Dockerfile
Due: none

fix: add build-args for docker.yml
  .github/workflows/docker.yml
Due: none

Add additional fields to events
  client/docs/statik/statik.go
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  x/collection/event.pb.go
  x/collection/keeper/nft.go
  x/collection/keeper/send.go
Due: modules, client

chore: add iterator feature
  simapp/app.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add Query/TokenClassTypeName
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/collection/v1/query.proto
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
Due: modules, client

chore: add iterator feature (#620)
  CHANGELOG.md
  simapp/app.go
Due: none

feat: add build-docker task
  Makefile
Due: none

chore: change panic to require.NoError
  baseapp/baseapp_test.go
Due: app

Modify docker build (#619)
  .github/workflows/docker.yml
  CHANGELOG.md
  Dockerfile
  Makefile
Due: none

Remove legacy rest
  x/slashing/client/rest/grpc_query_test.go
  x/slashing/client/rest/query.go
  x/slashing/client/rest/rest.go
  x/slashing/client/rest/tx.go
  x/slashing/module.go
Due: modules

Remove legacy handler
  x/slashing/handler.go
  x/slashing/handler_test.go
  x/slashing/module.go
Due: modules

Update x/slashing for the reverted protobuf
  simapp/export.go
  x/slashing/abci_test.go
  x/slashing/client/testutil/suite.go
  x/slashing/genesis_test.go
  x/slashing/keeper/grpc_query_test.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/simulation/decoder_test.go
  x/slashing/simulation/operations_test.go
  x/slashing/types/signing_info.go
Due: modules

Use more specific word in the comment
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  x/collection/event.pb.go
Due: none

feat: detaching StoreCodeAndInstantiateContract from wasm's tx.proto
  docs/core/proto-docs.md
  proto/cosmwasm/wasm/v1/tx.proto
  proto/lbm/wasm/v1/tx_extension.proto
  x/wasm/handler.go
  x/wasm/keeper/msg_server.go
  x/wasm/types/tx.pb.go
  x/wasm/types/tx_extension.pb.go
Due: modules

Revert "Remove legacy rest"
  x/slashing/client/rest/grpc_query_test.go
  x/slashing/client/rest/query.go
  x/slashing/client/rest/rest.go
  x/slashing/client/rest/tx.go
  x/slashing/module.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
