Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 40
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

chore(deps): Bump Go from 1.20 to 1.22 (#1410)
  .github/workflows/check-generated.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Dockerfile
  contrib/devtools/dockerfile
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  contrib/rosetta/node/Dockerfile
  contrib/rosetta/rosetta-cli/Dockerfile
  go.mod
  go.sum
  ics23/go/go.mod
  internal/conv/string.go
  tools/error_doc/go.mod
Due: none

chore(deps): Bump Go from 1.20 to 1.22 (#1410)
  .github/workflows/lint.yml
  .github/workflows/release-sims.yml
  .github/workflows/test.yml
  CHANGELOG.md
  go.sum
Due: none

lint
  baseapp/abci.go
  types/uint.go
  x/auth/client/cli/tx_multisign.go
  x/distribution/keeper/delegation.go
  x/staking/keeper/val_state_change.go
Due: app, modules

Update golangci-lint version
  .github/workflows/lint.yml
Due: none

remove inactive linters
  .golangci.yml
Due: none

remove generating error docs ci
  .github/workflows/check-generated.yml
  tools/error_doc/go.mod
Due: none

Bump golangci-lint from 1.55.2 to 1.59
  .golangci.yml
  Makefile
  crypto/keys/multisig/codec.go
  x/gov/types/proposal.go
  x/gov/types/vote.go
Due: modules

Update outdated deps
  go.mod
  go.sum
  telemetry/metrics.go
  telemetry/metrics_test.go
  telemetry/wrapper.go
  x/auth/vesting/msg_server.go
  x/bank/keeper/msg_server.go
  x/distribution/keeper/msg_server.go
  x/gov/keeper/msg_server.go
  x/staking/keeper/msg_server.go
Due: modules

Replace deprecated methods
  go.mod
  go.sum
  server/rosetta/client_online.go
Due: none

Add CHANGELOG
  CHANGELOG.md
Due: none

Update outdated deps
  go.mod
  go.sum
Due: none

Revert protobuf version for compatibility
  go.mod
  go.sum
Due: none

chore(deps): Update outdated dependencies (#1412)
  CHANGELOG.md
  go.mod
  go.sum
  server/rosetta/client_online.go
  telemetry/metrics.go
  telemetry/metrics_test.go
  telemetry/wrapper.go
  x/auth/vesting/msg_server.go
  x/bank/keeper/msg_server.go
  x/distribution/keeper/msg_server.go
  x/gov/keeper/msg_server.go
  x/staking/keeper/msg_server.go
Due: modules

chore(deps): Update outdated dependencies (#1413)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

Bump golangci-lint ci from 1.55 to 1.59
  .github/workflows/lint.yml
  CHANGELOG.md
Due: none

chore: add more test for grpc_query
  x/fswap/keeper/grpc_query_test.go
Due: modules

chore: add more test for config and msg validation
  x/fswap/types/config_test.go
  x/fswap/types/msgs_test.go
Due: modules

chore: add more test for genesis-related things
  x/fswap/keeper/genesis_test.go
  x/fswap/types/genesis_test.go
Due: modules

chore: add TestMsgSetSwap for msg server
  x/fswap/keeper/msg_server_test.go
Due: modules

chore: add more test for keeper
  x/fswap/keeper/keeper_test.go
Due: modules

chore: fix for lint
  x/fswap/types/msgs_test.go
Due: modules

chore: update changelog
  CHANGELOG.md
Due: none

add useful linters
  .golangci.yml
Due: none

Apply errchkjson, tenv
  .golangci.yml
  server/util_test.go
  types/decimal.go
  x/gov/types/vote.go
Due: modules

Remove
  .github/workflows/test.yml
  client/context.go
  client/grpc_query.go
  contrib/rosetta/docker-compose.yaml
  go.mod
  go.sum
  server/api/server.go
  server/config/config.go
  server/config/toml.go
  server/grpc/grpc_web.go
  server/grpc/grpc_web_test.go
  server/start.go
  testutil/network/network.go
  testutil/network/util.go
Due: client

Remove rosetta server from sdk
  Makefile
  contrib/rosetta/README.md
  contrib/rosetta/configuration/bootstrap.json
  contrib/rosetta/configuration/data.sh
  contrib/rosetta/configuration/faucet.py
  contrib/rosetta/configuration/rosetta.json
  contrib/rosetta/configuration/run_tests.sh
  contrib/rosetta/configuration/send_funds.sh
  contrib/rosetta/configuration/transfer.ros
  contrib/rosetta/docker-compose.yaml
  contrib/rosetta/node/Dockerfile
  contrib/rosetta/node/data.tar.gz
  contrib/rosetta/rosetta-cli/Dockerfile
  docs/run-node/rosetta.md
  go.mod
  go.sum
  server/rosetta.go
  server/rosetta/client_offline.go
  server/rosetta/client_online.go
  server/rosetta/client_online_test.go
  server/rosetta/codec.go
  server/rosetta/config.go
  server/rosetta/converter.go
  server/rosetta/converter_test.go
  server/rosetta/lib/errors/errors.go
  server/rosetta/lib/errors/errors_test.go
  server/rosetta/lib/errors/registry.go
  server/rosetta/lib/internal/service/construction.go
  server/rosetta/lib/internal/service/data.go
  server/rosetta/lib/internal/service/offline.go
  server/rosetta/lib/internal/service/online.go
  server/rosetta/lib/server/server.go
  server/rosetta/lib/types/types.go
  server/rosetta/types.go
  server/rosetta/util.go
  simapp/simd/cmd/root.go
Due: none

lint
  client/context.go
Due: client

chore
  init_node.sh
Due: none

chore: rename kai to kei
  x/fswap/keeper/grpc_query_test.go
  x/fswap/keeper/msg_server_test.go
  x/fswap/types/msgs_test.go
Due: modules

chore: introduce stubGenesisState func for DRY
  x/fswap/keeper/genesis_test.go
Due: modules

chore: remove unnecessary code
  x/fswap/keeper/grpc_query_test.go
Due: modules

docs: correct spec docs of fswap module
  x/fswap/spec/01_concepts.md
  x/fswap/spec/02_state.md
  x/fswap/spec/03_events.md
  x/fswap/spec/README.md
Due: modules

chore: correct comment of storeKey
  x/fswap/keeper/keys.go
Due: modules

chore: update CHANGLOG.md
  CHANGELOG.md
Due: none

chore: remove unnecessary code
  x/fswap/types/msgs_test.go
Due: modules

Separate gRPC server from API activation
  server/start.go
Due: none
