Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix: Migrate linkwasmd to the latest commit (#250)
  x/wasm/linkwasmd/app/app.go
  x/wasm/linkwasmd/cmd/linkwasmd/cmd/root.go
  x/wasm/linkwasmd/go.mod
  x/wasm/linkwasmd/go.sum
Due: modules

refactor: specify wasm event types
  x/wasm/internal/keeper/msg_server.go
  x/wasm/internal/keeper/proposal_handler.go
  x/wasm/internal/types/events.go
  x/wasm/module_test.go
Due: modules

refactor: separate to common events and custom wasm events
  x/wasm/internal/keeper/msg_server.go
  x/wasm/internal/keeper/proposal_handler.go
  x/wasm/internal/types/events.go
  x/wasm/module_test.go
Due: modules

chore: lint fix
  x/wasm/internal/keeper/msg_server.go
  x/wasm/internal/keeper/proposal_handler.go
Due: modules

refactor: add the event attribute 'CodeID' when migrate
  x/wasm/internal/keeper/msg_server.go
  x/wasm/internal/keeper/proposal_handler.go
Due: modules

refactor: remove duplicated common events in StoreAndInstantiate
  x/wasm/internal/keeper/msg_server.go
  x/wasm/module_test.go
Due: modules

refactor: remove emit common events in proposal handler
  x/wasm/internal/keeper/proposal_handler.go
Due: modules

docs: modify copyright and contributing
  CONTRIBUTING.md
  LICENSE
  NOTICE
Due: none

docs: modify copyright and contributing (#256)
  CONTRIBUTING.md
  LICENSE
  NOTICE
Due: none

refactor(wasm): specify wasm event types (#254)
  x/wasm/internal/keeper/msg_server.go
  x/wasm/internal/keeper/proposal_handler.go
  x/wasm/internal/types/events.go
  x/wasm/module_test.go
Due: modules

docs: modify copyright, verified from legal team
  LICENSE
  NOTICE
Due: none

docs: modify copyright, verified from legal team (#259)
  LICENSE
  NOTICE
Due: none

docs: remove gov, ibc and readme of wasm module
  x/wasm/Governance.md
  x/wasm/IBC.md
  x/wasm/README.md
Due: modules

docs: fix link urls, remove invalid reference
  x/ibc/applications/transfer/spec/01_concepts.md
  x/ibc/applications/transfer/spec/02_state.md
  x/ibc/applications/transfer/spec/04_messages.md
  x/ibc/applications/transfer/spec/06_metrics.md
  x/ibc/applications/transfer/spec/README.md
  x/ibc/core/spec/01_concepts.md
  x/ibc/core/spec/02_state.md
  x/ibc/spec/README.md
  x/staking/spec/01_state.md
  x/staking/spec/03_messages.md
Due: modules

fix: fix build error
  go.mod
  go.sum
  x/wasm/alias.go
  x/wasm/keeper/bench_test.go
  x/wasm/keeper/contract_keeper.go
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/handler_plugin.go
  x/wasm/keeper/handler_plugin_test.go
  x/wasm/keeper/ibc_test.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/legacy_querier_test.go
  x/wasm/keeper/options_test.go
  x/wasm/keeper/proposal_handler.go
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/keeper/querier_test.go
  x/wasm/keeper/recurse_test.go
  x/wasm/keeper/reflect_test.go
  x/wasm/keeper/relay.go
  x/wasm/keeper/relay_test.go
  x/wasm/keeper/staking_test.go
  x/wasm/keeper/submsg_test.go
  x/wasm/linkwasmd/app/app.go
  x/wasm/module_test.go
  x/wasm/types/exported_keepers.go
  x/wasm/types/proposal.pb.go
  x/wasm/types/proposal.proto
  x/wasm/types/query.pb.go
  x/wasm/types/query.proto
  x/wasm/types/types.go
  x/wasm/types/types_test.go
Due: modules

docs: fix link urls, remove invalid reference (#262)
  x/ibc/applications/transfer/spec/01_concepts.md
  x/ibc/applications/transfer/spec/02_state.md
  x/ibc/applications/transfer/spec/04_messages.md
  x/ibc/applications/transfer/spec/06_metrics.md
  x/ibc/applications/transfer/spec/README.md
  x/ibc/core/spec/01_concepts.md
  x/ibc/core/spec/02_state.md
  x/ibc/spec/README.md
  x/staking/spec/01_state.md
  x/staking/spec/03_messages.md
Due: modules

docs: remove gov, ibc and readme of wasm module (#260)
  x/wasm/Governance.md
  x/wasm/IBC.md
  x/wasm/README.md
Due: modules

docs: replace links to Cosmos's repository with ours (#245)
  x/wasm/CHANGELOG.md
  x/wasm/alias.go
  x/wasm/genesis_test.go
  x/wasm/internal/keeper/genesis_test.go
  x/wasm/internal/keeper/keeper.go
  x/wasm/internal/keeper/keeper_test.go
  x/wasm/internal/keeper/query_plugins.go
  x/wasm/internal/keeper/test_common.go
  x/wasm/internal/types/params.go
  x/wasm/linkwasmd/app/app.go
  x/wasm/linkwasmd/app/params/doc.go
  x/wasm/module_test.go
Due: modules

ci: remove docker publish
  .github/workflows/docker.yml
Due: none

feat: implement sig block height; work-2
  baseapp/accountwgs_test.go
  baseapp/baseapp_test.go
  baseapp/msg_service_router_test.go
  client/flags/flags.go
  client/tx/factory.go
  client/tx/tx.go
  client/tx/tx_test.go
  codec/amino_codec_test.go
  server/mock/tx.go
  simapp/genesis_account_test.go
  simapp/test_helpers.go
  simapp/utils_test.go
  testutil/testdata/unknonwnproto.pb.go
  testutil/testdata/unknonwnproto.proto
  x/auth/ante/ante_test.go
  x/auth/ante/basic.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/rest/rest_test.go
  x/auth/tx/legacy_amino_json_test.go
  x/auth/types/account_test.go
  x/bank/app_test.go
  x/bank/client/rest/tx_test.go
  x/evidence/keeper/keeper_test.go
  x/ibc/testing/chain.go
  x/wasm/internal/keeper/keeper_test.go
  x/wasm/internal/keeper/submsg_test.go
Due: app, modules, client

fix: make send command to require sequence flag when it is on offline mode
  client/tx/tx.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/bank/client/cli/tx.go
Due: modules, client

ci: remove docker publish (#264)
  .github/workflows/docker.yml
Due: none

fix: unknown account may send tx
  client/account_retriever.go
  client/test_helpers.go
  client/tx/tx.go
  server/grpc/server_test.go
  types/grpc/headers.go
  x/auth/ante/ante.go
  x/auth/ante/ante_test.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/fee.go
  x/auth/ante/sigverify.go
  x/auth/module.go
  x/auth/types/account_retriever.go
Due: modules, client

fix: lint error
  client/tx/tx.go
  simapp/helpers/test_helpers.go
  x/auth/ante/sigverify.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/validate_sigs.go
  x/auth/testutil/suite.go
  x/auth/tx/direct.go
  x/auth/types/account.go
  x/bank/client/cli/tx.go
Due: modules, client

fix: modify comment
  client/tx/factory.go
  client/tx/tx.go
  crypto/ledger/ledger_test.go
  tests/mocks/account_retriever.go
  types/rest/rest_test.go
  x/auth/ante/ante.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/keeper/keeper.go
  x/auth/tx/direct.go
  x/auth/types/account.go
  x/wasm/internal/types/expected_keepers.go
Due: modules, client

fix: self review
  client/flags/flags.go
  client/tx/tx.go
  proto/lfb/tx/v1beta1/tx.proto
  x/auth/tx/direct_test.go
Due: modules, client

docs: update changelog
  CHANGELOG.md
Due: none

chore: remove private module dependencies
  .github/workflows/lint.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  Dockerfile
  Makefile
  scripts/protocgen.sh
Due: none

chore: replace to github app token for actions
  .github/workflows/lint.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/stale.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
Due: none

chore: remove private module dependencies (#277)
  .github/workflows/lint.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  Dockerfile
  Makefile
  scripts/protocgen.sh
Due: none

chore: replace to github app token for actions (#278)
  .github/workflows/lint.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/stale.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
Due: none

fix: apply comment
  x/auth/ante/fee.go
  x/auth/ante/sigverify.go
Due: modules

chore: remove MaxGas const
  x/wasm/alias.go
  x/wasm/internal/keeper/keeper.go
  x/wasm/internal/keeper/relay_test.go
Due: modules

docs: add this PR to CHANGELOG
  CHANGELOG.md
Due: none

perf: internal objects optimization - tests
  docs/core/proto-docs.md
  proto/lfb/auth/v1beta1/auth.proto
  server/grpc/server_test.go
  tests/fixtures/adr-024-coin-metadata_genesis.json
  testutil/network/network.go
  x/auth/client/rest/rest_test.go
  x/auth/keeper/keeper.go
  x/auth/signing/handler_map_test.go
  x/auth/tx/service_test.go
  x/auth/types/account.go
  x/auth/types/auth.pb.go
  x/auth/vesting/msg_server.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/client/rest/tx_test.go
  x/bank/handler_test.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/simulation/operations_test.go
  x/bank/types/balance_test.go
  x/bank/types/genesis_test.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
  x/distribution/keeper/keeper.go
  x/ibc/testing/chain.go
  x/slashing/app_test.go
  x/staking/app_test.go
  x/wasm/client/cli/genesis_msg_test.go
  x/wasm/internal/keeper/handler_plugin.go
  x/wasm/internal/keeper/handler_plugin_test.go
  x/wasm/internal/keeper/keeper_test.go
  x/wasm/internal/keeper/reflect_test.go
  x/wasm/internal/keeper/submsg_test.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
