Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

fix: use custom stringer for enum
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/token.proto
  x/token/client/testutil/tx.go
  x/token/event.go
  x/token/event.pb.go
  x/token/keeper/msg_server.go
  x/token/msgs_test.go
  x/token/token.go
  x/token/token.pb.go
  x/token/validation.go
Due: modules

feat: add `x/wasm` feature to `simapp`
  Dockerfile
  Makefile
  server/export_test.go
  simapp/app.go
  simapp/simd/cmd/root.go
  simapp/test_helpers.go
Due: none

fix: apply the changes of NewSimApp.
  baseapp/block_gas_test.go
  server/README.md
  simapp/app_test.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  testutil/network/network.go
  x/capability/genesis_test.go
  x/gov/genesis_test.go
  x/upgrade/abci_test.go
Due: app, modules

fix lint error
  simapp/simd/cmd/root.go
  x/auth/client/testutil/suite.go
Due: modules

remove the two test cases that don't exist in the cosmos-sdk
  x/auth/types/account_test.go
  x/auth/vesting/types/vesting_account_test.go
Due: modules

make ProtoBuf format differences as similar to cosmos-sdk as possible
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/base/snapshots/v1beta1/snapshot.proto
  proto/cosmos/base/store/v1beta1/snapshot.proto
  proto/cosmos/evidence/v1beta1/evidence.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/slashing/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/tx/v1beta1/service.proto
  proto/cosmos/vesting/v1beta1/tx.proto
Due: none

fix: error of `TestAppStateDeterminism` unittest
  x/wasm/simulation/genesis.go
  x/wasm/simulation/params.go
Due: modules

fix lint error
  x/wasm/simulation/genesis.go
Due: modules

make x/bank/keeper diffferences as similar to cosmos-sdk
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
Due: modules

fix: import cycle error
  x/wasm/client/cli/genesis_msg_test.go
Due: modules

chore: update docs (include changelog)
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: client

Revert BaseAccount back to cosmos-sdk (#588)
  baseapp/block_gas_test.go
  docs/core/proto-docs.md
  proto/cosmos/auth/v1beta1/auth.proto
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/base/snapshots/v1beta1/snapshot.proto
  proto/cosmos/base/store/v1beta1/snapshot.proto
  proto/cosmos/evidence/v1beta1/evidence.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/slashing/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/tx/v1beta1/service.proto
  proto/cosmos/vesting/v1beta1/tx.proto
  x/auth/keeper/keeper.go
  x/auth/types/account.go
  x/auth/types/account_test.go
  x/auth/types/auth.pb.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/submsg_test.go
Due: app, modules

feat: add legacy events
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  x/collection/collection.go
  x/collection/collection.pb.go
  x/collection/event.go
  x/collection/event.pb.go
  x/collection/event_test.go
  x/collection/keeper/genesis_test.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/nft.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs.go
Due: modules

feat: emit operation events (daphne compat.)
  x/collection/event.go
  x/collection/event_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/send.go
  x/collection/keeper/supply.go
Due: modules

chore: remove the commented logic
  x/collection/keeper/supply.go
Due: modules

docs: add error conditions to tx proto
  docs/core/proto-docs.md
  proto/lbm/collection/v1/tx.proto
  x/collection/tx.pb.go
Due: none

Fix wrong usage of AccAddress in `x/wasm`
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/msg_server.go
  x/wasm/types/proposal_test.go
  x/wasm/types/tx.go
Due: modules

Fix wrong usage of AccAddress in `x/upgrade`
  x/upgrade/client/rest/tx.go
Due: modules

Fix wrong usage of AccAddress in `x/token`
  x/token/keeper/genesis.go
  x/token/keeper/grpc_query.go
  x/token/keeper/keys.go
  x/token/keeper/msg_server.go
  x/token/msgs.go
Due: modules

fix: types
  types/query/filtered_pagination_test.go
  types/query/pagination_test.go
  types/simulation/account_test.go
Due: none

fix: testutil
  testutil/key.go
Due: none

Fix wrong usage of Acc/Val/ConAddress in `x/staking` and `x/stakingplus`
  x/staking/client/rest/tx.go
  x/staking/genesis.go
  x/staking/keeper/delegation.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/slash.go
  x/staking/keeper/val_state_change.go
  x/staking/legacy/v040/keys.go
  x/stakingplus/keeper/msg_server.go
Due: modules

Fix semantic error: server
  server/init.go
Due: none

Fix semantic error: simapp
  simapp/test_helpers.go
Due: none

fix: x/auth
  x/auth/types/account.go
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/vesting_account.go
  x/authz/keeper/keys.go
Due: modules

feat: add depth and width limit on attach
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/nft_test.go
Due: modules

feat: add params for the limits
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  x/collection/collection.pb.go
  x/collection/genesis.go
  x/collection/keeper/genesis.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/keys.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/nft_test.go
  x/collection/keeper/param.go
Due: modules

docs: deprecate old APIs
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
Due: none

docs: update comments
  proto/lbm/collection/v1/tx.proto
Due: none

fix: fix naming collision in enums
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
Due: none

feat: use custom stringer for Coin
  proto/lbm/collection/v1/collection.proto
Due: none

feat: add composition related events
  proto/lbm/collection/v1/event.proto
Due: none

feat: add limits to params
  proto/lbm/collection/v1/collection.proto
Due: none

fix: fix type of the field permission of EventAbandon
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  x/token/event.go
  x/token/event.pb.go
  x/token/keeper/supply.go
Due: modules

fix: x/auth 2
  x/auth/tx/builder.go
Due: modules

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix a mistaken revert
  x/crisis/keeper/msg_server.go
  x/distribution/client/testutil/suite.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/store.go
  x/distribution/types/keys.go
Due: modules

fix: x/feegrant
  x/feegrant/grant_test.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/msgs_test.go
  x/feegrant/types/grant_test.go
Due: modules

Fix wrong usage of AccAddress in `x/foundation`
  x/foundation/keeper/genesis.go
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/member.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/proposal_test.go
  x/foundation/keeper/tally.go
  x/foundation/keeper/vote.go
  x/foundation/msgs.go
Due: modules

test: check attribute_key_to
  x/collection/event_test.go
Due: modules
