Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 40
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

fix: add init logic of module accounts just in case
  baseapp/block_gas_test.go
  x/foundation/keeper/internal/genesis.go
Due: app, modules

chore: update changelog
  CHANGELOG.md
Due: none

Add test for decorators
  x/zkauth/ante/zkauth_test.go
  x/zkauth/testutil/keeper.go
Due: modules

Initialize default decorator when initializing structure
  x/zkauth/ante/zkauth.go
Due: modules

Fix test baseGas
  baseapp/block_gas_test.go
Due: app

Add CHANGELOG
  CHANGELOG.md
Due: none

Ignore gas when zkauth (#1275)
  CHANGELOG.md
  baseapp/block_gas_test.go
  simapp/ante/ante.go
  x/zkauth/ante/zkauth.go
  x/zkauth/ante/zkauth_test.go
  x/zkauth/testutil/keeper.go
Due: app, modules

fix: correct set of address
  simapp/ante/ante_test.go
  x/auth/ante/expected_keepers.go
  x/zkauth/ante/zkauth.go
  x/zkauth/types/address.go
  x/zkauth/types/address_test.go
Due: modules

chore: add testcase
  x/collection/keeper/genesis_test.go
Due: modules

chore: IssF to IssBase64
  docs/core/proto-docs.md
  proto/finschia/zkauth/v1beta1/zkauth.proto
  x/zkauth/ante/zkauth_test.go
  x/zkauth/types/msgs_test.go
  x/zkauth/types/zkauth.pb.go
  x/zkauth/types/zkauth_inputs.go
  x/zkauth/types/zkauth_inputs_test.go
  x/zkauth/types/zkauth_verify_test.go
Due: modules

chore: clean-up
  x/bankplus/keeper/deprecator.go
  x/bankplus/keeper/deprecator_test.go
  x/bankplus/keeper/keeper.go
  x/bankplus/keeper/migrations.go
  x/bankplus/migrations/v1/types.go
  x/bankplus/module/module.go
Due: modules

chore: add CHANGELOG
  CHANGELOG.md
Due: none

fix: correct set of address (#1278)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/finschia/zkauth/v1beta1/zkauth.proto
  simapp/ante/ante_test.go
  x/auth/ante/expected_keepers.go
  x/zkauth/ante/zkauth.go
  x/zkauth/ante/zkauth_test.go
  x/zkauth/types/address.go
  x/zkauth/types/address_test.go
  x/zkauth/types/msgs_test.go
  x/zkauth/types/zkauth.pb.go
  x/zkauth/types/zkauth_inputs.go
  x/zkauth/types/zkauth_inputs_test.go
  x/zkauth/types/zkauth_verify_test.go
Due: modules

Deduct gas fee from zkauth address
  x/zkauth/ante/zkauth.go
  x/zkauth/ante/zkauth_test.go
  x/zkauth/testutil/keeper.go
Due: modules

feat: fetch jwk considering goroutine exit
  docs/core/proto-docs.md
  proto/finschia/zkauth/v1beta1/config.proto
  simapp/app.go
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
  x/zkauth/types/config.go
  x/zkauth/types/config.pb.go
Due: modules

chore: update CHANGELOG
  CHANGELOG.md
Due: none

chore: add comment
  x/zkauth/keeper/keeper.go
Due: modules

fix(x/auth): ensure nil .BaseAccounts are reported in ModuleAccount.Validate (#1274)
  CHANGELOG.md
  x/auth/types/account.go
  x/auth/types/account_test.go
Due: modules

fix: apply review
  x/zkauth/keeper/keeper.go
Due: modules

chore: move validation logic to validate function
  x/collection/genesis.go
  x/collection/keeper/genesis.go
Due: modules

chore: add testcase
  x/collection/genesis_test.go
  x/collection/keeper/genesis_test.go
Due: modules

fix: apply review
  simapp/app.go
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
Due: modules

chore: check if module account successfully created
  x/foundation/keeper/internal/genesis.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: add non-zero check of nextTokenID.Id for genesis (#1276)
  CHANGELOG.md
  x/collection/genesis.go
  x/collection/genesis_test.go
Due: modules

fix: remove unnecessary code
  simapp/app.go
Due: none

chore: fix lint
  x/foundation/keeper/internal/genesis.go
Due: modules

Comment todo
  x/zkauth/ante/zkauth.go
Due: modules

feat: fetch jwk considering goroutine exit (#1280)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/finschia/zkauth/v1beta1/config.proto
  x/zkauth/keeper/keeper.go
  x/zkauth/types/config.go
  x/zkauth/types/config.pb.go
Due: modules

chore: add test
  x/foundation/keeper/internal/genesis_test.go
Due: modules

chore: fix test
  x/foundation/keeper/internal/genesis_test.go
Due: modules

fix: add init logic of module accounts just in case (#1277)
  CHANGELOG.md
  baseapp/block_gas_test.go
  x/foundation/keeper/internal/genesis.go
  x/foundation/keeper/internal/genesis_test.go
Due: app, modules

add nft id validation
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules
