Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

chore: fix typo and add more description
  server/config/toml.go
Due: none

docs: add govmint to x/foundation specification (#748)
  CHANGELOG.md
  x/foundation/README.md
Due: modules

fix: add x/distribution's module account into blockedAddr (#752)
  CHANGELOG.md
  simapp/app.go
  x/bank/keeper/genesis_test.go
  x/bank/simulation/operations_test.go
Due: modules

Add total weight invariant
  x/foundation/keeper/invariants.go
  x/foundation/keeper/invariants_test.go
Due: modules

Remove reverse dependency on stakingplus
  x/foundation/keeper/msg_server_test.go
  x/foundation/msgs_test.go
Due: modules

chore: correct ambiguous sentences
  server/config/config.go
  server/start.go
Due: none

Remove granter
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  x/foundation/event.pb.go
  x/foundation/keeper/grant.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: change to create `chCheckTx` with the value set in app config. (#756)
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  server/config/config.go
  server/config/toml.go
  server/start.go
  simapp/simd/cmd/root.go
Due: app

chore: apply pr review
  CHANGELOG.md
  x/auth/client/testutil/suite.go
Due: modules

fix: get seq number for non-multisig signing (#754)
  CHANGELOG.md
  x/auth/client/cli/tx_sign.go
  x/auth/client/testutil/suite.go
Due: modules

refactor: remove redundant granter from x/foundation events (#757)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  x/foundation/event.pb.go
  x/foundation/keeper/grant.go
Due: modules

feat: add invariants to x/foundation (#758)
  CHANGELOG.md
  simapp/app.go
  x/foundation/client/testutil/grpc.go
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
  x/foundation/keeper/invariants.go
  x/foundation/keeper/invariants_test.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/module/module.go
  x/foundation/msgs_test.go
Due: modules

feat: update wasm files for limit module feature
  go.mod
  go.sum
  x/wasm/testdata/call_number.wasm
  x/wasm/testdata/dynamic_callee_contract.wasm
  x/wasm/testdata/dynamic_caller_contract.wasm
Due: modules

fix: add build norace
  x/foundation/client/testutil/cli_test.go
Due: modules

docs: add changelog
  CHANGELOG.md
Due: none

fix(server): start telemetry independently from the API server
  server/api/server.go
  server/start.go
Due: none

add CHANGELOG
  CHANGELOG.md
Due: none

test: update dynamic_link_test
  x/wasm/dynamic_link_test.go
  x/wasm/testdata/call_number.wasm
  x/wasm/testdata/checksums.txt
  x/wasm/testdata/dynamic_callee_contract.wasm
  x/wasm/testdata/dynamic_caller_contract.wasm
  x/wasm/testdata/number.wasm
Due: modules

fix: use MustAccAddressFromBech32
  x/wasm/keeper/api.go
Due: modules

fix: restore build norace flag (#761)
  CHANGELOG.md
  x/foundation/client/testutil/cli_test.go
Due: modules

docs: release 0.45.0-rc9
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

docs: release 0.45.0-rc9 (#765)
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

docs: fix submit-proposal tx command
  x/foundation/README.md
Due: modules

docs: fix submit-proposal tx command (#766)
  CHANGELOG.md
  x/foundation/README.md
Due: modules

Export pool
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
Due: modules

Guide users to use generate-only for certain cli commands
  x/foundation/client/cli/tx.go
Due: modules

Update x/foundation/client/cli/tx.go
  x/foundation/client/cli/tx.go
Due: modules

fix: export x/foundation pool (#772)
  CHANGELOG.md
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
Due: modules

fix: guide users to use generate only in messages for x/foundation authority (#773)
  CHANGELOG.md
  x/foundation/client/cli/tx.go
Due: modules

build: update wasmvm and contracts for tests
  go.mod
  go.sum
  x/wasm/testdata/call_number.wasm
  x/wasm/testdata/checksums.txt
  x/wasm/testdata/dynamic_callee_contract.wasm
  x/wasm/testdata/dynamic_caller_contract.wasm
  x/wasm/testdata/number.wasm
Due: modules

fix: remove mock from genesis
  simapp/app.go
Due: none

Remove MsgEmpty from proto
  docs/core/proto-docs.md
  proto/cosmos/auth/v1beta1/tx.proto
  x/auth/types/tx.pb.go
Due: none

Remove related logic
  x/auth/client/cli/tx.go
  x/auth/keeper/msg_server.go
  x/auth/module.go
  x/auth/types/codec.go
  x/auth/types/events.go
  x/auth/types/keys.go
  x/auth/types/msgs.go
  x/auth/types/msgs_test.go
Due: modules
