Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

test: add tests on member.go
  x/foundation/foundation.go
  x/foundation/keeper/member.go
  x/foundation/keeper/member_test.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal.go
Due: modules

add some code to see what is the problem.
  client/query_test.go
Due: client

test: add tests on proposal.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/proposal_test.go
Due: modules

test: add tests on treasury.go
  x/foundation/keeper/treasury_test.go
Due: modules

test: reduce actors on member_test.go
  x/foundation/keeper/member_test.go
Due: modules

test: reduce actors on tests
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member.go
  x/foundation/keeper/member_test.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal_test.go
Due: modules

test: add tests on exec.go
  x/foundation/keeper/exec_test.go
  x/foundation/keeper/keeper_test.go
Due: modules

test: add tests on vote.go
  x/foundation/keeper/vote.go
  x/foundation/keeper/vote_test.go
Due: modules

test: use default config in the policy test cases
  x/foundation/keeper/msg_server_test.go
Due: modules

test: add tests on genesis
  x/foundation/foundation.go
  x/foundation/genesis.go
  x/foundation/genesis_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/proposal.go
  x/foundation/msgs.go
Due: modules

feat: add grant to proto
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/authz.proto
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/foundation/v1/genesis.proto
  x/foundation/authz.pb.go
  x/foundation/foundation.pb.go
  x/foundation/genesis.pb.go
Due: none

ci: change automerge conditions of Mergify
  .mergify.yml
Due: none

feat: add authorization feature
  x/foundation/authz.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/keys.go
Due: modules

feat: add index field into TxResponse
  docs/core/proto-docs.md
  proto/lbm/base/abci/v1/abci.proto
  types/abci.pb.go
  types/result.go
  types/result_test.go
Due: none

chore: proto fmt
  docs/core/proto-docs.md
  x/wasm/types/tx.pb.go
Due: none

docs: write changelog
  CHANGELOG.md
Due: none

docs: update swagger
  client/docs/statik/statik.go
Due: client

feat: update grant releated proto
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/foundation/v1/genesis.proto
  proto/lbm/foundation/v1/tx.proto
  x/foundation/event.pb.go
  x/foundation/foundation.pb.go
  x/foundation/genesis.pb.go
  x/foundation/tx.pb.go
Due: none

feat: add grant revoke handlers to msg server
  x/foundation/keeper/grant.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/msg_server.go
  x/foundation/msgs.go
Due: modules

feat: add grant to genesis
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/genesis.proto
  x/foundation/foundation.go
  x/foundation/genesis.pb.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/keys.go
Due: modules

feat: apply authorization check onto withdrawfromtreasury
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
  x/foundation/codec.go
  x/foundation/foundation.go
  x/foundation/genesis.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/msgs.go
Due: modules

fix: change auth name
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/authz.proto
  x/foundation/authz.go
  x/foundation/authz.pb.go
  x/foundation/client/testutil/suite.go
  x/foundation/codec.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/keeper_test.go
Due: modules

feat: add grant tx cli
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
Due: modules

test: add tests on grant
  x/foundation/keeper/msg_server_test.go
Due: modules

fix: replace validator whitelist with grant
  x/foundation/keeper/genesis.go
  x/foundation/keeper/proposal.go
  x/stakingplus/keeper/msg_server.go
  x/stakingplus/types/expected_keepers.go
Due: modules

fix: remove validator auth
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/query.proto
  x/foundation/client/cli/query.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/keeper.go
  x/foundation/keeper/validator.go
  x/foundation/keeper/validator_test.go
  x/foundation/query.pb.go
  x/foundation/query.pb.gw.go
Due: modules, client

feat: add grant query
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/query.proto
  x/foundation/client/cli/query.go
  x/foundation/client/testutil/grpc.go
  x/foundation/client/testutil/query.go
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/grpc_query_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/proposal_test.go
  x/foundation/query.pb.go
  x/foundation/query.pb.gw.go
Due: modules, client

style: lint
  x/foundation/client/cli/query.go
  x/foundation/client/cli/tx.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/proposal.go
Due: modules

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

add unittest for MarshalJSONPB of vestingAccount
  x/auth/vesting/types/vesting_account_test.go
Due: modules

add unittest for MarshalJSONPB of moduleAccount
  x/auth/types/account_test.go
Due: modules

fix BaseVestingAccount UnmarshalJSONPB func
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
Due: modules

ci: change automerge conditions of Mergify (#523)
  .mergify.yml
Due: none

fix: merge conflict error
  go.sum
Due: none

fix: make caller to select granter
  x/foundation/foundation.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/proposal.go
  x/foundation/msgs.go
  x/stakingplus/keeper/msg_server.go
  x/stakingplus/types/expected_keepers.go
Due: modules

style: lint
  x/stakingplus/keeper/msg_server.go
Due: modules

docs: apply renames in the docs
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/foundation.proto
  x/README.md
  x/consortium/spec/03_events.md
  x/consortium/spec/README.md
  x/foundation/foundation.pb.go
  x/foundation/spec/01_concepts.md
  x/foundation/spec/02_state.md
  x/foundation/spec/03_events.md
  x/foundation/spec/04_params.md
  x/foundation/spec/README.md
Due: modules

style: proto lint
  proto/lbm/foundation/v1/event.proto
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/foundation/v1/tx.proto
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
