Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

perf: Speedup to params simulation (#9481)
  x/params/simulation/operations.go
  x/params/simulation/operations_test.go
  x/params/simulation/proposals_test.go
  x/simulation/params.go
Due: modules

feat: add header hash to `Context` (#9390)
  baseapp/abci.go
  types/context.go
Due: app

ci: use title+body for commit message (#9496)
  .mergify.yml
Due: none

fix: testnet cli command update genesis supply (#9497)
  simapp/simd/cmd/testnet.go
  simapp/simd/cmd/testnet_test.go
Due: none

docs: adding documentation writing guidelines (#9366)
  CONTRIBUTING.md
  docs/DOC_WRITING_GUIDELINES.md
Due: none

fix: x/gov deposits querier (Initial Deposit) (#9288)
  x/gov/client/testutil/cli_test.go
  x/gov/client/testutil/deposits.go
  x/gov/client/utils/query.go
Due: modules

feat: grpc-web add CORS handler (#9493)
  server/config/config.go
  server/config/toml.go
  server/grpc/grpc_web.go
Due: none

style: fix lint errors and update lint timeout (#9464)
  .golangci.yml
  docs/DOC_WRITING_GUIDELINES.md
  server/rosetta/lib/errors/errors_test.go
  x/distribution/legacy/v043/helpers.go
Due: modules

fix build
  go.mod
  go.sum
  proto/lbm/upgrade/v1/query.proto
  proto/lbm/upgrade/v1/upgrade.proto
  server/rosetta/client_online.go
  server/rosetta/converter.go
  server/start.go
  simapp/app.go
  simapp/params/proto.go
  simapp/test_helpers.go
  testutil/network/network.go
  x/authz/tx.pb.go
  x/slashing/types/genesis.pb.go
  x/staking/types/staking.pb.go
  x/upgrade/client/cli/query.go
  x/upgrade/client/testutil/suite.go
  x/upgrade/types/upgrade.pb.go
  x/wasm/keeper/test_common.go
Due: modules

fix: query txs command adds output flag (#9540)
  x/auth/client/cli/query.go
Due: modules

feat: Add amino support for x/authz and x/feegrant (#9457)
  x/authz/client/testutil/tx.go
  x/authz/module/module.go
  x/authz/msgs.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
  x/feegrant/msgs.go
Due: modules

fix test
  server/grpc/server_test.go
  x/bank/simulation/operations_test.go
  x/consortium/client/testutil/cli_test.go
  x/feegrant/module/module.go
  x/staking/client/rest/grpc_query_test.go
  x/staking/types/msg.go
  x/upgrade/abci_test.go
  x/upgrade/types/plan_test.go
Due: modules

fix: Staking delegations should return empty list instead of rpc error when no records found (#9423)
  x/staking/client/rest/grpc_query_test.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/grpc_query_test.go
Due: modules

fix: collect all responses from authz/MsgExec (#9538)
  proto/lbm/authz/v1/tx.proto
  x/authz/keeper/keeper.go
  x/authz/keeper/msg_server.go
Due: modules

docs: Add docs for setting store loader (#9526)
  docs/building-modules/upgrade.md
  docs/core/upgrade.md
Due: none

refactor: add util functions to reuse in simulations (#9456)
  x/distribution/simulation/operations.go
  x/gov/simulation/operations.go
  x/simulation/util.go
  x/staking/simulation/operations.go
  x/staking/simulation/operations_test.go
Due: modules

fix: Fix testnet command (#9454)
  simapp/simd/cmd/testnet.go
  types/coin.go
Due: none

revert: Turn staking power reduction into an on-chain param (#9495)
  proto/lbm/staking/v1/staking.proto
  x/staking/client/testutil/suite.go
  x/staking/handler_test.go
  x/staking/keeper/params.go
  x/staking/keeper/val_state_change.go
  x/staking/legacy/v043/store.go
  x/staking/legacy/v043/store_test.go
  x/staking/simulation/genesis.go
  x/staking/simulation/genesis_test.go
  x/staking/types/params.go
Due: modules

fix typo, v0.42 -> v0.43 (#9430)
  x/bank/legacy/v043/store.go
  x/distribution/legacy/v043/store.go
  x/gov/legacy/v043/store.go
  x/slashing/legacy/v043/store.go
Due: modules

test: add test for unpacking interface on validator request (#9391)
  server/grpc/server_test.go
  x/upgrade/client/testutil/suite.go
Due: modules

client: update client error handling to use tx hash from tendermint (#9462)
  client/broadcast.go
Due: client

perf: MsgTypeUrl optimization (#9530)
  types/tx_msg_test.go
Due: none

fix memo flag description (#9436)
  client/flags/flags.go
Due: client

fix: Bank module init genesis optimization (#9428)
  x/bank/keeper/genesis.go
  x/bank/keeper/send.go
Due: modules

fix: set header hash every block (#9552)
  baseapp/abci.go
Due: app

fix sim test
  x/auth/types/account.go
Due: modules

fix lint
  baseapp/iostats_nop.go
  crypto/keyring/keyring.go
  crypto/keys/secp256k1/secp256k1_nocgo.go
  crypto/ledger/ledger_notavail.go
  simapp/helpers/test_helpers.go
  x/auth/keeper/migrations.go
  x/auth/tx/xauthclient.go
  x/bank/module.go
  x/bank/types/balance.go
  x/distribution/legacy/v043/helpers.go
  x/slashing/client/cli/tx.go
  x/staking/client/cli/tx.go
  x/staking/keeper/val_state_change.go
  x/staking/legacy/v043/store.go
  x/upgrade/client/testutil/suite.go
  x/upgrade/keeper/keeper.go
  x/wasm/client/cli/genesis_msg.go
Due: app, modules

fix test
  client/keys/add.go
  client/keys/add_test.go
  client/keys/root_test.go
  crypto/keys/multisig/multisig_test.go
  server/grpc/gogoreflection/fix_registration.go
  simapp/app.go
  simapp/helpers/test_helpers.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/send.go
  x/bank/legacy/v043/json_test.go
  x/bank/simulation/operations_test.go
  x/feegrant/filtered_fee_test.go
  x/feegrant/simulation/operations_test.go
  x/gov/keeper/grpc_query_test.go
  x/slashing/client/cli/query.go
  x/upgrade/abci_test.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/types/plan_test.go
Due: modules, client

fix proto swagger-docs diff test
  .github/workflows/proto.yml
Due: none
