Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

chore: format source files in x/wasm dir
  x/wasm/dynamic_link_test.go
  x/wasm/keeper/bench_test.go
  x/wasm/keeper/test_common.go
  x/wasm/simulation/operations.go
  x/wasm/types/types.go
Due: modules

doc: update CHANGELOG
  CHANGELOG.md
Due: none

Fix integrated tests
  x/collection/client/cli/tx.go
  x/collection/client/testutil/query.go
  x/collection/client/testutil/suite.go
  x/collection/client/testutil/tx.go
  x/token/client/testutil/suite.go
  x/token/keeper/msg_server.go
Due: modules

Expose class keeper
  simapp/app.go
Due: none

Lint
  x/token/client/testutil/suite.go
Due: modules

Update addCoins() return type
  x/collection/keeper/nft.go
  x/collection/keeper/send.go
Due: modules

Shift link codespace error codes
  types/errors/link.go
Due: none

Add test for ErrTokenNotExist
  x/collection/keeper/keeper_test.go
  x/token/keeper/keeper_test.go
  x/token/tx.pb.go
Due: modules

Change to panic because the path is unreachable
  x/collection/keeper/msg_server.go
Due: modules

Add not a child case into Detach test
  x/collection/keeper/msg_server_test.go
Due: modules

Expose ValidateLegacyContract()
  x/collection/keeper/keeper.go
  x/collection/keeper/msg_server.go
  x/token/keeper/keeper.go
  x/token/keeper/msg_server.go
Due: modules

Add amount validation
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

Shift token codespace error codes
  x/token/errors.go
Due: none

fix!: Fix foundation amino codec (#833)
  CHANGELOG.md
  x/auth/types/codec.go
  x/auth/vesting/types/codec.go
  x/authz/codec.go
  x/bank/types/codec.go
  x/collection/codec.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/evidence/types/codec.go
  x/feegrant/codec.go
  x/foundation/codec.go
  x/foundation/codec/cdc.go
  x/foundation/msgs.go
  x/gov/types/codec.go
  x/slashing/types/codec.go
  x/staking/types/codec.go
  x/stakingplus/codec.go
  x/token/codec.go
  x/upgrade/types/codec.go
  x/wasm/lbmtypes/codec.go
  x/wasm/types/codec.go
Due: modules

implement auto-release make command
  Makefile
Due: none

migrate auto-release docker image to line/goreleaserx
  .github/workflows/tag.yml
  Dockerfile.release
Due: none

add `perf` prefix for goreleaser filter
  .goreleaser.yml
Due: none

docs: add commit convention to CONTRIBUTING
  CONTRIBUTING.md
Due: none

update goreleaserx image
  .github/workflows/tag.yml
Due: none

ci: automate release process (#829)
  .github/workflows/tag.yml
  .goreleaser.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
Due: none

take checkState CMS when `x-lbm-checkstate` header is specified
  baseapp/abci.go
  baseapp/grpcserver.go
  types/grpc/headers.go
Due: app

fix: parse nodeID correctly
  init_node.sh
Due: none

fix: apply foundation audit (#834)
  CHANGELOG.md
  x/foundation/authz_test.go
  x/foundation/foundation_test.go
  x/foundation/genesis.go
  x/foundation/keeper/abci_test.go
  x/foundation/keeper/invariants.go
  x/foundation/keeper/invariants_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/msgs_test.go
Due: modules

add latest height case
  baseapp/grpcserver.go
Due: app

build: update depended wasmvm's hash
  go.mod
  go.sum
Due: none

chore: add changelog
  CHANGELOG.md
Due: none

chore: change prefix in changelog
  CHANGELOG.md
Due: none

add an integration test to validate logics
  server/grpc/server_test.go
Due: none

add CHANGELOG
  CHANGELOG.md
Due: none

refactor: refactor x/wasm/keeper/api.go
  x/wasm/keeper/api.go
Due: modules

test: add test for x/wasm/keeper/api.go
  x/wasm/keeper/api_test.go
Due: modules

chore: go fmt
  x/wasm/keeper/api.go
  x/wasm/keeper/api_test.go
Due: modules

fix: fix a gas value in a test
  x/wasm/keeper/keeper_test.go
Due: modules

feat(x/foundation): update changelog with pr number
  CHANGELOG.md
Due: none

chore: comment out wasm module in lbm-sdk's simapp
  simapp/app.go
  simapp/simd/cmd/root.go
  simapp/test_access.go
  simapp/test_helpers.go
Due: none

chore: comment out wasm module in lbm-sdk's simapp
  baseapp/block_gas_test.go
  server/export_test.go
  simapp/simd/cmd/root.go
  store/rootmulti/rollback_test.go
  testutil/network/network.go
  x/capability/genesis_test.go
  x/gov/genesis_test.go
  x/ibc/applications/27-interchain-accounts/module_test.go
  x/ibc/testing/app.go
  x/upgrade/abci_test.go
Due: app, modules

refactor(x/attendance): make govMintKey deprecate
  x/foundation/keeper/keys.go
Due: modules

refactor(x/foundation): fix for lint ci of unused variable(which is deprecated)
  x/foundation/keeper/keys.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
