Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix: use returned error
  x/collection/keeper/grpc_query.go
Due: modules

lint: use literal to avoid false negative
  x/collection/keeper/nft.go
Due: modules

chore: remove unimplemented logics
  x/collection/module/module.go
Due: none

chore: remove unused id logic and deprecate old ones
  x/collection/msgs.go
Due: modules

feat: add a validation on params
  x/collection/collection.go
  x/collection/genesis.go
Due: modules

feat: add telemetry on account creation
  x/collection/keeper/keeper.go
  x/collection/keeper/send.go
  x/collection/keeper/supply.go
Due: modules

fix: fix naming collision in x/token enums (#589)
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/token.proto
  proto/lbm/token/v1/tx.proto
  x/token/client/cli/query.go
  x/token/client/cli/tx.go
  x/token/client/testutil/cli_test.go
  x/token/client/testutil/query.go
  x/token/client/testutil/suite.go
  x/token/client/testutil/tx.go
  x/token/event.go
  x/token/event.pb.go
  x/token/genesis.go
  x/token/genesis_test.go
  x/token/keeper/alias.go
  x/token/keeper/genesis.go
  x/token/keeper/genesis_test.go
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
  x/token/keeper/keeper_test.go
  x/token/keeper/msg_server.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/token/query.pb.go
  x/token/query.pb.gw.go
  x/token/token.go
  x/token/token.pb.go
  x/token/tx.pb.go
  x/token/validation.go
Due: modules, client

test: add tests on event.go
  x/token/event.go
  x/token/event_test.go
Due: modules

fix: fix the order of events
  x/token/keeper/msg_server.go
  x/token/keeper/supply.go
Due: modules

chore: compile protos
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  x/collection/collection.pb.go
  x/collection/event.pb.go
  x/collection/genesis.pb.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
  x/collection/tx.pb.go
Due: client

feat: define Coin and Coins
  x/collection/collection.go
Due: modules

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: add x/collection proto (#571)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/genesis.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/collection.go
  x/collection/collection.pb.go
  x/collection/event.pb.go
  x/collection/genesis.pb.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
  x/collection/tx.pb.go
Due: modules

style: use variable name other than 'new'
  x/collection/event.go
Due: modules

style: use variable name other than 'name'
  x/token/event.go
Due: modules

feat: change amino codec path from `lbm-sdk/` to `cosmos-sdk/`
  baseapp/baseapp_test.go
  codec/amino_codec_test.go
  types/rest/rest_test.go
  x/auth/client/tx_test.go
  x/auth/legacy/legacytx/codec.go
  x/auth/legacy/legacytx/config_test.go
  x/auth/legacy/legacytx/stdtx_test.go
  x/auth/signing/verify_test.go
  x/auth/types/codec.go
  x/auth/types/msgs_test.go
  x/auth/vesting/types/codec.go
  x/bank/types/codec.go
  x/bank/types/msgs_test.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/distribution/types/proposal.go
  x/evidence/types/codec.go
  x/gov/types/codec.go
  x/gov/types/msgs_test.go
  x/ibc/applications/transfer/types/codec.go
  x/ibc/applications/transfer/types/msgs_test.go
  x/params/types/proposal/codec.go
  x/params/types/proposal/proposal.go
  x/slashing/types/codec.go
  x/slashing/types/msg_test.go
  x/staking/types/codec.go
  x/upgrade/types/codec.go
  x/upgrade/types/proposal.go
  x/wasm/types/proposal_test.go
Due: app, modules

fix: tidy up x/foundation (#597)
  CHANGELOG.md
  x/foundation/authz_test.go
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
  x/foundation/foundation.go
  x/foundation/foundation_test.go
  x/foundation/genesis_test.go
  x/foundation/keeper/abci_test.go
  x/foundation/keeper/exec.go
  x/foundation/keeper/exec_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/grant_test.go
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/handler.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member.go
  x/foundation/keeper/member_test.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/proposal_test.go
  x/foundation/keeper/treasury_test.go
  x/foundation/keeper/vote.go
  x/foundation/keeper/vote_test.go
  x/foundation/msgs_test.go
  x/foundation/proposal.go
  x/foundation/proposal_test.go
Due: modules

test(x/wasm): add integration tests for dynamic call (#590)
  CHANGELOG.md
  go.mod
  go.sum
  x/wasm/dynamic_link_test.go
  x/wasm/testdata/call_number.wasm
  x/wasm/testdata/checksums.txt
  x/wasm/testdata/dynamic_callee_contract.wasm
  x/wasm/testdata/dynamic_caller_contract.wasm
  x/wasm/testdata/number.wasm
Due: modules

feat: implement x/collection (#574)
  .golangci.yml
  CHANGELOG.md
  simapp/app.go
  x/collection/client/cli/query.go
  x/collection/client/cli/tx.go
  x/collection/client/testutil/cli_test.go
  x/collection/client/testutil/query.go
  x/collection/client/testutil/suite.go
  x/collection/client/testutil/tx.go
  x/collection/codec.go
  x/collection/collection.go
  x/collection/collection_test.go
  x/collection/event.go
  x/collection/event_test.go
  x/collection/expected_keepers.go
  x/collection/genesis.go
  x/collection/genesis_test.go
  x/collection/keeper/alias.go
  x/collection/keeper/genesis.go
  x/collection/keeper/genesis_test.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keeper.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/keys.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/nft_test.go
  x/collection/keeper/param.go
  x/collection/keeper/send.go
  x/collection/keeper/send_test.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/keys.go
  x/collection/module/module.go
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

fix a few trivial diff
  store/rootmulti/store.go
  x/capability/keeper/keeper.go
Due: modules

Fix test of address on x/wasm
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/types/keys_test.go
  x/wasm/types/proposal_test.go
  x/wasm/types/test_fixtures.go
Due: modules

chore: add changelog.
  CHANGELOG.md
Due: none

Fix test error of address validation on x/wasm
  x/wasm/types/tx_test.go
Due: modules

Fix error test of gas on x/wasm
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/recurse_test.go
  x/wasm/keeper/relay_test.go
  x/wasm/keeper/submsg_test.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix ibc relay test error on x/wasm
  x/wasm/keeper/relay_test.go
Due: modules

Revert the wrong remove of UpdateContractStatusProposal
  x/wasm/keeper/proposal_handler.go
Due: modules

Fix the wrong error handling
  x/wasm/keeper/proposal_handler.go
Due: modules

feat: change amino codec path from `lbm-sdk/` to `cosmos-sdk/` (#600)
  CHANGELOG.md
  baseapp/baseapp_test.go
  codec/amino_codec_test.go
  types/rest/rest_test.go
  x/auth/client/tx_test.go
  x/auth/legacy/legacytx/codec.go
  x/auth/legacy/legacytx/config_test.go
  x/auth/legacy/legacytx/stdtx_test.go
  x/auth/signing/verify_test.go
  x/auth/types/codec.go
  x/auth/types/msgs_test.go
  x/auth/vesting/types/codec.go
  x/bank/types/codec.go
  x/bank/types/msgs_test.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/distribution/types/proposal.go
  x/evidence/types/codec.go
  x/gov/types/codec.go
  x/gov/types/msgs_test.go
  x/ibc/applications/transfer/types/codec.go
  x/ibc/applications/transfer/types/msgs_test.go
  x/params/types/proposal/codec.go
  x/params/types/proposal/proposal.go
  x/slashing/types/codec.go
  x/slashing/types/msg_test.go
  x/staking/types/codec.go
  x/upgrade/types/codec.go
  x/upgrade/types/proposal.go
  x/wasm/types/proposal_test.go
Due: app, modules

fix: Delete panic in GetSigners()
  x/token/msgs.go
  x/token/msgs_test.go
Due: modules

Remove prefetch functionality (#596)
  baseapp/abci.go
  baseapp/grpcrouter.go
  server/mock/store.go
  server/mock/store_test.go
  simapp/ante_handler.go
  store/cachekv/store.go
  store/cachekv/store_test.go
  store/cachemulti/store.go
  store/dbadapter/store.go
  store/dbadapter/store_test.go
  store/gaskv/store.go
  store/gaskv/store_test.go
  store/iavl/metrics.go
  store/iavl/prefetch.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/listenkv/store.go
  store/prefix/store.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/tracekv/store.go
  store/tracekv/store_test.go
  store/types/store.go
  x/auth/ante/ante.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/keeper/account.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/types/expected_keepers.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/view.go
  x/bank/types/expected_keepers.go
  x/feegrant/expected_keepers.go
  x/gov/types/expected_keepers.go
Due: app, modules

perf: remove iavl cache manager
  baseapp/options.go
  baseapp/options_test.go
  server/mock/store.go
  server/mock/store_test.go
  simapp/simd/cmd/root.go
  store/iavl/cache.go
  store/iavl/cache_test.go
  store/iavl/metrics.go
  store/iavl/metrics_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/types/iterator_test.go
  store/types/store.go
Due: app

fix: Modify test
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/submsg_test.go
Due: modules

Fix the GetSigners func in x/auth
  x/auth/types/msgs.go
  x/auth/types/msgs_test.go
Due: modules

build: remove freecache from go.mod
  go.mod
  go.sum
Due: none

chore: add change log to CHANGELOG.md
  CHANGELOG.md
Due: none

Add bytes package
  x/auth/types/account.go
Due: modules

Revert "perf: remove iavl cache manager"
  baseapp/options.go
  baseapp/options_test.go
  server/mock/store.go
  server/mock/store_test.go
  simapp/simd/cmd/root.go
  store/iavl/cache.go
  store/iavl/cache_test.go
  store/iavl/metrics.go
  store/iavl/metrics_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/types/iterator_test.go
  store/types/store.go
Due: app

Remove prefetch functionality (#596)
  baseapp/abci.go
  baseapp/grpcrouter.go
  server/mock/store.go
  server/mock/store_test.go
  simapp/ante_handler.go
  store/cachekv/store.go
  store/cachekv/store_test.go
  store/cachemulti/store.go
  store/dbadapter/store.go
  store/dbadapter/store_test.go
  store/gaskv/store.go
  store/gaskv/store_test.go
  store/iavl/metrics.go
  store/iavl/prefetch.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/listenkv/store.go
  store/prefix/store.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/tracekv/store.go
  store/tracekv/store_test.go
  store/types/store.go
  x/auth/ante/ante.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/keeper/account.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/types/expected_keepers.go
  x/bank/keeper/view.go
  x/bank/types/expected_keepers.go
  x/feegrant/expected_keepers.go
  x/gov/types/expected_keepers.go
Due: app, modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
