Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat: remove time-based upgrade (#889)
  CHANGELOG.md
  x/upgrade/abci_test.go
  x/upgrade/client/cli/tx.go
  x/upgrade/doc.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/spec/01_concepts.md
  x/upgrade/spec/README.md
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
  x/upgrade/types/proposal_test.go
Due: modules

Map Ostracon:ErrTxInMap to lbm-sdk:ErrTxInMempoolCache (#890)
  CHANGELOG.md
  client/broadcast.go
  client/broadcast_test.go
Due: client

chore: modify error messages.
  x/auth/tx/service.go
  x/auth/tx/service_test.go
Due: modules

fix: lint warning
  types/result.go
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

Change the default params
  x/collection/client/testutil/suite.go
  x/collection/genesis.go
  x/collection/keeper/genesis.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft_test.go
  x/collection/keeper/param.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Lint
  x/collection/client/testutil/suite.go
  x/collection/keeper/keeper_test.go
Due: modules

Remove max gas validation
  baseapp/abci.go
  x/auth/ante/setup.go
  x/auth/ante/setup_test.go
Due: app, modules

fix: change the default params of x/collection (#894)
  CHANGELOG.md
  x/collection/client/testutil/suite.go
  x/collection/genesis.go
  x/collection/keeper/genesis.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft_test.go
  x/collection/keeper/param.go
Due: modules

fix: remove max gas validation (#895)
  CHANGELOG.md
  baseapp/abci.go
  x/auth/ante/setup.go
  x/auth/ante/setup_test.go
Due: app, modules

chore: release v0.47.0-alpha1
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

chore: release v0.47.0-alpha1 (#897)
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

chore: add changelog.
  CHANGELOG.md
Due: none

add more (arch, OS)
  .goreleaser.yaml
  Makefile
Due: none

build: update goreleaser config for cross-build
  .goreleaser.yaml
Due: none

Add uri to x/token
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/tx.proto
  x/token/event.pb.go
  x/token/genesis.go
  x/token/msgs.go
  x/token/tx.pb.go
  x/token/validation.go
Due: modules

Add tests
  x/token/msgs_test.go
Due: modules

Add tests
  x/collection/msgs_test.go
Due: modules

Add uri to x/collection
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/event.pb.go
  x/collection/genesis.go
  x/collection/msgs.go
  x/collection/tx.pb.go
Due: modules

remove useless cmd & config related to wasm
  .github/workflows/tag.yml
  Makefile
Due: none

add multi-arch config to generate bins
  .goreleaser.yml
Due: none

add CHANGELOG
  CHANGELOG.md
Due: none

change default releaser image
  Makefile
Due: none

remove wasm-binding in Dockerfile
  Dockerfile
Due: none

remove wasm config in simapp
  simapp/simd/cmd/root.go
  simapp/test_helpers.go
Due: none

change goreleaser default image
  .github/workflows/tag.yml
  Makefile
Due: none

Emit both old and new change
  x/collection/event.go
  x/collection/keeper/msg_server.go
  x/token/event.go
  x/token/keeper/supply.go
Due: modules

Add tests
  x/collection/event_test.go
  x/token/event_test.go
Due: modules

build: update release pipeline to match non-wasm env (#901)
  .github/workflows/tag.yml
  .goreleaser.yml
  CHANGELOG.md
  Dockerfile
  Makefile
  simapp/simd/cmd/root.go
  simapp/test_helpers.go
Due: none

go fmt
  baseapp/testutil/messages.pb.go
  client/context.go
  crypto/keys/secp256k1/internal/secp256k1/curve.go
  types/query/pagination.pb.go
  types/result.go
  x/authz/codec/doc.go
  x/bankplus/keeper/inactive.go
  x/distribution/types/distribution.pb.go
  x/foundation/foundation.pb.go
  x/simulation/doc.go
Due: app, modules, client

feat: update wasmvm (to be replaced)
  go.mod
  go.sum
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
