Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

test: fix test
  x/wasm/dynamic_link_test.go
  x/wasm/keeper/api_test.go
  x/wasm/keeper/recurse_test.go
Due: modules

fix: remove Iterator and reverseIterator
  x/wasm/types/store.go
Due: modules

build: update release pipeline to match non-wasm env (#901)
  .github/workflows/tag.yml
  .goreleaser.yml
  CHANGELOG.md
  Dockerfile
  Makefile
  simapp/simd/cmd/root.go
  simapp/test_helpers.go
Due: none

chore: typos (#857)
  README.md
  baseapp/testutil/messages.pb.go
  client/context.go
  crypto/keys/secp256k1/internal/secp256k1/curve.go
  store/types/listening.go
  types/query/pagination.pb.go
  x/distribution/types/distribution.pb.go
  x/foundation/foundation.pb.go
Due: app, client

fix: add missing Command(collection module's TxCmdModify) (#911)
  CHANGELOG.md
  x/collection/client/cli/tx.go
Due: modules

feat: add "uri" for MsgModify and deprecate the old ones (#900)
  CHANGELOG.md
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/tx.proto
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/tx.proto
  x/collection/event.pb.go
  x/collection/genesis.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/collection/tx.pb.go
  x/token/event.pb.go
  x/token/genesis.go
  x/token/keeper/msg_server.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/token/tx.pb.go
  x/token/validation.go
Due: modules

deprecate block mode in proto (#923)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/cosmos/tx/v1beta1/service.proto
  types/tx/service.pb.go
Due: none

fix: propagate events in x/foundation through sdk.Results (#922)
  CHANGELOG.md
  x/foundation/keeper/exec.go
Due: modules

docs: update permlinks in x/foundation documents (#934)
  CHANGELOG.md
  x/foundation/README.md
Due: modules

Add log into x/collection import
  x/collection/keeper/genesis.go
  x/collection/keeper/keeper.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: bump up ostracon version to v1.0.9 (backport #939)
  go.mod
  go.sum
Due: none

chore: add progress log into x/collection import-genesis (#938)
  CHANGELOG.md
  x/collection/keeper/genesis.go
  x/collection/keeper/keeper.go
Due: modules

Sort removed urls in update params
  x/foundation/keeper/params.go
Due: modules

Lint
  x/foundation/keeper/params.go
Due: modules

Update x/foundation/keeper/params.go
  x/foundation/keeper/params.go
Due: modules

Update comments in the events proto
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  proto/lbm/token/v1/event.proto
  x/collection/event.pb.go
  x/token/event.pb.go
Due: none

docs: update comments in the x/token,collection events proto (#944)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  proto/lbm/token/v1/event.proto
  x/collection/event.pb.go
  x/token/event.pb.go
Due: none

fix: sort removed urls in x/foundation Msg/UpdateParams (#943)
  CHANGELOG.md
  x/foundation/keeper/params.go
Due: modules

TruncateDecimal first
  x/foundation/keeper/internal/treasury.go
Due: modules

Refactor CollectFoundationTax
  x/foundation/expected_keepers.go
  x/foundation/keeper/internal/abci.go
  x/foundation/keeper/internal/treasury.go
Due: modules

Update tests
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/treasury_test.go
Due: modules

Refactor tests
  x/foundation/keeper/internal/keeper_test.go
Due: modules

Apply feedbacks on the PR
  x/foundation/keeper/internal/treasury.go
Due: modules

Revert the changes in CollectFoundationTax's signature
  x/foundation/keeper/internal/abci.go
  x/foundation/keeper/internal/treasury.go
Due: modules

Ensure the behavior does not change
  x/foundation/keeper/internal/abci_test.go
Due: modules

fix: fix broken x/foundation invariant on treasury (#946)
  CHANGELOG.md
  x/foundation/expected_keepers.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/treasury.go
  x/foundation/keeper/internal/treasury_test.go
Due: modules

Unpack proposals in genesis
  x/foundation/genesis.go
Due: modules

Add tests
  x/foundation/genesis_test.go
Due: modules

Chore
  x/foundation/genesis_test.go
Due: modules

fix: unpack proposals in x/foundation import-genesis (#947)
  CHANGELOG.md
  x/foundation/genesis.go
  x/foundation/genesis_test.go
Due: modules
