Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

fix: bls build failure on arm
  .github/workflows/test.yml
Due: none

perf: internal objects optimization (BaseAccount, Balance & Supply)
  docs/core/proto-docs.md
  proto/lfb/auth/v1beta1/auth.proto
  proto/lfb/gov/v1beta1/gov.proto
  proto/lfb/staking/v1beta1/tx.proto
  x/auth/keeper/keeper.go
  x/auth/types/account.go
  x/auth/types/auth.pb.go
  x/bank/exported/exported.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/types/supply.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/submsg_test.go
  x/wasm/types/genesis.pb.go
  x/wasm/types/ibc.pb.go
  x/wasm/types/proposal.pb.go
  x/wasm/types/query.pb.go
  x/wasm/types/query.pb.gw.go
  x/wasm/types/tx.pb.go
  x/wasm/types/types.pb.go
Due: modules

docs: modify changelog
  CHANGELOG.md
Due: none

fix: changelog
  CHANGELOG.md
Due: none

fix: apply comment
  proto/lbm/auth/v1beta1/auth.proto
  x/auth/types/auth.pb.go
Due: none

perf: internal objects optimization (BaseAccount, Balance & Supply) (#320)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/auth/v1beta1/auth.proto
  proto/lbm/gov/v1beta1/gov.proto
  proto/lbm/staking/v1beta1/tx.proto
  x/auth/keeper/keeper.go
  x/auth/types/account.go
  x/auth/types/auth.pb.go
  x/bank/exported/exported.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/types/supply.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/submsg_test.go
Due: modules

test: enable race test
  .github/workflows/test.yml
Due: none

test: enable sim test
  .github/workflows/sims.yml
Due: none

fix: implement MarshalJSONPB
  x/auth/vesting/types/vesting_account.go
Due: modules

fix: BaseAccount marshal/unmarshal
  x/auth/types/account.go
  x/auth/types/account_test.go
  x/auth/vesting/types/vesting_account.go
Due: modules

docs: update quick start guide
  README.md
Due: none

fix: remove param store cache, fix consensus param
  baseapp/baseapp.go
  x/params/types/subspace.go
  x/params/types/subspace_test.go
  x/params/types/table.go
Due: app, modules

fix: distribution key bug
  x/distribution/types/keys.go
Due: modules

fix: lint errors
  x/distribution/types/keys.go
  x/params/types/table.go
Due: modules

fix: modify random param
  x/auth/simulation/genesis.go
Due: modules

test: disable cosmovisor test
  .github/workflows/test.yml
Due: none

fix: address conversion bug
  x/distribution/keeper/hooks.go
  x/slashing/keeper/hooks.go
Due: modules

docs: fix markdown check failures
  docs/core/proto-docs.md
Due: none

test: fix action script of sim test
  .github/workflows/sims.yml
Due: none

test: remove an env for private repo
  .github/workflows/sims.yml
Due: none

docs: update quick start guide (#328)
  README.md
Due: none

test: fix action script typo
  .github/workflows/sims.yml
Due: none

fix: test failure
  types/handler_test.go
Due: none

fix: apply comment
  x/auth/types/account.go
Due: modules

chore: fix lint error
  x/auth/types/account.go
Due: modules

test: enable sim test, race test (#326)
  .github/workflows/sims.yml
  .github/workflows/test.yml
  baseapp/baseapp.go
  docs/core/proto-docs.md
  x/auth/simulation/genesis.go
  x/auth/types/account.go
  x/auth/types/account_test.go
  x/auth/vesting/types/vesting_account.go
  x/distribution/keeper/hooks.go
  x/distribution/types/keys.go
  x/params/types/subspace.go
  x/params/types/subspace_test.go
  x/params/types/table.go
  x/slashing/keeper/hooks.go
Due: app, modules

chore: local multi node setting
  README.md
  init_node.sh
Due: none

build(wasm): bump up wasmvm to v0.14.0-0.7.0
  go.mod
  go.sum
Due: none

update go.sum(go mod tidy)
  go.sum
Due: none

clean modcache
  .github/workflows/sims.yml
Due: none

build: fix proto lint error
  Makefile
  buf.work.yaml
  client/grpc/tmservice/query.pb.go
  proto/buf.yaml
  proto/ibc/core/client/v1/tx.proto
  proto/lbm/auth/v1/tx.proto
  proto/lbm/base/ostracon/v1/query.proto
  proto/lbm/tx/v1/service.proto
  third_party/proto/buf.yaml
  types/tx/service.pb.go
  x/auth/types/tx.pb.go
  x/ibc/core/02-client/types/tx.pb.go
Due: client

docs: local multi node readme
  README.md
  init_node.sh
Due: none
