Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 40
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

chore: refactor MsgMakeSwapProposal -> MsgSetSwap
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/fswap.proto
  proto/lbm/fswap/v1/tx.proto
  x/fswap/client/cli/tx.go
  x/fswap/codec/codec.go
  x/fswap/keeper/msg_server.go
  x/fswap/types/codec.go
  x/fswap/types/fswap.go
  x/fswap/types/fswap.pb.go
  x/fswap/types/msgs.go
  x/fswap/types/tx.pb.go
Due: modules

update related deps
  go.mod
  go.sum
Due: none

chore: clean-up
  x/fswap/client/cli/tx.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/keeper/msg_server.go
  x/fswap/keeper/msg_server_test.go
  x/fswap/keeper/proposal.go
  x/fswap/keeper/proposal_test.go
Due: modules

chore: use original proto stringer interface
  proto/lbm/fswap/v1/tx.proto
  x/fswap/types/msgs.go
  x/fswap/types/tx.pb.go
Due: modules

chore: remove unused proto annotations
  proto/lbm/fswap/v1/fswap.proto
  x/fswap/types/fswap.go
  x/fswap/types/fswap.pb.go
Due: modules

chore: allow gov and foundation as authority address
  x/fswap/keeper/keeper.go
  x/fswap/types/genesis.go
Due: modules

chore: lint fix
  x/fswap/types/msgs.go
Due: modules

chore: remove redundant part
  x/fswap/keeper/keeper.go
Due: modules

chore: update changelog
  CHANGELOG.md
Due: none

feat: support message based proposals (#1372)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/fswap.proto
  proto/lbm/fswap/v1/tx.proto
  simapp/app.go
  x/fswap/client/cli/tx.go
  x/fswap/client/proposal_handler.go
  x/fswap/codec/codec.go
  x/fswap/handler.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/keeper/msg_server.go
  x/fswap/keeper/msg_server_test.go
  x/fswap/keeper/proposal.go
  x/fswap/keeper/proposal_test.go
  x/fswap/proposal_handler_test.go
  x/fswap/types/codec.go
  x/fswap/types/fswap.go
  x/fswap/types/fswap.pb.go
  x/fswap/types/genesis.go
  x/fswap/types/msgs.go
  x/fswap/types/proposal.go
  x/fswap/types/tx.pb.go
Due: modules

feat: support message based proposals (#1372)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/fswap.proto
  proto/lbm/fswap/v1/tx.proto
  simapp/app.go
  x/fswap/client/cli/tx.go
  x/fswap/client/proposal_handler.go
  x/fswap/codec/codec.go
  x/fswap/handler.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/keeper/msg_server.go
  x/fswap/keeper/msg_server_test.go
  x/fswap/keeper/proposal_test.go
  x/fswap/proposal_handler_test.go
  x/fswap/types/codec.go
  x/fswap/types/fswap.go
  x/fswap/types/fswap.pb.go
  x/fswap/types/genesis.go
  x/fswap/types/msgs.go
  x/fswap/types/proposal.go
  x/fswap/types/tx.pb.go
Due: modules

chore: fix conflict
  x/fswap/keeper/proposal.go
Due: modules

fix conflict
  .github/workflows/lint.yml
Due: none

chore: add logic validation & tests
  Makefile
  x/fswap/keeper/expected_keepers.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/testutil/expected_keepers_mocks.go
Due: modules

fix: does not support fswap and fbridge amino bug
  x/fbridge/types/codec.go
  x/fbridge/types/msgs.go
  x/fswap/types/msgs.go
Due: modules

chore: update swagger for fbridge
  client/docs/swagger-ui/swagger.yaml
Due: client

chore: add unittest for amino msg.
  x/fbridge/module/module.go
  x/fbridge/types/keys.go
  x/fbridge/types/msgs.go
  x/fbridge/types/msgs_test.go
  x/fswap/types/keys.go
  x/fswap/types/msgs.go
  x/fswap/types/msgs_test.go
Due: modules

chore: add unittest for amino msg.
  x/fbridge/types/msgs_test.go
Due: modules

fix: add missing router register
  x/fswap/module.go
Due: none

Fix bug where amino is not supported in fswap and fbridge (#1378)
  CHANGELOG.md
  client/docs/swagger-ui/swagger.yaml
  x/fbridge/module/module.go
  x/fbridge/types/codec.go
  x/fbridge/types/keys.go
  x/fbridge/types/msgs.go
  x/fbridge/types/msgs_test.go
  x/fswap/types/keys.go
  x/fswap/types/msgs.go
  x/fswap/types/msgs_test.go
Due: modules, client

chore: lint fix
  crypto/keys/multisig/codec.go
  x/fswap/keeper/keeper.go
Due: modules

chore: lint fix
  crypto/keys/multisig/codec.go
Due: none

fix: add missing router registration (#1379)
  CHANGELOG.md
  x/fswap/keeper/keeper.go
  x/fswap/module.go
Due: modules

fix: add missing router registration (#1379)
  CHANGELOG.md
Due: none

chore: fix changelog
  CHANGELOG.md
Due: none

test: add genesisState tests
  x/fswap/keeper/genesis_test.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis_test.go
Due: modules

chore: update CHANGLOG.md
  CHANGELOG.md
Due: none

chore: fix lint
  x/fswap/keeper/keeper_test.go
  x/fswap/types/genesis_test.go
Due: modules

chore: add newKeeper test
  simapp/app.go
  x/fswap/keeper/expected_keepers.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/module.go
  x/fswap/testutil/expected_keepers_mocks.go
Due: modules

fix: fix for comment
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: missing event emissions(EventSetSwap, EventAddDenomMetadata)
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/event.proto
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/types/event.pb.go
Due: modules
