Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix: fetch a failed proposal tally from proposal.FinalTallyResult in the gprc query (#1304)
  CHANGELOG.md
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
Due: modules

fix: add validation for potential slashing evasion during re-delegation (#1306)
  CHANGELOG.md
  simapp/app.go
  x/slashing/keeper/slash_redelegation_test.go
  x/staking/keeper/slash.go
Due: modules

fix(client/keys): don't return when key not found in keys delete (#18562)
  client/keys/delete.go
  client/keys/delete_test.go
Due: client

chore: update CHANGLOG.md
  CHANGELOG.md
Due: none

Replace IsEqual with Equal
  simapp/test_helpers.go
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  types/dec_coin_test.go
  x/auth/legacy/v043/store_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/genesis.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/invariants.go
  x/bank/keeper/querier_test.go
  x/bank/types/genesis.go
  x/bank/types/msgs.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/invariants.go
  x/foundation/keeper/internal/invariants.go
  x/gov/abci_test.go
  x/gov/genesis.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/invariants.go
  x/gov/types/params.go
  x/mint/types/minter_test.go
  x/staking/genesis.go
  x/staking/types/msg_test.go
Due: modules

Update CHANGELOG
  CHANGELOG.md
Due: none

fix: ignore error when key not found in keys delete (#1312)
  CHANGELOG.md
  client/keys/delete.go
  client/keys/delete_test.go
Due: client

fix: replace IsEqual with Equal (#1314)
  CHANGELOG.md
  simapp/test_helpers.go
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  types/dec_coin_test.go
  x/auth/legacy/v043/store_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/genesis.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/invariants.go
  x/bank/keeper/querier_test.go
  x/bank/types/genesis.go
  x/bank/types/msgs.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/invariants.go
  x/foundation/keeper/internal/invariants.go
  x/gov/abci_test.go
  x/gov/genesis.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/invariants.go
  x/gov/types/params.go
  x/mint/types/minter_test.go
  x/staking/genesis.go
  x/staking/types/msg_test.go
Due: modules

fix: app-hash mismatch if upgrade migration commit is interrupted(backport cosmos/cosmos-sdk#13530) (#1310)
  CHANGELOG.md
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Due: none

fix: correctly coalesce coins even with repeated denominations
  client/keys/delete.go
  client/keys/delete_test.go
  simapp/test_helpers.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  types/dec_coin_test.go
  x/auth/legacy/v043/store_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/genesis.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/invariants.go
  x/bank/keeper/querier_test.go
  x/bank/types/genesis.go
  x/bank/types/msgs.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/invariants.go
  x/foundation/keeper/internal/invariants.go
  x/gov/abci_test.go
  x/gov/genesis.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/invariants.go
  x/gov/types/params.go
  x/mint/types/minter_test.go
  x/staking/genesis.go
  x/staking/types/msg_test.go
Due: modules, client

chore: update changelog
  CHANGELOG.md
Due: none

fix: missing check of public keys in SignWithLedger()
  client/keys/delete.go
  client/keys/delete_test.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_ledger_test.go
  simapp/test_helpers.go
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  types/dec_coin_test.go
  x/auth/legacy/v043/store_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/genesis.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/invariants.go
  x/bank/keeper/querier_test.go
  x/bank/types/genesis.go
  x/bank/types/msgs.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/invariants.go
  x/foundation/keeper/internal/invariants.go
  x/gov/abci_test.go
  x/gov/genesis.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/invariants.go
  x/gov/types/params.go
  x/mint/types/minter_test.go
  x/staking/genesis.go
  x/staking/types/msg_test.go
Due: modules, client

Add multisig check
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/testutil/suite.go
Due: modules

fix: correctly coalesce coins even with repeated denominations(backport cosmos/cosmos-sdk#13265) (#1313)
  CHANGELOG.md
  types/coin.go
  types/coin_test.go
  x/auth/vesting/types/vesting_account.go
  x/gov/types/params.go
Due: modules

fix(crypto): error if incorrect ledger public key (#1316)
  CHANGELOG.md
  crypto/keyring/keyring.go
  crypto/keyring/keyring_ledger_test.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: update param validation to fail on nil dec
  x/mint/types/params.go
  x/slashing/types/params.go
Due: modules

feat: update x/bankplus for deprecation (#1223)
  .github/pr_labeler.yml
  .github/workflows/test.yml
  CHANGELOG.md
  api/lbm/bankplus/v1/bankplus.pulsar.go
  go.mod
  go.work.example
  proto/lbm/bankplus/v1/bankplus.proto
  x/bankplus/deprecator.go
  x/bankplus/deprecator_test.go
  x/bankplus/go.mod
  x/bankplus/go.sum
  x/bankplus/types/bankplus.pb.go
Due: modules

fix: prevent signing from wrong key in multisig (#1319)
  CHANGELOG.md
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/testutil/suite.go
Due: modules

fix: update param validation to fail on nil dec (#1323)
  CHANGELOG.md
  x/mint/types/params.go
  x/slashing/types/params.go
Due: modules

Apply suggestions from code review
  CHANGELOG.md
  crypto/keyring/keyring.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
