Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Copy `cosmos/ibc-go/v3` proto files
  proto/ibc/applications/interchain_accounts/controller/v1/controller.proto
  proto/ibc/applications/interchain_accounts/controller/v1/query.proto
  proto/ibc/applications/interchain_accounts/host/v1/host.proto
  proto/ibc/applications/interchain_accounts/host/v1/query.proto
  proto/ibc/applications/interchain_accounts/v1/account.proto
  proto/ibc/applications/interchain_accounts/v1/genesis.proto
  proto/ibc/applications/interchain_accounts/v1/metadata.proto
  proto/ibc/applications/interchain_accounts/v1/packet.proto
  proto/ibc/applications/transfer/v1/genesis.proto
  proto/ibc/applications/transfer/v1/query.proto
  proto/ibc/applications/transfer/v1/transfer.proto
  proto/ibc/applications/transfer/v1/tx.proto
  proto/ibc/applications/transfer/v2/packet.proto
  proto/ibc/core/channel/v1/channel.proto
  proto/ibc/core/channel/v1/genesis.proto
  proto/ibc/core/channel/v1/query.proto
  proto/ibc/core/channel/v1/tx.proto
  proto/ibc/core/client/v1/client.proto
  proto/ibc/core/client/v1/genesis.proto
  proto/ibc/core/client/v1/query.proto
  proto/ibc/core/client/v1/tx.proto
  proto/ibc/core/commitment/v1/commitment.proto
  proto/ibc/core/connection/v1/connection.proto
  proto/ibc/core/connection/v1/genesis.proto
  proto/ibc/core/connection/v1/query.proto
  proto/ibc/core/connection/v1/tx.proto
  proto/ibc/core/types/v1/genesis.proto
  proto/ibc/lightclients/localhost/v1/localhost.proto
  proto/ibc/lightclients/solomachine/v2/solomachine.proto
  proto/ibc/lightclients/tendermint/v1/tendermint.proto
Due: none

Rename tendermint file and directory for proto files
  proto/ibc/lightclients/ostracon/v1/ostracon.proto
Due: none

Replace with correct path for proto files
  proto/ibc/applications/interchain_accounts/controller/v1/controller.proto
  proto/ibc/applications/interchain_accounts/controller/v1/query.proto
  proto/ibc/applications/interchain_accounts/host/v1/host.proto
  proto/ibc/applications/interchain_accounts/host/v1/query.proto
  proto/ibc/applications/interchain_accounts/v1/account.proto
  proto/ibc/applications/interchain_accounts/v1/genesis.proto
  proto/ibc/applications/interchain_accounts/v1/metadata.proto
  proto/ibc/applications/interchain_accounts/v1/packet.proto
  proto/ibc/applications/transfer/v1/genesis.proto
  proto/ibc/applications/transfer/v1/query.proto
  proto/ibc/applications/transfer/v1/transfer.proto
  proto/ibc/applications/transfer/v1/tx.proto
  proto/ibc/applications/transfer/v2/packet.proto
  proto/ibc/core/channel/v1/channel.proto
  proto/ibc/core/channel/v1/genesis.proto
  proto/ibc/core/channel/v1/query.proto
  proto/ibc/core/channel/v1/tx.proto
  proto/ibc/core/client/v1/client.proto
  proto/ibc/core/client/v1/genesis.proto
  proto/ibc/core/client/v1/query.proto
  proto/ibc/core/client/v1/tx.proto
  proto/ibc/core/commitment/v1/commitment.proto
  proto/ibc/core/connection/v1/connection.proto
  proto/ibc/core/connection/v1/genesis.proto
  proto/ibc/core/connection/v1/query.proto
  proto/ibc/core/connection/v1/tx.proto
  proto/ibc/core/types/v1/genesis.proto
  proto/ibc/lightclients/localhost/v1/localhost.proto
  proto/ibc/lightclients/ostracon/v1/ostracon.proto
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  proto/ibc/lightclients/solomachine/v2/solomachine.proto
Due: none

Remove `confio/proofs.proto`
  server/grpc/gogoreflection/fix_registration.go
  third_party/proto/proofs.proto
Due: none

Fix swagger-combine config
  client/docs/config.json
Due: client

Generate swagger files
  client/docs/swagger-ui/swagger.yaml
Due: client

Fix `cosmos/ibc-go/v3` bugs
  x/ibc/core/02-client/types/proposal_test.go
  x/ibc/core/genesis_test.go
Due: modules

Generate stub files
  docs/core/proto-docs.md
  go.mod
  go.sum
  x/ibc/applications/27-interchain-accounts/controller/types/controller.pb.go
  x/ibc/applications/27-interchain-accounts/controller/types/query.pb.go
  x/ibc/applications/27-interchain-accounts/controller/types/query.pb.gw.go
  x/ibc/applications/27-interchain-accounts/host/types/host.pb.go
  x/ibc/applications/27-interchain-accounts/host/types/query.pb.go
  x/ibc/applications/27-interchain-accounts/host/types/query.pb.gw.go
  x/ibc/applications/27-interchain-accounts/types/account.pb.go
  x/ibc/applications/27-interchain-accounts/types/genesis.pb.go
  x/ibc/applications/27-interchain-accounts/types/metadata.pb.go
  x/ibc/applications/27-interchain-accounts/types/packet.pb.go
  x/ibc/applications/transfer/types/genesis.pb.go
  x/ibc/applications/transfer/types/packet.pb.go
  x/ibc/applications/transfer/types/query.pb.go
  x/ibc/applications/transfer/types/query.pb.gw.go
  x/ibc/applications/transfer/types/transfer.pb.go
  x/ibc/applications/transfer/types/tx.pb.go
  x/ibc/core/02-client/legacy/v100/solomachine.pb.go
  x/ibc/core/02-client/types/client.pb.go
  x/ibc/core/02-client/types/genesis.pb.go
  x/ibc/core/02-client/types/query.pb.go
  x/ibc/core/02-client/types/query.pb.gw.go
  x/ibc/core/02-client/types/tx.pb.go
  x/ibc/core/03-connection/types/connection.pb.go
  x/ibc/core/03-connection/types/genesis.pb.go
  x/ibc/core/03-connection/types/query.pb.go
  x/ibc/core/03-connection/types/query.pb.gw.go
  x/ibc/core/03-connection/types/tx.pb.go
  x/ibc/core/04-channel/types/channel.pb.go
  x/ibc/core/04-channel/types/genesis.pb.go
  x/ibc/core/04-channel/types/query.pb.go
  x/ibc/core/04-channel/types/query.pb.gw.go
  x/ibc/core/04-channel/types/tx.pb.go
  x/ibc/core/23-commitment/types/commitment.pb.go
  x/ibc/core/types/genesis.pb.go
  x/ibc/light-clients/06-solomachine/types/solomachine.pb.go
  x/ibc/light-clients/09-localhost/types/localhost.pb.go
  x/ibc/light-clients/99-ostracon/types/ostracon.pb.go
Due: none

Fix `go.mod` and `go.sum`
  go.mod
  go.sum
Due: none

LBM-SDK FEATURES PATHC
  baseapp/baseapp.go
  x/ibc/core/02-client/client/utils/utils.go
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/ibc/core/02-client/types/genesis_test.go
  x/ibc/core/02-client/types/msgs_test.go
  x/ibc/core/03-connection/types/msgs_test.go
  x/ibc/core/genesis_test.go
  x/ibc/light-clients/99-ostracon/types/errors.go
  x/ibc/light-clients/99-ostracon/types/misbehaviour.go
  x/ibc/light-clients/99-ostracon/types/misbehaviour_handle.go
  x/ibc/light-clients/99-ostracon/types/misbehaviour_handle_test.go
  x/ibc/light-clients/99-ostracon/types/misbehaviour_test.go
  x/ibc/light-clients/99-ostracon/types/ostracon_test.go
  x/ibc/light-clients/99-ostracon/types/update.go
  x/ibc/light-clients/99-ostracon/types/update_test.go
  x/ibc/testing/app.go
  x/ibc/testing/chain.go
  x/ibc/testing/chain_test.go
  x/ibc/testing/coordinator.go
  x/ibc/testing/mock/privval.go
  x/ibc/testing/simapp/sim_test.go
  x/ibc/testing/simapp/simd/cmd/root.go
Due: app, modules

chore: this is dummy commit
  x/wasm/client/cli/tx.go
Due: modules

chore: add wasm genesis for `TestProposalActivateContractCmd`
  x/wasm/client/testutil/gov.go
  x/wasm/client/testutil/query.go
  x/wasm/client/testutil/suite.go
  x/wasm/client/testutil/testdata/wasm_genesis.json
Due: modules

chore: change private `setParams` to public `SetParams` function of wasm.Keeper. And change to proper gas data in unittest.
  simapp/app.go
  x/wasm/keeper/genesis.go
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/keeper/submsg_test.go
  x/wasm/keeper/test_common.go
Due: modules

chore: change CHANGELOG
  CHANGELOG.md
Due: none

chore: add dummy if state
  simapp/app.go
Due: none

fix: change boolean
  simapp/app.go
Due: none

fix: wasm module's FIXME in the snapshotter.go file
  simapp/app.go
  simapp/test_access.go
  simapp/test_helpers.go
  x/ibc/testing/chain.go
  x/wasm/keeper/snapshotter.go
  x/wasm/keeper/snapshotter_integration_test.go
Due: modules

fix: remove no need code
  simapp/app.go
Due: none

test: add unit test for dynamic link when callee fails
  x/wasm/dynamic_link_test.go
  x/wasm/module_test.go
Due: modules

test: add testdata
  x/wasm/testdata/checksums.txt
  x/wasm/testdata/dynamic_callee_contract.wasm
  x/wasm/testdata/dynamic_caller_contract.wasm
Due: modules

fix: change to randomly create temp directory for snapshot for multi-chain test
  simapp/test_helpers.go
  x/ibc/testing/chain.go
  x/wasm/keeper/snapshotter_integration_test.go
Due: modules

docs: update CHANGELOG
  CHANGELOG.md
Due: none

fix: wasm module's FIXME in the snapshotter.go file (#649)
  CHANGELOG.md
  simapp/app.go
  simapp/test_access.go
  simapp/test_helpers.go
  x/wasm/keeper/snapshotter.go
  x/wasm/keeper/snapshotter_integration_test.go
Due: modules

chore: apply review feedback(2) - response error if there isn't contract address in chain
  x/wasm/client/testutil/query.go
  x/wasm/keeper/querier.go
Due: modules

chore: apply review feedback(3)
  x/wasm/client/cli/gov_tx.go
  x/wasm/client/cli/query.go
Due: modules

ci: add benchmarking job to ci
  .github/workflows/bench.yml
Due: none

chore: apply review feedback(4)
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
  x/wasm/types/errors.go
Due: modules

ci: limit benchmark for BenchmarkAPI
  .github/workflows/bench.yml
Due: none

fix: remove unsupported flags
  x/wasm/client/cli/gov_tx.go
Due: modules

fix: fix lint warning.
  x/wasm/client/cli/tx.go
Due: modules

chore: update CHANGELOG
  CHANGELOG.md
Due: none

ci: add coment to benchmark workflow
  .github/workflows/bench.yml
Due: none

chore: unify the period point of the comment.
  docs/core/proto-docs.md
  proto/lbm/wasm/v1/proposal.proto
  x/wasm/lbmtypes/proposal.pb.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
