Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

chore: adjust gas
  x/wasm/keeper/recurse_test.go
  x/wasm/keeper/relay_test.go
  x/wasm/keeper/submsg_test.go
Due: modules

feat: add tx cli
  proto/lbm/collection/v1/collection.proto
  x/collection/client/cli/query.go
  x/collection/client/cli/tx.go
  x/collection/client/testutil/cli_test.go
  x/collection/client/testutil/query.go
  x/collection/client/testutil/suite.go
  x/collection/client/testutil/tx.go
  x/collection/collection.go
  x/collection/collection.pb.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
Due: modules

docs: update deprecated comments
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/collection.go
  x/collection/collection.pb.go
  x/collection/query.pb.go
  x/collection/tx.pb.go
Due: modules

test: add tests for collection types
  x/collection/collection_test.go
Due: modules

lint: add a exclude rule for the deprecated collection proto
  .golangci.yml
Due: none

feat: add mintable logic
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
Due: modules

doc: update changelog
  CHANGELOG.md
Due: none

chore: update go.mod
  go.mod
  go.sum
Due: none

feat: limit the number of descendants (NFT)
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/keys.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/nft_test.go
  x/collection/keeper/supply.go
Due: modules

fix: remove unnecessary string
  x/wasm/client/cli/genesis_msg.go
Due: modules

feat: remove `prove` field in the `GetTxsEventRequest` of `tx` proto. (#584)
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/cosmos/tx/v1beta1/service.proto
  types/tx/service.pb.go
Due: client

test: remove redundant test cases
  x/collection/keeper/msg_server_test.go
Due: modules

fix: remove unnecessary string (#586)
  x/wasm/client/cli/genesis_msg.go
Due: modules

Catch up with address.go in cosmos-sdk v0.45.1
  go.mod
  types/address.go
Due: none

Fix x/distribution
  x/distribution/keeper/allocation.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/msg_server.go
  x/distribution/keeper/proposal_handler.go
  x/distribution/simulation/decoder_test.go
  x/distribution/simulation/operations.go
  x/distribution/simulation/operations_test.go
  x/distribution/types/common_test.go
  x/distribution/types/msg.go
  x/distribution/types/msg_test.go
Due: modules

Fix x/evidence
  x/evidence/keeper/infraction.go
Due: modules

Fix syntax error: x/token
  x/token/keeper/grpc_query.go
  x/token/msgs.go
Due: modules

Fix syntax error: x/staking, x/stakingplus
  x/staking/app_test.go
  x/staking/keeper/delegation.go
  x/staking/legacy/v040/keys.go
  x/staking/simulation/genesis.go
  x/stakingplus/authz.go
Due: modules

Fix syntax error: x/feegrant
  x/feegrant/client/testutil/suite.go
Due: modules

Fix syntax error: x/slashing
  x/slashing/client/rest/grpc_query_test.go
  x/slashing/client/rest/tx.go
  x/slashing/keeper/hooks.go
  x/slashing/simulation/operations.go
  x/slashing/simulation/operations_test.go
Due: modules

Fix syntax error: x/foundation
  x/foundation/client/cli/query.go
  x/foundation/foundation.go
  x/foundation/genesis.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/member.go
  x/foundation/keeper/proposal.go
  x/foundation/msgs.go
  x/foundation/proposal.go
Due: modules

Fix syntax error: x/gov
  x/gov/client/rest/query.go
Due: modules

Fix syntax error: x/ibc
  x/ibc/applications/transfer/keeper/msg_server.go
  x/ibc/applications/transfer/keeper/relay.go
  x/ibc/applications/transfer/types/keys.go
  x/ibc/applications/transfer/types/msgs.go
  x/ibc/core/02-client/types/msgs.go
  x/ibc/core/03-connection/types/msgs.go
  x/ibc/core/04-channel/types/msgs.go
Due: modules

Fix syntax error: x/token
  x/token/keeper/keeper_test.go
  x/token/keeper/send_test.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
Due: modules

Fix syntax error: x/staking
  x/staking/simulation/operations.go
Due: modules

Fix syntax error: x/staking/client/testutil/suite.go
  x/staking/client/testutil/suite.go
Due: modules

revert BaseAccount.PubKey fields and Marshal/UnmarshalJSONPB/JSON
  baseapp/block_gas_test.go
  docs/core/proto-docs.md
  proto/cosmos/auth/v1beta1/auth.proto
  x/auth/keeper/keeper.go
  x/auth/types/account.go
  x/auth/types/account_test.go
  x/auth/types/auth.pb.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/submsg_test.go
Due: app, modules

Fix syntax error: some files
  crypto/ledger/ledger_mock.go
  x/authz/client/rest/grpc_query_test.go
  x/staking/client/rest/grpc_query_test.go
Due: modules

Remvoe diff of wasm for main
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/ibc_test.go
  x/wasm/module_test.go
Due: modules

fix: fix enum
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/token.proto
  proto/lbm/token/v1/tx.proto
  x/token/client/cli/query.go
  x/token/client/cli/tx.go
  x/token/client/testutil/cli_test.go
  x/token/client/testutil/query.go
  x/token/client/testutil/suite.go
  x/token/client/testutil/tx.go
  x/token/event.go
  x/token/event.pb.go
  x/token/genesis.go
  x/token/genesis_test.go
  x/token/keeper/alias.go
  x/token/keeper/genesis.go
  x/token/keeper/genesis_test.go
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
  x/token/keeper/keeper_test.go
  x/token/keeper/msg_server.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/token/query.pb.go
  x/token/query.pb.gw.go
  x/token/token.pb.go
  x/token/tx.pb.go
  x/token/validation.go
Due: modules, client

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: deprecate the legacy events
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  x/token/event.pb.go
Due: none

fix: fix naming collision in enums
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/client/cli/query.go
  x/collection/client/cli/tx.go
  x/collection/client/testutil/query.go
  x/collection/client/testutil/suite.go
  x/collection/client/testutil/tx.go
  x/collection/collection.pb.go
  x/collection/event.pb.go
  x/collection/genesis.go
  x/collection/genesis_test.go
  x/collection/keeper/alias.go
  x/collection/keeper/genesis.go
  x/collection/keeper/genesis_test.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
  x/collection/tx.pb.go
Due: modules

build: upgrade wasmvm and testify
  go.mod
  go.sum
Due: none

test: add integration tests for dynamic link
  x/wasm/dynamic_link_test.go
  x/wasm/testdata/dynamic_callee_contract.wasm
  x/wasm/testdata/dynamic_caller_contract.wasm
Due: modules

test: add tests for using dynamic link and query together
  x/wasm/dynamic_link_test.go
  x/wasm/testdata/call_number.wasm
  x/wasm/testdata/number.wasm
Due: modules

chore: format
  x/wasm/dynamic_link_test.go
Due: modules

doc: add this PR to CHANGELOG.md
  CHANGELOG.md
Due: none
