Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

Loosen the validation as daphne does
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

Lint
  types/errors/link.go
  x/collection/errors.go
  x/token/errors.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: enable querying based on mempool status (only gRPC) (#840)
  CHANGELOG.md
  baseapp/abci.go
  baseapp/grpcserver.go
  server/grpc/server_test.go
  types/grpc/headers.go
Due: app

docs: add wasm events description
  x/wasm/README.md
Due: modules

add CHANGELOG
  CHANGELOG.md
Due: none

add TOC
  x/wasm/README.md
Due: modules

fix: unittest errors
  baseapp/block_gas_test.go
  server/export_test.go
  simapp/app.go
  simapp/app_test.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  simapp/test_helpers.go
  store/rootmulti/rollback_test.go
  testutil/network/network.go
  x/capability/genesis_test.go
  x/gov/genesis_test.go
  x/ibc/applications/27-interchain-accounts/module_test.go
  x/ibc/testing/app.go
  x/upgrade/abci_test.go
Due: app, modules

add inner msg event
  x/wasm/README.md
Due: modules

fix: coverage error and comment out
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_test.go
  simapp/test_access.go
  simapp/test_helpers.go
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

refactor: Remove useless stub BeginBlock/EndBlock methods
  x/authz/module/module.go
  x/collection/module/module.go
  x/feegrant/module/module.go
  x/ibc/applications/27-interchain-accounts/module.go
  x/ibc/applications/transfer/module.go
  x/ibc/core/module.go
  x/ibc/testing/mock/mock.go
  x/token/module/module.go
  x/wasm/module.go
Due: modules

fix: fix coverage error
  simapp/simd/cmd/root_test.go
Due: none

refactor: add statement which is only effective when compiling to check implementation meets some interfaces
  x/bankplus/module.go
  x/capability/abci.go
  x/capability/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/foundation/module/module.go
  x/gov/module.go
  x/mint/module.go
  x/slashing/module.go
  x/staking/module.go
  x/stakingplus/module/module.go
  x/upgrade/module.go
  x/wasm/module.go
Due: modules

chore: remove unnecessary comments.
  simapp/app_test.go
  x/token/event.go
Due: modules

refactor: add unit tests for FeePool and handler
  x/distribution/handler.go
  x/distribution/handler_test.go
  x/distribution/keeper/fee_pool_test.go
  x/distribution/mocks/types/bank_keeper.go
  x/distribution/mocks/types/msg_server.go
Due: modules

chore: change assertion func(testify/assert -> testify/require)
  x/distribution/handler_test.go
Due: modules

refactor: Remove useless stub BeginBlock/EndBlock methods (#853)
  CHANGELOG.md
  x/authz/module/module.go
  x/bankplus/module.go
  x/capability/abci.go
  x/capability/module.go
  x/collection/module/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/foundation/module/module.go
  x/gov/module.go
  x/ibc/applications/27-interchain-accounts/module.go
  x/ibc/applications/transfer/module.go
  x/ibc/core/module.go
  x/ibc/testing/mock/mock.go
  x/mint/module.go
  x/slashing/module.go
  x/staking/module.go
  x/stakingplus/module/module.go
  x/token/module/module.go
  x/upgrade/module.go
  x/wasm/module.go
Due: modules

Fix: typos
  README.md
Due: none

Fix: typo
  store/types/listening.go
Due: none

Fix: typo
  client/context.go
Due: client

feat: add calculate instantiate cost function into get contract env api (#835)
  CHANGELOG.md
  go.mod
  go.sum
  x/wasm/dynamic_link_test.go
  x/wasm/keeper/api.go
  x/wasm/keeper/api_test.go
  x/wasm/keeper/bench_test.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/test_common.go
  x/wasm/simulation/operations.go
  x/wasm/types/types.go
Due: modules

docs: add changelog
  CHANGELOG.md
Due: none

test: fix tests
  baseapp/block_gas_test.go
  simapp/app.go
  x/auth/ante/ante_test.go
Due: app, modules

test: plain account number to GetAccountNumber func
  x/auth/ante/ante_test.go
Due: modules

Remove commented out errors
  types/errors/link.go
  x/collection/errors.go
  x/token/errors.go
Due: none

Add a warning comment
  types/errors/link.go
Due: none

Make x/collection buildable
  x/collection/event.go
  x/collection/genesis.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/nft.go
  x/collection/keeper/supply.go
  x/collection/msgs_test.go
Due: modules

Update x/collection tests
  x/collection/client/testutil/query.go
  x/collection/client/testutil/suite.go
  x/collection/event_test.go
  x/collection/genesis_test.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keeper_test.go
Due: modules

Make it buildable
  x/collection/genesis.go
  x/collection/keeper/genesis.go
  x/collection/keeper/supply.go
  x/token/client/cli/query.go
  x/token/genesis.go
  x/token/keeper/alias.go
  x/token/keeper/genesis.go
  x/token/keeper/grpc_query.go
  x/token/keeper/msg_server.go
  x/token/keeper/supply.go
Due: modules
