Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Use Run() in the tests
  x/collection/event_test.go
  x/collection/msgs_test.go
  x/foundation/msgs_test.go
  x/token/event_test.go
Due: modules

test: Add test for `ShowValidatorCmd()` for KMS
  server/oc_cmds.go
  server/oc_cmds_test.go
Due: none

fix: Fix to sort imports by group
  server/oc_cmds.go
  server/oc_cmds_test.go
Due: none

Remove support for composite (BLS) key type (#817)
  CHANGELOG.md
  client/flags/flags.go
  client/flags/flags_test.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/init_test.go
Due: modules, client

feat: Add changes for KMS support in `ShowValidatorCmd`
  CHANGELOG.md
Due: none

Use simple errors on x/token
  x/token/errors.go
  x/token/keeper/grpc_query.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/send.go
  x/token/keeper/send_test.go
  x/token/keeper/supply.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/token/validation.go
Due: modules

Use simple errors on x/collection
  x/collection/errors.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/nft_test.go
  x/collection/keeper/send.go
  x/collection/keeper/send_test.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

Check operator and holder is different
  x/collection/msgs.go
  x/token/msgs.go
  x/token/msgs_test.go
Due: modules

setup final auto-release settings
  .github/workflows/tag.yml
  .goreleaser.yaml
  Makefile
  release.Dockerfile
Due: none

make Dockerfile for auto release
  Dockerfile.release
Due: none

set up goreleaser config
  .goreleaser.yml
Due: none

set up ci for goreleaser
  .github/workflows/tag.yml
Due: none

add CHANGELOG
  CHANGELOG.md
Due: none

remove useless go install in ci
  .github/workflows/tag.yml
Due: none

fix: Change LoadchainID() to a private function, and change server_test to server to use a private function for testing
  server/oc_cmds.go
  server/oc_cmds_test.go
  server/util_test.go
Due: none

feat: Get validator pubkey considering KMS (#821)
  CHANGELOG.md
  server/oc_cmds.go
  server/oc_cmds_test.go
  server/util_test.go
Due: none

Revert "Use simple errors on x/collection"
  x/collection/errors.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/nft_test.go
  x/collection/keeper/send.go
  x/collection/keeper/send_test.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

Revert "Use simple errors on x/token"
  x/token/errors.go
  x/token/keeper/grpc_query.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/send.go
  x/token/keeper/send_test.go
  x/token/keeper/supply.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/token/validation.go
Due: modules

Revert "Update x/token errors"
  x/token/errors.go
  x/token/keeper/msg_server.go
  x/token/keeper/msg_server_test.go
Due: modules

Revert "Update x/collection errors"
  x/collection/errors.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/nft_test.go
  x/collection/keeper/supply.go
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

Revert "Update code number"
  x/collection/errors.go
  x/token/errors.go
Due: none

Revert "Add tests on x/token grpc query"
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
Due: modules

Revert "Add tests on x/collection queries"
  x/collection/keeper/grpc_query_test.go
Due: modules

Revert "Support grpc error on x/collection queries"
  x/collection/errors.go
  x/collection/keeper/grpc_query.go
Due: modules

Revert "Remove link codespace"
  types/errors/link.go
Due: none

Rework on x/collection tests after reverts
  x/collection/errors.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/msgs.go
Due: modules

Rework on x/token tests after reverts
  x/token/errors.go
  x/token/keeper/msg_server.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
  x/token/msgs.go
  x/token/msgs_test.go
Due: modules

Import contract codespace
  x/token/class/errors.go
Due: none

Apply link and contract codespace to x/token
  x/token/errors.go
  x/token/msgs_test.go
  x/token/validation.go
Due: modules

Apply link and contract codespace to x/collection
  x/collection/errors.go
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

Revert "Refactor x/collection error codes"
  x/collection/errors.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/nft.go
  x/collection/keeper/send.go
  x/collection/keeper/supply.go
  x/collection/msgs.go
Due: modules

Revert "Refactor x/token error codes"
  x/token/class/errors.go
  x/token/class/validation.go
  x/token/errors.go
  x/token/keeper/msg_server.go
  x/token/keeper/send.go
  x/token/keeper/supply.go
  x/token/msgs.go
  x/token/validation.go
Due: modules

Apply legacy errors into x/collection keeper
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/nft_test.go
  x/collection/keeper/send.go
  x/collection/keeper/send_test.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/token/keeper/msg_server.go
  x/token/msgs.go
Due: modules

Mind contract errors
  x/collection/keeper/keeper.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/token/keeper/keeper.go
  x/token/keeper/msg_server.go
  x/token/keeper/msg_server_test.go
Due: modules

Apply legacy errors to x/token errors
  x/token/keeper/keeper_test.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/send.go
  x/token/keeper/send_test.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
  x/token/msgs_test.go
Due: modules

Add foundation amino codec
  x/auth/types/codec.go
  x/auth/vesting/types/codec.go
  x/authz/codec.go
  x/bank/types/codec.go
  x/collection/codec.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/evidence/types/codec.go
  x/feegrant/codec.go
  x/foundation/codec.go
  x/foundation/codec/cdc.go
  x/foundation/msgs.go
  x/gov/types/codec.go
  x/slashing/types/codec.go
  x/staking/types/codec.go
  x/stakingplus/codec.go
  x/token/codec.go
  x/upgrade/types/codec.go
  x/wasm/lbmtypes/codec.go
  x/wasm/types/codec.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Revert breaking change
  proto/lbm/foundation/v1/foundation.proto
  x/foundation/foundation.pb.go
Due: none

feat: add calculate instantiate cost function into get contract env api
  x/wasm/keeper/api.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
