Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

chore: cleanup unused codes and add additional infos to errors
  x/consortium/abci.go
  x/consortium/client/cli/cli_test.go
  x/consortium/client/cli/tx.go
  x/consortium/handler.go
  x/consortium/keeper/hooks.go
  x/consortium/keeper/keeper.go
  x/consortium/keeper/validator.go
  x/consortium/module.go
  x/consortium/types/errors.go
  x/consortium/types/expected_keepers.go
  x/consortium/types/genesis.go
  x/consortium/types/keys.go
  x/consortium/types/proposal.go
  x/stakingplus/keeper/msg_server.go
Due: modules

chore: lint
  x/consortium/client/cli/tx.go
  x/consortium/client/rest/tx.go
  x/consortium/keeper/grpc_query.go
Due: modules

chore: revert hooks and blocker formats
  simapp/app.go
Due: none

docs: update CHANGELOG
  CHANGELOG.md
Due: none

chore: fix var names and comments
  x/consortium/keeper/querier.go
  x/consortium/keeper/validator.go
  x/stakingplus/handler.go
  x/stakingplus/keeper/msg_server.go
  x/stakingplus/module.go
Due: modules

chore: lint
  x/consortium/keeper/querier.go
  x/stakingplus/handler.go
Due: modules

fix: fix query signing infos command
  x/slashing/client/cli/query.go
Due: modules

chore: change `blockedAddr` of `bankplus` module to `inactiveAddr`
  docs/core/proto-docs.md
  go.sum
  proto/lbm/bankplus/v1/bankplus.proto
  x/bankplus/keeper/blocked.go
  x/bankplus/keeper/blocked_test.go
  x/bankplus/keeper/keeper.go
  x/bankplus/keeper/keeper_test.go
  x/bankplus/types/bankplus.pb.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/wasmtesting/coin_transferrer.go
Due: modules

fix wrong linking.
  CHANGELOG.md
Due: none

refactor: apply feedbacks
  x/consortium/client/cli/tx.go
  x/consortium/client/rest/query.go
  x/consortium/genesis.go
  x/consortium/keeper/grpc_query.go
  x/consortium/keeper/keeper.go
  x/consortium/types/expected_keepers.go
Due: modules

feat: add event proto for consortium
  docs/core/proto-docs.md
  proto/lbm/consortium/v1/event.proto
  x/consortium/types/event.pb.go
Due: none

feat: emit events in consortium proposals
  x/consortium/handler.go
  x/consortium/proposal_handler.go
Due: modules

chore: change the name of `block.go` to `inactive.go`
  x/bankplus/keeper/inactive.go
  x/bankplus/keeper/inactive_test.go
Due: modules

build(deps): github.com/ulikunitz/xz from 0.5.5 to 0.5.10 (#398)
  cosmovisor/go.mod
  cosmovisor/go.sum
Due: none

fix: fix query signing infos command (#407)
  CHANGELOG.md
  x/slashing/client/cli/query.go
Due: modules

chore: apply `bankplus` module to `simd`.
  simapp/app.go
Due: none

chore: apply feedbacks
  x/bankplus/keeper/inactive.go
  x/bankplus/keeper/inactive_test.go
  x/bankplus/keeper/keeper.go
  x/bankplus/keeper/keeper_test.go
Due: modules

fix: fix unittest failure.
  simapp/app.go
  simapp/app_test.go
Due: none

docs: add consortium apis to config
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: client

refactor: remove deprecated REST handlers
  x/consortium/client/proposal_handler.go
  x/consortium/client/rest/query.go
  x/consortium/client/rest/rest.go
  x/consortium/client/rest/tx.go
  x/consortium/module.go
Due: modules

ci: fix branch name on ci script
  .github/workflows/test.yml
Due: none

perf: updated prefetch launch mechanism, better prefetcher for set operation
  baseapp/abci.go
  store/cachekv/store.go
  store/cachemulti/store.go
  store/dbadapter/store.go
  store/gaskv/store.go
  store/iavl/store.go
  store/iavl/tree.go
  store/prefix/store.go
  store/tracekv/store.go
  store/types/store.go
  x/auth/keeper/account.go
  x/auth/keeper/keeper.go
  x/bank/keeper/view.go
  x/bank/types/expected_keepers.go
Due: app, modules

feat: rewrite issue template and move PR template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Due: none

ci: fix branch name on ci script (#409)
  .github/workflows/test.yml
Due: none

feat: add checkboxes to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: add comment about checkbox to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

refactor: edit cli function names and use same conversion rules
  x/consortium/client/cli/query.go
  x/consortium/client/cli/tx.go
  x/consortium/client/proposal_handler.go
  x/consortium/keeper/grpc_query_test.go
  x/consortium/keeper/keeper_test.go
  x/consortium/keeper/validator_test.go
  x/consortium/module.go
Due: modules

test: add consortium query tests
  x/consortium/client/testutil/cli_test.go
  x/consortium/client/testutil/query.go
  x/consortium/client/testutil/suite.go
Due: modules

fix: validate validator addresses in update-validator-auths proposal
  x/consortium/client/cli/tx.go
Due: modules

test: add consortium tx tests
  x/consortium/client/testutil/tx.go
Due: modules

refactor: switch function locations
  x/consortium/keeper/grpc_query.go
Due: modules

chore: lint
  x/consortium/client/cli/query.go
  x/consortium/client/testutil/query.go
  x/consortium/client/testutil/tx.go
Due: modules

test: add consortium grpc query tests
  x/consortium/client/testutil/grpc.go
Due: modules

feat: remove legacy REST
  testutil/rest/rest.go
Due: none

refactor: switch locations of grpc queries
  docs/core/proto-docs.md
  proto/lbm/consortium/v1/query.proto
  x/consortium/types/query.pb.go
  x/consortium/types/query.pb.gw.go
Due: none

chore: lint
  x/consortium/client/testutil/grpc.go
Due: modules

test: use ioutil
  testutil/rest/rest.go
Due: none
