Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

chore: add changelog
  CHANGELOG.md
Due: none

fix: add unhandled return error handling.
  baseapp/grpcserver.go
  server/start.go
  server/util.go
  x/auth/client/rest/query.go
  x/bank/client/cli/tx.go
  x/feegrant/client/cli/tx.go
  x/foundation/keeper/member.go
  x/slashing/genesis.go
  x/slashing/keeper/hooks.go
  x/staking/genesis.go
  x/staking/keeper/msg_server.go
  x/wasm/client/cli/query.go
Due: app, modules

fix test
  baseapp/baseapp_test.go
  baseapp/deliver_tx_test.go
  baseapp/msg_service_router.go
  server/config/toml.go
  x/authz/client/cli/query.go
  x/authz/msgs_test.go
  x/distribution/keeper/delegation_test.go
  x/feegrant/msgs_test.go
  x/ibc/core/03-connection/types/msgs_test.go
  x/ibc/core/04-channel/types/msgs_test.go
  x/ibc/core/23-commitment/types/commitment_test.go
Due: app, modules

chore: change default value of iavl-disable-fastnode to true
  server/config/config.go
  server/config/toml.go
Due: none

chore: change error handling as if-clause case.
  baseapp/grpcserver.go
  init_node.sh
  server/start.go
  server/util.go
  x/auth/client/rest/query.go
  x/bank/client/cli/tx.go
  x/feegrant/client/cli/tx.go
  x/foundation/keeper/member.go
  x/slashing/genesis.go
  x/slashing/keeper/hooks.go
  x/staking/genesis.go
  x/staking/keeper/msg_server.go
  x/wasm/client/cli/query.go
Due: app, modules

chore: rollback init_node.sh changes.
  init_node.sh
Due: none

Apply more strict field key name matching on x/token
  x/token/keeper/msg_server_test.go
  x/token/keeper/supply.go
  x/token/msgs_test.go
  x/token/validation.go
Due: modules

Lint
  x/token/msgs_test.go
Due: modules

Apply more strict field key name matching on x/collection
  x/collection/keeper/supply.go
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

Lint
  x/collection/collection.go
  x/collection/keeper/keys.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: implemented method `SetOption()` (#781)
  CHANGELOG.md
  baseapp/abci.go
Due: app

test: remove TestCacheKVConcurrency
  store/cachekv/store_test.go
Due: none

chore: fix test build
  store/cachekv/store_test.go
Due: none

docs: add changelog
  CHANGELOG.md
Due: none

fix: add unhandled return error handling. (#782)
  CHANGELOG.md
  baseapp/grpcserver.go
  server/start.go
  server/util.go
  x/auth/client/rest/query.go
  x/bank/client/cli/tx.go
  x/feegrant/client/cli/tx.go
  x/foundation/keeper/member.go
  x/slashing/genesis.go
  x/slashing/keeper/hooks.go
  x/staking/genesis.go
  x/staking/keeper/msg_server.go
  x/wasm/client/cli/query.go
Due: app, modules

Update msgs_test.go
  x/collection/msgs_test.go
Due: modules

Use snake_case field name
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/genesis.proto
  x/foundation/genesis.pb.go
Due: none

Add scripts for testing cosmovisor
  Makefile
  tools/cosmovisor/Makefile
  tools/cosmovisor/alter_genesis.jq
  tools/cosmovisor/configure.sh
  tools/cosmovisor/install.sh
  tools/cosmovisor/simd
  tools/cosmovisor/start.sh
  tools/cosmovisor/test_single.sh
  tools/cosmovisor/upgrade.sh
Due: none

Enable cosmovisor test in CI
  .github/workflows/test.yml
Due: none

Add a manual download test case
  tools/cosmovisor/Makefile
  tools/cosmovisor/dummyd
  tools/cosmovisor/start.sh
  tools/cosmovisor/upgrade.sh
Due: none

Separate installations
  Makefile
  tools/cosmovisor/Makefile
  tools/cosmovisor/install.sh
  tools/cosmovisor/test_single.sh
Due: none

Remove unused variables
  tools/cosmovisor/Makefile
Due: none

chore: apply pr reviews
  .github/workflows/lint.yml.orig
  .golangci.yml
  .goreleaser.yml
  baseapp/msg_service_router.go
  baseapp/testutil/messages.proto
  contrib/devtools/Makefile
  proto/cosmos/auth/v1beta1/query.proto
  server/mock/app.go
Due: app

chore: remove awkward new line in comment
  server/rosetta/client_online.go
Due: none

fix: lint error
  client/pruning/main.go
  codec/types/any.go
  store/iavl/store.go
  types/errors/errors.go
  types/utils.go
  version/version.go
  x/auth/types/keys.go
  x/ibc/testing/values.go
  x/staking/legacy/v040/keys.go
  x/staking/types/keys.go
Due: modules, client

fix: fix case of gov_mint_left_count in x/foundation (#790)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/genesis.proto
  x/foundation/genesis.pb.go
Due: none

Use any for the test
  tools/cosmovisor/upgrade.sh
Due: none

refactor: remove unused MsgEmpty (#776)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/cosmos/auth/v1beta1/tx.proto
  x/auth/client/cli/tx.go
  x/auth/keeper/msg_server.go
  x/auth/module.go
  x/auth/types/codec.go
  x/auth/types/events.go
  x/auth/types/keys.go
  x/auth/types/msgs.go
  x/auth/types/msgs_test.go
  x/auth/types/tx.pb.go
Due: modules

Add libsodium option
  Makefile
Due: none

Add libsodium submodule
  .gitmodules
Due: none

Ignore tools/sodium
  .gitignore
Due: none

Install and link libsodium
  Makefile
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
