Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

fix: lint error
  x/gov/migrations/v1/proposalv1.go
Due: modules

fix: test failure; no panic for upgrade plan
  x/upgrade/abci_test.go
Due: modules

feat: async store pruning
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Due: none

perf: made query concurrent
  baseapp/grpcrouter.go
Due: app

chore: fix swagger's config path for wasm
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
Due: client

chore: add the changes to `CHANGELOG.md`
  CHANGELOG.md
Due: none

chore: fix swagger's config path for wasm (#391)
  CHANGELOG.md
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
Due: client

chore: fix with latest version of swagger REST interface docs.
  client/docs/statik/statik.go
Due: client

chore: add the changes to CHANGELOG.md
  CHANGELOG.md
Due: none

fix: fix invalid root hash by bumping up tm-db (#388)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

fix: fix bug where `StoreCodeAndInstantiateContract` does not work
  x/wasm/types/codec.go
Due: modules

docs: modify with latest version of swagger REST interface docs. (#392)
  CHANGELOG.md
  client/docs/statik/statik.go
Due: client

fix: fix bug where `UpdateContractStatus`, `UpdateContractStatusProposal` does not work
  CHANGELOG.md
  x/wasm/types/codec.go
Due: modules

feat: Add the `instantiate_permission` in the `CodeInfoResponse`
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/wasm/v1/query.proto
  x/wasm/keeper/legacy_querier.go
  x/wasm/keeper/legacy_querier_test.go
  x/wasm/keeper/querier.go
  x/wasm/keeper/querier_test.go
  x/wasm/types/query.pb.go
Due: modules, client

chore: add changes to `CHANGELOG.md`
  CHANGELOG.md
Due: none

fix: fix bug where `StoreCodeAndInstantiateContract`, `UpdateContractStatus`, `UpdateContractStatusProposal` API does not work (#393)
  CHANGELOG.md
  x/wasm/types/codec.go
Due: modules

build(deps): github.com/ulikunitz/xz from 0.5.5 to 0.5.10
  cosmovisor/go.mod
  cosmovisor/go.sum
Due: none

feat: Add the `instantiate_permission` in the `CodeInfoResponse` (#395)
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/wasm/v1/query.proto
  x/wasm/keeper/legacy_querier.go
  x/wasm/keeper/legacy_querier_test.go
  x/wasm/keeper/querier.go
  x/wasm/keeper/querier_test.go
  x/wasm/types/query.pb.go
Due: modules, client

feat: add `bankplus` function to restrict to send coin to inactive smart contract.
  docs/core/proto-docs.md
  proto/lbm/bankplus/v1/bankplus.proto
  x/bankplus/keeper/blocked.go
  x/bankplus/keeper/blocked_test.go
  x/bankplus/keeper/keeper.go
  x/bankplus/types/bankplus.pb.go
Due: modules

chore: add bypass codes of `bankplus`
  x/bankplus/keeper/keeper.go
  x/bankplus/module.go
Due: modules

chore: apply sending restriction function to wasm module
  x/bankplus/keeper/keeper.go
  x/wasm/keeper/keeper.go
Due: modules

fix protobuf lint warning
  proto/lbm/bankplus/v1/bankplus.proto
Due: none

perf: precaching on iavl cache, cache interface to experiment and compare different caches
  baseapp/abci.go
  store/cachekv/store.go
  store/dbadapter/store.go
  store/gaskv/store.go
  store/iavl/cache.go
  store/iavl/fixedmap.go
  store/iavl/metrics.go
  store/iavl/store.go
  store/prefix/store.go
  store/rootmulti/store.go
  store/tracekv/store.go
  store/types/store.go
  x/auth/ante/ante.go
  x/auth/ante/sigverify.go
  x/auth/keeper/account.go
  x/auth/keeper/keeper.go
  x/auth/types/expected_keepers.go
  x/bank/keeper/view.go
  x/bank/types/expected_keepers.go
  x/feegrant/types/expected_keepers.go
Due: app, modules

fix unittest error
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/options_test.go
  x/wasm/keeper/test_common.go
  x/wasm/keeper/wasmtesting/coin_transferrer.go
Due: modules

fix golang lint error
  x/bankplus/keeper/blocked.go
  x/bankplus/keeper/blocked_test.go
Due: modules

fix golang lint error
  x/bankplus/keeper/blocked.go
Due: modules

test: add unit-tests for consortium
  x/consortium/keeper/grpc_query_test.go
  x/consortium/keeper/keeper_test.go
  x/consortium/keeper/params_test.go
  x/consortium/keeper/validator_test.go
  x/consortium/proposal_handler_test.go
Due: modules

feat: add consortium proto
  client/docs/statik/statik.go
  docs/core/proto-docs.md
  proto/lbm/consortium/v1/consortium.proto
  proto/lbm/consortium/v1/event.proto
  proto/lbm/consortium/v1/genesis.proto
  proto/lbm/consortium/v1/query.proto
  x/consortium/types/consortium.pb.go
  x/consortium/types/event.pb.go
  x/consortium/types/genesis.pb.go
  x/consortium/types/query.pb.go
  x/consortium/types/query.pb.gw.go
Due: client

feat: add consortium to simapp
  simapp/app.go
Due: none

feat: introduce stakingplus and replace staking with it
  simapp/app.go
  x/stakingplus/handler.go
  x/stakingplus/keeper/msg_server.go
  x/stakingplus/module.go
  x/stakingplus/types/expected_keepers.go
Due: modules

feat: add consortium module
  x/consortium/abci.go
  x/consortium/client/cli/cli_test.go
  x/consortium/client/cli/query.go
  x/consortium/client/cli/tx.go
  x/consortium/client/proposal_handler.go
  x/consortium/client/rest/query.go
  x/consortium/client/rest/rest.go
  x/consortium/client/rest/tx.go
  x/consortium/genesis.go
  x/consortium/handler.go
  x/consortium/keeper/genesis.go
  x/consortium/keeper/grpc_query.go
  x/consortium/keeper/hooks.go
  x/consortium/keeper/keeper.go
  x/consortium/keeper/migrations.go
  x/consortium/keeper/querier.go
  x/consortium/module.go
  x/consortium/proposal_handler.go
  x/consortium/types/codec.go
  x/consortium/types/errors.go
  x/consortium/types/expected_keepers.go
  x/consortium/types/genesis.go
  x/consortium/types/keys.go
  x/consortium/types/proposal.go
  x/consortium/types/querier.go
Due: modules

refactor: consortium module
  x/consortium/abci.go
  x/consortium/client/cli/query.go
  x/consortium/client/cli/tx.go
  x/consortium/client/proposal_handler.go
  x/consortium/client/rest/query.go
  x/consortium/client/rest/tx.go
  x/consortium/genesis.go
  x/consortium/handler.go
  x/consortium/keeper/genesis.go
  x/consortium/keeper/grpc_query.go
  x/consortium/keeper/hooks.go
  x/consortium/keeper/keeper.go
  x/consortium/keeper/params.go
  x/consortium/keeper/querier.go
  x/consortium/keeper/validator.go
  x/consortium/module.go
  x/consortium/proposal_handler.go
  x/consortium/types/codec.go
  x/consortium/types/errors.go
  x/consortium/types/expected_keepers.go
  x/consortium/types/genesis.go
  x/consortium/types/keys.go
  x/consortium/types/proposal.go
  x/consortium/types/querier.go
Due: modules

refactor: simapp
  simapp/app.go
  simapp/app_test.go
Due: none

refactor: new protos
  docs/core/proto-docs.md
  proto/lbm/consortium/v1/consortium.proto
  proto/lbm/consortium/v1/event.proto
  proto/lbm/consortium/v1/genesis.proto
  proto/lbm/consortium/v1/query.proto
  x/consortium/types/consortium.pb.go
  x/consortium/types/event.pb.go
  x/consortium/types/genesis.pb.go
  x/consortium/types/query.pb.go
  x/consortium/types/query.pb.gw.go
Due: none

feat: do not use hooks and endblocker of consortium
  simapp/app.go
Due: none

Add a unittest of bankplus.keeper
  CHANGELOG.md
  go.sum
  x/bankplus/keeper/blocked.go
  x/bankplus/keeper/keeper_test.go
Due: modules

fix typo
  CHANGELOG.md
Due: none

fix lint warning
  x/bankplus/module.go
Due: none

chore: lint
  simapp/app.go
  x/consortium/client/cli/query.go
  x/consortium/client/cli/tx.go
  x/consortium/client/proposal_handler.go
  x/consortium/client/rest/tx.go
  x/consortium/genesis.go
  x/consortium/keeper/grpc_query.go
  x/consortium/keeper/hooks.go
  x/consortium/keeper/keeper.go
  x/consortium/keeper/querier.go
  x/consortium/keeper/validator.go
  x/consortium/module.go
  x/consortium/proposal_handler.go
  x/consortium/types/expected_keepers.go
  x/consortium/types/keys.go
  x/consortium/types/proposal.go
  x/stakingplus/keeper/msg_server.go
  x/stakingplus/module.go
Due: modules
