Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

fix: change the type of GetContractEnv's 2nd arg from *Cache to Cache
  x/wasm/keeper/api.go
  x/wasm/keeper/api_test.go
  x/wasm/keeper/wasmtesting/mock_engine.go
  x/wasm/types/wasmer_engine.go
Due: modules

fix: update test due to event manager update of wasmvm
  x/wasm/dynamic_link_test.go
Due: modules

Remove xxx_uri from events
  x/collection/event.go
  x/collection/event_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs.go
  x/token/event.go
  x/token/event_test.go
  x/token/keeper/msg_server.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
  x/token/msgs.go
Due: modules

Revert irrelevant changes
  x/collection/event_test.go
  x/token/event_test.go
Due: modules

Lint
  x/collection/msgs_test.go
Due: modules

chore: typos (#857)
  README.md
  baseapp/testutil/messages.pb.go
  client/context.go
  crypto/keys/secp256k1/internal/secp256k1/curve.go
  store/types/listening.go
  types/query/pagination.pb.go
  x/distribution/types/distribution.pb.go
  x/foundation/foundation.pb.go
Due: app, client

Implement censorship
  x/foundation/client/cli/query.go
  x/foundation/client/testutil/grpc.go
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
  x/foundation/codec.go
  x/foundation/foundation.go
  x/foundation/genesis.go
  x/foundation/genesis_test.go
  x/foundation/keeper/abci_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/grant_test.go
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/member.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/params.go
  x/foundation/keeper/params_test.go
  x/foundation/msgs.go
  x/stakingplus/keeper/keeper_test.go
Due: modules

Add FoundationExecProposal to proto
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/foundation.proto
  x/foundation/foundation.pb.go
Due: none

Implement FoundationExecProposal
  simapp/app.go
  x/foundation/client/cli/tx.go
  x/foundation/client/proposal_handler.go
  x/foundation/codec.go
  x/foundation/keeper/exec.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member.go
  x/foundation/keeper/proposal_handler.go
  x/foundation/keeper/proposal_handler_test.go
  x/foundation/proposal.go
Due: modules

fix: add missing Command(collection module's TxCmdModify)
  x/collection/client/cli/tx.go
Due: modules

Update documentation
  x/foundation/README.md
  x/foundation/client/cli/tx.go
  x/foundation/keeper/keeper.go
Due: modules

chore: update changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Rename files
  x/foundation/keeper/censorship.go
  x/foundation/keeper/censorship_test.go
Due: modules

Lint
  x/foundation/client/proposal_handler.go
  x/foundation/genesis_test.go
  x/foundation/keeper/censorship_test.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal_handler_test.go
Due: modules

Add amino test on MsgUpdateCensorship
  x/foundation/msgs_test.go
Due: modules

Add pagination on cli
  x/foundation/client/cli/query.go
Due: modules

Update x/foundation/README.md
  x/foundation/README.md
Due: modules

Update proposal cli description
  x/foundation/client/cli/tx.go
Due: modules

Chore
  x/foundation/keeper/censorship.go
Due: modules

fix: add missing Command(collection module's TxCmdModify) (#911)
  CHANGELOG.md
  x/collection/client/cli/tx.go
Due: modules

feat: add "uri" for MsgModify and deprecate the old ones (#900)
  CHANGELOG.md
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/tx.proto
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/tx.proto
  x/collection/event.pb.go
  x/collection/genesis.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/collection/tx.pb.go
  x/token/event.pb.go
  x/token/genesis.go
  x/token/keeper/msg_server.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/token/tx.pb.go
  x/token/validation.go
Due: modules

feat: deprecate block mode in proto
  docs/core/proto-docs.md
  proto/cosmos/tx/v1beta1/service.proto
  types/tx/service.pb.go
Due: none

add changelog
  CHANGELOG.md
Due: none

deprecate block mode in proto (#923)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/cosmos/tx/v1beta1/service.proto
  types/tx/service.pb.go
Due: none

Apply feedbacks
  proto/lbm/foundation/v1/foundation.proto
  x/foundation/foundation.pb.go
Due: none

Propagate events in x/foundation through sdk.Results
  x/foundation/keeper/exec.go
Due: modules

Update links in documentation
  x/foundation/README.md
Due: modules

fix: propagate events in x/foundation through sdk.Results (#922)
  CHANGELOG.md
  x/foundation/keeper/exec.go
Due: modules

docs: update permlinks in x/foundation documents (#934)
  CHANGELOG.md
  x/foundation/README.md
Due: modules

Lint
  x/foundation/keeper/exported.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/msgs_test.go
Due: modules

Use x/foundation mocks
  Makefile
  x/stakingplus/keeper/keeper_test.go
  x/stakingplus/testutil/expected_keepers_mocks.go
Due: modules

Remove interface
  x/foundation/keeper/exported.go
Due: modules

Revert "Remove interface"
  x/foundation/keeper/exported.go
Due: modules
