Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach,diff,flags,tree"
  behavior: default  # update if exists else create new
  require_changes: no

coverage:
  status:
    project:
      default:
        # basic
        target: 20
        threshold: 1% # allow this much decrease on project
        base: auto
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib/**/*"
  - "client/rpc/**/*_wrapper.go"
  - "client/rpc/**/*_alias.go"
  - "client/rpc/mock/*.go"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

chore: enable codecov patch
  codecov.yml
Due: none

chore: use telemetry instead of prometheus
  baseapp/options.go
  baseapp/options_test.go
  server/config/config.go
  server/config/toml.go
  server/mock/store_test.go
  server/start.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  store/cache/cache.go
  store/cache/cache_test.go
  store/cache/metrics.go
  store/cache/metrics_test.go
  store/iavl/metrics.go
  store/iavl/metrics_test.go
  store/iavl/store.go
  store/store.go
Due: app

feat: use fastcache (#164)
  baseapp/options.go
  codecov.yml
  go.mod
  go.sum
  server/config/config.go
  server/config/toml.go
  server/mock/store.go
  server/mock/store_test.go
  server/start.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_test.go
  store/cache/cache.go
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/store.go
  store/types/iterator_test.go
  store/types/store.go
  x/auth/ante/basic.go
  x/bank/keeper/msg_server.go
Due: app, modules

feat: add MsgEmpty to auth module
  docs/core/proto-docs.md
  proto/lbm/auth/v1beta1/tx.proto
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/tx.go
  x/auth/keeper/msg_server.go
  x/auth/module.go
  x/auth/types/codec.go
  x/auth/types/events.go
  x/auth/types/keys.go
  x/auth/types/msgs.go
  x/auth/types/msgs_test.go
  x/auth/types/tx.pb.go
Due: modules

build: tidy go.mod
  go.mod
Due: none

ci: ignore pb.go files when running codecov
  codecov.yml
Due: none

ci: ignore pb.gw.go files when running codecov
  codecov.yml
Due: none

chore: meaningless modification for codecov base report
  simapp/simd/cmd/root.go
Due: none

chore: codecov no base report
  .github/workflows/test.yml
  codecov.yml
Due: none

chore: add meaningless modification to enable codecov action
  simapp/simd/cmd/root.go
Due: none

chore: bump codecov-action up from 1.2.1 to 1.5.0 (#181)
  .github/workflows/test.yml
  codecov.yml
  simapp/simd/cmd/root.go
Due: none

chore: set default branch triggered on pushing
  .github/workflows/test.yml
  codecov.yml
Due: none

chore: set default branch triggered on pushing (#182)
  .github/workflows/test.yml
  codecov.yml
  simapp/simd/cmd/root.go
Due: none

Revert "chore: use telemetry instead of prometheus"
  baseapp/options.go
  baseapp/options_test.go
  server/config/config.go
  server/config/toml.go
  server/mock/store_test.go
  server/start.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  store/cache/cache.go
  store/cache/cache_test.go
  store/cache/metrics.go
  store/cache/metrics_test.go
  store/iavl/metrics.go
  store/iavl/metrics_test.go
  store/iavl/store.go
  store/store.go
Due: app

ci: ignore pb files when running codecov (#177)
  codecov.yml
Due: none

chore: restore codecov.yml
  codecov.yml
Due: none

feat: add prometheus metrics for caches reverting telemetry metrics
  baseapp/options.go
  baseapp/options_test.go
  server/config/config.go
  server/config/toml.go
  server/start.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  store/cache/cache.go
  store/cache/cache_test.go
  store/cache/metrics.go
  store/cache/metrics_test.go
  store/iavl/metrics.go
  store/iavl/metrics_test.go
  store/iavl/store.go
  store/store.go
Due: app

test: add more tests
  x/auth/client/cli/cli_test.go
  x/auth/types/msgs_test.go
Due: modules

feat: add prometheus metrics for caches reverting telemetry metrics (#184)
  baseapp/options.go
  baseapp/options_test.go
  server/config/config.go
  server/config/toml.go
  server/start.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  store/cache/cache.go
  store/cache/cache_test.go
  store/cache/metrics.go
  store/cache/metrics_test.go
  store/iavl/metrics.go
  store/iavl/metrics_test.go
  store/iavl/store.go
  store/store.go
Due: app

fix: fix lint errors
  x/auth/types/msgs_test.go
Due: modules

ci: fix codecov configs
  codecov.yml
Due: none

build: update go.mod
  go.mod
  go.sum
Due: none

feat: replace importing CosmWasm/wasmvm with line/wasmvm
  CHANGELOG_PENDING.md
  go.mod
  go.sum
  x/wasm/ibc.go
  x/wasm/internal/keeper/api.go
  x/wasm/internal/keeper/handler_plugin.go
  x/wasm/internal/keeper/handler_plugin_test.go
  x/wasm/internal/keeper/keeper.go
  x/wasm/internal/keeper/keeper_test.go
  x/wasm/internal/keeper/proposal_integration_test.go
  x/wasm/internal/keeper/querier_test.go
  x/wasm/internal/keeper/query_plugins.go
  x/wasm/internal/keeper/recurse_test.go
  x/wasm/internal/keeper/reflect_test.go
  x/wasm/internal/keeper/relay.go
  x/wasm/internal/keeper/relay_test.go
  x/wasm/internal/keeper/staking_test.go
  x/wasm/internal/keeper/submsg_test.go
  x/wasm/internal/keeper/wasmtesting/messenger.go
  x/wasm/internal/keeper/wasmtesting/mock_engine.go
  x/wasm/internal/types/store.go
  x/wasm/internal/types/types.go
  x/wasm/internal/types/wasmer_engine.go
  x/wasm/linkwasmd/go.mod
  x/wasm/module_test.go
Due: modules

chore: go fmt
  x/wasm/ibc.go
  x/wasm/internal/keeper/api.go
  x/wasm/internal/keeper/handler_plugin.go
  x/wasm/internal/keeper/handler_plugin_test.go
  x/wasm/internal/keeper/keeper.go
  x/wasm/internal/keeper/keeper_test.go
  x/wasm/internal/keeper/proposal_integration_test.go
  x/wasm/internal/keeper/querier_test.go
  x/wasm/internal/keeper/query_plugins.go
  x/wasm/internal/keeper/reflect_test.go
  x/wasm/internal/keeper/relay.go
  x/wasm/internal/keeper/relay_test.go
  x/wasm/internal/keeper/staking_test.go
  x/wasm/internal/keeper/submsg_test.go
  x/wasm/internal/keeper/wasmtesting/messenger.go
  x/wasm/internal/keeper/wasmtesting/mock_engine.go
  x/wasm/internal/types/store.go
  x/wasm/internal/types/types.go
  x/wasm/module_test.go
Due: modules

feat: add MsgEmpty to auth module (#176)
  codecov.yml
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/lbm/auth/v1beta1/tx.proto
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/tx.go
  x/auth/keeper/msg_server.go
  x/auth/module.go
  x/auth/types/codec.go
  x/auth/types/events.go
  x/auth/types/keys.go
  x/auth/types/msgs.go
  x/auth/types/msgs_test.go
  x/auth/types/tx.pb.go
Due: modules

test: Allow to add new validator in test network
  testutil/network/network.go
Due: none

test: Allow to add new validator in test network (#193)
  testutil/network/network.go
Due: none

build: remove replace of wasmvm from linkwasmd
  x/wasm/linkwasmd/go.mod
  x/wasm/linkwasmd/go.sum
Due: modules

fix: build properly when using libsecp256k1
  Makefile
  crypto/keys/secp256k1/secp256k1_cgo.go
  go.mod
  go.sum
Due: none

feat: replace importing CosmWasm/wasmvm with line/wasmvm (#194)
  CHANGELOG_PENDING.md
  go.mod
  go.sum
  x/wasm/ibc.go
  x/wasm/internal/keeper/api.go
  x/wasm/internal/keeper/handler_plugin.go
  x/wasm/internal/keeper/handler_plugin_test.go
  x/wasm/internal/keeper/keeper.go
  x/wasm/internal/keeper/keeper_test.go
  x/wasm/internal/keeper/proposal_integration_test.go
  x/wasm/internal/keeper/querier_test.go
  x/wasm/internal/keeper/query_plugins.go
  x/wasm/internal/keeper/recurse_test.go
  x/wasm/internal/keeper/reflect_test.go
  x/wasm/internal/keeper/relay.go
  x/wasm/internal/keeper/relay_test.go
  x/wasm/internal/keeper/staking_test.go
  x/wasm/internal/keeper/submsg_test.go
  x/wasm/internal/keeper/wasmtesting/messenger.go
  x/wasm/internal/keeper/wasmtesting/mock_engine.go
  x/wasm/internal/types/store.go
  x/wasm/internal/types/types.go
  x/wasm/internal/types/wasmer_engine.go
  x/wasm/linkwasmd/go.mod
  x/wasm/linkwasmd/go.sum
  x/wasm/module_test.go
Due: modules

fix: select goleveldb when options libsecp256k1 only
  Makefile
Due: none

fix: build properly when using libsecp256k1 (#195)
  Makefile
  crypto/keys/secp256k1/secp256k1_cgo.go
  go.mod
  go.sum
Due: none

chore: increase coverage target to 50%
  codecov.yml
Due: none

chore: increase coverage target to 50% (#196)
  codecov.yml
Due: none

chore: Allow codecov job to filter unnecessary files
  .github/workflows/test.yml
  testutil/network/network.go
Due: none

chore: always upload codecov and report
  .github/workflows/test.yml
  codecov.yml
Due: none

chore: Allow codecov job to filter unnecessary files (#197)
  .github/workflows/test.yml
  codecov.yml
  testutil/network/network.go
Due: none
