Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

Update tests
  x/collection/client/testutil/query.go
  x/collection/genesis_test.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/supply_test.go
  x/token/client/testutil/query.go
  x/token/client/testutil/suite.go
  x/token/client/testutil/tx.go
  x/token/genesis_test.go
  x/token/keeper/grpc_query_test.go
  x/token/keeper/keeper_test.go
  x/token/keeper/supply_test.go
Due: modules

Make the modules buildable
  x/collection/client/cli/tx.go
  x/collection/event.go
  x/collection/genesis.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
  x/collection/msgs.go
  x/token/client/cli/tx.go
  x/token/genesis.go
  x/token/keeper/msg_server.go
  x/token/keeper/supply.go
  x/token/msgs.go
Due: modules

Update tests
  x/collection/event_test.go
  x/collection/genesis_test.go
  x/collection/keeper/supply_test.go
  x/collection/msgs_test.go
  x/token/genesis_test.go
  x/token/keeper/supply_test.go
  x/token/msgs_test.go
Due: modules

Update operator related part in proto
  docs/core/proto-docs.md
  proto/lbm/collection/v1/tx.proto
  proto/lbm/token/v1/tx.proto
  x/collection/tx.pb.go
  x/token/tx.pb.go
Due: none

Make the modules buildable
  x/collection/client/cli/tx.go
  x/collection/codec.go
  x/collection/keeper/msg_server.go
  x/collection/msgs.go
  x/token/client/cli/tx.go
  x/token/codec.go
  x/token/keeper/msg_server.go
  x/token/msgs.go
Due: modules

Update tests
  x/collection/client/testutil/suite.go
  x/collection/client/testutil/tx.go
  x/collection/codec.go
  x/collection/keeper/msg_server_test.go
  x/collection/msgs_test.go
  x/token/client/testutil/tx.go
  x/token/codec.go
  x/token/keeper/msg_server_test.go
  x/token/msgs_test.go
Due: modules

Revert bug fix
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
Due: modules

Do the revert in right way
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
Due: modules

Remove the magic number
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keeper_test.go
Due: modules

Leave a comment on error check
  x/collection/keeper/nft.go
Due: modules

Get rid of account keeper from x/token
  simapp/app.go
  x/token/expected_keepers.go
  x/token/keeper/keeper.go
  x/token/keeper/send.go
  x/token/keeper/supply.go
Due: modules

Get rid of account keeper from x/collection
  simapp/app.go
  x/collection/expected_keepers.go
  x/collection/keeper/keeper.go
  x/collection/keeper/send.go
  x/collection/keeper/supply.go
  x/collection/msgs_test.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update attributes
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/tx.proto
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/token.proto
  proto/lbm/token/v1/tx.proto
  x/collection/client/cli/tx.go
  x/collection/collection.pb.go
  x/collection/event.pb.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/collection/tx.pb.go
  x/token/client/cli/tx.go
  x/token/event.go
  x/token/event.pb.go
  x/token/event_test.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/token/token.pb.go
  x/token/tx.pb.go
  x/token/validation.go
Due: modules

Fix tests
  x/token/keeper/msg_server_test.go
Due: modules

fix!: Fix foundation amino codec (#833) (#862)
  CHANGELOG.md
  x/auth/types/codec.go
  x/auth/vesting/types/codec.go
  x/authz/codec.go
  x/bank/types/codec.go
  x/collection/codec.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/evidence/types/codec.go
  x/feegrant/codec.go
  x/foundation/codec.go
  x/foundation/codec/cdc.go
  x/foundation/keeper/keeper.go
  x/foundation/msgs.go
  x/gov/types/codec.go
  x/slashing/types/codec.go
  x/staking/types/codec.go
  x/stakingplus/codec.go
  x/token/codec.go
  x/upgrade/types/codec.go
Due: modules

Apply suggestions from code review
  x/collection/client/cli/tx.go
  x/token/client/cli/tx.go
Due: modules

Retract v1.0.0
  go.mod
Due: none

chore: fix lint error
  client/flags/flags.go
  types/result.go
  x/authz/codec/doc.go
  x/bankplus/keeper/inactive.go
  x/genutil/client/cli/init.go
  x/simulation/doc.go
Due: modules, client

chore: add changelog
  CHANGELOG.md
Due: none

chore: add more unittest
  client/grpc/tmservice/service_test.go
  simapp/test_helpers.go
Due: client

feat!: add MultiSend deactivation
  simapp/app.go
  x/bankplus/keeper/inactive_test.go
  x/bankplus/keeper/keeper.go
  x/bankplus/keeper/keeper_test.go
Due: modules

add CHANGELOG
  CHANGELOG.md
Due: none

Fix tests
  x/token/client/testutil/suite.go
  x/token/client/testutil/tx.go
Due: modules

chore: increase upgrade_height of cosmovisor test. (5->20)
  tools/cosmovisor/upgrade.sh
Due: none

fix: test-cosmovisor error
  tools/cosmovisor/upgrade.sh
Due: none

Add reference in the comments
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
Due: none

Apply suggestions from code review
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
Due: none

fix: do not create account on x/token,collection (#866)
  CHANGELOG.md
  simapp/app.go
  x/collection/expected_keepers.go
  x/collection/keeper/keeper.go
  x/collection/keeper/send.go
  x/collection/keeper/supply.go
  x/token/expected_keepers.go
  x/token/keeper/keeper.go
  x/token/keeper/send.go
  x/token/keeper/supply.go
Due: modules

Update logic
  x/collection/client/cli/query.go
  x/collection/keeper/grpc_query.go
  x/token/client/cli/query.go
  x/token/keeper/grpc_query.go
Due: modules
