Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

fix proto-gen
  Makefile
Due: none

avoid login when in PR (#8449)
  .github/workflows/proto-docker.yml
Due: none

bank: additional client metadata validation (#8479)
  x/bank/types/metadata.go
  x/bank/types/metadata_test.go
Due: modules

types: use proper lowercase syntax for coins in benchmarks (#8435)
  types/coin_benchmark_test.go
Due: none

store/multistore: revert a height limit increase from #8396 (#8466)
  store/rootmulti/store.go
Due: none

fix test
  server/grpc/grpc_web_test.go
  simapp/app.go
  simapp/sim_test.go
  types/address.go
  x/auth/client/cli/cli_test.go
  x/authz/client/cli/cli_test.go
  x/authz/client/rest/grpc_query_test.go
  x/authz/genesis_test.go
  x/authz/types/keys.go
  x/authz/types/keys_test.go
  x/authz/types/msgs_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/types/balance_test.go
  x/bank/types/genesis_test.go
Due: modules

Compatibility with the ARM architecture (#8396)
  Makefile
  store/rootmulti/store.go
Due: none

build fix
  x/authz/client/cli/query.go
  x/authz/client/cli/tx.go
  x/authz/genesis.go
  x/authz/keeper/grpc_query.go
  x/authz/keeper/msg_server.go
  x/authz/module.go
  x/authz/types/keys.go
  x/authz/types/msgs.go
  x/gov/simulation/operations.go
  x/simulation/util.go
Due: modules

all: ensure b.ReportAllocs() in all the benchmarks (#8460)
  crypto/armor_test.go
  crypto/keys/internal/benchmarking/bench.go
  crypto/keys/secp256k1/bench_test.go
  simapp/sim_bench_test.go
  store/cache/benchmark_test.go
  store/cachekv/store_bench_test.go
  store/cachekv/store_test.go
  store/iavl/store_test.go
  types/address_bench_test.go
  types/coin_benchmark_test.go
  types/decimal_test.go
  x/auth/keeper/keeper_bench_test.go
  x/bank/bench_test.go
  x/mint/types/minter_test.go
Due: modules

ibc-transfer: fix non-deterministic attribute value (#8442)
  x/ibc/applications/transfer/module.go
Due: none

docs: Update x/staking spec (#8395)
  x/staking/spec/01_state.md
  x/staking/spec/03_messages.md
Due: modules

Refactor store keys for variable-length addresses (#8363)
  contrib/rosetta/configuration/bootstrap.json
  contrib/rosetta/configuration/data.sh
  contrib/rosetta/configuration/staking.ros
  contrib/rosetta/node/data.tar.gz
  simapp/export.go
  types/address.go
  types/address/store_key_test.go
  types/address_test.go
  types/query/filtered_pagination_test.go
  types/query/pagination_test.go
  x/authz/types/keys.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/types/key.go
  x/bank/types/key_test.go
  x/bank/types/msgs_test.go
  x/distribution/types/keys.go
  x/feegrant/types/key.go
  x/gov/types/keys.go
  x/gov/types/keys_test.go
  x/slashing/types/keys.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/types/keys.go
  x/staking/types/keys_test.go
Due: modules

Limit context background (#8093)
  client/cmd_test.go
  client/grpc/tmservice/block.go
  client/grpc/tmservice/service.go
  client/grpc/tmservice/status.go
  client/keys/parse.go
  client/rpc/validators.go
  x/auth/client/cli/query.go
  x/bank/client/cli/query.go
  x/bank/client/testutil/cli_helpers.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/tx.go
  x/gov/client/cli/query.go
  x/ibc/applications/transfer/client/cli/query.go
  x/ibc/core/02-client/client/cli/query.go
  x/ibc/core/03-connection/client/cli/query.go
  x/ibc/core/04-channel/client/cli/query.go
  x/mint/client/cli/query.go
  x/params/client/cli/query.go
  x/slashing/client/cli/query.go
  x/staking/client/cli/query.go
  x/upgrade/client/cli/query.go
Due: modules, client

Fix keyring import from older versions. (#8436)
  client/keys/testdata/keys/keys.db/MANIFEST-000005
Due: client

test fix
  types/address_test.go
  types/query/filtered_pagination_test.go
  types/query/pagination_test.go
  x/auth/types/msgs_test.go
  x/authz/client/rest/grpc_query_test.go
  x/bank/client/cli/cli_test.go
  x/bank/keeper/send.go
  x/bank/types/key_test.go
  x/bank/types/msgs_test.go
  x/staking/keeper/querier_test.go
  x/staking/keeper/val_state_change.go
  x/staking/types/keys.go
  x/staking/types/keys_test.go
  x/wasm/types/tx_test.go
Due: modules

snapshots: document use of ioutil.TempDir() (#8508)
  server/grpc/grpc_web.go
  snapshots/helpers_test.go
  snapshots/store_test.go
  x/authz/client/cli/cli_test.go
  x/authz/keeper/keeper_test.go
  x/feegrant/client/cli/query.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/simulation/decoder_test.go
  x/feegrant/simulation/genesis_test.go
  x/feegrant/types/basic_fee_test.go
  x/feegrant/types/grant_test.go
  x/feegrant/types/periodic_fee_test.go
Due: modules

bank: don't ignore errors returned by Balance.GetAddress() (#8531)
  x/bank/types/balance_test.go
Due: modules

Persist evidence in equivocation handler (#8502)
  x/evidence/keeper/infraction.go
  x/evidence/keeper/infraction_test.go
  x/evidence/spec/01_concepts.md
Due: modules

Add specs for feegrant (#8496)
  x/feegrant/spec/01_concepts.md
  x/feegrant/spec/02_state.md
  x/feegrant/spec/03_messages.md
  x/feegrant/spec/04_events.md
  x/feegrant/spec/README.md
Due: modules

ADR 038: State Listening (#8012)
  docs/architecture/adr-038-state-listening.md
Due: none

update pagination tests (#8565)
  types/query/filtered_pagination_test.go
  types/query/pagination_test.go
Due: none

atlas: evidence (#8561)
  .github/workflows/atlas.yml
  x/evidence/atlas/atlas-v0.41.x.md
  x/evidence/atlas/manifest.toml
Due: modules

types: use (*math/big.Int).BitLen() == 0 to check if value is 0 (#8580)
  types/bench_test.go
  types/int.go
  types/int_test.go
  types/uint.go
  types/uint_test.go
Due: none

adr-028 address generation (#8415)
  codec/amino.go
  crypto/codec/amino.go
  crypto/keys/ed25519/ed25519.go
  crypto/keys/ed25519/ed25519_test.go
  crypto/keys/secp256k1/secp256k1.go
  proto/lbm/crypto/ed25519/keys.proto
  types/address/README.md
  types/address/hash.go
  types/address/hash_test.go
  types/address/store_key_test.go
  types/errors/handle.go
  x/auth/types/account.go
Due: modules
