Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Update ostracon to b9cf421a361e (#1095)
  baseapp/abci.go
  go.mod
  go.sum
Due: app

CR for SCC data
  x/or/da/keeper/scc.go
  x/or/da/types/errors.go
  x/or/da/types/keys.go
Due: modules

rename to finschia-rdk
  baseapp/abci_test.go
  scripts/protocgen.sh
  x/feegrant/filtered_fee.go
  x/upgrade/client/cli/tx.go
Due: app, modules

Update Ramus
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/reactor.go
  go.mod
  go.sum
  types/errors/abci.go
Due: app

Fix bad replacement
  baseapp/abci_test.go
  scripts/protocgen.sh
  x/feegrant/filtered_fee.go
  x/upgrade/client/cli/tx.go
Due: app, modules

feat!: remove libsodium vrf library.
  .github/workflows/test.yml
  .gitmodules
  Makefile
Due: none

fix: delete cgo flags for libsodium
  .github/workflows/test.yml
Due: none

chore: add this pr for change.log
  CHANGELOG.md
Due: none

feat!: delete libsodium
  .github/workflows/test.yml
  .gitmodules
  Makefile
Due: none

chore: add this pr to change.log
  CHANGELOG.md
Due: none

chore: fix typo for change.log
  CHANGELOG.md
Due: none

Enable rpc client
  server/start.go
Due: none

Update finschia-sdk and ostracon and ramus
  go.mod
  go.sum
Due: none

Resolve build error in make install
  testutil/network/util.go
  x/genutil/client/cli/init_test.go
Due: modules

fix: remove rollup&da module
  simapp/app.go
Due: none

Remove foundation from L2 application
  simapp/app.go
Due: none

Revert x/genutil
  server/export_test.go
  simapp/app.go
  simapp/app_test.go
  simapp/simd/cmd/cmd_test.go
  simapp/simd/cmd/genaccounts.go
  simapp/simd/cmd/genaccounts_test.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/testnet.go
  simapp/simd/cmd/testnet_test.go
  testutil/network/network.go
  testutil/network/util.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/init_test.go
  x/genutil/client/cli/migrate.go
  x/genutil/client/cli/validate_genesis.go
  x/genutil/client/testutil/cli_test.go
  x/genutil/client/testutil/helpers.go
  x/genutil/client/testutil/migrate.go
  x/genutil/client/testutil/suite.go
  x/genutil/client/testutil/validate_genesis.go
  x/genutil/collect.go
  x/genutil/collect_test.go
  x/genutil/doc.go
  x/genutil/genesis.go
  x/genutil/gentx.go
  x/genutil/gentx_test.go
  x/genutil/legacy/v043/migrate.go
  x/genutil/module.go
  x/genutil/types/expected_keepers.go
  x/genutil/types/genesis.pb.go
  x/genutil/types/genesis_state.go
  x/genutil/types/genesis_state_test.go
  x/genutil/types/types.go
  x/genutil/utils.go
  x/genutil/utils_test.go
Due: modules

Create a wrapper that calls tendermint's RPC client as ostracon's client
  compat/client.go
  compat/types.go
  server/start.go
Due: none

Skip CI:Sims
  .github/workflows/sims.yml
Due: none

Ignore tests that use simd
  simapp/sim_bench_test.go
  simapp/sim_test.go
Due: none

Remove duplicate imports
  simapp/app.go
Due: none

Format files
  baseapp/options.go
  baseapp/reactor.go
  baseapp/testutil/messages.pb.go
  server/rosetta.go
  simapp/utils.go
  store/dbadapter/store_test.go
  store/listenkv/store_test.go
  store/rootmulti/snapshot_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/streaming/constructor_test.go
Due: app

Fix lint:Consider pre-allocating
  compat/client.go
  compat/types.go
Due: none

Skip some tests
  server/grpc/grpc_web_test.go
  server/grpc/server_test.go
Due: none

Lower codecov target
  codecov.yml
Due: none

feat!: remove libsodium vrf library. (#1099)
  .github/workflows/test.yml
  .gitmodules
  CHANGELOG.md
  Makefile
Due: none

Reject modifying NFT class with token index filled
  x/collection/msgs.go
Due: modules

Update the corresponding unit test
  x/collection/msgs_test.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md of other PRs
  CHANGELOG.md
Due: none

Change finschia-sdk/simapp dependency in genutil to rdk
  x/genutil/client/testutil/suite.go
  x/genutil/gentx_test.go
  x/genutil/types/genesis_state_test.go
Due: modules

Remove msg_service_router.go
  baseapp/msg_service_router.go
  baseapp/msg_service_router_test.go
Due: app

Change files that are not copied correctly
  third_party/proto/confio/proofs.proto
  third_party/proto/google/api/annotations.proto
  third_party/proto/google/api/http.proto
  third_party/proto/google/protobuf/any.proto
  third_party/proto/ostracon/abci/types.proto
  third_party/proto/ostracon/blockchain/types.proto
  third_party/proto/ostracon/privval/types.proto
  third_party/proto/ostracon/rpc/grpc/types.proto
  third_party/proto/ostracon/state/types.proto
  third_party/proto/ostracon/types/block.proto
  third_party/proto/ostracon/types/types.proto
  third_party/proto/tendermint/abci/types.proto
  third_party/proto/tendermint/blockchain/types.proto
  third_party/proto/tendermint/consensus/types.proto
  third_party/proto/tendermint/consensus/wal.proto
  third_party/proto/tendermint/crypto/keys.proto
  third_party/proto/tendermint/crypto/proof.proto
  third_party/proto/tendermint/libs/bits/types.proto
  third_party/proto/tendermint/mempool/types.proto
  third_party/proto/tendermint/p2p/pex.proto
  third_party/proto/tendermint/p2p/types.proto
  third_party/proto/tendermint/privval/types.proto
  third_party/proto/tendermint/state/types.proto
  third_party/proto/tendermint/statesync/types.proto
  third_party/proto/tendermint/store/types.proto
  third_party/proto/tendermint/types/block.proto
  third_party/proto/tendermint/types/canonical.proto
  third_party/proto/tendermint/types/events.proto
  third_party/proto/tendermint/types/evidence.proto
  third_party/proto/tendermint/types/params.proto
  third_party/proto/tendermint/types/types.proto
  third_party/proto/tendermint/types/validator.proto
  third_party/proto/tendermint/version/types.proto
Due: none

Update rollup module expected keeper
  x/or/da/keeper/cc.go
  x/or/da/keeper/msg_server.go
  x/or/da/testutil/expected_keepers_mocks.go
  x/or/da/testutil/keeper.go
  x/or/da/types/expected_keepers.go
Due: modules

fix: reject modifying NFT class with token index filled in MsgModify (#1102)
  CHANGELOG.md
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

chore
  x/or/da/keeper/msg_server.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
