Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

all: skip noisy/faulty benchmarks + add b.ReportAllocs for every benchmark (#8856)
  crypto/armor_test.go
  x/auth/ante/sigverify_benchmark_test.go
Due: modules

add orderBy parameter to TxsByEvents (#8815)
  proto/lbm/tx/v1/service.proto
Due: none

Staking spec updates (#8843)
  x/staking/spec/01_state.md
  x/staking/spec/03_messages.md
Due: modules

CLI/keys: define default supported keyring algorithms (#8825)
  client/cmd.go
  client/context.go
Due: client

server: try avoid the "address already in use" error (#8842)
  server/test_helpers.go
Due: none

Fix multisig LegacyAminoPubKey Amino marshaling (#8841)
  crypto/keys/multisig/multisig_test.go
  x/auth/legacy/legacytx/stdtx.go
Due: modules

Add 0.43 CLI JSON `migrate` command (#8880)
  x/genutil/client/cli/migrate.go
  x/genutil/client/cli/validate_genesis_test.go
  x/genutil/legacy/v043/migrate.go
  x/gov/legacy/v040/genesis.pb.go
  x/gov/legacy/v040/gov.pb.go
  x/gov/legacy/v043/json.go
  x/gov/legacy/v043/json_test.go
  x/gov/legacy/v043/keys.go
  x/gov/legacy/v043/store.go
  x/gov/legacy/v043/store_test.go
Due: modules

docs: update dropdown 0.41 → 0.42 (#8884)
  docs/.vuepress/enhanceApp.js
Due: none

Any: update and test String method (#8854)
  codec/types/any.go
  codec/types/any.pb.go
  codec/types/any_internal_test.go
  third_party/proto/google/protobuf/any.proto
Due: none

Add issue template for "Module Readiness Checklist" (#8901)
  .github/ISSUE_TEMPLATE/module-readiness-checklist.md
Due: none

Docs: Anys Usage, Events & small cleanups (#8895)
  docs/architecture/adr-041-in-place-store-migrations.md
Due: none

x/upgrade: added consensus version tracking (part of ADR-041) (#8743)
  docs/architecture/adr-041-in-place-store-migrations.md
  simapp/app.go
  x/upgrade/spec/02_state.md
Due: modules

chore: refactor code quality issues (#8932)
  .deepsource.toml
  client/context_test.go
  x/auth/ante/ante_test.go
  x/auth/client/rest/rest_test.go
  x/auth/tx/builder_test.go
  x/distribution/legacy/v043/store_test.go
  x/gov/legacy/v043/store_test.go
  x/slashing/legacy/v043/store_test.go
  x/staking/legacy/v043/store_test.go
Due: modules, client

add +nobuild flags to all relevant test cases (#8934)
  x/auth/client/rest/rest_test.go
  x/authz/client/cli/tx_test.go
  x/authz/client/rest/grpc_query_test.go
Due: modules

Added the possibility of specifying custom genesis accounts and balances inside CLI tests (#8936)
  testutil/network/util.go
Due: none

server: wrap errors (#8879)
  server/test_helpers.go
Due: none

x/distribution: fix module's parameters validation (#8918)
  x/distribution/types/fee_pool_test.go
  x/distribution/types/params.go
  x/distribution/types/params_internal_test.go
  x/distribution/types/params_test.go
Due: modules

exclude test from race detection (#8949)
  x/auth/tx/service_test.go
Due: modules

gRPC: fix server reflection (#8945)
  server/grpc/gogoreflection/doc.go
  server/grpc/gogoreflection/fix_registration.go
  server/grpc/gogoreflection/fix_registration_test.go
  server/grpc/gogoreflection/serverreflection.go
  server/grpc/server.go
  server/grpc/server_test.go
Due: none

Fix genesis supply handling (#8930)
  proto/lbm/bank/v1/genesis.proto
  proto/lbm/tx/v1/service.proto
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/types/genesis.go
Due: modules

CreateValidator self delegation must be at least one consensus power (#8909)
  .deepsource.toml
  proto/lbm/tx/v1/service.proto
  server/test_helpers.go
  x/genutil/client/cli/validate_genesis_test.go
  x/genutil/legacy/v043/migrate.go
  x/gov/legacy/v043/json.go
  x/gov/legacy/v043/json_test.go
  x/staking/client/cli/cli_test.go
  x/staking/simulation/operations.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
Due: modules

move feegrant ante to auth ante (#8682)
  simapp/app.go
  x/auth/ante/ante.go
  x/auth/ante/ante_test.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/fee.go
  x/auth/ante/fee_grant.go
  x/auth/ante/fee_grant_test.go
  x/auth/ante/fee_test.go
  x/auth/ante/feegrant_test.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
  x/feegrant/keeper/keeper.go
Due: modules

Remove requirement for gentx to be only 1 msg (#8954)
  x/genutil/collect.go
Due: modules
