Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

ci: update credential
  .github/workflows/docker.yml
Due: none

ci: check dockerhub token exists
  .github/workflows/docker.yml
Due: none

ci: do not push on PRs
  .github/workflows/docker.yml
Due: none

ci: fix branch name
  .github/workflows/docker.yml
Due: none

ci: fix syntax error
  .github/workflows/docker.yml
Due: none

ci: enable push on PR
  .github/workflows/docker.yml
Due: none

ci: add g++
  Dockerfile
Due: none

ci: disable on pr
  .github/workflows/docker.yml
Due: none

Set proper default command output (#8628)
  client/flags/flags.go
  client/keys/add.go
  client/keys/list.go
  server/export.go
  simapp/simd/cmd/root.go
  version/command.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/cli/validate_sigs.go
  x/bank/types/send_authorization_test.go
Due: modules, client

Update README.md (#9181)
  x/auth/client/testutil/cli_test.go
  x/auth/client/testutil/suite.go
  x/auth/vesting/client/testutil/cli_test.go
  x/auth/vesting/client/testutil/suite.go
  x/authz/client/testutil/cli_test.go
  x/authz/client/testutil/query.go
  x/authz/client/testutil/tx.go
  x/bank/client/testutil/cli_test.go
  x/bank/client/testutil/suite.go
  x/crisis/client/testsuite/cli_test.go
  x/crisis/client/testsuite/suite.go
  x/distribution/client/testutil/cli_test.go
  x/distribution/client/testutil/suite.go
  x/evidence/client/testutil/cli_test.go
  x/evidence/client/testutil/suite.go
  x/genutil/client/cli/gentx_test.go
  x/genutil/client/testutil/cli_test.go
  x/genutil/client/testutil/migrate.go
  x/genutil/client/testutil/validate_genesis.go
  x/gov/client/testutil/cli_test.go
  x/gov/client/testutil/suite.go
  x/gov/keeper/hooks.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/internal_test.go
  x/gov/types/hooks.go
  x/mint/client/testutil/cli_test.go
  x/mint/client/testutil/suite.go
  x/params/client/testutil/cli_test.go
  x/params/client/testutil/suite.go
  x/slashing/client/testutil/cli_test.go
  x/slashing/client/testutil/suite.go
  x/staking/client/rest/grpc_query_test.go
  x/staking/client/testutil/cli_test.go
  x/staking/client/testutil/suite.go
Due: modules

Merge pull request #9169 from cosmos/okwme-adr-committee
  CONTRIBUTING.md
Due: none

internal/conv: fix wrong string to bytes implementation (#9141)
  internal/conv/string.go
  internal/conv/string_test.go
Due: none

x/feegrant simulation audit changes (#9145)
  proto/lbm/feegrant/v1/tx.proto
  x/feegrant/client/cli/tx.go
  x/feegrant/doc.go
  x/feegrant/handler.go
  x/feegrant/keeper/genesis_test.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server.go
  x/feegrant/keeper/msg_server_test.go
  x/feegrant/simulation/genesis.go
  x/feegrant/simulation/genesis_test.go
  x/feegrant/simulation/operations.go
  x/feegrant/simulation/operations_test.go
  x/feegrant/types/codec.go
  x/feegrant/types/msgs.go
  x/feegrant/types/msgs_test.go
Due: modules

Add hooks to governance actions (#9133)
  simapp/app.go
  x/gov/abci.go
  x/gov/keeper/deposit.go
  x/gov/keeper/hooks.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/internal_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/proposal.go
  x/gov/keeper/vote.go
  x/gov/types/expected_keepers.go
  x/gov/types/hooks.go
Due: modules

consistency in antehandler (#9144)
  x/auth/ante/ante.go
  x/auth/ante/basic.go
  x/auth/ante/basic_test.go
Due: modules

setup: reuses proto container (#9192)
  Makefile
Due: none

crypto/types: fix negative index accesses in CompactUnmarshal,GetIndex,SetIndex (#9196)
  crypto/types/compact_bit_array.go
  crypto/types/compact_bit_array_test.go
Due: none

Add support for permanent locked vesting accounts (#8520)
  proto/lbm/vesting/v1/vesting.proto
  x/auth/vesting/exported/exported.go
  x/auth/vesting/types/codec.go
  x/auth/vesting/types/common_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
Due: modules

remove docs deployment (#9202)
  .github/workflows/docs.yml
Due: none

x/feegrant completeness audit updates (#9177)
  x/authz/client/cli/tx.go
Due: modules

ADR036: Arbitrary signature (#7727)
  docs/architecture/adr-036-arbitrary-signature.md
Due: none

Add labeler action (#9204)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

crypto/types: optimize compact bit array one count (#9216)
  crypto/types/compact_bit_array.go
Due: none

fix zero coins (#9229)
  x/bank/keeper/genesis_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
Due: modules

x/feegrant API Audit changes (#9194)
  x/feegrant/client/cli/tx.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/msg_server.go
  x/feegrant/spec/01_concepts.md
  x/feegrant/spec/04_events.md
  x/feegrant/spec/README.md
  x/feegrant/types/genesis.go
Due: modules

fix build
  docs/core/proto-docs.md
  simapp/app.go
  x/auth/vesting/types/vesting.pb.go
  x/bank/client/testutil/suite.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/msg_server.go
  x/feegrant/types/msgs_test.go
  x/feegrant/types/tx.pb.go
Due: modules

x/feegrant state machine audit updates (#9176)
  x/feegrant/keeper/grpc_query_test.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server.go
  x/feegrant/types/basic_fee_test.go
  x/feegrant/types/periodic_fee_test.go
Due: modules

Added a "new_shares" attribute inside the delegate event type (#9214)
  x/staking/keeper/msg_server.go
  x/staking/types/events.go
Due: modules

x/feegrant audit: clean up / add test coverage to types package (#9193)
  server/grpc/server_test.go
  x/feegrant/types/grant_test.go
  x/feegrant/types/msgs.go
  x/feegrant/types/msgs_test.go
Due: modules

update contributor docs (#9190)
  CONTRIBUTING.md
Due: none

store/internal: validate keys before calling ProofsFromMap (#9235)
  store/internal/proofs/create.go
Due: none

Improve readability in handleQueryP2P (#9205)
  baseapp/abci.go
Due: app
