Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

fix: use cosmos pagination
  proto/lbm/collection/v1/query.proto
Due: none

fix: fix the data race problem in `TestQueryABCIHeight` (#565)
  CHANGELOG.md
  client/query_test.go
Due: client

feat: add query client
  x/collection/client/cli/query.go
  x/collection/keeper/grpc_query.go
  x/collection/module/module.go
  x/collection/msgs.go
Due: modules

feat: add nft to genesis
  docs/core/proto-docs.md
  proto/lbm/collection/v1/genesis.proto
  x/collection/genesis.go
  x/collection/genesis.pb.go
  x/collection/genesis_test.go
  x/collection/keeper/alias.go
  x/collection/keeper/genesis.go
  x/collection/keeper/keys.go
Due: modules

fix: fix parents iterator
  x/collection/keeper/alias.go
Due: modules

lint: suppress unused for a while
  x/collection/keeper/keys.go
  x/collection/keeper/nft.go
  x/collection/keeper/supply.go
Due: modules

feat: enable servers
  x/collection/module/module.go
Due: none

refactor: remove ValidateNFTID() of keeper
  x/collection/keeper/grpc_query.go
  x/collection/keeper/nft.go
  x/collection/keeper/supply.go
Due: modules

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: implement mint and burn
  x/collection/keeper/grpc_query.go
  x/collection/keeper/keys.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/nft.go
  x/collection/keeper/send.go
  x/collection/keeper/supply.go
Due: modules

test: increase coverage of msgs.go
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

test: increase coverage of msg_server.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/send_test.go
  x/collection/keeper/supply.go
Due: modules

chore: rename files
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
Due: modules

docs: fix comment
  x/token/client/testutil/suite.go
Due: modules

refactor: introduce ValidateContractID()
  x/token/genesis.go
  x/token/genesis_test.go
  x/token/keeper/grpc_query.go
  x/token/msgs.go
  x/token/validation.go
Due: modules

Update x/token/keeper/send.go
  x/token/keeper/send.go
Due: modules

lint: lint test files
  x/token/genesis_test.go
  x/token/keeper/grpc_query_test.go
  x/token/keeper/keeper_test.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/send_test.go
  x/token/keeper/supply_test.go
  x/token/msgs_test.go
Due: modules

test: add tests on grpc_query.go
  x/collection/genesis_test.go
  x/collection/keeper/alias.go
  x/collection/keeper/genesis.go
  x/collection/keeper/genesis_test.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/keys.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/send_test.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs_test.go
Due: modules

feat: implement attach and detach
  x/collection/collection.go
  x/collection/genesis_test.go
  x/collection/keeper/genesis_test.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/nft_test.go
  x/collection/keeper/send.go
  x/collection/keeper/send_test.go
  x/collection/keeper/supply.go
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

refactor: remove validateRoot
  x/collection/keeper/nft.go
  x/collection/keeper/send.go
Due: modules

feat: implement modify
  x/collection/collection.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs_test.go
Due: modules

test: burn tokens
  x/collection/keeper/genesis_test.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keeper_test.go
Due: modules

lint: lint
  x/collection/keeper/msg_server.go
Due: modules

fix: push docker image action.
  .github/workflows/docker.yml
  Dockerfile
  go.mod
  init_node.sh
Due: none

chore: rollback the `BINARY` data of `init_node.sh`
  init_node.sh
Due: none

chore: rollback the `BINARY` data of `init_node.sh`
  CHANGELOG.md
Due: none

feat: add Msg/CreateFTClass and Msg/CreateNFTClass
  docs/core/proto-docs.md
  proto/lbm/collection/v1/tx.proto
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/collection/tx.pb.go
Due: modules

fix: remove an interface TokenClass from proto
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/client/cli/query.go
  x/collection/event.pb.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/send.go
  x/collection/keeper/supply_test.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
  x/collection/tx.pb.go
Due: modules

fix: remove the interface TokenClass from tx, event and query
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
Due: none

feat: add nfts into genesis
  proto/lbm/collection/v1/genesis.proto
Due: none

chore: change `ostracon` version
  go.mod
  go.sum
Due: none

feat: add Query/TokenClassTypeURL
  docs/core/proto-docs.md
  proto/lbm/collection/v1/query.proto
  x/collection/client/cli/query.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
Due: modules

feat: add Query/TokenClassTypeName
  proto/lbm/collection/v1/query.proto
Due: none

feat: remove `prove` field in the `GetTxsEventRequest` of `tx` proto.
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/cosmos/tx/v1beta1/service.proto
  types/tx/service.pb.go
Due: client

fix: push docker image action. (#580)
  .github/workflows/docker.yml
  CHANGELOG.md
  Dockerfile
  go.mod
  go.sum
Due: none

fix: change ContractAddrLen
  x/ibc/applications/transfer/types/msgs_test.go
  x/ibc/core/04-channel/types/msgs_test.go
  x/ibc/core/24-host/validate.go
  x/wasm/client/cli/genesis_msg_test.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/module_test.go
  x/wasm/types/keys_test.go
  x/wasm/types/types.go
  x/wasm/types/types_test.go
Due: modules

fix: fix protobuf path
  docs/core/proto-docs.md
  proto/lbm/wasm/v1/query.proto
  x/wasm/types/query.pb.go
  x/wasm/types/query.pb.gw.go
Due: none

fix: apply review
  CHANGELOG.md
  simapp/simd/cmd/genaccounts.go
Due: none

fix: fix typo & missing commit
  x/wasm/keeper/snapshotter.go
  x/wasm/types/params.go
Due: modules
