Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix: not to throw error when no txs in block (#982)
  CHANGELOG.md
  x/auth/tx2/service.go
  x/auth/tx2/service_test.go
Due: modules

refactor: refactor x/token,collection query errors (#980)
  CHANGELOG.md
  x/collection/client/testutil/query.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
Due: modules

chore: test docker push
  .github/workflows/docker.yml
Due: none

ci: remove test
  .github/workflows/docker.yml
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

Do SendCoins() even if the coins is empty
  client/grpc/tmservice/service_test.go
  x/foundation/keeper/internal/treasury.go
Due: modules, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: revert #952 (#984)
  CHANGELOG.md
  client/grpc/tmservice/service_test.go
  x/foundation/keeper/internal/treasury.go
Due: modules, client

ci: update docker action (#983)
  .github/workflows/docker.yml
  CHANGELOG.md
Due: none

chore: update url path in changelog
  CHANGELOG.md
Due: none

chore: bump up Ostracon from v1.0.10-0.20230417071658-1c9c22cfe90d to v1.1.0
  go.mod
  go.sum
Due: none

chore: update changelog for release v0.47.0
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

chore: change target org of url from line to finschia
  RELEASE_CHANGELOG.md
Due: none

Release finschia-sdk v0.47.0 (#988)
  CHANGELOG.md
  RELEASE_CHANGELOG.md
  go.mod
  go.sum
Due: none

make a module skeleton code
  go.sum
  go.work
  proto/finschia/or/da/v1beta1/genesis.proto
  proto/finschia/or/da/v1beta1/params.proto
  proto/finschia/or/da/v1beta1/query.proto
  proto/finschia/or/da/v1beta1/tx.proto
  x/or/da/client/cli/query.go
  x/or/da/client/cli/query_params.go
  x/or/da/client/cli/tx.go
  x/or/da/genesis.go
  x/or/da/genesis_test.go
  x/or/da/keeper/keeper.go
  x/or/da/keeper/msg_server.go
  x/or/da/keeper/msg_server_test.go
  x/or/da/keeper/params.go
  x/or/da/keeper/params_test.go
  x/or/da/keeper/query.go
  x/or/da/keeper/query_params.go
  x/or/da/keeper/query_params_test.go
  x/or/da/module.go
  x/or/da/module_simulation.go
  x/or/da/simulation/helpers.go
  x/or/da/testutil/keeper.go
  x/or/da/testutil/types.go
  x/or/da/types/codec.go
  x/or/da/types/errors.go
  x/or/da/types/expected_keepers.go
  x/or/da/types/genesis.go
  x/or/da/types/genesis.pb.go
  x/or/da/types/genesis_test.go
  x/or/da/types/keys.go
  x/or/da/types/params.go
  x/or/da/types/params.pb.go
  x/or/da/types/query.pb.go
  x/or/da/types/query.pb.gw.go
  x/or/da/types/tx.pb.go
Due: modules

docs: fix local swagger url
  CHANGELOG.md
  README.md
Due: none

feat: add ctc proto, params
  docs/core/proto-docs.md
  go.work
  proto/finschia/or/da/v1beta1/da.proto
  proto/finschia/or/da/v1beta1/event.proto
  proto/finschia/or/da/v1beta1/genesis.proto
  proto/finschia/or/da/v1beta1/params.proto
  proto/finschia/or/da/v1beta1/tx.proto
  x/or/da/client/cli/query.go
  x/or/da/client/cli/query_params.go
  x/or/da/genesis.go
  x/or/da/keeper/ctc.go
  x/or/da/keeper/keeper.go
  x/or/da/keeper/msg_server.go
  x/or/da/keeper/params.go
  x/or/da/keeper/params_test.go
  x/or/da/keeper/query.go
  x/or/da/keeper/query_params.go
  x/or/da/keeper/query_test.go
  x/or/da/module_simulation.go
  x/or/da/testutil/keeper.go
  x/or/da/types/da.pb.go
  x/or/da/types/event.pb.go
  x/or/da/types/genesis.pb.go
  x/or/da/types/genesis_test.go
  x/or/da/types/keys.go
  x/or/da/types/params.go
  x/or/da/types/params.pb.go
  x/or/da/types/query.pb.go
  x/or/da/types/query.pb.gw.go
  x/or/da/types/tx.pb.go
Due: modules

Remove relevant messages from proto
  docs/core/proto-docs.md
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/mint/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/genesis.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  proto/lbm/foundation/v1/event.proto
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/foundation/v1/tx.proto
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/genesis.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/tx.proto
  x/foundation/event.pb.go
  x/foundation/tx.pb.go
Due: none

Remove relevant logics from x/foundation
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/tx.go
  x/foundation/codec.go
  x/foundation/keeper/internal/msg_server.go
  x/foundation/keeper/internal/msg_server_test.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
Due: modules

Use x/param
  simapp/app.go
  x/foundation/client/cli/tx.go
  x/foundation/foundation.go
  x/foundation/keeper/exported.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/grpc_query_test.go
  x/foundation/keeper/internal/keeper.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/keys.go
  x/foundation/keeper/internal/params.go
  x/foundation/keeper/internal/params_test.go
  x/foundation/keeper/internal/proposal_test.go
  x/foundation/keeper/internal/treasury_test.go
  x/foundation/keys.go
Due: modules

Add migration logic
  x/foundation/keeper/exported.go
  x/foundation/keeper/internal/migrations.go
  x/foundation/keeper/internal/migrations/v2/expected.go
  x/foundation/keeper/internal/migrations/v2/keys.go
  x/foundation/keeper/internal/migrations/v2/store.go
  x/foundation/keeper/internal/migrations/v2/store_test.go
  x/foundation/module/module.go
Due: modules

fix AppModule interface
  x/or/da/module.go
Due: none

Update docs
  x/foundation/README.md
Due: modules

docs: fix local swagger url (#997)
  CHANGELOG.md
  README.md
Due: none

Fix: typos
  docs/core/encoding.md
Due: none

Fix: typos
  docs/migrations/chain-upgrade-guide-044.md
Due: none

modify proto
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  proto/finschia/or/da/v1/event.proto
  proto/finschia/or/da/v1/genesis.proto
  proto/finschia/or/da/v1/params.proto
  proto/finschia/or/da/v1/query.proto
  proto/finschia/or/da/v1/tx.proto
  proto/finschia/or/da/v1beta1/da.proto
  proto/finschia/or/da/v1beta1/genesis.proto
  proto/finschia/or/da/v1beta1/params.proto
  proto/finschia/or/da/v1beta1/tx.proto
  x/or/da/keeper/msg_server.go
  x/or/da/types/da.pb.go
  x/or/da/types/event.pb.go
  x/or/da/types/genesis.pb.go
  x/or/da/types/params.pb.go
  x/or/da/types/query.pb.go
  x/or/da/types/query.pb.gw.go
  x/or/da/types/tx.pb.go
Due: modules

modify proto for multiple rollup
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  proto/finschia/or/da/v1/genesis.proto
  proto/finschia/or/da/v1/tx.proto
  x/or/da/types/da.pb.go
  x/or/da/types/genesis.pb.go
  x/or/da/types/tx.pb.go
Due: none

Implement the interface of settlement module
  docs/core/proto-docs.md
  proto/finschia/or/settlement/v1beta1/genesis.proto
  proto/finschia/or/settlement/v1beta1/query.proto
  proto/finschia/or/settlement/v1beta1/settlement.proto
  proto/finschia/or/settlement/v1beta1/tx.proto
  x/or/settlement/client/cli/query.go
  x/or/settlement/client/cli/tx.go
  x/or/settlement/genesis.go
  x/or/settlement/genesis_test.go
  x/or/settlement/handler.go
  x/or/settlement/keeper/grpc_query.go
  x/or/settlement/keeper/keeper.go
  x/or/settlement/keeper/msg_server.go
  x/or/settlement/module.go
  x/or/settlement/module_simulation.go
  x/or/settlement/simulation/simap.go
  x/or/settlement/testutil/keeper/settlement.go
  x/or/settlement/testutil/nullify/nullify.go
  x/or/settlement/testutil/sample/sample.go
  x/or/settlement/types/codec.go
  x/or/settlement/types/errors.go
  x/or/settlement/types/expected_keepers.go
  x/or/settlement/types/genesis.go
  x/or/settlement/types/genesis.pb.go
  x/or/settlement/types/genesis_test.go
  x/or/settlement/types/keys.go
  x/or/settlement/types/query.pb.go
  x/or/settlement/types/query.pb.gw.go
  x/or/settlement/types/settlement.go
  x/or/settlement/types/settlement.pb.go
  x/or/settlement/types/tx.pb.go
Due: modules

add spec md
  x/or/da/README.md
Due: modules

Fix endpoint
  proto/finschia/or/settlement/v1beta1/query.proto
Due: none

Generate stub files
  docs/core/proto-docs.md
  x/or/settlement/types/query.pb.go
  x/or/settlement/types/query.pb.gw.go
Due: none

update proto
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  proto/finschia/or/da/v1/genesis.proto
  proto/finschia/or/da/v1/tx.proto
  x/or/da/keeper/ctc.go
  x/or/da/keeper/keeper.go
  x/or/da/keeper/msg_server.go
  x/or/da/types/da.pb.go
  x/or/da/types/genesis.pb.go
  x/or/da/types/tx.pb.go
Due: modules

modify genesis proto
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/genesis.proto
  x/or/da/types/genesis.pb.go
Due: none

gen testutil
  x/or/da/keeper/msg_server.go
  x/or/da/testutil/keeper.go
  x/or/da/testutil/types.go
  x/or/da/testutil/types_test.go
Due: modules

Update x/foundation/foundation.go
  x/foundation/foundation.go
Due: modules

modify proto
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/tx.proto
  x/or/da/types/tx.pb.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
