Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

Set consensus params
  baseapp/abci.go
  baseapp/baseapp.go
Due: app

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update workflows
  .github/workflows/release-sims.yml
Due: none

Replace `TM` with `OC`
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/ibc/core/02-client/types/genesis_test.go
  x/ibc/core/02-client/types/msgs_test.go
  x/ibc/core/ante/ante_test.go
  x/ibc/core/genesis_test.go
  x/ibc/light-clients/99-ostracon/types/misbehaviour_handle_test.go
  x/ibc/light-clients/99-ostracon/types/misbehaviour_test.go
  x/ibc/light-clients/99-ostracon/types/ostracon_test.go
  x/ibc/light-clients/99-ostracon/types/update_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/coordinator.go
  x/ibc/testing/endpoint.go
  x/ibc/testing/values.go
  x/wasm/ibctesting/chain.go
  x/wasm/ibctesting/coordinator.go
  x/wasm/ibctesting/endpoint.go
Due: modules

Use `k.newQueryHandler`
  x/wasm/keeper/relay.go
Due: modules

Fix to correct storage gas
  x/wasm/keeper/relay_test.go
Due: modules

Add tests to cover ReCheckTx of validateMaxGas
  x/auth/ante/setup_test.go
Due: modules

fix: the bug not setting `iavl-cache-size` value of the `app.toml` and change `DefaultIAVLCacheSize`
  simapp/simd/cmd/root.go
  store/iavl/store.go
Due: none

chore: add more warning descriptions
  server/config/toml.go
Due: none

chore: add changelog
  CHANGELOG.md
Due: none

Add tests to cover consensus parameter updates
  baseapp/abci_test.go
Due: app

fix the bug not setting `iavl-cache-size` value of `app.toml` (#679)
  CHANGELOG.md
  server/config/toml.go
  simapp/simd/cmd/root.go
  store/iavl/store.go
Due: none

fix: fix max gas validation (#673)
  .github/workflows/release-sims.yml
  CHANGELOG.md
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  x/auth/ante/setup.go
  x/auth/ante/setup_test.go
Due: app, modules

Remove the logic relevant to the proposal
  simapp/app.go
  x/foundation/client/cli/tx.go
  x/foundation/client/proposal_handler.go
  x/foundation/client/testutil/tx.go
  x/foundation/codec.go
  x/foundation/keeper/handler.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/proposal_test.go
  x/foundation/proposal.go
  x/foundation/proposal_test.go
Due: modules

Remove the logic relevant to granter
  x/foundation/client/testutil/suite.go
  x/foundation/genesis_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/grant_test.go
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/keeper.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/stakingplus/expected_keepers.go
  x/stakingplus/keeper/keeper_test.go
  x/stakingplus/keeper/msg_server.go
Due: modules

Remove granter from authorization releated messages
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/genesis.proto
  x/foundation/genesis.pb.go
Due: none

Remove `MinThreshold` and `MinPercentage` from config
  x/foundation/config.go
  x/foundation/foundation.go
  x/foundation/foundation_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member_test.go
  x/foundation/keeper/msg_server_test.go
Due: modules

Fix bugs on abortOldProposals()
  x/foundation/keeper/proposal.go
  x/foundation/keeper/proposal_test.go
Due: modules

Fix the misleading naming of the variable in the test
  x/foundation/keeper/exec_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal_test.go
  x/foundation/keeper/vote_test.go
Due: modules

refactor: remove `MinThreshold` and `MinPercentage` from x/foundation config (#686)
  CHANGELOG.md
  x/foundation/config.go
  x/foundation/foundation.go
  x/foundation/foundation_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member_test.go
  x/foundation/keeper/msg_server_test.go
Due: modules

feat: add tests of interface detection
  go.mod
  go.sum
  x/wasm/dynamic_link_test.go
  x/wasm/testdata/call_number.wasm
  x/wasm/testdata/dynamic_callee_contract.wasm
  x/wasm/testdata/dynamic_caller_contract.wasm
Due: modules

fix: fix to prevent accepting file name
  x/wasm/client/cli/query.go
Due: modules

fix: add error handling
  x/foundation/msgs.go
  x/wasm/lbmtypes/tx.go
Due: modules

Fix copy-pasted return
  x/foundation/msgs_test.go
Due: modules

fix: use MustAccAddressFromBech32
  x/foundation/msgs.go
  x/wasm/lbmtypes/tx.go
Due: modules

fix: fix bugs on aborting x/foundation proposals (#687)
  CHANGELOG.md
  x/foundation/keeper/exec_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/proposal_test.go
  x/foundation/keeper/vote_test.go
  x/foundation/msgs_test.go
Due: modules

Add Pool to state
  x/foundation/foundation.go
  x/foundation/genesis.go
  x/foundation/genesis_test.go
  x/foundation/keeper/abci_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/treasury.go
  x/foundation/keeper/treasury_test.go
Due: modules

chore: add unittest in wasm
  x/wasm/client/testutil/tx.go
Due: modules

fix: use go:embed
  x/wasm/keeper/testdata/reflect.go
  x/wasm/simulation/operations.go
Due: modules

doc: update changelog
  CHANGELOG.md
Due: none
