Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

docs: modify changelog
  CHANGELOG.md
Due: none

chore: local multi node test setting files (#334)
  README.md
  init_node.sh
Due: none

build(wasm): bump up wasmvm to v0.14.0-0.8.0
  go.mod
  go.sum
Due: none

feat: modify wasm's proto path
  proto/ibc/lightclients/ostracon/v1/ostracon.proto
  proto/lbm/wasm/v1/genesis.proto
  proto/lbm/wasm/v1/ibc.proto
  proto/lbm/wasm/v1/proposal.proto
  proto/lbm/wasm/v1/query.proto
  proto/lbm/wasm/v1/tx.proto
  proto/lbm/wasm/v1/types.proto
Due: none

chore: make proto-format
  proto/ibc/core/channel/v1/query.proto
  proto/lbm/bank/v1/bank.proto
  proto/lbm/bank/v1/tx.proto
  proto/lbm/distribution/v1/distribution.proto
  proto/lbm/gov/v1/gov.proto
  proto/lbm/gov/v1/tx.proto
  proto/lbm/staking/v1/tx.proto
  proto/lbm/vesting/v1/tx.proto
  proto/lbm/vesting/v1/vesting.proto
  testutil/testdata/unknonwnproto.proto
Due: none

make proto-gen
  docs/core/proto-docs.md
  x/wasm/types/genesis.pb.go
  x/wasm/types/ibc.pb.go
  x/wasm/types/proposal.pb.go
  x/wasm/types/query.pb.go
  x/wasm/types/query.pb.gw.go
  x/wasm/types/tx.pb.go
  x/wasm/types/types.pb.go
Due: none

feat: modify wasm's proto path (#335)
  docs/core/proto-docs.md
  proto/ibc/core/channel/v1/query.proto
  proto/ibc/lightclients/ostracon/v1/ostracon.proto
  proto/lbm/bank/v1/bank.proto
  proto/lbm/bank/v1/tx.proto
  proto/lbm/distribution/v1/distribution.proto
  proto/lbm/gov/v1/gov.proto
  proto/lbm/gov/v1/tx.proto
  proto/lbm/staking/v1/tx.proto
  proto/lbm/vesting/v1/tx.proto
  proto/lbm/vesting/v1/vesting.proto
  proto/lbm/wasm/v1/genesis.proto
  proto/lbm/wasm/v1/ibc.proto
  proto/lbm/wasm/v1/proposal.proto
  proto/lbm/wasm/v1/query.proto
  proto/lbm/wasm/v1/tx.proto
  proto/lbm/wasm/v1/types.proto
  testutil/testdata/unknonwnproto.proto
  x/wasm/types/genesis.pb.go
  x/wasm/types/ibc.pb.go
  x/wasm/types/proposal.pb.go
  x/wasm/types/query.pb.go
  x/wasm/types/query.pb.gw.go
  x/wasm/types/tx.pb.go
  x/wasm/types/types.pb.go
Due: none

build(wasm): bump up wasmvm to v0.14.0-0.8.0 (#336)
  go.mod
  go.sum
Due: none

docs: update release_changelog
  RELEASE_CHANGELOG.md
Due: none

docs: update release_changelog and execute long sim test
  RELEASE_CHANGELOG.md
Due: none

fix: increate minimum limit of randomly generated sig block period
  x/auth/simulation/genesis.go
Due: modules

fix: increate minimum limit of randomly generated sig block period (#341)
  x/auth/simulation/genesis.go
Due: modules

docs: update release changelog
  RELEASE_CHANGELOG.md
Due: none

test: split long sim test into 3 parts
  .github/workflows/release-sims.yml
  Makefile
Due: none

build: fix makefile
  Makefile
Due: none

build: fix typo
  Makefile
Due: none

build: fix makefile
  .github/workflows/release-sims.yml
Due: none

docs: update release changelog (#342)
  .github/workflows/release-sims.yml
  Makefile
  RELEASE_CHANGELOG.md
Due: none

docs: add release date and tag link
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

fix: move `SigBlockHeight` from TxBody into AuthInfo (#293)
  baseapp/accountwgs_test.go
  docs/core/proto-docs.md
  proto/lbm/tx/v1/tx.proto
  server/mock/tx.go
  simapp/helpers/test_helpers.go
  testutil/testdata/unknonwnproto.pb.go
  testutil/testdata/unknonwnproto.proto
  types/tx/tx.pb.go
  types/tx/types.go
  x/auth/tx/builder.go
Due: app, modules

chore: add the change into CHANGELOG.md
  CHANGELOG.md
Due: none

fix: revert the omission of `GetSigBlockHeight()` in the tests
  baseapp/accountwgs_test.go
  server/mock/tx.go
Due: app

fix: revert the omission `SetSigBlockHeight()` in simapp
  simapp/helpers/test_helpers.go
Due: none

chore: replace the description in CHANGELOG.md into PR's
  CHANGELOG.md
Due: none

chore: change the scope of the item into auth
  CHANGELOG.md
Due: none

test: split long sim test into 3 parts (#345)
  .github/workflows/release-sims.yml
  Makefile
Due: none

fix: move SigBlockHeight from TxBody into AuthInfo (#344)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/tx/v1/tx.proto
  testutil/testdata/unknonwnproto.pb.go
  testutil/testdata/unknonwnproto.proto
  types/tx/tx.pb.go
  types/tx/types.go
  x/auth/tx/builder.go
Due: modules

docs: update changelog
  RELEASE_CHANGELOG.md
Due: none

docs: update changelog (#346)
  RELEASE_CHANGELOG.md
Due: none

feat: introduce `VoterSetCounter`
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/slashing/v1/slashing.proto
  simapp/export.go
  x/slashing/abci_test.go
  x/slashing/client/cli/cli_test.go
  x/slashing/genesis_test.go
  x/slashing/handler_test.go
  x/slashing/keeper/grpc_query_test.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/simulation/decoder_test.go
  x/slashing/simulation/operations_test.go
  x/slashing/spec/02_state.md
  x/slashing/spec/04_begin_block.md
  x/slashing/spec/05_hooks.md
  x/slashing/types/signing_info.go
  x/slashing/types/slashing.pb.go
  x/wasm/linkwasmd/app/export.go
Due: modules, client

fix: fix off-by-one error and add a test to catch it
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper_test.go
Due: modules

refactor: change the meaning of `VoteSetCounter`
  x/slashing/keeper/infractions.go
Due: modules

fix: check liveness threshold from the second round of the window
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper_test.go
Due: modules

chore: provide more meaningful log
  x/slashing/keeper/infractions.go
Due: modules

chore: increate default valid_sig_block_period
  x/auth/types/params.go
Due: modules

style: correct typos
  x/slashing/keeper/keeper_test.go
Due: modules

Revert "fix: check liveness threshold from the second round of ..."
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper_test.go
Due: modules

fix: fix test failure
  x/auth/ante/ante_test.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
