Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

revert: replace all ModuleCdc instances with legacy.Cdc (cosmos-sdk #11680)
  docs/core/encoding.md
  x/auth/types/codec.go
  x/auth/types/msgs.go
  x/auth/vesting/types/codec.go
  x/auth/vesting/types/msgs.go
  x/authz/codec.go
  x/authz/codec/cdc.go
  x/authz/codec/doc.go
  x/authz/msgs.go
  x/bank/simulation/operations_test.go
  x/bank/types/codec.go
  x/bank/types/msgs.go
  x/crisis/types/codec.go
  x/crisis/types/msgs.go
  x/distribution/simulation/operations_test.go
  x/distribution/types/codec.go
  x/distribution/types/msg.go
  x/evidence/types/codec.go
  x/evidence/types/msgs.go
  x/feegrant/codec.go
  x/gov/simulation/operations_test.go
  x/gov/types/codec.go
  x/gov/types/msgs.go
  x/slashing/simulation/operations_test.go
  x/slashing/types/codec.go
  x/slashing/types/msg.go
  x/staking/simulation/operations_test.go
  x/staking/types/codec.go
  x/staking/types/msg.go
  x/upgrade/types/codec.go
  x/wasm/lbmtypes/tx.go
  x/wasm/types/codec.go
  x/wasm/types/tx.go
Due: modules

fix!: Fix gov amino codec (cosmos-sdk #13196)
  docs/core/encoding.md
  x/auth/types/codec.go
  x/auth/vesting/types/codec.go
  x/authz/codec.go
  x/bank/types/codec.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/evidence/types/codec.go
  x/feegrant/codec.go
  x/gov/codec/cdc.go
  x/gov/codec/doc.go
  x/gov/simulation/operations_test.go
  x/gov/types/codec.go
  x/gov/types/msgs.go
  x/mint/types/codec.go
  x/slashing/types/codec.go
  x/staking/types/codec.go
  x/upgrade/types/codec.go
  x/wasm/lbmtypes/codec.go
  x/wasm/types/codec.go
Due: modules

fix: check multisig key list to prevent unexpected key deletion
  client/keys/add.go
Due: client

add CHANGELOG
  CHANGELOG.md
Due: none

feat: bump up cosmos/iavl v0.19.3
  baseapp/options.go
  go.mod
  go.sum
  server/config/config.go
  server/config/toml.go
  server/mock/store.go
  simapp/simd/cmd/root.go
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/iavl/tree_test.go
  store/prefix/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/types/iterator_test.go
  store/types/store.go
  x/wasm/types/iavl_range_test.go
Due: app, modules

build: replace protoreflect v1.10.3
  go.mod
  go.sum
Due: none

test: fix lint
  store/iavl/store.go
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

Remove all the legacy spec files
  x/foundation/spec/02_state.md
  x/foundation/spec/03_events.md
  x/foundation/spec/04_params.md
Due: modules

chore: update changelog.
  CHANGELOG.md
Due: none

Add test case
  x/feegrant/filtered_fee_test.go
Due: modules

fix: add verification on accounts into x/foundation Grants cli (#732)
  CHANGELOG.md
  x/foundation/client/cli/query.go
  x/foundation/client/testutil/query.go
Due: modules

use map instead of array to reduce time complexity
  client/keys/add.go
Due: client

fix: remove `VRFProve` (#731)
  CHANGELOG.md
  crypto/ledger/ledger_secp256k1.go
Due: none

Fix names
  x/feegrant/filtered_fee_test.go
Due: modules

refactor: add UpdateParams to x/foundation (#729)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/foundation/v1/tx.proto
  simapp/app.go
  x/foundation/client/cli/tx.go
  x/foundation/client/proposal_handler.go
  x/foundation/client/testutil/tx.go
  x/foundation/codec.go
  x/foundation/event.pb.go
  x/foundation/foundation.pb.go
  x/foundation/keeper/handler.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
  x/foundation/proposal.go
  x/foundation/proposal_test.go
  x/foundation/tx.pb.go
Due: modules

Update references to the latest commit of main
  x/foundation/README.md
Due: modules

Add update-params tx cli
  x/foundation/README.md
Due: modules

Update params field name
  x/foundation/README.md
Due: modules

docs: update x/foundation specification (#721)
  CHANGELOG.md
  x/README.md
  x/foundation/README.md
  x/foundation/spec/01_concepts.md
  x/foundation/spec/02_state.md
  x/foundation/spec/03_events.md
  x/foundation/spec/04_params.md
  x/foundation/spec/README.md
Due: modules

fix: add error message
  x/wasm/keeper/keeper.go
Due: modules

fix: prune stale x/foundation proposals at voting period end (#730)
  CHANGELOG.md
  x/foundation/keeper/abci_test.go
  x/foundation/keeper/proposal.go
Due: modules

fix: remove potential runtime panic in x/feegrant (#720)
  CHANGELOG.md
  x/feegrant/filtered_fee.go
  x/feegrant/filtered_fee_test.go
Due: modules

fix: reject multisig key addition about duplicate name
  client/keys/add.go
Due: client

fix: typo
  store/types/store.go
Due: none

test: remove comment
  store/types/iterator_test.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

test: cover iavl tree test
  store/iavl/tree_test.go
Due: none

fix: add restrictions on the number of args in the CLIs (#734)
  CHANGELOG.md
  x/auth/client/cli/query.go
  x/auth/client/testutil/suite.go
  x/bank/client/cli/query.go
  x/bank/client/testutil/suite.go
  x/gov/client/cli/query.go
  x/gov/client/testutil/suite.go
Due: modules

test: cover server/mock/store_test.go
  server/mock/store_test.go
  store/iavl/tree_test.go
Due: none

test: add multisig unit test
  client/keys/add.go
  client/keys/add_test.go
Due: client

test: cover iavl disable fast node
  baseapp/abci_test.go
  store/rootmulti/store_test.go
Due: app

fix: optimize flag replacing logic
  client/keys/add_test.go
Due: client

Use more abstracted field name instead of operator
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  proto/lbm/foundation/v1/tx.proto
  x/foundation/event.pb.go
  x/foundation/tx.pb.go
Due: none

Update the field names in the logic
  x/foundation/client/cli/tx.go
  x/foundation/keeper/exec.go
  x/foundation/keeper/grant_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
Due: modules

Remove operator from the state
  simapp/app.go
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
  x/foundation/genesis.go
  x/foundation/genesis_test.go
  x/foundation/keeper/exec.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/grant_test.go
  x/foundation/keeper/keeper.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/proposal_test.go
  x/foundation/keys.go
Due: modules

Update x/foundation/README.md
  x/foundation/README.md
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
