Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

success run simd
  simapp/app.go
  x/or/da/keeper/msg_server.go
  x/or/da/testutil/expected_keepers_mocks.go
  x/or/da/types/expected_keepers.go
  x/or/rollup/keeper/rollup.go
Due: modules

refactor: automate EventTypeMessage inclusion in every message execution (#13532)
  baseapp/baseapp.go
  baseapp/testutil/messages.go
  x/auth/tx/service_test.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/constants.go
  x/bank/keeper/msg_server.go
  x/bank/types/events.go
  x/crisis/keeper/msg_server.go
  x/crisis/types/events.go
  x/distribution/keeper/msg_server.go
  x/distribution/types/events.go
  x/evidence/keeper/msg_server.go
  x/evidence/types/events.go
  x/feegrant/events.go
  x/gov/keeper/msg_server.go
  x/gov/types/events.go
  x/slashing/keeper/msg_server.go
  x/slashing/types/events.go
  x/staking/keeper/msg_server.go
  x/staking/types/events.go
Due: app, modules

Fix the test requirement and leave the hint
  x/auth/tx/service_test.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Lint
  baseapp/baseapp.go
  x/auth/tx/service_test.go
Due: app, modules

Fix permisssion
  x/or/demo/prepare_rollup.sh
  x/or/demo/run_chain.sh
Due: modules

Fix MsgIndex increment
  baseapp/baseapp.go
Due: app

avoid 'os imported but not used' lint error
  simapp/simd/main.go
Due: none

fix to be able to refer private repo from linter
  .github/workflows/lint.yml
Due: none

fix: lint setting
  .github/workflows/lint.yml
Due: none

Fix increment of MsgIndex in context (#1065)
  baseapp/baseapp.go
Due: app

Fix permisssion (#1064)
  x/or/demo/prepare_rollup.sh
  x/or/demo/run_chain.sh
Due: modules

fix: lint args
  .github/workflows/lint.yml
Due: none

fix: add nolint
  .github/workflows/lint.yml
  x/auth/client/testutil/suite.go
  x/authz/client/testutil/grpc.go
  x/authz/client/testutil/tx.go
  x/collection/client/testutil/suite.go
  x/distribution/client/testutil/grpc.go
  x/distribution/client/testutil/suite.go
  x/feegrant/client/testutil/suite.go
  x/foundation/client/testutil/suite.go
  x/gov/client/testutil/deposits.go
  x/gov/client/testutil/grpc.go
  x/gov/client/testutil/suite.go
  x/staking/client/testutil/suite.go
  x/token/client/testutil/suite.go
Due: modules

chore: update ramus
  go.mod
  go.sum
Due: none

fixup: refactor by comment
  .github/workflows/check-generated.yml
  tools/error_doc/const_info.go
  tools/error_doc/error_info.go
  tools/error_doc/generator/errors_file_parser.go
  tools/error_doc/generator/generate_error_docs.go
  tools/error_doc/generator/keys_file_parser.go
  tools/error_doc/generator/module_directory_walker.go
  tools/error_doc/main.go
  tools/error_doc/module_info.go
Due: none

fix
  client/grpc/tmservice/query.pb.go
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/lbm/base/ostracon/v1/query.proto
  proto/lbm/tx/v1beta1/service.proto
  types/tx2/service.pb.go
Due: client

fixup: fix for comment
  .github/workflows/check-generated.yml
  Makefile
  tools/error_doc/generator/error_docs_generator.go
  tools/error_doc/generator/errors_file_parser.go
  tools/error_doc/generator/keys_file_parser.go
  tools/error_doc/generator/module_directory_walker.go
Due: none

fix: make x/foundation MsgExec propagate events (backport #1053) (#1061)
  CHANGELOG.md
  x/foundation/keeper/internal/exec.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/msg_server_test.go
Due: modules

feat: add l1_to_l2_gas_ratio in rollup info and fix GetAllRollup's param
  docs/core/proto-docs.md
  proto/finschia/or/rollup/v1/rollup.proto
  proto/finschia/or/rollup/v1/tx.proto
  x/or/demo/prepare_rollup.sh
  x/or/rollup/client/cli/tx.go
  x/or/rollup/keeper/msg_server.go
  x/or/rollup/keeper/rollup.go
  x/or/rollup/types/message_create_rollup.go
  x/or/rollup/types/rollup.pb.go
  x/or/rollup/types/tx.pb.go
Due: modules

fix omissions in proto files
  client/grpc/tmservice/query.pb.go
  proto/finschia/or/da/v1/da.proto
  proto/finschia/or/da/v1/event.proto
  proto/finschia/or/da/v1/genesis.proto
  proto/finschia/or/da/v1/query.proto
  proto/finschia/or/da/v1/tx.proto
  proto/finschia/or/rollup/v1/genesis.proto
  proto/finschia/or/rollup/v1/params.proto
  proto/finschia/or/rollup/v1/query.proto
  proto/finschia/or/rollup/v1/rollup.proto
  proto/finschia/or/rollup/v1/tx.proto
  proto/lbm/base/ostracon/v1/query.proto
  proto/lbm/tx/v1beta1/service.proto
  types/tx2/service.pb.go
Due: client

Revert "fix: revert #952 (#984)"
  client/grpc/tmservice/service_test.go
  x/foundation/keeper/internal/treasury.go
Due: modules, client

fixup: fix for comment
  tools/error_doc/generator/error_docs_generator.go
Due: none

remove unnecessary comment
  types/handler_test.go
Due: none

docs: create ERRORS.md for x/module (#1059)
  .github/workflows/check-generated.yml
  CHANGELOG.md
  Makefile
  tools/error_doc/generator/error_docs_generator.go
  tools/error_doc/generator/errors_file_parser.go
  tools/error_doc/generator/keys_file_parser.go
  tools/error_doc/go.mod
  tools/error_doc/go.sum
  tools/error_doc/main.go
  x/ERRORS.md
  x/README.md
Due: modules

optimize imports
  client/query.go
  x/authz/simulation/operations_test.go
  x/bank/simulation/operations_test.go
  x/capability/capability_test.go
  x/crisis/keeper/keeper_test.go
  x/distribution/simulation/operations_test.go
  x/feegrant/simulation/operations_test.go
  x/gov/abci_test.go
  x/slashing/app_test.go
  x/slashing/simulation/operations_test.go
  x/staking/app_test.go
  x/staking/simulation/operations_test.go
  x/upgrade/types/storeloader_test.go
Due: modules, client

feat: add `orda/cc` CLI (#1041)
  x/or/da/client/cli/query.go
  x/or/da/client/cli/tx.go
  x/or/da/module.go
Due: modules

feat: add l1_to_l2_gas_ratio in rollup info and fix GetAllRollup's param (#1071)
  docs/core/proto-docs.md
  proto/finschia/or/rollup/v1/rollup.proto
  proto/finschia/or/rollup/v1/tx.proto
  x/or/demo/prepare_rollup.sh
  x/or/rollup/client/cli/tx.go
  x/or/rollup/keeper/msg_server.go
  x/or/rollup/keeper/rollup.go
  x/or/rollup/types/message_create_rollup.go
  x/or/rollup/types/rollup.pb.go
  x/or/rollup/types/tx.pb.go
Due: modules

apply modified RollupKeeper interface
  x/or/da/keeper/cc.go
  x/or/da/keeper/msg_server.go
  x/or/da/testutil/expected_keepers_mocks.go
  x/or/da/testutil/keeper.go
  x/or/da/types/expected_keepers.go
Due: modules

refactor: automate EventTypeMessage inclusion in every message execution (backport cosmos/cosmos-sdk#13532) (#1063)
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/testutil/messages.go
  x/auth/tx/service_test.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/constants.go
  x/bank/keeper/msg_server.go
  x/bank/types/events.go
  x/crisis/keeper/msg_server.go
  x/crisis/types/events.go
  x/distribution/keeper/msg_server.go
  x/distribution/types/events.go
  x/evidence/keeper/msg_server.go
  x/evidence/types/events.go
  x/feegrant/events.go
  x/gov/keeper/msg_server.go
  x/gov/types/events.go
  x/slashing/keeper/msg_server.go
  x/slashing/types/events.go
  x/staking/keeper/msg_server.go
  x/staking/types/events.go
Due: app, modules

fix: improve baseapp event emission (#14356)
  CHANGELOG.md
  baseapp/baseapp.go
  types/events.go
  types/events_test.go
Due: app

Update x/foundation tests
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/msg_server_test.go
Due: modules

refactor(x/bank): remove message events including `sender` attribute whose information is already present in the relevant events (#17273)
  CHANGELOG.md
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
