Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Update go.work.example
  go.work.example
Due: none

Lint
  api/go.mod
  api/go.sum
  simapp/simd/main.go
Due: none

Update build workflow
  .github/workflows/build.yml
Due: none

Lint proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/foundation/v1/authz.proto
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/genesis.proto
Due: none

Update protocgen
  scripts/protocgen.sh
Due: none

Update proto-swagger-gen
  client/docs/config.json
  scripts/protoc-swagger-gen.sh
Due: client

Remove token proto
  client/docs/config.json
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/genesis.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/token.proto
  proto/lbm/token/v1/tx.proto
Due: client

Update swagger renames
  client/docs/config.json
Due: client

Run proto-swagger-gen
  client/docs/swagger-ui/swagger.yaml
Due: client

Update pr labeler
  .github/pr_labeler.yml
Due: none

Update test workflow
  .github/workflows/test.yml
Due: none

Fix localnet-start
  contrib/images/simd-env/Dockerfile
Due: none

Update config
  simapp/app_config.go
  simapp/app_v2.go
Due: none

Fix simapp test
  simapp/app_test.go
Due: none

Remove token from api
  api/lbm/token/v1/event.pulsar.go
  api/lbm/token/v1/genesis.pulsar.go
  api/lbm/token/v1/query.pulsar.go
  api/lbm/token/v1/query_grpc.pb.go
  api/lbm/token/v1/token.pulsar.go
  api/lbm/token/v1/tx.pulsar.go
  api/lbm/token/v1/tx_grpc.pb.go
Due: none

Copy CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Disable Docker pushes
  .github/workflows/docker.yml
  .github/workflows/proto-docker.yml
Due: none

Remove unused workflows
  .github/workflows/release-confix.yml
  .github/workflows/release-cosmovisor.yml
Due: none

Comment out workflows not ready to use
  .github/workflows/consensuswarn.yml
  .github/workflows/issues.yml
  .github/workflows/pr-reviews.yml
  .github/workflows/proto-registry.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
Due: none

Minimal updates on dependabot config
  .github/dependabot.yml
Due: none

chore: fix undesired downgraded dependency
  go.mod
  go.sum
Due: none

chore: down/upload should be upgraded together
  .github/workflows/test.yml
Due: none

Update logic
  go.sum
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/grpc.go
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
  x/foundation/codec.go
  x/foundation/foundation.go
  x/foundation/genesis.go
  x/foundation/go.mod
  x/foundation/go.sum
  x/foundation/keeper/exported.go
  x/foundation/keeper/internal/abci.go
  x/foundation/keeper/internal/censorship.go
  x/foundation/keeper/internal/exec.go
  x/foundation/keeper/internal/grpc_query.go
  x/foundation/keeper/internal/invariants.go
  x/foundation/keeper/internal/keeper.go
  x/foundation/keeper/internal/member.go
  x/foundation/keeper/internal/migrations.go
  x/foundation/keeper/internal/migrations/v2/store.go
  x/foundation/keeper/internal/msg_server.go
  x/foundation/keeper/internal/params.go
  x/foundation/keeper/internal/proposal.go
  x/foundation/keeper/internal/proposal_handler.go
  x/foundation/keeper/internal/treasury.go
  x/foundation/keeper/internal/vote.go
  x/foundation/module/module.go
  x/foundation/proposal.go
Due: modules

Add module proto
  api/lbm/foundation/module/v1/module.pulsar.go
  proto/buf.gen.pulsar.yaml
  proto/lbm/foundation/module/v1/module.proto
Due: none

Wire x/foundation
  go.work.example
  simapp/app_config.go
  simapp/app_test.go
  simapp/app_v2.go
  x/foundation/expected_keepers.go
  x/foundation/go.mod
  x/foundation/go.sum
  x/foundation/keeper/exported.go
  x/foundation/keeper/internal/abci.go
  x/foundation/keeper/internal/keeper.go
  x/foundation/keeper/internal/migrations.go
  x/foundation/keeper/internal/params.go
  x/foundation/module/module.go
Due: modules

Update tests
  scripts/mockgen.sh
  x/foundation/client/cli/tx.go
  x/foundation/foundation.go
  x/foundation/foundation_test.go
  x/foundation/genesis.go
  x/foundation/genesis_test.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/censorship.go
  x/foundation/keeper/internal/censorship_test.go
  x/foundation/keeper/internal/exec.go
  x/foundation/keeper/internal/genesis.go
  x/foundation/keeper/internal/genesis_test.go
  x/foundation/keeper/internal/grpc_query.go
  x/foundation/keeper/internal/grpc_query_test.go
  x/foundation/keeper/internal/invariants.go
  x/foundation/keeper/internal/invariants_test.go
  x/foundation/keeper/internal/keeper.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/member.go
  x/foundation/keeper/internal/member_test.go
  x/foundation/keeper/internal/migrations/v2/store_test.go
  x/foundation/keeper/internal/msg_server.go
  x/foundation/keeper/internal/msg_server_test.go
  x/foundation/keeper/internal/proposal.go
  x/foundation/keeper/internal/proposal_handler_test.go
  x/foundation/keeper/internal/proposal_test.go
  x/foundation/keeper/internal/tally.go
  x/foundation/keeper/internal/treasury.go
  x/foundation/keeper/internal/treasury_test.go
  x/foundation/keeper/internal/vote.go
  x/foundation/keeper/internal/vote_test.go
  x/foundation/module/module.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
  x/foundation/testutil/expected_keepers_mocks.go
Due: modules

Update go.mod
  api/go.mod
  simapp/go.mod
  x/foundation/go.mod
Due: modules

Lint
  .golangci.yml
  simapp/app_config.go
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
  x/foundation/foundation.go
  x/foundation/genesis.go
  x/foundation/genesis_test.go
  x/foundation/keeper/internal/censorship_test.go
  x/foundation/keeper/internal/grpc_query.go
  x/foundation/keeper/internal/invariants.go
  x/foundation/keeper/internal/keeper.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/msg_server_test.go
  x/foundation/keeper/internal/proposal_handler.go
  x/foundation/keeper/internal/treasury.go
  x/foundation/module/module.go
  x/foundation/msgs_test.go
Due: modules

Use Finschia/cometbft
  x/foundation/go.mod
  x/foundation/go.sum
Due: modules

Refactor address codec
  x/foundation/keeper/exported.go
  x/foundation/keeper/internal/censorship.go
  x/foundation/keeper/internal/exec.go
  x/foundation/keeper/internal/genesis.go
  x/foundation/keeper/internal/grpc_query.go
  x/foundation/keeper/internal/keeper.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/member.go
  x/foundation/keeper/internal/msg_server.go
  x/foundation/keeper/internal/proposal.go
  x/foundation/keeper/internal/tally.go
  x/foundation/keeper/internal/vote.go
  x/foundation/module/module.go
Due: modules

Proto gen
  x/foundation/authz.pb.go
  x/foundation/foundation.pb.go
Due: none

Add x/foundation to pr labeler
  .github/pr_labeler.yml
Due: none

Cover x/foundation
  .github/workflows/test.yml
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
