Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

add to EnableAllProposals
  x/wasm/types/proposal.go
Due: modules

add tests
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/keeper/test_common.go
Due: modules

fix: fix test error
  x/wasm/keeper/contract_keeper.go
  x/wasm/keeper/querier_test.go
  x/wasm/types/params_test.go
Due: modules

Add handlers
  x/wasm/client/cli/gov_tx.go
  x/wasm/client/proposal_handler.go
  x/wasm/client/rest/gov.go
Due: modules

add code-info query command
  x/wasm/client/cli/query.go
Due: modules

fix missing gov registration type
  x/wasm/types/proposal.go
Due: modules

address code review comments
  x/wasm/client/rest/gov.go
  x/wasm/keeper/proposal_integration_test.go
Due: modules

fix error message
  x/wasm/client/cli/gov_tx.go
Due: modules

update proto field name
  docs/core/proto-docs.md
  proto/lbm/wasm/v1/proposal.proto
  x/wasm/client/cli/gov_tx.go
  x/wasm/client/rest/gov.go
  x/wasm/keeper/proposal_handler.go
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/types/proposal.go
  x/wasm/types/proposal.pb.go
Due: modules

docs: add a comment about empty granter address in the event
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  x/token/event.pb.go
Due: none

Add compare logic for stricter AccessConfig
  x/wasm/types/types.go
  x/wasm/types/types_test.go
Due: modules

Enforce permission less permissive than default
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
Due: modules

Add a few more tests as requested in review
  x/wasm/keeper/keeper_test.go
  x/wasm/types/types_test.go
Due: modules

Use LibwasmvmVersion from wasmvm root
  x/wasm/client/cli/query.go
Due: modules

Adapt codebase to new IBC3ChannelOpenResponse return value
  x/wasm/keeper/relay.go
  x/wasm/keeper/relay_test.go
  x/wasm/keeper/wasmtesting/mock_engine.go
  x/wasm/types/wasmer_engine.go
Due: modules

fix: test error
  x/wasm/keeper/keeper_test.go
Due: modules

Use wasmvm import consistently
  x/wasm/keeper/querier_test.go
Due: modules

Prepare release notes for 0.27
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/m1compat.go
  x/wasm/keeper/recurse_test.go
  x/wasm/keeper/reflect_test.go
  x/wasm/keeper/relay_test.go
  x/wasm/keeper/staking_test.go
  x/wasm/keeper/submsg_test.go
Due: modules

Create query stack size limit
  x/wasm/keeper/keeper.go
  x/wasm/keeper/options.go
  x/wasm/keeper/options_test.go
  x/wasm/keeper/recurse_test.go
  x/wasm/types/errors.go
  x/wasm/types/wasmer_engine.go
Due: modules

chore: update go.sum
  go.sum
Due: none

fix: fix test error
  x/params/types/subspace.go
  x/wasm/client/proposal_handler_test.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/proposal_handler.go
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/keeper/query_plugins.go
  x/wasm/keeper/query_plugins_test.go
  x/wasm/keeper/recurse_test.go
  x/wasm/keeper/relay_test.go
  x/wasm/keeper/submsg_test.go
  x/wasm/keeper/test_common.go
  x/wasm/keeper/testdata/burner.wasm
  x/wasm/keeper/testdata/hackatom.wasm
  x/wasm/keeper/testdata/hackatom.wasm.gzip
  x/wasm/keeper/testdata/ibc_reflect.wasm
  x/wasm/keeper/testdata/ibc_reflect_send.wasm
  x/wasm/keeper/testdata/reflect.wasm
  x/wasm/keeper/testdata/staking.wasm
  x/wasm/keeper/testdata/version.txt
  x/wasm/types/keys_test.go
  x/wasm/types/types.go
  x/wasm/types/types_test.go
Due: modules

fix: lint error
  x/wasm/simulation/operations.go
Due: modules

chore: update wasmvm version
  go.mod
  go.sum
Due: none

docs: update comments in proto
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/tx.proto
  x/token/event.pb.go
  x/token/query.pb.go
  x/token/tx.pb.go
Due: client

fix: emit client-friendly errors on the queries
  x/token/keeper/query_server.go
Due: modules

feat: update protos
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/codec.go
  x/collection/collection.go
  x/collection/collection.pb.go
  x/collection/event.pb.go
  x/collection/genesis_test.go
  x/collection/keeper/genesis.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
  x/collection/tx.pb.go
Due: modules

feat: define proto for x/collection
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/genesis.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
Due: none

docs: revert proto-docs
  docs/core/proto-docs.md
Due: none

feat: return the id of the created token class
  docs/core/proto-docs.md
  proto/lbm/token/v1/tx.proto
  x/token/keeper/msg_server.go
  x/token/tx.pb.go
Due: modules

fix: fix export genesis
  x/collection/keeper/alias.go
  x/collection/keeper/genesis.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/keys.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs.go
Due: modules

feat: return the id of the created entity
  docs/core/proto-docs.md
  proto/lbm/collection/v1/tx.proto
  x/collection/keeper/msg_server.go
  x/collection/tx.pb.go
Due: modules

feat: add next ids to genesis state
  docs/core/proto-docs.md
  proto/lbm/collection/v1/genesis.proto
  x/collection/genesis.pb.go
  x/collection/keeper/alias.go
  x/collection/keeper/genesis.go
  x/collection/keeper/keys.go
  x/collection/keeper/supply.go
Due: modules

feat: update protos
  proto/lbm/collection/v1/genesis.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
Due: none

chore: coverage up
  go.mod
  go.sum
  simapp/export.go
  simapp/simd/cmd/genaccounts.go
  simapp/test_helpers.go
  x/ibc/testing/chain.go
  x/wasm/client/cli/genesis_msg.go
  x/wasm/client/cli/genesis_msg_test.go
  x/wasm/client/cli/new_tx.go
  x/wasm/client/cli/query.go
  x/wasm/keeper/legacy_querier.go
  x/wasm/keeper/querier_test.go
Due: modules

feat: add queries
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/collection.go
  x/collection/collection.pb.go
  x/collection/event.pb.go
  x/collection/keeper/genesis.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/keys.go
  x/collection/keeper/nft.go
  x/collection/keeper/send.go
  x/collection/msgs.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
  x/collection/tx.pb.go
Due: modules

fix: split EventMinted
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  x/collection/event.pb.go
Due: none

feat: update field names and comments in tx proto
  docs/core/proto-docs.md
  proto/lbm/collection/v1/tx.proto
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/collection/tx.pb.go
Due: modules

fix: fix event types and update proto
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  x/collection/event.pb.go
Due: none

feat: update comments in query proto
  docs/core/proto-docs.md
  proto/lbm/collection/v1/query.proto
  x/collection/query.pb.go
Due: none

fix: apply feedbacks
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
Due: none
