Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Update tests
  x/collection/client/testutil/query.go
  x/collection/keeper/grpc_query_test.go
  x/token/client/testutil/query.go
  x/token/keeper/grpc_query_test.go
Due: modules

emit error instead of panic
  x/bankplus/keeper/keeper.go
Due: modules

feat!: add MultiSend deactivation (#876)
  CHANGELOG.md
  simapp/app.go
  x/bankplus/keeper/inactive_test.go
  x/bankplus/keeper/keeper.go
  x/bankplus/keeper/keeper_test.go
Due: modules

chore: apply feedback of review.
  baseapp/abci_test.go
  go.mod
  go.sum
  server/start.go
  types/result.go
Due: app

modify error case
  x/bankplus/keeper/keeper_test.go
Due: modules

docs: update proto format and related document.
  docs/core/proto-docs.md
  proto/cosmos/tx/v1beta1/service.proto
  proto/lbm/base/ostracon/v1/query.proto
  x/collection/collection.pb.go
  x/collection/event.pb.go
  x/collection/query.pb.go
  x/collection/tx.pb.go
Due: none

modify error case (#882)
  x/bankplus/keeper/keeper_test.go
Due: modules

build: retract v1.0.0 (#872)
  CHANGELOG.md
  go.mod
Due: none

feat: add zerolog based rolling log system
  client/flags/flags.go
  go.mod
  server/cmd/execute.go
  server/logger.go
  server/util.go
Due: client

test: init log level when ostracon config isn't created
  server/util.go
Due: none

docs: add changelog
  CHANGELOG.md
Due: none

Lint
  x/collection/keeper/keys.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: log_level command help
  server/cmd/execute.go
Due: none

chore: remove unused import
  proto/cosmos/base/abci/v1beta1/abci.proto
  proto/cosmos/tx/v1beta1/service.proto
  types/abci.pb.go
  types/tx/service.pb.go
Due: none

feat: add zerolog based rolling log system (#883)
  CHANGELOG.md
  client/flags/flags.go
  go.mod
  server/cmd/execute.go
  server/logger.go
  server/util.go
Due: client

chore: bump up ostracon
  go.mod
  go.sum
Due: none

chore: proto file linting
  proto/cosmos/staking/v1beta1/staking.proto
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

feat: remove time-based upgrade
  x/upgrade/abci_test.go
  x/upgrade/client/cli/tx.go
  x/upgrade/doc.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/spec/01_concepts.md
  x/upgrade/spec/README.md
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
  x/upgrade/types/proposal_test.go
Due: modules

chore: apply the import ordering rule.
  x/feegrant/simulation/operations_test.go
Due: modules

test: fix typo
  x/upgrade/types/plan.go
Due: modules

Map Ostracon:ErrTxInMap to lbm-sdk:ErrTxInMempoolCache
  client/broadcast.go
  client/broadcast_test.go
Due: client

chore: fix strange new line.
  x/distribution/simulation/operations_test.go
Due: modules

chore: revert irrelevant test
  x/upgrade/types/plan_test.go
Due: modules

feat!: move cosmos.tx.v1beta1.Service/GetBlockWithTxs to lbm.tx.v1beta1.Service/GetBlockWithTxs.
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/cosmos/tx/v1beta1/service.proto
  proto/lbm/tx/v1beta1/service.proto
  simapp/app.go
  types/tx/service.pb.go
  types/tx2/service.pb.go
  types/tx2/service.pb.gw.go
  x/auth/tx/service.go
  x/auth/tx/service_test.go
  x/auth/tx2/service.go
  x/auth/tx2/service_test.go
Due: modules, client

test: restore height based plan test
  x/upgrade/types/plan_test.go
Due: modules

Refactor switch case
  client/broadcast.go
Due: client

fix: unittest error of `TestGetBlockWithTxs_GRPCGateway`
  x/auth/tx/service_test.go
Due: modules

chore: update changelog.
  CHANGELOG.md
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
