Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

Revert "ci: trigger publish on this PR"
  .github/workflows/docker.yml
Due: none

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

ci: publish docker image on tag push (#469)
  .github/workflows/docker.yml
  CHANGELOG.md
  Dockerfile
Due: none

feat: remove contract access control by actor
  docs/core/proto-docs.md
  proto/lbm/wasm/v1/tx.proto
  x/wasm/client/cli/new_tx.go
  x/wasm/client/cli/tx.go
  x/wasm/handler.go
  x/wasm/keeper/authz_policy.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/msg_server.go
  x/wasm/types/codec.go
  x/wasm/types/tx.go
  x/wasm/types/tx.pb.go
  x/wasm/types/tx_test.go
Due: modules

feat: remove contract status access config
  docs/core/proto-docs.md
  proto/lbm/wasm/v1/types.proto
  x/wasm/keeper/authz_policy.go
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/types/params.go
  x/wasm/types/params_test.go
  x/wasm/types/types.pb.go
Due: modules

remove docs/architecture/*
  docs/architecture/adr-030-authz-module.md
  docs/architecture/adr-033-protobuf-inter-module-comm.md
  docs/architecture/adr-036-arbitrary-signature.md
  docs/architecture/adr-038-state-listening.md
  docs/architecture/adr-039-epoched-staking.md
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
  docs/architecture/adr-041-in-place-store-migrations.md
  docs/architecture/adr-042-group-module.md
Due: none

fix cosmos-sdk issues url
  baseapp/baseapp.go
  client/rest/rest.go
  codec/unknownproto/regression_test.go
  codec/unknownproto/unknown_fields_test.go
  crypto/keys/multisig/multisig.go
  crypto/keys/multisig/multisig_test.go
  crypto/types/types.go
  server/config/config.go
  server/grpc/server_test.go
  server/util_test.go
  store/rootmulti/store_test.go
  testutil/testdata/query.proto
  testutil/testdata/tx.pb.go
  testutil/testdata/tx.proto
  types/module/module.go
  x/auth/ante/ante_test.go
  x/auth/ante/sigverify_test.go
  x/auth/client/rest/rest_test.go
  x/auth/tx/service_test.go
  x/feegrant/filtered_fee.go
  x/genutil/client/cli/migrate.go
  x/ibc/applications/transfer/module.go
  x/ibc/core/client/query.go
  x/staking/keeper/slash_test.go
Due: app, modules, client

rename from TokenBalance, TokenGrant to Balance, Grant in token module using rename of config.json
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  go.sum
  proto/lbm/token/v1/query.proto
  x/token/client/cli/query.go
  x/token/client/testutil/query.go
  x/token/keeper/query_server.go
  x/token/keeper/query_server_test.go
  x/token/query.pb.go
  x/token/query.pb.gw.go
Due: modules, client

edit config.json("Grant" -> "Grants")
  client/docs/config.json
Due: client

test: re-add inactive contract tests using gov proposal
  x/wasm/keeper/keeper_test.go
Due: modules

docs: add changelog
  CHANGELOG.md
Due: none

chore: update swagger
  client/docs/statik/statik.go
Due: client

fix: remove legacy REST endpoints for broadcast & encode (v0.44.x) (#10041)
  codec/amino_codec_test.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/rest/broadcast.go
  x/auth/client/rest/encode.go
  x/auth/client/rest/rest.go
  x/auth/client/rest/rest_test.go
  x/auth/client/testutil/suite.go
Due: modules

chore: revert TxFactory changes (#10053)
  client/tx/factory.go
  client/tx/tx.go
  client/tx/tx_test.go
  x/auth/client/tx.go
  x/genutil/client/cli/gentx.go
Due: modules, client

fix: minimum-gas-price warning (#10071)
  server/start.go
Due: none

fix: revert \#10169 (amino multisig key unmarshalling) (#10193)
  crypto/keys/multisig/multisig_test.go
Due: none

Merge pull request from GHSA-2p6r-37p9-89p2
  x/authz/authorization_grant.go
  x/authz/authorization_grant_test.go
  x/authz/client/testutil/tx.go
  x/authz/keeper/msg_server.go
  x/authz/msgs_test.go
Due: modules

fix: always move auth module migration to the end (#10608)
  docs/core/upgrade.md
  types/module/module.go
Due: none

fix: delete ru docs (#10549)
  docs/ru/README.md
Due: none

feat: update x/upgrade keeper.DumpUpgradeInfoToDisk to support Plan.Info (#10532)
  x/upgrade/abci.go
  x/upgrade/keeper/keeper.go
Due: modules

fix: emit ante events even for the failed txs (#10631)
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/test_helpers.go
  types/errors/abci.go
Due: app

fix test
  client/query_test.go
  codec/amino_codec_test.go
  store/cachekv/store_bench_test.go
  x/ibc/core/02-client/keeper/client_test.go
Due: modules, client

fix build
  go.mod
  go.sum
  store/cachekv/memiterator.go
Due: none

fix proto
  client/grpc/tmservice/query.pb.go
  docs/core/proto-docs.md
  go.sum
  proto/lbm/bank/v1/query.proto
  proto/lbm/base/ostracon/v1/query.proto
  proto/lbm/gov/v1/gov.proto
  store/types/listening.pb.go
  types/query/pagination.pb.go
  types/tx/service.pb.go
  x/auth/types/query.pb.go
  x/auth/vesting/types/vesting.pb.go
  x/bank/types/authz.pb.go
  x/bank/types/bank.pb.go
  x/bank/types/query.pb.go
  x/gov/types/gov.pb.go
  x/gov/types/tx.pb.go
  x/staking/types/authz.pb.go
  x/upgrade/types/query.pb.go
  x/upgrade/types/upgrade.pb.go
Due: client

re-add auth tx cmd(reverted by #434)
  x/auth/module.go
Due: none

feat: add configurable iavl cache size (backport #10561) (#10698)
  baseapp/options.go
  go.mod
  go.sum
  server/config/config.go
  server/config/toml.go
  server/mock/store.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/types/iterator_test.go
  store/types/store.go
Due: app

fix test
  server/config/toml.go
  server/rosetta/converter_test.go
  x/wasm/keeper/keeper_test.go
Due: modules

ci: disable swagger check temporarily
  .github/workflows/proto.yml
Due: none
