Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 40
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

feat: update proto and swagger
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/cosmos/tx/v1beta1/service.proto
  types/tx/service.pb.go
Due: client

chore: update changelog
  CHANGELOG.md
Due: none

chore: remove log flags of CLI for Ostracon logger lib
  client/flags/flags.go
Due: client

chore: remove `ChanCheckTxSize` and `RPCIdleTimeout` settings
  server/config/config.go
  server/config/toml.go
  server/start.go
Due: none

chore: fix typos
  client/keys/add.go
  client/query.go
  client/rpc/status.go
  client/tx/legacy_test.go
  server/config/toml.go
  server/start.go
  server/tm_cmds.go
  simapp/simd/cmd/testnet.go
Due: client

chore: change ostracon and oc, ost prefix to tendermint term
  .golangci.yml
  Makefile
  client/grpc/tmservice/service.go
  crypto/keys/secp256k1/secp256k1_test.go
  crypto/ledger/ledger_mock.go
  x/capability/spec/README.md
  x/staking/teststaking/tm.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Due: modules, client

chore: revert ostracon slashing changes (revert #347)
  x/slashing/keeper/hooks.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper_test.go
  x/slashing/spec/04_begin_block.md
  x/slashing/spec/05_hooks.md
Due: modules

chore: revert block converting
  x/auth/tx/service.go
Due: modules

chore: revert voter set comments
  x/slashing/handler_test.go
Due: modules

chore: update changelog category
  CHANGELOG.md
Due: none

chore: modify missing changes of converting to tendermint (#1179)
  CHANGELOG.md
  x/auth/tx/service.go
  x/slashing/handler_test.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper_test.go
  x/slashing/spec/04_begin_block.md
  x/slashing/spec/05_hooks.md
Due: modules

Update go.mod
  go.mod
  go.sum
Due: none

Update simapp/go.mod
  simapp/go.mod
  simapp/go.sum
Due: none

Update Makefile build
  Makefile
Due: none

Remove x/params
  x/params/README.md
  x/params/autocli.go
  x/params/client/cli/tx.go
  x/params/client/cli/tx_test.go
  x/params/client/proposal_handler.go
  x/params/client/utils/utils.go
  x/params/client/utils/utils_test.go
  x/params/doc.go
  x/params/keeper/common_test.go
  x/params/keeper/grpc_query.go
  x/params/keeper/grpc_query_test.go
  x/params/keeper/keeper.go
  x/params/keeper/keeper_test.go
  x/params/module.go
  x/params/proposal_handler.go
  x/params/proposal_handler_test.go
  x/params/simulation/operations.go
  x/params/simulation/operations_test.go
  x/params/simulation/proposals.go
  x/params/simulation/proposals_test.go
  x/params/testutil/staking_keeper_mock.go
  x/params/types/common_test.go
  x/params/types/consensus_params_legacy.go
  x/params/types/deref_test.go
  x/params/types/doc.go
  x/params/types/keys.go
  x/params/types/paramset.go
  x/params/types/proposal/codec.go
  x/params/types/proposal/errors.go
  x/params/types/proposal/keys.go
  x/params/types/proposal/params.pb.go
  x/params/types/proposal/proposal.go
  x/params/types/proposal/proposal_test.go
  x/params/types/proposal/query.pb.go
  x/params/types/proposal/query.pb.gw.go
  x/params/types/querier.go
  x/params/types/subspace.go
  x/params/types/subspace_test.go
  x/params/types/table.go
  x/params/types/table_test.go
Due: modules

Remove x/circuit
  x/circuit/CHANGELOG.md
  x/circuit/README.md
  x/circuit/ante/circuit.go
  x/circuit/ante/circuit_test.go
  x/circuit/autocli.go
  x/circuit/go.mod
  x/circuit/go.sum
  x/circuit/keeper/genesis.go
  x/circuit/keeper/genesis_test.go
  x/circuit/keeper/keeper.go
  x/circuit/keeper/keeper_test.go
  x/circuit/keeper/msg_server.go
  x/circuit/keeper/msg_server_test.go
  x/circuit/keeper/query.go
  x/circuit/keeper/query_test.go
  x/circuit/module.go
  x/circuit/sonar-project.properties
  x/circuit/types/codec.go
  x/circuit/types/genesis.go
  x/circuit/types/keys.go
  x/circuit/types/query.pb.go
  x/circuit/types/query.pb.gw.go
  x/circuit/types/tx.pb.go
  x/circuit/types/types.pb.go
Due: modules

Remove x/mint
  x/mint/README.md
  x/mint/abci.go
  x/mint/autocli.go
  x/mint/exported/exported.go
  x/mint/keeper/genesis.go
  x/mint/keeper/genesis_test.go
  x/mint/keeper/grpc_query.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/keeper/migrator.go
  x/mint/keeper/msg_server.go
  x/mint/keeper/msg_server_test.go
  x/mint/migrations/v2/migrate.go
  x/mint/migrations/v2/migrator_test.go
  x/mint/module.go
  x/mint/module_test.go
  x/mint/simulation/genesis.go
  x/mint/simulation/genesis_test.go
  x/mint/simulation/proposals.go
  x/mint/simulation/proposals_test.go
  x/mint/testutil/app_config.go
  x/mint/testutil/expected_keepers_mocks.go
  x/mint/types/codec.go
  x/mint/types/events.go
  x/mint/types/expected_keepers.go
  x/mint/types/genesis.go
  x/mint/types/genesis.pb.go
  x/mint/types/keys.go
  x/mint/types/mint.pb.go
  x/mint/types/minter.go
  x/mint/types/minter_test.go
  x/mint/types/params.go
  x/mint/types/params_legacy.go
  x/mint/types/query.pb.go
  x/mint/types/query.pb.gw.go
  x/mint/types/tx.pb.go
Due: modules

Remove x/genutil
  x/genutil/README.md
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/commands.go
  x/genutil/client/cli/genaccount.go
  x/genutil/client/cli/genaccount_test.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/gentx_test.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/init_test.go
  x/genutil/client/cli/migrate.go
  x/genutil/client/cli/migrate_test.go
  x/genutil/client/cli/validate_genesis.go
  x/genutil/client/cli/validate_genesis_test.go
  x/genutil/client/testutil/helpers.go
  x/genutil/collect.go
  x/genutil/collect_test.go
  x/genutil/doc.go
  x/genutil/genaccounts.go
  x/genutil/genesis.go
  x/genutil/gentx.go
  x/genutil/gentx_test.go
  x/genutil/migrations/v043/migrate.go
  x/genutil/migrations/v046/migrate.go
  x/genutil/migrations/v047/migrate.go
  x/genutil/module.go
  x/genutil/testutil/expected_keepers_mocks.go
  x/genutil/types/chain_id.go
  x/genutil/types/chain_id_test.go
  x/genutil/types/expected_keepers.go
  x/genutil/types/genesis.go
  x/genutil/types/genesis.pb.go
  x/genutil/types/genesis_state.go
  x/genutil/types/genesis_state_test.go
  x/genutil/types/genesis_test.go
  x/genutil/types/testdata/app_genesis.json
  x/genutil/types/testdata/cmt_genesis.json
  x/genutil/types/testdata/parse_chain_id.json
  x/genutil/types/types.go
  x/genutil/utils.go
  x/genutil/utils_test.go
Due: modules

Remove x/crisis
  x/crisis/README.md
  x/crisis/abci.go
  x/crisis/autocli.go
  x/crisis/exported/exported.go
  x/crisis/keeper/genesis.go
  x/crisis/keeper/genesis_test.go
  x/crisis/keeper/keeper.go
  x/crisis/keeper/keeper_test.go
  x/crisis/keeper/migrator.go
  x/crisis/keeper/msg_server.go
  x/crisis/keeper/msg_server_test.go
  x/crisis/migrations/v2/migrate.go
  x/crisis/migrations/v2/migrate_test.go
  x/crisis/module.go
  x/crisis/testutil/expected_keepers_mocks.go
  x/crisis/types/codec.go
  x/crisis/types/errors.go
  x/crisis/types/events.go
  x/crisis/types/expected_keepers.go
  x/crisis/types/genesis.go
  x/crisis/types/genesis.pb.go
  x/crisis/types/keys.go
  x/crisis/types/legacy_params.go
  x/crisis/types/msgs.go
  x/crisis/types/route.go
  x/crisis/types/tx.pb.go
Due: modules

Remove x/simulation
  x/simulation/client/cli/flags.go
  x/simulation/doc.go
  x/simulation/event_stats.go
  x/simulation/expected_keepers.go
  x/simulation/log.go
  x/simulation/mock_cometbft.go
  x/simulation/operation.go
  x/simulation/params.go
  x/simulation/params_test.go
  x/simulation/simulate.go
  x/simulation/transition_matrix.go
  x/simulation/util.go
Due: modules

Remove x/consensus
  x/consensus/README.md
  x/consensus/autocli.go
  x/consensus/exported/exported.go
  x/consensus/keeper/keeper.go
  x/consensus/keeper/keeper_test.go
  x/consensus/module.go
  x/consensus/testutil/expected_keepers_mocks.go
  x/consensus/testutil/helpers.go
  x/consensus/types/codec.go
  x/consensus/types/keys.go
  x/consensus/types/msgs.go
  x/consensus/types/query.pb.go
  x/consensus/types/query.pb.gw.go
  x/consensus/types/tx.pb.go
Due: modules

Update proto/buf.yaml
  proto/buf.yaml
Due: none

Remove proto/amino
  proto/amino/amino.proto
Due: none

Remove proto/tendermint
  proto/tendermint/abci/types.proto
  proto/tendermint/crypto/keys.proto
  proto/tendermint/crypto/proof.proto
  proto/tendermint/libs/bits/types.proto
  proto/tendermint/p2p/types.proto
  proto/tendermint/types/block.proto
  proto/tendermint/types/evidence.proto
  proto/tendermint/types/params.proto
  proto/tendermint/types/types.proto
  proto/tendermint/types/validator.proto
  proto/tendermint/version/types.proto
Due: none

Copy proto/lbm
  proto/lbm/bankplus/v1/bankplus.proto
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/genesis.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  proto/lbm/foundation/v1/authz.proto
  proto/lbm/foundation/v1/event.proto
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/foundation/v1/genesis.proto
  proto/lbm/foundation/v1/query.proto
  proto/lbm/foundation/v1/tx.proto
  proto/lbm/stakingplus/v1/authz.proto
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/genesis.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/token.proto
  proto/lbm/token/v1/tx.proto
Due: none
