Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

chore: Cleanup Changelog, add Rosetta to Release Notes as beta (#9691)
  RELEASE_NOTES.md
  server/rosetta.go
Due: none

fix build
  go.mod
  go.sum
  server/start.go
  x/feegrant/client/cli/query.go
  x/feegrant/client/cli/tx.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/keeper/keeper.go
  x/feegrant/module/module.go
  x/feegrant/msgs_test.go
  x/feegrant/simulation/decoder_test.go
  x/feegrant/simulation/genesis_test.go
  x/feegrant/types/basic_fee_test.go
  x/feegrant/types/grant_test.go
  x/feegrant/types/periodic_fee_test.go
  x/wasm/keeper/handler_plugin.go
  x/wasm/keeper/keeper.go
Due: modules

fix keyring output about val address, cons address
  crypto/keyring/output.go
Due: none

fix proto swagger-docs diff test
  .github/workflows/proto.yml
Due: none

fix: Don't error on startup if min-gas-price is empty (#9621)
  server/start.go
  server/util_test.go
Due: none

retore gov/client/rest/rest_test.go build norace flag
  x/gov/client/rest/rest_test.go
Due: modules

fix update swagger docs
  client/docs/statik/statik.go
Due: client

fix test build
  x/authz/keeper/keeper_test.go
Due: modules

Revert "remove "git diff-index --quite HEAD" from proto.yml swagger test"
  .github/workflows/proto.yml
Due: none

ci: add swagger check (#457)
  .github/actions/generate-swagger/action.yml
  .github/workflows/proto.yml
Due: none

revert github workflow files
  .deepsource.toml
  .github/ISSUE_TEMPLATE/module-readiness-checklist.md
  .github/labeler.yml
  .github/workflows/atlas.yml
  .github/workflows/check-docs.yml
  .github/workflows/janitor.yml
  .github/workflows/labeler.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint-pr.yml
  .github/workflows/proto-docker.yml
  .github/workflows/proto.yml
  .github/workflows/sims.yml
  .github/workflows/tag.yml
  .gitignore
  .golangci.yml
  .markdownlint.json
  .markdownlintignore
  .mergify.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  RELEASE_NOTES.md
Due: none

fix test build
  x/bank/types/key_test.go
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/options_test.go
Due: modules

feat: Non-zero Default Fees (#9371)
  server/config/config.go
  server/start.go
  server/util_test.go
  simapp/simd/cmd/root.go
  testutil/network/util.go
  types/errors/errors.go
Due: none

remove "git diff-index --quite HEAD" from proto.yml swagger test
  .github/workflows/proto.yml
Due: none

fix lint
  baseapp/baseapp.go
  server/grpc/gogoreflection/fix_registration.go
  simapp/simd/cmd/genaccounts.go
  store/listenkv/store.go
  x/auth/tx/service.go
  x/authz/simulation/operations.go
  x/bank/legacy/v040/types.go
  x/bank/legacy/v043/store.go
  x/bank/simulation/operations.go
  x/distribution/client/testutil/suite.go
  x/distribution/simulation/operations.go
  x/feegrant/simulation/operations.go
  x/gov/legacy/v043/store.go
  x/gov/simulation/operations.go
  x/ibc/core/02-client/types/proposal.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Due: app, modules

docs: fix cosmovisor readme (#9549)
  cosmovisor/README.md
Due: none

refactor: Bring back deprecated proto fields to `v1beta1` (#9534)
  proto/lbm/upgrade/v1/upgrade.proto
  x/genutil/legacy/v043/migrate.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/legacy/v040/gov.pb.go
  x/gov/legacy/v040/vote.go
  x/gov/legacy/v043/json.go
  x/gov/legacy/v043/json_test.go
  x/gov/legacy/v043/store.go
  x/gov/legacy/v043/store_test.go
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
Due: modules

fix x/distribution InitGenesis OutstandingRewards
  go.mod
  x/distribution/keeper/genesis.go
Due: modules

fix proto-swagger-gen(Grants -> TokenGrants in query.proto of token module)
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/query.proto
  x/token/client/cli/query.go
  x/token/keeper/query_server.go
  x/token/keeper/query_server_test.go
  x/token/query.pb.go
  x/token/query.pb.gw.go
Due: modules, client

fix build
  go.mod
  go.sum
  x/authz/tx.pb.go
  x/gov/legacy/v040/genesis.pb.go
  x/upgrade/types/upgrade.pb.go
Due: none

fix: added key when dry-run is true (#9480)
  client/keys/add.go
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  crypto/keyring/keyring.go
Due: client

test(bank): check that zero balances are deleted (#9559)
  x/bank/keeper/keeper_test.go
Due: modules

feat: make authz MsgExec emit events from all executed msgs (#9522)
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
Due: modules

fix: Correctly populate legacy Vote.Option field (#9583)
  x/gov/keeper/grpc_query_test.go
Due: modules

chore: v0.43.0 Changelog and Release Notes (#9886)
  RELEASE_NOTES.md
Due: none

feat: Allow app developers to override default appConfig template (#9550)
  server/config/toml.go
  server/doc.go
  server/util.go
  server/util_test.go
  simapp/simd/cmd/root.go
Due: none

feat: multisig should accept name, not just address (#9553)
  x/auth/client/cli/tx_sign.go
  x/auth/client/testutil/suite.go
Due: modules

fix test
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/submsg_test.go
  x/wasm/module_test.go
Due: modules

chore: Changelog and Release Notes for 0.43.0-rc3 (#9801)
  RELEASE_NOTES.md
Due: none

docs: use RFC 2119 keywords (#9532)
  docs/DOC_WRITING_GUIDELINES.md
Due: none

fix proto
  docs/core/proto-docs.md
  go.mod
  go.sum
  x/wasm/types/query.pb.gw.go
Due: none

remove GetTotalSupply
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bankplus/keeper/keeper_test.go
Due: modules

ci: add docker image publish
  .github/workflows/docker.yml
  Dockerfile
Due: none

ci: trigger publish on this PR
  .github/workflows/docker.yml
Due: none
