Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

Lint
  simapp/app.go
Due: none

Increase coverage
  x/foundation/genesis_test.go
  x/foundation/keeper/keeper_test.go
Due: modules

Lint
  x/foundation/keeper/member.go
  x/foundation/keeper/msg_server.go
Due: modules

fix: implement Amino serialization for x/foundation, x/stakingplus
  x/foundation/codec.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
  x/stakingplus/codec.go
Due: modules

fix: conflict msgs
  x/collection/codec.go
  x/collection/msgs_test.go
  x/token/codec.go
  x/token/msgs_test.go
Due: modules

fix: implement Amino serialization for x/collection
  x/collection/codec.go
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

fix: implement Amino serialization for x/token
  x/token/codec.go
  x/token/msgs.go
  x/token/msgs_test.go
Due: modules

fix: change x/wasm amino to using legacyCdc
  x/wasm/lbmtypes/codec.go
  x/wasm/types/codec.go
  x/wasm/types/tx_test.go
Due: modules

fix: change conflict amino msgName with x/token and x/collection.
  x/collection/codec.go
  x/collection/msgs_test.go
  x/token/codec.go
  x/token/msgs_test.go
Due: modules

chore: add more unittest
  x/collection/keys.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/token/msgs.go
  x/token/msgs_test.go
Due: modules

chore: update changelog
  CHANGELOG.md
Due: none

Mind consistency
  x/foundation/README.md
Due: modules

Chore
  simapp/app.go
  x/foundation/expected_keepers.go
Due: modules

replace custom iteration with keyring built-in function
  client/keys/add.go
Due: client

add test for multisig threshold
  client/keys/add_test.go
Due: client

feat: bump up cosmos/iavl v0.19.3 (#738)
  CHANGELOG.md
  baseapp/abci_test.go
  baseapp/options.go
  go.mod
  go.sum
  server/config/config.go
  server/config/toml.go
  server/mock/store.go
  server/mock/store_test.go
  simapp/simd/cmd/root.go
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/iavl/tree_test.go
  store/prefix/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/iterator_test.go
  store/types/store.go
  x/wasm/types/iavl_range_test.go
Due: app, modules

fix: apply the changes of `x/foundation`
  x/foundation/msgs_test.go
Due: modules

fix: check multisig key list to prevent unexpected key deletion (#737)
  CHANGELOG.md
  client/keys/add.go
  client/keys/add_test.go
Due: client

test: add test of GetByteCode
  x/wasm/keeper/keeper_test.go
Due: modules

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: remove redundant code.
  x/token/codec.go
Due: modules

fix: apply feedback.
  x/foundation/codec.go
  x/foundation/msgs_test.go
  x/stakingplus/authz_test.go
Due: modules

fix: add error message in GetByteCode() (#742)
  CHANGELOG.md
  store/types/store.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
Due: modules

fix: remove unused amino codec type, `Change` of `x/collection`
  x/collection/codec.go
Due: modules

docs: add govmint to x/foundation specification
  CHANGELOG.md
  x/foundation/README.md
Due: modules

fix: remove unused amino codec type, `MintNFTParam` of `x/collection`
  x/collection/codec.go
Due: modules

fix: fix max gas validation (#673) (#746)
  .github/workflows/release-sims.yml
  CHANGELOG.md
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  x/auth/ante/setup.go
  x/auth/ante/setup_test.go
Due: app, modules

Register missing amino codec of `x/token`, `x/collection`, `x/wasm` and `x/foundation` (#745)
  CHANGELOG.md
  x/collection/codec.go
  x/collection/keys.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/foundation/codec.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
  x/stakingplus/authz_test.go
  x/stakingplus/codec.go
  x/token/codec.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/wasm/lbmtypes/codec.go
  x/wasm/types/codec.go
  x/wasm/types/tx_test.go
Due: modules

Fix the whitelist
  simapp/app.go
Due: none

Revert the divergence in the tests
  x/bank/keeper/genesis_test.go
  x/bank/simulation/operations_test.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: get seq number for non-multisig signing
  CHANGELOG.md
  x/auth/client/cli/tx_sign.go
  x/auth/client/testutil/suite.go
Due: modules

Add module account invariant
  x/foundation/keeper/invariants.go
  x/foundation/keeper/invariants_test.go
  x/foundation/module/module.go
Due: modules

Fix InitGenesis order
  simapp/app.go
  x/foundation/client/testutil/grpc.go
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
Due: modules

feat: add `chCheckTxSize` configuration of Baseapp
  baseapp/baseapp.go
  baseapp/options.go
  server/config/config.go
  server/config/toml.go
  server/start.go
  simapp/simd/cmd/root.go
Due: app

chore: add unittest
  baseapp/baseapp_test.go
Due: app

docs: apply pr review
  CHANGELOG.md
  x/foundation/README.md
Due: modules

Add proposal invariant
  x/foundation/keeper/invariants.go
  x/foundation/keeper/invariants_test.go
Due: modules
