Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 40
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

chore: fix lint
  x/bankplus/migrations/v1/types.go
Due: modules

fix w
  x/collection/keeper/msg_server_test.go
Due: modules

link
  x/collection/keeper/msg_server_test.go
Due: modules

chore: homePath in keeper of zkauth
  simapp/app.go
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
  x/zkauth/testutil/keeper.go
Due: modules

feat: add ZKAuthMsgDecorator anteHandler for zkauth (#1246)
  CHANGELOG.md
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/finschia/zkauth/v1beta1/tx.proto
  simapp/ante/ante.go
  simapp/ante/ante_test.go
  simapp/app.go
  x/zkauth/ante/zkauth.go
  x/zkauth/ante/zkauth_test.go
  x/zkauth/client/cli/tx.go
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
  x/zkauth/keeper/msg_server_test.go
  x/zkauth/testutil/keeper.go
  x/zkauth/testutil/testdata/verification_key.json
  x/zkauth/types/address.go
  x/zkauth/types/address_test.go
  x/zkauth/types/config.go
  x/zkauth/types/errors.go
  x/zkauth/types/expected_keepers.go
  x/zkauth/types/jwks.go
  x/zkauth/types/jwt.go
  x/zkauth/types/msgs.go
  x/zkauth/types/msgs_test.go
  x/zkauth/types/tx.pb.go
  x/zkauth/types/zkauth_inputs.go
  x/zkauth/types/zkauth_inputs_test.go
  x/zkauth/types/zkauth_verify.go
  x/zkauth/types/zkauth_verify_test.go
Due: modules

fix: stakingplus should implement AppmoduleSimulation in order to run TestAppStateDeterminism
  x/stakingplus/module/module.go
Due: none

chore: lint fix
  x/stakingplus/module/module.go
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

chore: add all migrator from original bank modules
  x/bankplus/keeper/migrations.go
  x/bankplus/module/module.go
Due: modules

chore: reorder
  CHANGELOG.md
  simapp/go.mod
  tests/go.mod
Due: none

Export params
  x/collection/keeper/genesis.go
  x/collection/keeper/genesis_test.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Move position
  x/collection/keeper/genesis.go
Due: modules

Add unpack interface for types.Any
  x/zkauth/types/msgs.go
Due: modules

Fix lint error
  x/zkauth/types/msgs.go
Due: modules

Use staking hook
  api/lbm/stakingplus/v1/stakingplus_authz.pulsar.go
  proto/lbm/stakingplus/v1/stakingplus_authz.proto
  simapp/app_config.go
  simapp/app_test.go
  simapp/go.mod
  tests/e2e/stakingplus/suite.go
  tests/go.mod
  x/foundation/codec.go
  x/foundation/keeper/exported.go
  x/foundation/keeper/internal/hooks.go
  x/foundation/module/module.go
  x/foundation/stakingplus_authz.go
  x/foundation/stakingplus_authz.pb.go
  x/stakingplus/README.md
  x/stakingplus/authz.go
  x/stakingplus/codec.go
  x/stakingplus/expected_keepers.go
  x/stakingplus/go.mod
  x/stakingplus/go.sum
  x/stakingplus/keeper/keeper_test.go
  x/stakingplus/keeper/msg_server.go
  x/stakingplus/keeper/msg_server_test.go
  x/stakingplus/module/module.go
  x/stakingplus/testutil/app_config.go
  x/stakingplus/testutil/expected_keepers_mocks.go
Due: modules

Remove some settings for stakingplus
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/test.yml
  go.work.example
  scripts/mockgen.sh
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Add UnpackInterfaces to MsgExecute (#1269)
  x/zkauth/types/msgs.go
Due: modules

Update foundation docs
  x/foundation/README.md
Due: modules

Fix for comments
  x/foundation/keeper/exported.go
  x/foundation/keeper/internal/hooks.go
Due: modules

Fix error log
  x/foundation/keeper/internal/exec.go
Due: modules

Use keeper codec
  x/foundation/keeper/internal/hooks.go
Due: modules

Add hooks test
  x/foundation/keeper/internal/genesis_test.go
  x/foundation/keeper/internal/grpc_query_test.go
  x/foundation/keeper/internal/hooks_test.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/proposal_test.go
Due: modules

Add stakingplus auth test
  x/foundation/stakingplus_authz_test.go
Due: modules

Fix package alias
  x/foundation/module/module.go
Due: none

Fix for lint
  x/foundation/keeper/internal/hooks_test.go
Due: modules

feat: replaces decorators
  baseapp/block_gas_test.go
  proto/finschia/zkauth/v1beta1/tx.proto
  simapp/ante/ante.go
  simapp/app.go
  x/auth/ante/expected_keepers.go
  x/zkauth/ante/zkauth.go
  x/zkauth/ante/zkauth_test.go
  x/zkauth/keeper/keeper.go
  x/zkauth/testutil/keeper.go
  x/zkauth/types/msgs.go
  x/zkauth/types/tx.pb.go
Due: app, modules

fix: replace stakingplus module with staking hooks (#1271)
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/test.yml
  CHANGELOG.md
  api/lbm/stakingplus/v1/stakingplus_authz.pulsar.go
  go.work.example
  proto/lbm/stakingplus/v1/stakingplus_authz.proto
  scripts/mockgen.sh
  simapp/app_config.go
  simapp/app_test.go
  simapp/go.mod
  tests/e2e/stakingplus/suite.go
  tests/go.mod
  x/foundation/README.md
  x/foundation/codec.go
  x/foundation/keeper/exported.go
  x/foundation/keeper/internal/exec.go
  x/foundation/keeper/internal/genesis_test.go
  x/foundation/keeper/internal/grpc_query_test.go
  x/foundation/keeper/internal/hooks.go
  x/foundation/keeper/internal/hooks_test.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/proposal_test.go
  x/foundation/module/module.go
  x/foundation/stakingplus_authz.go
  x/foundation/stakingplus_authz.pb.go
  x/foundation/stakingplus_authz_test.go
  x/stakingplus/README.md
  x/stakingplus/authz.go
  x/stakingplus/codec.go
  x/stakingplus/expected_keepers.go
  x/stakingplus/go.mod
  x/stakingplus/go.sum
  x/stakingplus/keeper/keeper_test.go
  x/stakingplus/keeper/msg_server.go
  x/stakingplus/keeper/msg_server_test.go
  x/stakingplus/module/module.go
  x/stakingplus/testutil/app_config.go
  x/stakingplus/testutil/expected_keepers_mocks.go
Due: modules

fix: apply review
  simapp/app.go
  x/zkauth/ante/zkauth.go
Due: modules

fix: test
  x/zkauth/keeper/keeper_test.go
Due: modules

add nil checking
  x/auth/types/account.go
  x/auth/types/account_test.go
Due: modules

add CHANGELOG
  CHANGELOG.md
Due: none

fix: apply review
  x/zkauth/ante/zkauth.go
Due: modules

feat: replaces decorators (#1272)
  baseapp/block_gas_test.go
  proto/finschia/zkauth/v1beta1/tx.proto
  simapp/ante/ante.go
  simapp/app.go
  x/auth/ante/expected_keepers.go
  x/zkauth/ante/zkauth.go
  x/zkauth/ante/zkauth_test.go
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
  x/zkauth/testutil/keeper.go
  x/zkauth/types/msgs.go
  x/zkauth/types/tx.pb.go
Due: app, modules

Ignore gas decorator when process zkauth tx
  simapp/ante/ante.go
  x/zkauth/ante/zkauth.go
Due: modules

Comment todo
  x/zkauth/ante/zkauth.go
Due: modules

fix: add non-zero check of nextTokenID.Id for genesis
  x/collection/keeper/genesis.go
Due: modules
