Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

x/authz charge gas for expensive authorizations (#8995)
  types/msgservice/msg_service.go
  types/tx/types.go
  x/authz/client/cli/tx_test.go
  x/authz/exported/authorizations.go
  x/authz/keeper/keeper.go
  x/authz/simulation/operations.go
  x/authz/types/generic_authorization.go
  x/authz/types/generic_authorization_test.go
  x/authz/types/msgs.go
  x/bank/types/send_authorization.go
  x/bank/types/send_authorization_test.go
  x/staking/types/authz.go
  x/staking/types/authz_test.go
Due: modules

bump tendermint core (#9081)
  store/types/listening_test.go
  types/query/pagination.go
  x/auth/legacy/v043/store.go
  x/auth/tx/service.go
  x/bank/keeper/keeper_test.go
  x/upgrade/keeper/keeper_test.go
Due: modules

PlantUML diagrams (#8712)
  Dockerfile
  docs/uml/begin_redelegation_sequence.puml
  docs/uml/delegation_sequence.puml
  docs/uml/keeper_dependencies.puml
  docs/uml/transaction_flow.puml
  docs/uml/unbond_sequence.puml
  x/staking/spec/03_messages.md
Due: modules

cosmos-reflection: extend to support writing by reflection clients (#8965)
  baseapp/grpcrouter.go
  client/grpc/reflection/reflection_test.go
  client/tx/factory.go
  contrib/rosetta/node/data.tar.gz
  docs/core/proto-docs.md
  proto/lbm/base/reflection/v1/reflection.proto
  proto/lbm/base/reflection/v2/reflection.proto
  server/grpc/reflection/v2/reflection.go
  server/grpc/server.go
  server/grpc/server_test.go
  server/rosetta/converter.go
  types/tx/signing/signing.pb.go
  x/auth/ante/sigverify.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/tx.go
  x/auth/legacy/legacytx/stdsign.go
  x/auth/testutil/suite.go
  x/auth/tx/mode_handler.go
Due: app, modules, client

Paginate supply queries (#8798)
  contrib/rosetta/node/data.tar.gz
  proto/lbm/bank/v1/query.proto
  types/query/pagination.go
  x/bank/client/cli/cli_test.go
  x/bank/client/cli/query.go
  x/bank/client/rest/grpc_query_test.go
  x/bank/client/rest/query_test.go
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/invariants.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/querier.go
  x/bank/keeper/querier_test.go
Due: modules

Refactor auth cli tests (#9018)
  x/auth/client/cli/cli_test.go
Due: modules

feegrant filtered msgs (#8604)
  x/feegrant/client/testutil/suite.go
  x/feegrant/types/basic_fee_test.go
  x/feegrant/types/filtered_fee.go
  x/feegrant/types/periodic_fee_test.go
Due: modules

documentation for in-place migrations with x/upgrade module (#8967)
  docs/building-modules/upgrade.md
  docs/core/upgrade.md
Due: none

add AddAmount/SubAmount methods to sdk.Coin (#9091)
  types/coin.go
  types/coin_test.go
Due: none

module/types code hygiene - utilize map access 2nd return value (#9098)
  simapp/app_test.go
  types/module/module.go
Due: none

fix build
  client/utils.go
  proto/lbm/base/reflection/v1/reflection.proto
  proto/lbm/base/reflection/v2/reflection.proto
  proto/lbm/base/store/v1/listening.proto
  proto/lbm/staking/v1/staking.proto
  server/grpc/reflection/v2/reflection.go
  server/grpc/reflection/v2/reflection.pb.go
  server/grpc/reflection/v2/reflection.pb.gw.go
  store/dbadapter/store_test.go
  store/iavl/store.go
  store/listenkv/store.go
  store/mem/mem_test.go
  store/prefix/store_test.go
  store/types/listening.go
  store/types/listening.pb.go
  store/types/listening_test.go
  types/tx/signing/signing.pb.go
  x/auth/legacy/v043/store.go
  x/auth/legacy/v043/store_test.go
  x/bank/keeper/invariants.go
  x/bank/keeper/keeper.go
  x/bank/types/key.go
  x/bank/types/query.pb.go
  x/bank/types/query.pb.gw.go
  x/feegrant/types/filtered_fee.go
  x/ibc/testing/chain.go
  x/staking/keeper/power_reduction.go
  x/staking/types/staking.pb.go
Due: modules, client

fix test build
  store/iavl/store_test.go
  store/listenkv/store_test.go
  store/prefix/store_test.go
  store/rootmulti/store_test.go
  x/auth/legacy/v043/store_test.go
  x/bankplus/keeper/keeper_test.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/slashing/keeper/signing_info_test.go
  x/staking/legacy/v043/store_test.go
Due: modules

ADR-28 derive address functions (#9088)
  types/address/hash.go
  types/address/hash_test.go
Due: none

ci: check docs build (#9125)
  .github/workflows/check-docs.yml
Due: none

x/bank/types: fix AddressFromBalancesStore address length overflow (#9112)
  x/bank/types/key.go
  x/bank/types/key_test.go
Due: modules

Add comment on x/auth hacky migration script (#9132)
  x/auth/legacy/v043/store.go
Due: modules

docs: uml hotfix (#9124)
  docs/uml/puml/begin_redelegation_sequence.puml
  docs/uml/puml/delegation_sequence.puml
  docs/uml/puml/keeper_dependencies.puml
  docs/uml/puml/transaction_flow.puml
  docs/uml/puml/unbond_sequence.puml
  docs/uml/svg/begin_redelegation_sequence.svg
  docs/uml/svg/delegation_sequence.svg
  docs/uml/svg/keeper_dependencies.svg
  docs/uml/svg/transaction_flow.svg
  docs/uml/svg/unbond_sequence.svg
  x/staking/spec/03_messages.md
Due: modules

Minor docs update to sdk.Int (#9126)
  types/int.go
Due: none

fix test
  server/grpc/server_test.go
  x/auth/client/rest/rest_test.go
  x/auth/keeper/migrations.go
  x/auth/legacy/v043/store.go
  x/auth/legacy/v043/store_test.go
  x/auth/module.go
  x/bank/keeper/keeper.go
  x/bank/module.go
  x/bank/types/send_authorization_test.go
  x/bankplus/keeper/keeper_test.go
  x/wasm/keeper/test_common.go
Due: modules

add docs for gas consumption (#9118)
  x/authz/spec/01_concepts.md
  x/authz/spec/README.md
  x/feegrant/spec/01_concepts.md
  x/feegrant/spec/README.md
Due: modules

ci: add swagger check (#457)
  .github/actions/generate-swagger/action.yml
  .github/workflows/proto.yml
  CHANGELOG.md
Due: none

chore: redirect merged wasmvm commit rev
  go.mod
  go.sum
Due: none

feat: impl GetContractEnv of cosmwasmAPI (#427)
  go.mod
  go.sum
  x/wasm/keeper/api.go
  x/wasm/keeper/wasmtesting/mock_engine.go
  x/wasm/types/wasmer_engine.go
Due: modules

ci: publish the image on tag push
  .github/workflows/publish.yml
Due: none

ci: trigger publish on this PR
  .github/workflows/publish.yml
Due: none

ci: replace publish with legacy docker
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Due: none

ci: trigger the workflow on this PR
  .github/workflows/docker.yml
Due: none

ci: untabify the workflow config
  .github/workflows/docker.yml
Due: none
