Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

Implement Query/HasParent
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
Due: modules

Wrap the error with gRPC NotFound
  x/collection/keeper/grpc_query.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Apply feedbacks on reviews
  x/collection/keeper/grpc_query.go
Due: modules

wip temp
  x/wasm/keeper/keeper_test.go
Due: modules

refactor: Change test function name according to function name change
  x/wasm/keeper/keeper_test.go
Due: modules

Fix default next class ids
  x/collection/collection.go
Due: modules

Do not loop enum
  x/collection/keeper/supply.go
Due: modules

Fix comments
  x/collection/module/module.go
  x/foundation/module/module.go
  x/token/module/module.go
Due: none

Remove unused logics in comments
  x/collection/module/module.go
  x/foundation/module/module.go
  x/stakingplus/module/module.go
  x/token/module/module.go
Due: none

Add unit test
  x/collection/collection_test.go
Due: modules

Update x/collection/keeper/supply.go
  x/collection/keeper/supply.go
Due: modules

x/token
  x/token/event.go
  x/token/keeper/keeper_test.go
  x/token/keeper/msg_server_test.go
Due: modules

x/collection
  x/collection/event.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server_test.go
Due: modules

x/foundation
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/msg_server_test.go
Due: modules

fix: fix default next class ids of x/collection (#960)
  CHANGELOG.md
  x/collection/collection.go
  x/collection/collection_test.go
Due: modules

chore
  x/collection/keeper/msg_server_test.go
  x/foundation/keeper/internal/msg_server_test.go
  x/token/keeper/msg_server_test.go
Due: modules

docs: update CHANGELOG
  CHANGELOG.md
Due: none

build: update commit-hash of wasmvm
  go.mod
  go.sum
Due: none

test: update on expected gas
  x/wasm/keeper/keeper_test.go
Due: modules

Update unit tests on event
  x/collection/keeper/msg_server_test.go
Due: modules

docs: left comment on CHANGELOG
  CHANGELOG.md
Due: none

Revert "Update CHANGELOG.md"
  CHANGELOG.md
Due: none

Revert "Do not check existence of collection in Query/Balance"
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
Due: modules

Revert #956 on x/auth relevant checks
  simapp/app.go
  x/collection/expected_keepers.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keeper_test.go
  x/collection/module/module.go
  x/token/expected_keepers.go
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
  x/token/keeper/keeper_test.go
  x/token/module/module.go
Due: modules

Add asset check on Query/HoldersByOperator
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/token/keeper/grpc_query.go
Due: modules

fix: do not loop enum in x/collection (#961)
  CHANGELOG.md
  x/collection/keeper/supply.go
  x/collection/module/module.go
  x/foundation/module/module.go
  x/stakingplus/module/module.go
  x/token/module/module.go
Due: modules

Wrap non stateful errors with InvalidArgument
  x/collection/keeper/grpc_query.go
  x/token/keeper/grpc_query.go
Due: modules

Add tests on x/collection CreateContract
  x/collection/keeper/msg_server_test.go
Due: modules

Add tests on x/foundation Begin/EndBlocker
  x/foundation/keeper/internal/abci_test.go
Due: modules

chore: address generation of the empty coins in x/foundation (#952)
  CHANGELOG.md
  client/grpc/tmservice/service_test.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/treasury.go
  x/foundation/keeper/internal/treasury_test.go
Due: modules, client

Lint
  x/foundation/keeper/internal/abci_test.go
Due: modules
