Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

chore: gofmt
  x/wasm/internal/keeper/genesis_test.go
Due: modules

docs: replace url in x/wasm/internal/types/params.go
  x/wasm/internal/types/params.go
Due: modules

docs: replace links in x/wasm/genesis_test.go
  x/wasm/genesis_test.go
Due: modules

docs: rewrite comment for const MaxGas
  x/wasm/internal/keeper/keeper.go
Due: modules

docs: move undiscussed issue cosmwasm with ours
  x/wasm/internal/keeper/query_plugins.go
Due: modules

docs: add README this PR
  x/wasm/CHANGELOG.md
Due: modules

docs: replace links in x/wasm/module_test.go
  x/wasm/module_test.go
Due: modules

docs: replace urls in x/wasm/internal/keeper/keeper_test.go
  x/wasm/internal/keeper/keeper_test.go
Due: modules

docs: replace links and refs in source of linkwasmd
  x/wasm/linkwasmd/app/app.go
  x/wasm/linkwasmd/app/params/doc.go
Due: modules

fix: github action
  .github/workflows/test.yml
Due: none

chore: fix branch name in ci script
  .github/workflows/test.yml
Due: none

chore: remove circleci script
  .circleci/config.yml
Due: none

chore: fix branch name in ci script (#234)
  .circleci/config.yml
  .github/workflows/test.yml
Due: none

docs: replace "gaia" with "lfb" in source of linkwasmd
  x/wasm/linkwasmd/app/app.go
  x/wasm/linkwasmd/app/params/doc.go
Due: modules

docs: make x/wasm/alias.go not autogenerated
  x/wasm/alias.go
Due: modules

docs: replace url in internal/keeper/test_common.go
  x/wasm/internal/keeper/test_common.go
Due: none

doc: replace link in x/wasm/internal/keeper/keeper.go
  x/wasm/internal/keeper/keeper.go
Due: modules

build: bump up ostracon to not flush wal when receive consensus msgs
  go.mod
  go.sum
Due: none

build: bump up ostracon to not flush wal when receive consensus msgs (#246)
  go.mod
  go.sum
Due: none

docs: add PR procedure, apply main branch
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  .github/workflows/proto-docker.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  CONTRIBUTING.md
  Makefile
Due: none

docs: add PR procedure, apply main branch (#248)
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  .github/workflows/proto-docker.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  CONTRIBUTING.md
  Makefile
Due: none

fix: fix a gas value in a test
  x/wasm/internal/keeper/keeper_test.go
Due: modules

docs: replace links to branch develop with links to main
  x/wasm/genesis_test.go
  x/wasm/internal/keeper/keeper_test.go
  x/wasm/internal/types/params.go
  x/wasm/module_test.go
Due: modules

fix: Migrate linkwasmd to the latest commit
  x/wasm/linkwasmd/app/app.go
  x/wasm/linkwasmd/cmd/linkwasmd/cmd/root.go
  x/wasm/linkwasmd/go.mod
  x/wasm/linkwasmd/go.sum
Due: modules

feat: sign block height-work1
  client/account_retriever.go
  client/flags/flags.go
  client/test_helpers.go
  client/tx/factory.go
  client/tx/tx.go
  docs/core/proto-docs.md
  proto/lfb/auth/v1beta1/auth.proto
  proto/lfb/tx/v1beta1/tx.proto
  types/rest/rest.go
  types/tx/tx.pb.go
  x/auth/ante/sigverify.go
  x/auth/keeper/account.go
  x/auth/keeper/keeper.go
  x/auth/signing/sig_verifiable_tx.go
  x/auth/signing/sign_mode_handler.go
  x/auth/tx/direct.go
  x/auth/types/account.go
  x/auth/types/account_retriever.go
  x/auth/types/account_test.go
  x/auth/types/auth.pb.go
  x/auth/types/genesis.go
  x/auth/types/genesis_test.go
  x/auth/types/keys.go
  x/auth/vesting/types/vesting_account.go
Due: modules, client

docs: replace branch name develop with main
  x/wasm/genesis_test.go
Due: modules

chore: separate x/wasm/alias.go into alias.go and parameter.go
  x/wasm/alias.go
  x/wasm/module.go
  x/wasm/parameters.go
Due: modules

docs: add this PR to CHANGELOG.md
  CHANGELOG.md
Due: none

chore: go lint
  x/wasm/genesis_test.go
  x/wasm/module_test.go
  x/wasm/parameters.go
Due: modules
