Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

test
  .github/workflows/sims.yml
Due: none

fix
  .github/workflows/sims.yml
Due: none

fix
  .github/workflows/sims.yml
  .github/workflows/test.yml
Due: none

fix
  .github/workflows/test.yml
Due: none

fix
  .github/workflows/docker.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/tag.yml
Due: none

chore: Bump up Ostracon to 1.1.1
  go.mod
  go.sum
Due: none

(fixup) Update CHANGELOG.md
  CHANGELOG.md
Due: none

(fixup) Using the tag of ostracon-v1.1.1
  go.mod
  go.sum
Due: none

(fixup) Sync thrid_party(Tendermint/Ostracon) proto files
  third_party/proto/ostracon/abci/types.proto
  third_party/proto/ostracon/blockchain/types.proto
  third_party/proto/ostracon/privval/types.proto
  third_party/proto/ostracon/rpc/grpc/types.proto
  third_party/proto/ostracon/state/types.proto
  third_party/proto/tendermint/abci/types.proto
  third_party/proto/tendermint/consensus/types.proto
  third_party/proto/tendermint/types/evidence.proto
  third_party/proto/tendermint/types/types.proto
Due: none

fix to refer to ramus remote repository
  go.mod
  go.sum
Due: none

add DA client for L1 Finschia
  client/or/finschia.go
  docs/core/proto-docs.md
  go.mod
Due: client

apply formatter for proto files
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/mint/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/finschia/or/da/v1/params.proto
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/genesis.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/genesis.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/tx.proto
Due: none

fix errors caused by the introduction of Ramus
  client/grpc/tmservice/service_test.go
  tests/mocks/types_module_module.go
  types/handler_test.go
  types/module/module.go
Due: client

skip rollkit/cosmos-sdk derived and non-reproducible test failures
  client/grpc/tmservice/service_test.go
  client/grpc_query_test.go
  client/query_test.go
  client/rpc/rpc_test.go
  simapp/simd/cmd/cmd_test.go
  testutil/network/network_test.go
  x/auth/client/testutil/suite.go
  x/auth/tx/service_test.go
  x/auth/tx2/service_test.go
  x/authz/client/testutil/grpc.go
  x/authz/client/testutil/tx.go
  x/collection/client/testutil/suite.go
  x/distribution/client/testutil/grpc.go
  x/distribution/client/testutil/suite.go
  x/feegrant/client/testutil/suite.go
  x/foundation/client/testutil/suite.go
  x/gov/client/testutil/deposits.go
  x/gov/client/testutil/grpc.go
  x/gov/client/testutil/suite.go
  x/staking/client/testutil/suite.go
  x/token/client/testutil/suite.go
Due: modules, client

ignore cosmovisor test
  .github/workflows/test.yml
Due: none

add non-reproducible test failures to skip
  server/grpc/server_test.go
  x/gov/client/testutil/suite.go
Due: modules

ci: change to self-hosted
  .github/workflows/autopr.yml
  .github/workflows/clean-artifacts.yml
  .github/workflows/docker.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
Due: none

follow ramus version
  go.mod
  go.sum
  testutil/network/util.go
Due: none

apply goimports
  client/grpc/tmservice/service.go
  server/mock/helpers.go
  store/prefix/store_test.go
  testutil/network/util.go
  x/authz/simulation/operations_test.go
  x/bank/simulation/operations_test.go
  x/capability/capability_test.go
  x/crisis/keeper/keeper_test.go
  x/distribution/abci.go
  x/distribution/simulation/operations_test.go
  x/feegrant/simulation/operations_test.go
  x/genutil/client/cli/init_test.go
  x/gov/abci_test.go
  x/gov/simulation/operations_test.go
  x/or/da/testutil/types_test.go
  x/slashing/abci.go
  x/slashing/app_test.go
  x/slashing/simulation/operations_test.go
  x/staking/app_test.go
  x/staking/keeper/val_state_change_test.go
  x/staking/simulation/operations_test.go
  x/stakingplus/keeper/msg_server.go
  x/upgrade/abci.go
  x/upgrade/types/storeloader_test.go
Due: modules, client

fix for a private repo dependency
  .github/workflows/autopr.yml
  .github/workflows/clean-artifacts.yml
  .github/workflows/docker.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
Due: none

fix lint errors and refs for private repo
  .github/workflows/sims.yml
  .github/workflows/test.yml
  testutil/network/network.go
Due: none

Fix for reviews
  x/or/demo/challenge.sh
  x/or/demo/tools/challenge/data/test.json
  x/or/settlement/client/cli/query.go
  x/or/settlement/keeper/challenge.go
  x/or/settlement/keeper/keeper.go
  x/or/settlement/mips/open_mips_tests/maketests.py
Due: modules

chore: Bump up Ostracon to 1.1.1 (#1057)
  CHANGELOG.md
  go.mod
  go.sum
  third_party/proto/ostracon/abci/types.proto
  third_party/proto/ostracon/blockchain/types.proto
  third_party/proto/ostracon/privval/types.proto
  third_party/proto/ostracon/rpc/grpc/types.proto
  third_party/proto/ostracon/state/types.proto
  third_party/proto/tendermint/abci/types.proto
  third_party/proto/tendermint/consensus/types.proto
  third_party/proto/tendermint/types/evidence.proto
  third_party/proto/tendermint/types/types.proto
Due: none

chore: create an automatic error document generation module
  tools/error_doc/const_info.go
  tools/error_doc/error_info.go
  tools/error_doc/main.go
  tools/error_doc/module_info.go
Due: none

docs: generate ERRORS.md for x/module
  x/ERRORS.md
Due: modules

fix: make x/foundation MsgExec propagate events (#1053)
  CHANGELOG.md
  x/foundation/keeper/internal/exec.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/msg_server_test.go
Due: modules

chore: add a ci to check generated error docs up-to-date
  .github/workflows/check-generated.yml
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

refactor: fix for lint
  tools/error_doc/const_info.go
  tools/error_doc/error_info.go
  tools/error_doc/main.go
Due: none

fix environment variable
  .github/workflows/sims.yml
  .github/workflows/test.yml
Due: none

style: format yml file
  .github/workflows/check-generated.yml
Due: none

fixup: fix for review
  .github/workflows/check-generated.yml
  Makefile
  tools/error_doc/go.mod
  tools/error_doc/go.sum
  x/README.md
Due: modules

temp set orda module
  simapp/app.go
Due: none

fix: rename GetRollup
  x/or/da/keeper/msg_server.go
  x/or/da/testutil/expected_keepers_mocks.go
  x/or/da/types/expected_keepers.go
Due: modules

fix CI to be able to refer private repos
  .github/workflows/sims.yml
  .github/workflows/test.yml
Due: none

fixup: fix for review
  CHANGELOG.md
Due: none
