Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

chore: remove private module dependencies (#277)
  .github/workflows/lint.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  Dockerfile
  Makefile
  scripts/protocgen.sh
Due: none

fix: send tx with unknown address with daemon command
  client/tx/tx.go
Due: client

fix: fix relay_test to pass
  x/wasm/internal/keeper/relay_test.go
Due: modules

fix: send tx with unknown address with daemon command (#286)
  client/tx/tx.go
Due: client

docs: update swagger
  client/docs/swagger-ui/swagger.yaml
Due: client

feat: add BlockByHash and BlockResultsByHeight GRPC API
  client/grpc/tmservice/block.go
  client/grpc/tmservice/query.pb.go
  client/grpc/tmservice/query.pb.gw.go
  client/grpc/tmservice/service.go
  client/grpc/tmservice/service_test.go
  docs/core/proto-docs.md
  proto/lfb/base/ostracon/v1beta1/query.proto
Due: client

chore: migrate swagger generator for lfb-sdk
  Makefile
  client/docs/config.json
  scripts/protoc-swagger-gen.sh
Due: client

refactor: add prove parameter to GetTxsEvent GRPC API
  docs/core/proto-docs.md
  proto/lfb/tx/v1beta1/service.proto
  types/tx/service.pb.go
  x/auth/tx/service.go
  x/auth/tx/xauthclient.go
Due: modules

chore: remove MaxGas const (#253)
  CHANGELOG.md
  x/wasm/alias.go
  x/wasm/internal/keeper/keeper.go
  x/wasm/internal/keeper/relay_test.go
Due: modules

chore: remove todo comment about prove
  x/auth/tx/xauthclient.go
Due: modules

docs: update changelog
  CHANGELOG.md
Due: none

docs: rename to LFB SDK
  client/docs/config.json
Due: client

feat: add grpc api related to the block (#291)
  CHANGELOG.md
  Makefile
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  client/grpc/tmservice/block.go
  client/grpc/tmservice/query.pb.go
  client/grpc/tmservice/query.pb.gw.go
  client/grpc/tmservice/service.go
  client/grpc/tmservice/service_test.go
  docs/core/proto-docs.md
  proto/lfb/base/ostracon/v1beta1/query.proto
  proto/lfb/tx/v1beta1/service.proto
  scripts/protoc-swagger-gen.sh
  types/tx/service.pb.go
  x/auth/tx/service.go
  x/auth/tx/xauthclient.go
Due: modules, client

fix: apply review
  go.mod
  go.sum
  x/wasm/Governance.md
  x/wasm/IBC.md
  x/wasm/keeper/contract_keeper.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
Due: modules

fix: move proto file to proto/cosmwasm/wasm/v1beta1
  proto/cosmwasm/wasm/v1beta1/genesis.proto
  proto/cosmwasm/wasm/v1beta1/ibc.proto
  proto/cosmwasm/wasm/v1beta1/proposal.proto
  proto/cosmwasm/wasm/v1beta1/query.proto
  proto/cosmwasm/wasm/v1beta1/tx.proto
  proto/cosmwasm/wasm/v1beta1/types.proto
  scripts/protocgen.sh
Due: none

fix: fix lint error
  go.mod
  go.sum
  x/wasm/handler.go
  x/wasm/ibc.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/msg_dispatcher.go
  x/wasm/keeper/proposal_handler.go
  x/wasm/linkwasmd/go.sum
  x/wasm/types/exported_keepers.go
  x/wasm/types/types.go
Due: modules

docs: update swagger for wasm
  client/docs/swagger-ui/swagger.yaml
  scripts/protoc-swagger-gen.sh
Due: client

docs: update swagger proto path for wasm (#295)
  client/docs/swagger-ui/swagger.yaml
  scripts/protoc-swagger-gen.sh
Due: client

docs: update swagger for wasm
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
Due: client

docs: update swagger for wasm (#297)
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
Due: client

fix: compile errors, test failures
  x/wasm/keeper/authz_policy.go
  x/wasm/keeper/contract_keeper.go
  x/wasm/keeper/ibc.go
  x/wasm/keeper/ibc_test.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/legacy_querier.go
  x/wasm/keeper/legacy_querier_test.go
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/keeper/query_plugins.go
  x/wasm/keeper/reflect_test.go
  x/wasm/keeper/staking_test.go
  x/wasm/keeper/submsg_test.go
  x/wasm/keeper/test_common.go
  x/wasm/keeper/test_fuzz.go
  x/wasm/types/keys.go
  x/wasm/types/keys_test.go
  x/wasm/types/params_test.go
  x/wasm/types/proposal_test.go
  x/wasm/types/test_fixtures.go
  x/wasm/types/tx_test.go
  x/wasm/types/types_test.go
Due: modules

fix: lint errors
  baseapp/msg_service_router_test.go
  simapp/test_helpers.go
  types/address.go
  types/rest/rest_test.go
  x/auth/ante/ante_test.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
  x/auth/client/cli/tx_sign.go
  x/auth/legacy/legacytx/amino_signing_test.go
  x/auth/signing/handler_map_test.go
  x/auth/signing/verify_test.go
  x/auth/tx/direct_test.go
  x/auth/tx/legacy_amino_json_test.go
  x/bank/types/key.go
  x/ibc/applications/transfer/keeper/relay.go
  x/ibc/core/02-client/types/msgs.go
  x/params/types/common_test.go
  x/wasm/keeper/proposal_handler.go
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/types/keys.go
  x/wasm/types/types_test.go
Due: app, modules

fix: fix test failures, add message validation
  x/crisis/types/msgs.go
  x/distribution/keeper/querier_test.go
  x/distribution/types/msg.go
  x/evidence/types/msgs.go
  x/gov/types/msgs.go
  x/slashing/types/msg.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
Due: modules

docs: modify changelog
  CHANGELOG.md
Due: none

fix: test failure
  client/context.go
  types/address.go
  x/evidence/types/msgs_test.go
Due: modules, client

fix: works-1
  client/flags/flags.go
  client/rpc/status.go
  crypto/codec/tm.go
  crypto/ledger/encode_test.go
  crypto/ledger/ledger_secp256k1.go
  go.mod
  go.sum
  proto/ibc/lightclients/tendermint/v1/tendermint.proto
  server/oc_cmds.go
  server/start.go
  x/distribution/abci.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/init_test.go
  x/genutil/utils.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour.go
  x/ibc/light-clients/07-tendermint/types/update.go
  x/simulation/mock_ostracon.go
  x/slashing/abci.go
  x/slashing/abci_test.go
Due: modules, client

fix: apply comment
  crypto/keyring/output.go
  crypto/keys/multisig/multisig_test.go
  types/address.go
  types/address_test.go
  x/auth/client/cli/query.go
  x/auth/keeper/grpc_query.go
  x/crisis/keeper/msg_server.go
  x/ibc/testing/chain.go
  x/staking/types/data_test.go
Due: modules

fix: apply comment; use Empty() function
  x/auth/ante/fee.go
  x/auth/keeper/keeper.go
  x/bank/keeper/keeper.go
  x/distribution/keeper/keeper.go
  x/gov/keeper/keeper.go
  x/ibc/applications/transfer/keeper/keeper.go
  x/mint/keeper/keeper.go
  x/staking/keeper/keeper.go
  x/wasm/keeper/legacy_querier_test.go
Due: modules

fix: bump up ostracon
  client/rpc/status.go
  client/rpc/validators.go
  crypto/codec/oc.go
  docs/core/proto-docs.md
  go.sum
  server/oc_cmds.go
  simapp/test_helpers.go
  x/distribution/abci.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/genutil/client/cli/init_test.go
  x/genutil/utils.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/ibc/testing/mock/privval.go
  x/simulation/mock_ostracon.go
  x/slashing/abci.go
  x/slashing/abci_test.go
  x/staking/genesis.go
  x/staking/handler_test.go
  x/staking/teststaking/tm.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Due: modules, client

fix: lint error
  x/bank/simulation/params.go
  x/bank/types/balance.go
  x/bank/types/key.go
  x/ibc/applications/transfer/keeper/relay.go
  x/ibc/applications/transfer/simulation/params.go
  x/ibc/core/types/codec.go
  x/ibc/testing/chain.go
  x/simulation/mock_ostracon.go
  x/staking/handler_test.go
  x/staking/types/exported.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
  x/wasm/keeper/querier.go
Due: modules

fix: bump up ostracon
  docs/core/proto-docs.md
  go.mod
  go.sum
Due: none

fix: self review
  client/rpc/status.go
  docs/core/proto-docs.md
  proto/ibc/lightclients/ostracon/v1/ostracon.proto
  third_party/proto/ostracon/types/voter.proto
  x/auth/keeper/grpc_query.go
  x/ibc/light-clients/99-ostracon/types/ostracon.pb.go
  x/ibc/light-clients/99-ostracon/types/ostracon_test.go
  x/slashing/abci.go
  x/staking/keeper/historical_info.go
  x/wasm/types/keys.go
Due: modules, client

fix: modify changelog
  CHANGELOG.md
Due: none

fix: disable arm building
  .github/workflows/test.yml
Due: none

fix: bls build failure on arm
  .github/workflows/test.yml
Due: none
