Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat: replace line/iavl/v2 to cosmos/iavl
  baseapp/iostats.go
  go.mod
  go.sum
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/iavl/tree_test.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  x/wasm/types/iavl_range_test.go
Due: app, modules

perf: remove iavl cache
  baseapp/options.go
  baseapp/options_test.go
  server/mock/store.go
  server/mock/store_test.go
  simapp/simd/cmd/root.go
  store/iavl/cache.go
  store/iavl/cache_test.go
  store/iavl/metrics.go
  store/iavl/metrics_test.go
  store/iavl/store.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/types/iterator_test.go
  store/types/store.go
Due: app

Update docs/core/event.md
  docs/core/event.md
Due: none

Fix the error handling when using AccAddressFromBech32
  x/collection/keeper/genesis.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/foundation/keeper/vote.go
Due: modules

Fix wrong usage of AccAddress, ValAddress, ConsAddress
  x/feegrant/msgs_test.go
  x/genutil/collect.go
  x/staking/legacy/v043/store_test.go
Due: modules

Apply types/address.go from cosmos-sdk@v0.45.1
  go.mod
  types/address.go
Due: none

Delete unused variables
  x/feegrant/msgs_test.go
Due: modules

Fix the bug that should be used operator address when to is nil on CreateFTClass
  x/collection/keeper/msg_server.go
Due: modules

feat: add EventOwnerChanged and EventRootChanged
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  x/collection/event.go
  x/collection/event.pb.go
  x/collection/event_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/send.go
  x/collection/keeper/supply.go
Due: modules

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

build: remove iostats for build
  baseapp/abci.go
  baseapp/iostats.go
  baseapp/iostats_nop.go
Due: app

test: fix codecov patch test
  store/gaskv/store_test.go
  store/listenkv/store_test.go
  store/prefix/store_test.go
  store/tracekv/store_test.go
Due: none

build: remove freecache and tm-db from go.mod
  go.mod
  go.sum
Due: none

docs: add changelog
  CHANGELOG.md
Due: none

test: check signers after validate basic (x/collection)
  x/collection/msgs_test.go
Due: modules

docs: combine log
  CHANGELOG.md
Due: none

Add this PR changes to `CHANGELOG.md`
  CHANGELOG.md
Due: none

test: check signers after validate basic (x/token)
  x/token/msgs_test.go
Due: modules

test: check signers after validate basic (x/foundation)
  x/foundation/msgs_test.go
Due: modules

Remove `AddressDelimiter` from `x/staking` and `x/distribution`
  x/distribution/types/keys.go
  x/staking/types/keys.go
Due: modules

feat: add collection query to swagger
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: client

Remove new line
  x/token/keeper/msg_server.go
Due: modules

Fix worng fix in `x/stakingplus`
  x/stakingplus/authz.go
Due: modules

Add a comment in `x/collection`
  x/collection/keeper/msg_server.go
Due: modules

Remove meaningless `nolint`
  x/wasm/keeper/api.go
Due: modules

chore: revert gRPC block height header.
  server/grpc/server_test.go
  types/grpc/headers.go
Due: none

docs: update changelog.
  CHANGELOG.md
Due: none

feat: add Query/TokensWithTokenType
  docs/core/proto-docs.md
  proto/lbm/collection/v1/query.proto
  x/collection/client/cli/query.go
  x/collection/client/testutil/query.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keys.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
Due: modules

refactor: remove new tx
  docs/core/proto-docs.md
  proto/lbm/collection/v1/tx.proto
  x/collection/client/cli/tx.go
  x/collection/client/testutil/query.go
  x/collection/client/testutil/suite.go
  x/collection/client/testutil/tx.go
  x/collection/codec.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/collection/tx.pb.go
Due: modules

refactor: remove new query
  docs/core/proto-docs.md
  proto/lbm/collection/v1/query.proto
  x/collection/client/cli/query.go
  x/collection/client/testutil/query.go
  x/collection/codec.go
  x/collection/collection.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
Due: modules

refactor: remove old tx
  docs/core/proto-docs.md
  proto/lbm/token/v1/tx.proto
  x/token/client/cli/tx.go
  x/token/client/testutil/suite.go
  x/token/client/testutil/tx.go
  x/token/codec.go
  x/token/keeper/msg_server.go
  x/token/keeper/msg_server_test.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/token/tx.pb.go
Due: modules

refactor: remove old query
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/query.proto
  x/token/client/cli/query.go
  x/token/client/testutil/query.go
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
  x/token/query.pb.go
  x/token/query.pb.gw.go
Due: modules, client

fix: modify error
  docs/core/proto-docs.md
  proto/lbm/token/v1/tx.proto
  x/token/keeper/send.go
  x/token/tx.pb.go
Due: modules

docs: update variable names in the comments
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/tx.proto
  x/token/query.pb.go
  x/token/tx.pb.go
Due: client

fix: modify error
  docs/core/proto-docs.md
  proto/lbm/collection/v1/tx.proto
  x/collection/keeper/send.go
  x/collection/tx.pb.go
Due: modules

docs: update variable names in the comments
  docs/core/proto-docs.md
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/query.pb.go
  x/collection/tx.pb.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
