Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 40
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

fix: change total_supply name to swappableNewCoinAmount
  x/ERRORS.md
  x/fswap/keeper/fswap.go
  x/fswap/types/errors.go
  x/fswap/types/genesis.go
Due: modules

fix: fix lint
  x/fswap/keeper/fswap.go
Due: modules

fix: use io/collection to generate key
  go.mod
  go.sum
  x/fswap/keeper/fswap.go
  x/fswap/keeper/params.go
  x/fswap/types/keys.go
Due: modules

Revert "fix: use io/collection to generate key"
  go.mod
  go.sum
  x/fswap/keeper/fswap.go
  x/fswap/keeper/params.go
  x/fswap/types/keys.go
Due: modules

fix: change sdk.Coin to sdk.Int
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/fswap.proto
  proto/lbm/fswap/v1/params.proto
  proto/lbm/fswap/v1/query.proto
  x/fswap/keeper/params.go
  x/fswap/types/fswap.go
  x/fswap/types/fswap.pb.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis_test.go
  x/fswap/types/params.go
  x/fswap/types/params.pb.go
  x/fswap/types/query.pb.go
Due: modules

fix: fix lint
  x/fswap/types/fswap.go
Due: modules

chore
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/tx.proto
  x/fbridge/types/codec.go
  x/fbridge/types/fbridge.pb.go
  x/fbridge/types/keys.go
  x/fbridge/types/tx.pb.go
Due: modules

initialize module structure
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/tx.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/module/module.go
  x/fbridge/types/codec.go
  x/fbridge/types/genesis.go
  x/fbridge/types/keys.go
Due: modules

lint
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/module/module.go
Due: modules

fix: remote unnecessary codes
  x/ERRORS.md
  x/fswap/keeper/fswap.go
  x/fswap/keeper/params.go
  x/fswap/types/errors.go
  x/fswap/types/keys.go
Due: modules

fix: add validate for swappable new coin
  x/fswap/types/errors.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis_test.go
Due: modules

fix: add randomizedGenState
  x/fswap/module_simulation.go
  x/fswap/simulation/genesis.go
  x/fswap/simulation/genesis_test.go
  x/fswap/simulation/simap.go
Due: modules

fix: fix error doc
  x/ERRORS.md
Due: modules

fix: fix lint
  x/fswap/simulation/genesis.go
Due: modules

fix: change proto message fields' name
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/event.proto
  proto/lbm/fswap/v1/query.proto
  x/fswap/types/event.pb.go
  x/fswap/types/query.pb.go
Due: none

chore
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/query.proto
Due: none

feat: wip, done(keeper, query, msg_server)
  go.mod
  go.sum
  proto/lbm/fswap/v1/fswap.proto
  simapp/app.go
  x/foundation/keeper/internal/keeper_test.go
  x/fswap/config/config.go
  x/fswap/genesis.go
  x/fswap/genesis_test.go
  x/fswap/keeper/genesis.go
  x/fswap/keeper/genesis_test.go
  x/fswap/keeper/grpc_query.go
  x/fswap/keeper/grpc_query_params_test.go
  x/fswap/keeper/grpc_query_test.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/keeper/keys.go
  x/fswap/keeper/msg_server.go
  x/fswap/keeper/msg_server_test.go
  x/fswap/keeper/params.go
  x/fswap/keeper/params_test.go
  x/fswap/keeper/query_params_test.go
  x/fswap/module.go
  x/fswap/module_simulation.go
  x/fswap/types/errors.go
  x/fswap/types/event.pb.go
  x/fswap/types/expected_keepers.go
  x/fswap/types/fswap.go
  x/fswap/types/fswap.pb.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis.pb.go
  x/fswap/types/keys.go
  x/fswap/types/params.go
  x/fswap/types/params.pb.go
Due: modules

feat: implement fswap module's genesis and params (#1339)
  CHANGELOG.md
  Makefile
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/event.proto
  proto/lbm/fswap/v1/fswap.proto
  proto/lbm/fswap/v1/genesis.proto
  proto/lbm/fswap/v1/params.proto
  proto/lbm/fswap/v1/query.proto
  simapp/app.go
  x/ERRORS.md
  x/fswap/genesis.go
  x/fswap/genesis_test.go
  x/fswap/keeper/fswap.go
  x/fswap/keeper/genesis.go
  x/fswap/keeper/genesis_test.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/keeper/params.go
  x/fswap/keeper/params_test.go
  x/fswap/module.go
  x/fswap/module_simulation.go
  x/fswap/simulation/genesis.go
  x/fswap/simulation/genesis_test.go
  x/fswap/simulation/simap.go
  x/fswap/testutil/expected_keepers_mocks.go
  x/fswap/types/config.go
  x/fswap/types/errors.go
  x/fswap/types/event.pb.go
  x/fswap/types/expected_keepers.go
  x/fswap/types/fswap.go
  x/fswap/types/fswap.pb.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis.pb.go
  x/fswap/types/genesis_test.go
  x/fswap/types/keys.go
  x/fswap/types/params.go
  x/fswap/types/params.pb.go
  x/fswap/types/query.pb.go
Due: modules

fix(server): properly parse multiple gas config(backport cosmos/cosmos-sdk#18537) (#1337)
  CHANGELOG.md
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
Due: none

modify proto based on discussion
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/genesis.proto
  proto/lbm/fbridge/v1/query.proto
  proto/lbm/fbridge/v1/tx.proto
  x/fbridge/keeper/grpc_query.go
  x/fbridge/types/genesis.pb.go
  x/fbridge/types/msgs.go
  x/fbridge/types/query.pb.go
  x/fbridge/types/query.pb.gw.go
Due: modules, client

refactor: fswap module's proto
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/fswap.proto
  proto/lbm/fswap/v1/genesis.proto
  proto/lbm/fswap/v1/params.proto
  x/fswap/types/fswap.pb.go
  x/fswap/types/genesis.pb.go
  x/fswap/types/params.pb.go
Due: none

refactor: remove config&params and modify genesis
  x/ERRORS.md
  x/fswap/keeper/fswap.go
  x/fswap/keeper/genesis.go
  x/fswap/keeper/genesis_test.go
  x/fswap/keeper/params.go
  x/fswap/types/config.go
  x/fswap/types/errors.go
  x/fswap/types/fswapInit.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis_test.go
  x/fswap/types/keys.go
  x/fswap/types/params.go
Due: modules

refactor: use gov/proposal to change fswapInit
  simapp/app.go
  x/fswap/client/cli/tx.go
  x/fswap/client/proposal_handler.go
  x/fswap/handler.go
  x/fswap/keeper/keeper.go
  x/fswap/proposal_handler_test.go
  x/fswap/types/codec.go
  x/fswap/types/proposal.go
Due: modules

chore: fix simulation
  x/fswap/module_simulation.go
  x/fswap/simulation/genesis.go
  x/fswap/simulation/genesis_test.go
Due: modules

chore: correct query cli
  x/fswap/client/cli/query.go
Due: modules

chore: add query for test
  x/fswap/keeper/grpc_query.go
  x/fswap/spec/README.md
Due: modules

add codec
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/tx.proto
  x/fbridge/keeper/grpc_query.go
  x/fbridge/types/codec.go
  x/fbridge/types/msgs.go
  x/fbridge/types/tx.pb.go
Due: modules

lint
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/msg_server.go
Due: modules

add CHANGELOG
  CHANGELOG.md
Due: none

chore: lint fix
  x/fswap/client/proposal_handler.go
  x/fswap/keeper/keeper.go
  x/fswap/proposal_handler_test.go
  x/fswap/types/fswapInit.go
  x/fswap/types/proposal.go
Due: modules

chore: fix for tx cli
  x/fswap/client/cli/tx.go
Due: modules

modify UpdateRole feature
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/query.proto
  proto/lbm/fbridge/v1/tx.proto
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/types/codec.go
  x/fbridge/types/fbridge.pb.go
  x/fbridge/types/msgs.go
  x/fbridge/types/query.pb.go
  x/fbridge/types/query.pb.gw.go
  x/fbridge/types/tx.pb.go
Due: modules, client

feat: initialize fbridge module (#1340)
  CHANGELOG.md
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/event.proto
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/genesis.proto
  proto/lbm/fbridge/v1/query.proto
  proto/lbm/fbridge/v1/tx.proto
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/tx.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/module/module.go
  x/fbridge/types/codec.go
  x/fbridge/types/event.pb.go
  x/fbridge/types/expected_keepers.go
  x/fbridge/types/fbridge.pb.go
  x/fbridge/types/genesis.go
  x/fbridge/types/genesis.pb.go
  x/fbridge/types/keys.go
  x/fbridge/types/msgs.go
  x/fbridge/types/query.pb.go
  x/fbridge/types/query.pb.gw.go
  x/fbridge/types/tx.pb.go
Due: modules, client

impl bridge transfer and related gRPC query
  Makefile
  proto/lbm/fbridge/v1/fbridge.proto
  simapp/app.go
  tests/mocks/types_handler.go
  tests/mocks/types_module_module.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/keeper/transfer.go
  x/fbridge/keeper/transfer_test.go
  x/fbridge/testutil/context.go
  x/fbridge/testutil/expected_keepers_mocks.go
  x/fbridge/types/expected_keepers.go
  x/fbridge/types/fbridge.pb.go
  x/fbridge/types/genesis.go
  x/fbridge/types/keys.go
  x/fbridge/types/params.go
Due: modules

impl bridge transfer tx/query
  Makefile
  proto/lbm/fbridge/v1/fbridge.proto
  simapp/app.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/keeper/transfer.go
  x/fbridge/keeper/transfer_test.go
  x/fbridge/module/module.go
  x/fbridge/testutil/expected_keepers_mocks.go
  x/fbridge/testutil/setup.go
  x/fbridge/types/expected_keepers.go
  x/fbridge/types/fbridge.pb.go
  x/fbridge/types/genesis.go
  x/fbridge/types/keys.go
  x/fbridge/types/params.go
Due: modules

add CLI
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/tx.go
Due: modules

chore: update proto
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/event.proto
  proto/lbm/fswap/v1/fswap.proto
  proto/lbm/fswap/v1/genesis.proto
  proto/lbm/fswap/v1/query.proto
  x/fswap/client/cli/query.go
  x/fswap/client/cli/tx.go
  x/fswap/types/event.pb.go
  x/fswap/types/fswap.go
  x/fswap/types/fswap.pb.go
  x/fswap/types/fswapInit.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis.pb.go
  x/fswap/types/keys.go
  x/fswap/types/msgs.go
  x/fswap/types/proposal.go
  x/fswap/types/query.pb.go
  x/fswap/types/query.pb.gw.go
  x/fswap/types/types.go
Due: modules

lint
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/tx.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/keeper/transfer_test.go
  x/fbridge/module/module.go
  x/fbridge/testutil/setup.go
Due: modules
