Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

test: increase coverage of msgs.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
Due: modules

test: increase coverage of genesis
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/genesis.proto
  x/foundation/genesis.go
  x/foundation/genesis.pb.go
  x/foundation/genesis_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
Due: modules

chore: refine messages
  x/foundation/client/testutil/suite.go
  x/foundation/keeper/exec.go
  x/foundation/keeper/msg_server_test.go
Due: modules

style: lint
  x/foundation/genesis.go
Due: modules

test: increase coverage of proposal.go
  x/foundation/foundation.go
  x/foundation/keeper/proposal_test.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
  x/foundation/proposal.go
  x/foundation/proposal_test.go
Due: modules

refactor: update genesis and grant
  x/token/keeper/alias.go
  x/token/keeper/genesis.go
  x/token/keeper/keys.go
  x/token/keeper/supply.go
Due: modules

refactor: update servers
  x/token/client/cli/tx.go
  x/token/keeper/genesis.go
  x/token/keeper/handler.go
  x/token/keeper/handler_test.go
  x/token/keeper/msg_server.go
  x/token/keeper/query_server.go
  x/token/keeper/send.go
  x/token/keeper/supply.go
  x/token/module/module.go
Due: modules

feat: add low level events to ease the tracking
  x/token/keeper/send.go
Due: modules

refactor: emit legacy events
  x/token/event.go
  x/token/keeper/msg_server.go
  x/token/keeper/supply.go
Due: modules

refactor: update logics
  x/token/client/cli/tx.go
  x/token/event.go
  x/token/keeper/msg_server.go
  x/token/keeper/supply.go
Due: modules

style: lint
  x/token/client/cli/query.go
  x/token/client/cli/tx.go
  x/token/keeper/alias.go
  x/token/keeper/genesis.go
  x/token/keeper/keys.go
  x/token/keeper/msg_server.go
  x/token/keeper/query_server.go
  x/token/keeper/send.go
  x/token/module/module.go
  x/token/validation.go
Due: modules

fix: update test and fix bugs
  x/token/client/cli/query.go
  x/token/client/cli/tx.go
  x/token/client/testutil/query.go
  x/token/client/testutil/suite.go
  x/token/client/testutil/tx.go
  x/token/codec.go
  x/token/genesis_test.go
  x/token/keeper/genesis_test.go
  x/token/keeper/keeper_test.go
  x/token/keeper/msg_server.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/query_server.go
  x/token/keeper/query_server_test.go
  x/token/keeper/send.go
  x/token/keeper/send_test.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/token/validation.go
Due: modules

test: increase coverage of msgs.go
  x/token/msgs_test.go
Due: modules

test: increase coverage of supply.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
Due: modules

style: lint
  x/token/client/testutil/query.go
  x/token/client/testutil/suite.go
  x/token/keeper/alias.go
  x/token/keeper/supply.go
Due: modules

test: increase coverage of genesis.go
  x/token/genesis_test.go
Due: modules

test: increase coverage of the servers
  x/token/keeper/msg_server_test.go
  x/token/keeper/query_server_test.go
  x/token/keeper/send.go
  x/token/keeper/send_test.go
Due: modules

test: replace hardcoded literal
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/member_test.go
  x/foundation/keeper/proposal_test.go
  x/foundation/keeper/vote_test.go
Due: modules

fix: fix init genesis
  x/foundation/genesis.go
  x/foundation/module/module.go
Due: modules

fix: support abstain
  x/foundation/foundation.go
  x/foundation/foundation_test.go
  x/foundation/genesis_test.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/tally.go
Due: modules

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

test: add tests on ReceiveFromTreasuryAuthorization
  x/foundation/authz_test.go
Due: modules

chore: use shorter variation
  x/token/class/validation.go
  x/token/client/cli/tx.go
  x/token/genesis.go
  x/token/validation.go
Due: modules

fix: create account on mint, burn and send (daphne compat)
  x/token/keeper/send.go
Due: modules

fix: fix under estimation of undecided count
  x/foundation/foundation.go
  x/foundation/foundation_test.go
Due: modules

feat: add operator field to EventModified
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  x/token/event.pb.go
  x/token/keeper/supply.go
Due: modules

fix: make queries for statistics to return errors on not found
  x/token/keeper/query_server.go
  x/token/keeper/query_server_test.go
Due: modules

feat: define x/collection proto
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/collection.pb.go
  x/collection/event.pb.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
  x/collection/tx.pb.go
Due: none

feat: add x/collection to simapp
  simapp/app.go
  x/collection/expected_keepers.go
  x/collection/genesis.go
  x/collection/keeper/genesis.go
  x/collection/keeper/keeper.go
  x/collection/keys.go
  x/collection/module/module.go
Due: modules

feat: add event_spent and event_received
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  x/collection/event.pb.go
Due: none

feat: update proto
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/genesis.proto
  x/collection/collection.pb.go
  x/collection/genesis.pb.go
Due: none

feat: implement send
  x/collection/keeper/keeper_test.go
  x/collection/keeper/keys.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/send.go
  x/collection/keeper/send_test.go
Due: modules

fix: make key prefixes to start from 0x00
  x/token/keeper/keys.go
Due: modules

docs: update comments in tx.proto
  docs/core/proto-docs.md
  proto/lbm/token/v1/tx.proto
  x/token/tx.pb.go
Due: none

docs: update comments in query.proto
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/query.proto
  x/token/query.pb.go
Due: client

docs: update comments in event.proto
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  x/token/event.pb.go
Due: none

docs: update comments on genesis.proto
  docs/core/proto-docs.md
  proto/lbm/token/v1/genesis.proto
  x/token/genesis.pb.go
Due: none

feat: add getters to classes
  proto/lbm/collection/v1/collection.proto
  x/collection/collection.pb.go
Due: none
