Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

fix validator address prefix (#9212)
  x/staking/keeper/val_state_change.go
Due: modules

gov, params: refactor tests (#9137)
  x/gov/keeper/proposal_test.go
  x/params/proposal_handler_test.go
Due: modules

remove unused list (#9219)
  x/staking/keeper/keeper.go
Due: modules

fix test build
  docs/core/proto-docs.md
  proto/lbm/feegrant/v1/tx.proto
  simapp/params/weights.go
  x/auth/ante/feegrant_test.go
  x/feegrant/client/cli/tx.go
  x/feegrant/handler.go
  x/feegrant/keeper/genesis_test.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server.go
  x/feegrant/keeper/msg_server_test.go
  x/feegrant/simulation/genesis_test.go
  x/feegrant/simulation/operations.go
  x/feegrant/simulation/operations_test.go
  x/feegrant/types/basic_fee.go
  x/feegrant/types/basic_fee_test.go
  x/feegrant/types/fees.go
  x/feegrant/types/periodic_fee.go
  x/feegrant/types/periodic_fee_test.go
  x/feegrant/types/tx.pb.go
Due: modules

add sorted check for the coins sub/add fun parameter (#9240)
  types/coin.go
  types/coin_internal_test.go
  types/coin_test.go
Due: none

x/gov v0.43 Audit updates (#9258)
  proto/lbm/gov/v1/tx.proto
  x/gov/keeper/deposit_test.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/internal_test.go
  x/gov/module.go
  x/gov/spec/01_concepts.md
  x/gov/types/msgs_test.go
  x/gov/types/proposal.go
Due: modules

Remove migration scripts <=0.38 (#9291)
  x/genaccounts/doc.go
Due: modules

Update x/auth AnteHandler Spec (#9298)
  x/auth/spec/03_antehandlers.md
Due: modules

x/feegrant remove height base expiration (#9206)
  x/feegrant/types/basic_fee_test.go
  x/feegrant/types/periodic_fee_test.go
Due: modules

fix test
  simapp/app.go
  x/auth/tx/service_test.go
  x/auth/types/msgs_test.go
  x/authz/msgs.go
  x/authz/simulation/operations.go
  x/bankplus/keeper/keeper_test.go
  x/capability/capability_test.go
  x/genutil/client/testutil/migrate.go
  x/genutil/client/testutil/suite.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/vote.go
  x/slashing/client/cli/tx.go
  x/staking/client/cli/tx.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/submsg_test.go
  x/wasm/module_test.go
Due: modules

authz: Update MsgGrant proto (#9280)
  proto/lbm/authz/v1/tx.proto
  x/authz/authorization_grant.go
  x/authz/keeper/msg_server.go
  x/authz/msgs.go
  x/authz/msgs_test.go
Due: modules

v043 audit changes for version (#9296)
  version/command.go
Due: none

x/authz: simulation audit changes (#9107)
  x/authz/expected_keepers.go
  x/authz/simulation/decoder_test.go
  x/authz/simulation/genesis.go
  x/authz/simulation/genesis_test.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
Due: modules

Update `memo` usage docs (#9265)
  proto/lbm/tx/v1/tx.proto
Due: none

x/staking: lazily get consensus key address (#9264)
  x/staking/genesis.go
Due: modules

0.43 aidut changes for client module (#9295)
  client/config/cmd.go
  client/docs/swagger_legacy.yaml
  client/keys/add.go
Due: client

Update docs for building modules (#9272)
  docs/building-modules/upgrade.md
Due: none

update labeler.yml with shortened labels (#9303)
  .github/labeler.yml
Due: none

ADR-30 (authz) update based on authz audit (#9270)
  docs/architecture/adr-030-authz-module.md
  x/bank/types/send_authorization.go
Due: modules

Update doc for IterateAccounts x/auth keeper meethod (#9285)
  x/auth/keeper/keeper.go
  x/auth/spec/04_keepers.md
Due: modules

Cleanup remains of ServiceMsg (#9236)
  client/tx/legacy_test.go
  client/tx/tx.go
  proto/lbm/base/reflection/v2/reflection.proto
  server/grpc/reflection/v2/reflection.go
  server/grpc/reflection/v2/reflection.pb.go
  types/msgservice/service_msg_client.go
  x/auth/client/rest/rest_test.go
  x/auth/legacy/legacytx/stdsign.go
  x/auth/vesting/client/cli/tx.go
  x/authz/client/cli/tx.go
  x/authz/simulation/operations.go
  x/bank/client/cli/tx.go
  x/crisis/client/cli/tx.go
  x/distribution/client/cli/tx.go
  x/evidence/types/msgs_test.go
  x/feegrant/client/cli/tx.go
  x/feegrant/simulation/operations.go
  x/genutil/client/testutil/suite.go
  x/gov/client/cli/tx.go
  x/params/client/cli/tx.go
  x/slashing/client/cli/tx.go
  x/staking/client/cli/tx.go
  x/upgrade/client/cli/tx.go
Due: modules, client

restore auth/MsgEmpty
  proto/lbm/auth/v1/tx.proto
  x/auth/client/cli/tx.go
  x/auth/types/msgs.go
  x/auth/types/msgs_test.go
Due: modules

ADR-040: Storage and SMT State Commitments (#8430)
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
Due: none

Fix proto format (#9279)
  proto/lbm/authz/v1/authz.proto
  proto/lbm/authz/v1/tx.proto
  proto/lbm/tx/v1/service.proto
Due: none

Rename memo to note inside CLI (#9134)
  client/flags/flags.go
  client/tx/factory.go
  x/auth/client/testutil/suite.go
  x/auth/tx/service_test.go
Due: modules, client

docs: x/distribution spec (#8928)
  x/distribution/keeper/hooks.go
  x/distribution/spec/01_concepts.md
  x/distribution/spec/02_state.md
  x/distribution/spec/03_begin_block.md
  x/distribution/spec/03_end_block.md
  x/distribution/spec/04_messages.md
  x/distribution/spec/05_hooks.md
  x/distribution/spec/07_params.md
  x/distribution/spec/README.md
  x/distribution/types/keys.go
  x/slashing/spec/02_state.md
Due: modules

x/bank/types: speedy up by singly sort balances without having to re-iterate (#9260)
  x/bank/types/balance.go
Due: modules

x/staking v0.43 Audit updates (#9267)
  x/staking/client/cli/query.go
  x/staking/client/testutil/suite.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/msg_server.go
  x/staking/simulation/genesis.go
  x/staking/simulation/genesis_test.go
  x/staking/simulation/params.go
  x/staking/spec/01_state.md
  x/staking/spec/03_messages.md
  x/staking/spec/07_events.md
  x/staking/spec/README.md
Due: modules
