Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat: initial fswap module
  x/fswap/client/cli/query.go
  x/fswap/client/cli/query_params.go
  x/fswap/client/cli/tx.go
  x/fswap/genesis.go
  x/fswap/genesis_test.go
  x/fswap/handler.go
  x/fswap/keeper/grpc_query.go
  x/fswap/keeper/grpc_query_params.go
  x/fswap/keeper/grpc_query_params_test.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/msg_server.go
  x/fswap/keeper/msg_server_test.go
  x/fswap/keeper/params.go
  x/fswap/keeper/params_test.go
  x/fswap/module.go
  x/fswap/module_simulation.go
  x/fswap/simulation/simap.go
  x/fswap/types/codec.go
  x/fswap/types/errors.go
  x/fswap/types/expected_keepers.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis.pb.go
  x/fswap/types/genesis_test.go
  x/fswap/types/keys.go
  x/fswap/types/params.go
  x/fswap/types/params.pb.go
  x/fswap/types/query.pb.go
  x/fswap/types/query.pb.gw.go
  x/fswap/types/tx.pb.go
  x/fswap/types/types.go
Due: modules

chore: correct dependencies
  x/fswap/client/cli/query.go
  x/fswap/client/cli/query_params.go
  x/fswap/client/cli/tx.go
  x/fswap/genesis.go
  x/fswap/genesis_test.go
  x/fswap/handler.go
  x/fswap/keeper/grpc_query.go
  x/fswap/keeper/grpc_query_params.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/msg_server.go
  x/fswap/keeper/msg_server_test.go
  x/fswap/keeper/params.go
  x/fswap/keeper/params_test.go
  x/fswap/keeper/query_params_test.go
  x/fswap/module.go
  x/fswap/module_simulation.go
  x/fswap/simulation/simap.go
  x/fswap/types/codec.go
  x/fswap/types/errors.go
  x/fswap/types/expected_keepers.go
  x/fswap/types/genesis_test.go
  x/fswap/types/params.go
  x/fswap/types/query.pb.go
Due: modules

chore: remove unuse files
  x/fswap/genesis_test.go
  x/fswap/keeper/grpc_query_params_test.go
  x/fswap/keeper/msg_server_test.go
  x/fswap/keeper/params_test.go
  x/fswap/keeper/query_params_test.go
  x/fswap/module_simulation.go
Due: modules

feat: add proto files
  proto/lbm/fswap/v1/event.proto
  proto/lbm/fswap/v1/genesis.proto
  proto/lbm/fswap/v1/params.proto
  proto/lbm/fswap/v1/query.proto
  proto/lbm/fswap/v1/tx.proto
Due: none

chore: make proto-gen
  docs/core/proto-docs.md
  go.sum
  x/fswap/types/event.pb.go
  x/fswap/types/genesis.pb.go
  x/fswap/types/params.pb.go
  x/fswap/types/query.pb.go
  x/fswap/types/query.pb.gw.go
  x/fswap/types/tx.pb.go
Due: none

chore: fix compile error
  x/fswap/client/cli/query.go
  x/fswap/client/cli/query_params.go
  x/fswap/keeper/grpc_query.go
  x/fswap/keeper/grpc_query_params.go
  x/fswap/keeper/msg_server.go
Due: modules

chore: add new field in params proto
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/params.proto
  x/fswap/types/params.pb.go
Due: none

fix: fix lint
  x/fswap/client/cli/query.go
  x/fswap/client/cli/tx.go
  x/fswap/genesis.go
  x/fswap/handler.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/params.go
  x/fswap/module.go
  x/fswap/types/codec.go
  x/fswap/types/genesis_test.go
  x/fswap/types/params.go
Due: modules

feat: add query&tx commands of fswap module
  x/fswap/client/cli/query.go
  x/fswap/client/cli/tx.go
  x/fswap/types/msgs.go
Due: modules

fix: fix for comment
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/params.proto
  proto/lbm/fswap/v1/tx.proto
  x/fswap/types/tx.pb.go
Due: none

docs: update CHANGLOG.md
  CHANGELOG.md
Due: none

docs: fix error docs
  x/ERRORS.md
Due: modules

fix: fix consensusversion
  x/fswap/module.go
Due: none

fix: remove route,type&getSignBytes in msgs.go
  x/fswap/types/msgs.go
Due: modules

fix: update proto files
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/fswap.proto
  proto/lbm/fswap/v1/genesis.proto
  proto/lbm/fswap/v1/params.proto
  proto/lbm/fswap/v1/query.proto
  x/fswap/types/fswap.pb.go
  x/fswap/types/genesis.pb.go
  x/fswap/types/params.pb.go
  x/fswap/types/query.pb.go
Due: none

fix(server): properly parse multiple gas config(backport cosmos-sdk#18537)
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

chore: add missing PR link
  CHANGELOG.md
Due: none

fix: fix NewKeeper
  x/fswap/keeper/keeper.go
  x/fswap/keeper/params.go
Due: modules

fix: fix for comment
  x/fswap/module.go
  x/fswap/types/params.go
Due: modules

feat: implement genesis related functions
  x/ERRORS.md
  x/fswap/genesis.go
  x/fswap/genesis_test.go
  x/fswap/keeper/fswap.go
  x/fswap/keeper/genesis.go
  x/fswap/keeper/params.go
  x/fswap/module.go
  x/fswap/types/errors.go
  x/fswap/types/expected_keepers.go
  x/fswap/types/fswap.go
  x/fswap/types/genesis.go
  x/fswap/types/keys.go
  x/fswap/types/params.go
Due: modules

feat: draft SwapTx
  go.mod
  go.sum
  x/fswap/keeper/expected_keepers.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/keeper/keys.go
  x/fswap/testutil/expected_keepers_mocks.go
Due: modules

chore: use mockgen
  Makefile
  x/fswap/testutil/expected_keepers_mocks.go
Due: modules

chore: add tests
  simapp/app.go
  x/fswap/keeper/genesis.go
  x/fswap/keeper/genesis_test.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/testutil/test_helpers.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis_test.go
Due: modules

fix: add subspace in paramsKeeper
  simapp/app.go
Due: none

fix: fix lint
  x/fswap/keeper/fswap.go
  x/fswap/keeper/genesis.go
  x/fswap/keeper/genesis_test.go
  x/fswap/keeper/keeper_test.go
  x/fswap/testutil/test_helpers.go
Due: modules

fix: fix for test errors
  x/fswap/module.go
  x/fswap/module_simulation.go
Due: modules

fix: fix lint
  x/fswap/module_simulation.go
Due: modules

fix: fix appmodulebasic
  simapp/app.go
Due: none

chore: update CHANGLOG.md
  CHANGELOG.md
Due: none

initialize fbridge module
  proto/lbm/fbridge/v1/event.proto
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/genesis.proto
  proto/lbm/fbridge/v1/query.proto
  proto/lbm/fbridge/v1/tx.proto
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/tx.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/module/module.go
  x/fbridge/types/expected_keepers.go
  x/fbridge/types/genesis.go
Due: modules

fix: use configuration instead of params
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/genesis.proto
  proto/lbm/fswap/v1/params.proto
  simapp/app.go
  x/fswap/keeper/genesis.go
  x/fswap/keeper/genesis_test.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/keeper/params.go
  x/fswap/keeper/params_test.go
  x/fswap/module_simulation.go
  x/fswap/testutil/test_helpers.go
  x/fswap/types/config.go
  x/fswap/types/fswap.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis.pb.go
  x/fswap/types/genesis_test.go
  x/fswap/types/keys.go
  x/fswap/types/params.go
  x/fswap/types/params.pb.go
Due: modules

chore: refactor new&default fswapped
  x/fswap/types/fswap.go
  x/fswap/types/genesis.go
Due: modules

fix: add total_supply into genesisStatus & remove calculate logic
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/fswap.proto
  proto/lbm/fswap/v1/genesis.proto
  x/ERRORS.md
  x/fswap/keeper/fswap.go
  x/fswap/keeper/genesis.go
  x/fswap/keeper/genesis_test.go
  x/fswap/keeper/keeper_test.go
  x/fswap/module.go
  x/fswap/testutil/test_helpers.go
  x/fswap/types/config.go
  x/fswap/types/errors.go
  x/fswap/types/fswap.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis.pb.go
  x/fswap/types/genesis_test.go
  x/fswap/types/keys.go
Due: modules

fix: fix lint
  x/fswap/types/genesis.go
Due: modules

fix: fix module_simulation
  x/fswap/module_simulation.go
Due: modules

add all proto files for fbridge
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/event.proto
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/genesis.proto
  proto/lbm/fbridge/v1/query.proto
  proto/lbm/fbridge/v1/tx.proto
  x/fbridge/types/event.pb.go
  x/fbridge/types/fbridge.pb.go
  x/fbridge/types/genesis.pb.go
  x/fbridge/types/query.pb.go
  x/fbridge/types/query.pb.gw.go
  x/fbridge/types/tx.pb.go
Due: client

fix: set swappableNewCoinDenom as params
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/genesis.proto
  proto/lbm/fswap/v1/params.proto
  x/ERRORS.md
  x/fswap/keeper/genesis.go
  x/fswap/keeper/genesis_test.go
  x/fswap/keeper/params.go
  x/fswap/module_simulation.go
  x/fswap/types/errors.go
  x/fswap/types/fswap.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis.pb.go
  x/fswap/types/genesis_test.go
  x/fswap/types/keys.go
  x/fswap/types/params.go
  x/fswap/types/params.pb.go
Due: modules

add missing proto files
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/query.proto
  proto/lbm/fbridge/v1/tx.proto
  x/fbridge/types/query.pb.go
  x/fbridge/types/query.pb.gw.go
  x/fbridge/types/tx.pb.go
Due: client

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
