Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

ci: edit proto (revert it later)
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  x/token/event.pb.go
Due: none

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

Revert "ci: edit proto (revert it later)"
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  x/token/event.pb.go
Due: none

chore: apply review
  x/wasm/keeper/keeper_test.go
Due: modules

ci: disable swagger check temporarily (#471)
  .github/workflows/proto.yml
  CHANGELOG.md
Due: none

fix test
  client/config/config_test.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/recurse_test.go
  x/wasm/keeper/relay_test.go
  x/wasm/keeper/submsg_test.go
Due: modules, client

revert TestConfigCmdEnvFlag test comment
  client/config/config_test.go
Due: client

fix test
  x/wasm/keeper/keeper_test.go
Due: modules

fix test
  x/bank/types/balance_test.go
  x/wasm/client/proposal_handler_test.go
Due: modules

fix test
  client/grpc_query_test.go
  simapp/app.go
Due: client

fix!: tx result don't report block gas used as tx gas used (#10833)
  baseapp/baseapp.go
Due: app

fix: revert tx when block gas limit exceeded (backport: #10770) (#10814)
  baseapp/baseapp.go
  baseapp/block_gas_test.go
  baseapp/test_helpers.go
Due: app

chore: move server.GenerateCoinKey and server.GenerateSaveCoinKey to testutil (#10956)
  client/keys/add_test.go
  client/keys/delete_test.go
  client/keys/export_test.go
  client/keys/list_test.go
  client/keys/show_test.go
  crypto/ledger/ledger_mock.go
  crypto/ledger/ledger_test.go
  simapp/simd/cmd/testnet.go
  testutil/key.go
  testutil/key_test.go
  testutil/network/network.go
  testutil/testdata/known_values.go
  types/bech32/legacybech32/pk_test.go
Due: client

fix test
  client/keys/utils_test.go
  testutil/key_test.go
  x/wasm/client/cli/genesis_msg_test.go
Due: modules, client

fix lint
  client/keys/export_test.go
  testutil/key.go
  x/auth/ante/fee.go
Due: modules, client

revert TestConfigCmdEnvFlag to original code
  client/config/config_test.go
Due: client

feat: remove contract activation control by actor (#470)
  CHANGELOG.md
  client/docs/statik/statik.go
  docs/core/proto-docs.md
  proto/lbm/wasm/v1/tx.proto
  proto/lbm/wasm/v1/types.proto
  x/wasm/client/cli/new_tx.go
  x/wasm/client/cli/tx.go
  x/wasm/handler.go
  x/wasm/keeper/authz_policy.go
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/msg_server.go
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/types/codec.go
  x/wasm/types/params.go
  x/wasm/types/params_test.go
  x/wasm/types/tx.go
  x/wasm/types/tx.pb.go
  x/wasm/types/tx_test.go
  x/wasm/types/types.pb.go
Due: modules, client

fix test
  baseapp/block_gas_test.go
Due: app

restore (*SigVerificationDecorator)AnteHandle to use verifySignatureWithCache func
  x/auth/ante/sigverify.go
Due: modules

fix lint & revert cosmos-sdk pr #10024(because we are using sync.Map)
  crypto/keys/multisig/amino.go
  store/cachekv/search_test.go
  store/cachekv/store.go
  x/upgrade/abci.go
Due: modules

fix: change the default output format into ""
  client/config/config.go
Due: client

docs: add a comment to provide more information about the override
  client/config/toml.go
Due: client

Revert "fix: change the default output format into """
  client/config/config.go
Due: client

Revert "docs: add a comment to provide more information about the override"
  client/config/toml.go
Due: client

Revert "Revert "fix: change the default output format into """"
  client/config/config.go
Due: client

Revert "Revert "docs: add a comment to provide more information about the override""
  client/config/toml.go
Due: client

fix: change the default value of the client output format in the config (#476)
  CHANGELOG.md
  client/config/config.go
  client/config/toml.go
Due: client

docs: add documents on staking plus module
  x/stakingplus/spec/01_state.md
  x/stakingplus/spec/02_state_transitions.md
  x/stakingplus/spec/03_messages.md
  x/stakingplus/spec/04_begin_block.md
  x/stakingplus/spec/05_end_block.md
  x/stakingplus/spec/06_hooks.md
  x/stakingplus/spec/07_events.md
  x/stakingplus/spec/08_params.md
  x/stakingplus/spec/README.md
Due: modules

docs: add an entry to the common README.md
  x/README.md
Due: modules

docs: fix documentation paths
  x/stakingplus/spec/01_state.md
  x/stakingplus/spec/02_state_transitions.md
  x/stakingplus/spec/03_messages.md
  x/stakingplus/spec/04_begin_block.md
  x/stakingplus/spec/05_end_block.md
  x/stakingplus/spec/06_hooks.md
  x/stakingplus/spec/07_events.md
  x/stakingplus/spec/08_params.md
  x/stakingplus/spec/README.md
Due: modules

docs: use legacy proposal on the documents
  x/stakingplus/spec/README.md
Due: modules

docs: update code lines
  x/stakingplus/spec/03_messages.md
Due: modules

docs: remove an entry "handlers" from README.md
  x/stakingplus/spec/README.md
Due: modules

docs: fix the documentation path
  x/stakingplus/spec/08_params.md
Due: modules

docs: use the legacy module name
  x/stakingplus/spec/03_messages.md
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
