Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix: merge release patch (#370)
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  x/bank/client/cli/query.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
Due: modules

chore: restore changelog
  CHANGELOG.md
Due: none

fix: force genOrBroadcastFn even when `max-msgs != 0` (#364)
  x/distribution/client/cli/tx.go
  x/distribution/client/cli/tx_test.go
Due: modules

chore: update changelog temporary for merging release
  CHANGELOG.md
Due: none

chore: update main
  CHANGELOG.md
Due: none

ci: fix goreleaser
  .goreleaser.yml
Due: none

chore: update goreleaser
  .goreleaser.yml
Due: none

feat: add gov/weighted-vote (#368)
  CHANGELOG.md
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/gov/v1/gov.proto
  proto/lbm/gov/v1/tx.proto
  simapp/params/weights.go
  types/tx_msg.go
  x/auth/legacy/legacytx/stdsign.go
  x/gov/abci_test.go
  x/gov/client/cli/cli_test.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/grpc_query_test.go
  x/gov/client/rest/rest_test.go
  x/gov/client/testutil/helpers.go
  x/gov/client/utils/query.go
  x/gov/client/utils/query_test.go
  x/gov/client/utils/utils.go
  x/gov/client/utils/utils_test.go
  x/gov/handler.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/querier_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/simulation/decoder_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/spec/04_events.md
  x/gov/types/codec.go
  x/gov/types/gov.pb.go
  x/gov/types/msgs.go
  x/gov/types/msgs_test.go
  x/gov/types/tally.go
  x/gov/types/tx.pb.go
  x/gov/types/vote.go
  x/simulation/expected_keepers.go
Due: modules, client

feat: add upgrade/migration
  simapp/app.go
  simapp/app_test.go
  tests/mocks/types_module_module.go
  testutil/context.go
  types/address/store_key.go
  types/address/store_key_test.go
  types/context_test.go
  types/errors/errors.go
  types/module/configurator.go
  types/module/module.go
  x/auth/module.go
  x/auth/vesting/module.go
  x/bank/keeper/migrations.go
  x/bank/module.go
  x/bank/spec/01_state.md
  x/bank/types/key.go
  x/capability/module.go
  x/crisis/module.go
  x/distribution/keeper/migrations.go
  x/distribution/module.go
  x/distribution/spec/02_state.md
  x/evidence/module.go
  x/genutil/module.go
  x/gov/keeper/migrations.go
  x/gov/module.go
  x/ibc/applications/transfer/module.go
  x/ibc/core/module.go
  x/mint/module.go
  x/params/keeper/common_test.go
  x/params/module.go
  x/slashing/keeper/migrations.go
  x/slashing/module.go
  x/slashing/spec/02_state.md
  x/staking/keeper/migrations.go
  x/staking/module.go
  x/staking/spec/01_state.md
  x/staking/types/validator.go
  x/upgrade/module.go
Due: modules

feat: add upgrade/migration
  cosmovisor/init_cosmovisor.sh
  simapp/app_test.go
  x/auth/keeper/migrations.go
  x/auth/module.go
  x/bank/module.go
  x/capability/keeper/migrations.go
  x/capability/module.go
  x/crisis/keeper/migrations.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/keeper/migrations.go
  x/evidence/module.go
  x/gov/module.go
  x/mint/keeper/migrations.go
  x/mint/module.go
  x/params/keeper/migrations.go
  x/params/module.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/keeper/migrations.go
  x/upgrade/module.go
  x/wasm/keeper/migrations.go
  x/wasm/module.go
Due: modules

feat: add upgrade/migration change comment type
  simapp/app_test.go
  x/auth/module.go
  x/bank/module.go
  x/capability/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/gov/module.go
  x/params/module.go
  x/staking/module.go
  x/wasm/module.go
Due: none

feat: add upgrade/migration delete test sh file
  cosmovisor/init_cosmovisor.sh
Due: none

add upgrade/migrate cli command
  CHANGELOG.md
  client/keys/migrate.go
  client/keys/migrate_test.go
  client/keys/root.go
  client/keys/root_test.go
  client/keys/utils.go
  crypto/keyring/keyring.go
  crypto/keyring/legacy.go
  simapp/simd/cmd/root.go
  types/tx_msg.go
  x/genutil/client/cli/migrate.go
  x/genutil/client/testutil/migrate.go
  x/genutil/client/testutil/suite.go
Due: modules, client

feat: add upgrade/migration fix lint and compile error
  crypto/keyring/keyring.go
  x/genutil/client/testutil/suite.go
Due: modules

add upgrade/migration version map
  CHANGELOG.md
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/upgrade/v1/query.proto
  proto/lbm/upgrade/v1/upgrade.proto
  simapp/app.go
  simapp/app_test.go
  tests/mocks/types_module_module.go
  types/module/configurator.go
  types/module/module.go
  types/module/module_test.go
  x/bank/module.go
  x/genutil/client/cli/migrate.go
  x/genutil/types/types.go
  x/upgrade/abci_test.go
  x/upgrade/keeper/grpc_query.go
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/spec/01_concepts.md
  x/upgrade/types/handler.go
  x/upgrade/types/keys.go
  x/upgrade/types/query.pb.go
  x/upgrade/types/query.pb.gw.go
  x/upgrade/types/upgrade.pb.go
Due: modules, client

change CHANGELOG pull number
  CHANGELOG.md
Due: none

fix ST1022 lint
  x/genutil/client/cli/migrate.go
Due: modules

remove non-deterministic upgrade order
  store/rootmulti/store.go
  types/module/module.go
  x/upgrade/keeper/keeper.go
Due: modules

apply ostraconv1.0.1
  go.mod
  go.sum
Due: none

remove unintended commands about keyring
  client/keys/migrate.go
  client/keys/migrate_test.go
  client/keys/root.go
  client/keys/root_test.go
  client/keys/utils.go
  crypto/keyring/keyring.go
  crypto/keyring/legacy.go
Due: client

fix: lint errors
  baseapp/iostats_nop.go
  x/auth/ante/fee_grant.go
  x/feegrant/types/msgs.go
Due: app, modules

docs: modify CHANGELOG
  CHANGELOG.md
Due: none

ci: fix protobuf lint error
  proto/lbm/feegrant/v1/query.proto
  x/feegrant/types/query.pb.go
Due: none

fix: fix double fee deduction
  x/auth/ante/ante.go
  x/auth/ante/fee.go
Due: modules

feat: change wasm metrics method (#358)
  x/wasm/keeper/keeper.go
  x/wasm/keeper/metrics.go
  x/wasm/keeper/options.go
Due: modules

docs: update changelog
  CHANGELOG.md
Due: none

docs: update changelog (#381)
  CHANGELOG.md
Due: none

fix: fix test failures
  x/auth/ante/ante_test.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/types/filtered_fee.go
Due: modules

fix: update allowance inside AllowedMsgAllowance
  CHANGELOG.md
  x/feegrant/types/filtered_fee.go
  x/feegrant/types/filtered_fee_test.go
Due: modules

fix: update allowance inside AllowedMsgAllowance (#383)
  CHANGELOG.md
  x/feegrant/types/filtered_fee.go
  x/feegrant/types/filtered_fee_test.go
Due: modules

feat: add validator whitelist for MsgCreateValidator
  x/evidence/keeper/infraction_test.go
  x/slashing/app_test.go
  x/staking/app_test.go
  x/staking/client/cli/cli_test.go
  x/staking/genesis.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/validator.go
  x/staking/simulation/decoder.go
  x/staking/simulation/operations.go
  x/staking/types/errors.go
  x/staking/types/keys.go
  x/staking/types/staking.pb.go
  x/staking/types/tx.pb.go
  x/wasm/keeper/staking_test.go
Due: modules

docs: edit CHANGELOG.md
  CHANGELOG.md
Due: none

chores: fix pb.go files and cli_test.go
  x/staking/client/cli/cli_test.go
  x/staking/types/staking.pb.go
  x/staking/types/tx.pb.go
Due: modules

fix: fix invalid root hash by bumping up tm-db
  CHANGELOG.md
  go.mod
  go.sum
Due: none

feat: sample upgrade for gov
  docs/core/proto-docs.md
  proto/lbm/gov/migrations/v1/gov.proto
  proto/lbm/gov/v1/gov.proto
  simapp/app.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/migrations.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/querier_test.go
  x/gov/migrations/sample/store.go
  x/gov/migrations/v1/gov.pb.go
  x/gov/migrations/v1/proposalv1.go
  x/gov/module.go
  x/gov/types/gov.pb.go
  x/gov/types/keys.go
  x/gov/types/proposal.go
  x/upgrade/abci.go
Due: modules

fix: lint error
  docs/core/proto-docs.md
  proto/lbm/gov/migrations/v1/gov.proto
  x/gov/migrations/v1/gov.pb.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
