Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

Remove unused variable and function
  x/bank/keeper/send.go
  x/bank/types/key.go
Due: modules

fix: fix the order of events (#599)
  CHANGELOG.md
  x/token/event.go
  x/token/event_test.go
  x/token/keeper/msg_server.go
  x/token/keeper/supply.go
Due: modules

chore: revert gRPC block height header. (#607)
  CHANGELOG.md
  server/grpc/server_test.go
  types/grpc/headers.go
Due: none

feat: add EventOwnerChanged and EventRootChanged (#604)
  CHANGELOG.md
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  x/collection/event.go
  x/collection/event.pb.go
  x/collection/event_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/send.go
  x/collection/keeper/supply.go
Due: modules, client

Update swagger
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: client

support debug trace QueryResult (#11148)
  baseapp/abci.go
  types/errors/abci.go
Due: app

Remove unused rename in swagger config
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: client

chore: update TM dep (#11562)
  server/util.go
Due: none

build: fix build
  client/tx/factory.go
  client/tx/tx.go
  crypto/keys/secp256k1/internal/secp256k1/dummy.go
  docs/core/proto-docs.md
  docs/migrations/chain-upgrade-guide-044.md
  docs/run-node/rosetta.md
  go.mod
  go.sum
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/base/snapshots/v1beta1/snapshot.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/service.proto
  server/rollback.go
  snapshots/stream.go
  snapshots/types/snapshot.pb.go
  store/rootmulti/snapshot_test.go
  store/rootmulti/store.go
  types/tx/service.pb.go
  types/tx/service.pb.gw.go
  types/tx/signing/signing.pb.go
  x/auth/client/cli/tx_sign.go
  x/auth/tx/service.go
  x/authz/authorization_grant_test.go
  x/authz/authz.pb.go
  x/authz/genesis.pb.go
  x/authz/query.pb.go
  x/authz/query.pb.gw.go
  x/bank/types/query.pb.go
  x/wasm/keeper/snapshotter.go
  x/wasm/keeper/snapshotter_integration_test.go
  x/wasm/types/json_matching_test.go
Due: modules, client

refactor: remove new APIs on x/collection (#608)
  CHANGELOG.md
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/client/cli/query.go
  x/collection/client/cli/tx.go
  x/collection/client/testutil/query.go
  x/collection/client/testutil/suite.go
  x/collection/client/testutil/tx.go
  x/collection/codec.go
  x/collection/collection.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keys.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/send.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
  x/collection/tx.pb.go
Due: modules, client

check error returned from NewNode (#11624)
  server/start.go
Due: none

chore: v0.45.x bump min go version to 1.17 (#11686)
  .github/workflows/test.yml
  Makefile
  contrib/images/Makefile
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-dlv/README.md
  contrib/images/simd-dlv/wrapper.sh
  contrib/rosetta/node/Dockerfile
  docker-compose.yml
Due: none

chore: remove unneeded swagger docs from 0.45 #11745
  client/docs/swagger_legacy.yaml
Due: client

updates (#11750)
  .github/workflows/proto-docker.yml
Due: none

feat: add feegrant query to see allowances from a given granter (backport #10947) (#11885)
  proto/cosmos/feegrant/v1beta1/query.proto
  types/kv/helpers.go
  x/auth/vesting/types/period.go
  x/authz/keeper/keys.go
  x/bank/legacy/v040/keys.go
  x/bank/types/key.go
  x/distribution/legacy/v040/keys.go
  x/distribution/types/keys.go
  x/feegrant/client/cli/query.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/keeper/grpc_query.go
  x/feegrant/keeper/grpc_query_test.go
  x/feegrant/key.go
  x/feegrant/key_test.go
  x/gov/legacy/v040/keys.go
  x/gov/types/keys.go
  x/slashing/legacy/v040/keys.go
  x/slashing/types/keys.go
  x/staking/legacy/v040/keys.go
  x/staking/types/keys.go
Due: modules

fix: index ante events for failed tx (backport: #12013) (#12017)
  baseapp/abci.go
Due: app

Revert "fix: add base account getter (backport #12154) (#12161)" (#12213)
  x/auth/vesting/msg_server.go
Due: modules

Update tag.yml
  .github/workflows/tag.yml
Due: none

fix: Refactor GetLastCompletedUpgrade [v0.45.x] (#12264)
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
Due: modules

fix: defaultGenTxGas to 10 times (#12314)
  simapp/helpers/test_helpers.go
Due: none

fix: edit validator bug from cli (#12317)
  x/staking/client/cli/flags.go
  x/staking/client/cli/tx.go
  x/staking/client/testutil/suite.go
Due: modules

refactor: remove new APIs on x/token (#609)
  CHANGELOG.md
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/tx.proto
  x/token/client/cli/query.go
  x/token/client/cli/tx.go
  x/token/client/testutil/query.go
  x/token/client/testutil/suite.go
  x/token/client/testutil/tx.go
  x/token/codec.go
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
  x/token/keeper/msg_server.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/send.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/token/query.pb.go
  x/token/query.pb.gw.go
  x/token/tx.pb.go
Due: modules, client

docs: update outdated events in specs (#602)
  CHANGELOG.md
  docs/core/event.md
  x/bank/spec/04_events.md
  x/collection/spec/03_events.md
  x/crisis/spec/03_events.md
  x/distribution/spec/06_events.md
  x/evidence/spec/04_events.md
  x/feegrant/spec/04_events.md
  x/foundation/spec/03_events.md
  x/gov/spec/04_events.md
  x/slashing/spec/06_events.md
  x/staking/spec/07_events.md
  x/token/spec/03_events.md
Due: modules

feat: apply the changes to change the prefixs of key name in ostracon.
  client/keys/import_test.go
  client/keys/show_test.go
  codec/amino_codec_test.go
  crypto/keyring/output_test.go
  crypto/keys/ed25519/ed25519.go
  crypto/keys/multisig/codec.go
  crypto/keys/multisig/multisig_test.go
  crypto/keys/secp256k1/secp256k1.go
  crypto/ledger/amino.go
  crypto/ledger/encode_test.go
  crypto/ledger/ledger_test.go
  go.mod
  go.sum
  types/bech32/legacybech32/pk_test.go
  x/staking/client/rest/rest_test.go
  x/staking/types/validator_test.go
Due: modules, client

chore: update ostracon version
  go.mod
  go.sum
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

feat: apply change of prefix of key name in ostracon (#610)
  CHANGELOG.md
  client/keys/import_test.go
  client/keys/show_test.go
  codec/amino_codec_test.go
  crypto/keyring/output_test.go
  crypto/keys/ed25519/ed25519.go
  crypto/keys/multisig/codec.go
  crypto/keys/multisig/multisig_test.go
  crypto/keys/secp256k1/secp256k1.go
  crypto/ledger/amino.go
  crypto/ledger/encode_test.go
  crypto/ledger/ledger_test.go
  go.mod
  go.sum
  types/bech32/legacybech32/pk_test.go
  x/staking/client/rest/rest_test.go
  x/staking/types/validator_test.go
Due: modules, client

feat: apply the ostracon's change that replace `StakingPower` with `VotingPower` and `StakingPower` with `VotingWeight`. https://github.com/line/ostracon/pull/449
  client/rpc/status.go
  go.mod
  go.sum
  third_party/proto/ostracon/abci/types.proto
  third_party/proto/ostracon/types/evidence.proto
  third_party/proto/ostracon/types/validator.proto
  third_party/proto/ostracon/types/voter.proto
  x/distribution/abci.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/ibc/testing/chain.go
  x/simulation/mock_ostracon.go
  x/slashing/abci_test.go
  x/staking/types/staking.pb.go
Due: modules, client

docs: update swagger.yaml and statik.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: client

docs: update changelog
  CHANGELOG.md
Due: none

chore: update latest changes of ostracon.
  go.mod
  go.sum
Due: none

Update third_party/proto/ostracon/types/evidence.proto
  third_party/proto/ostracon/types/evidence.proto
Due: none

feat: apply Ostracon's changes that replace `StakingPower` with `VotingPower` and `VotingPower` with `VotingWeight`. (#614)
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  client/rpc/status.go
  go.mod
  go.sum
  third_party/proto/ostracon/abci/types.proto
  third_party/proto/ostracon/types/evidence.proto
  third_party/proto/ostracon/types/validator.proto
  third_party/proto/ostracon/types/voter.proto
  x/distribution/abci.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/ibc/testing/chain.go
  x/simulation/mock_ostracon.go
  x/slashing/abci_test.go
  x/staking/types/staking.pb.go
Due: modules, client
