Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

Update docker.yml
  .github/workflows/docker.yml
Due: none

Add a tag pattern
  .github/workflows/docker.yml
Due: none

docs: add this PR to CHANGELOG
  CHANGELOG.md
Due: none

fix: improve baseapp event emission (backport cosmos/cosmos-sdk#14356) (#1075)
  CHANGELOG.md
  baseapp/baseapp.go
  types/events.go
  types/events_test.go
Due: app

Do not add `module` attribute in case of ibc
  baseapp/baseapp.go
Due: app

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add test
  baseapp/baseapp_test.go
  baseapp/xxx_msg_test.go
Due: app

Update x/foundation tests
  x/foundation/keeper/internal/msg_server_test.go
Due: modules

Update other tests
  client/grpc/tmservice/service_test.go
  x/auth/tx/service_test.go
  x/authz/keeper/keeper_test.go
Due: modules, client

activate DA module on simd
  simapp/app.go
Due: none

revert manually-modified mock code
  tests/mocks/types_handler.go
Due: none

Apply suggestions from code review
  x/authz/keeper/keeper_test.go
Due: modules

fix: address generation of the empty coins in x/foundation (backport #952) (#1072)
  CHANGELOG.md
  client/grpc/tmservice/service_test.go
  x/foundation/keeper/internal/treasury.go
Due: modules, client

Apply suggestions from code review
  baseapp/baseapp_test.go
Due: app

Use sdk.AttributeKeySender in x/bank type
  types/events.go
  x/bank/types/events.go
Due: modules

fix: do not add `module` attribute in case of ibc messages (#1079)
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/xxx_msg_test.go
Due: app

Add events docs
  docs/docs/core/08-events.md
Due: none

refactor(x/bank): remove message events including `sender` attribute whose information is already present in the relevant events (backport cosmos/cosmos#17273) (#1066)
  CHANGELOG.md
  client/grpc/tmservice/service_test.go
  types/events.go
  x/auth/tx/service_test.go
  x/authz/keeper/keeper_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
  x/bank/types/events.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/msg_server_test.go
Due: modules, client

Update ramus
  go.mod
  go.sum
Due: none

Fix other files
  .github/workflows/test.yml
  .goreleaser.yml
  Dockerfile
  Makefile
  contrib/githooks/pre-commit
Due: none

docs: document default events (#1081)
  CHANGELOG.md
  docs/docs/core/08-events.md
Due: none

feat: rollback `GetBlockWithTxs` of cosmos service.proto for compatibility with cosmos-sdk APIs
  x/auth/tx/service.go
  x/auth/tx/service_test.go
Due: modules

fix: not to throw error when no txs in block
  x/auth/tx/service.go
  x/auth/tx/service_test.go
Due: modules

chore: update changelog
  CHANGELOG.md
Due: none

Fix bad replacement
  baseapp/abci_test.go
  scripts/protocgen.sh
  x/feegrant/filtered_fee.go
  x/upgrade/client/cli/tx.go
Due: app, modules

test: set cli suite for orda
  x/or/da/client/testutil/cli_test.go
  x/or/da/client/testutil/suite.go
Due: modules

chore: lint warning
  client/grpc/tmservice/service.go
Due: client

Update Ostracon
  baseapp/abci.go
  go.mod
  go.sum
Due: app

chore: add more unittest
  client/grpc/ocservice/service.go
  client/grpc/tmservice/block_test.go
Due: client

chore: add more unittest and add setting to skip converted file from proto in codecov.yml
  client/grpc/ocservice/service_test.go
  codecov.yml
Due: client

chore: add warning explanation in `cosmos/base/tendermint/v1beta1/query.proto`
  docs/core/proto-docs.md
  proto/cosmos/base/tendermint/v1beta1/query.proto
Due: none
