Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Outputs the standard output of the setup command and exits if an error occurs
  demo/run_chain.sh
  demo/run_l2node.sh
  demo/test_sequencer.sh
Due: none

Include l2fullnode startup in test sequencer
  demo/run_l2node.sh
  demo/test_sequencer.sh
Due: none

chore(deps, crypto): use secp directly instead of wrapper (#1163)
  CHANGELOG.md
  crypto/hd/hdpath.go
  crypto/keys/secp256k1/secp256k1.go
  crypto/keys/secp256k1/secp256k1_internal_test.go
  crypto/keys/secp256k1/secp256k1_nocgo.go
  crypto/keys/secp256k1/secp256k1_nocgo_test.go
  crypto/keys/secp256k1/secp256k1_test.go
  crypto/ledger/ledger_mock.go
  crypto/ledger/ledger_notavail.go
  crypto/ledger/ledger_secp256k1.go
  go.mod
  go.sum
  server/rosetta/converter.go
Due: none

use CacheContext() in AssertInvariants()
  x/crisis/keeper/keeper.go
  x/foundation/keeper/internal/invariants.go
Due: modules

add CHANGELOG
  CHANGELOG.md
Due: none

replace
  x/upgrade/client/cli/query.go
  x/upgrade/client/cli/tx.go
Due: modules

feat: use CacheContext() in AssertInvariants() (#1167)
  CHANGELOG.md
  x/crisis/keeper/keeper.go
  x/foundation/keeper/internal/invariants.go
Due: modules

chore: replace `ExactArgs(0)` with `NoArgs` (#1168)
  CHANGELOG.md
  x/upgrade/client/cli/query.go
  x/upgrade/client/cli/tx.go
Due: modules

replace local ics23 with published go pkg
  ics23/.gitignore
  ics23/go/Makefile
  ics23/go/compress.go
  ics23/go/go.mod
  ics23/go/go.sum
  ics23/go/ics23.go
  ics23/go/ops.go
  ics23/go/proof.go
  ics23/go/proofs.pb.go
  third_party/proto/buf.yaml
  third_party/proto/confio/proofs.proto
Due: none

add chown for mkdir
  .github/actions/generate-swagger/action.yml
  .github/workflows/proto.yml
Due: none

lint
  .golangci.yml
  proto/buf.gen.pulsar.yaml
  proto/buf.gen.swagger.yaml
  testutil/testdata/buf.gen.pulsar.yaml
  testutil/testdata/buf.gen.yaml
  testutil/testdata/buf.yaml
Due: none

lint: nakedret
  .golangci.yml
  baseapp/abci.go
  types/uint.go
  x/auth/client/cli/tx_multisign.go
  x/distribution/keeper/delegation.go
  x/staking/keeper/val_state_change.go
Due: app, modules

lint: test
  .golangci.yml
  crypto/keyring/keyring_test.go
  crypto/ledger/encode_test.go
  server/start_test.go
  simapp/test_access.go
  store/cachekv/store_test.go
  store/iavl/store_test.go
  store/prefix/store_test.go
  x/auth/client/tx_test.go
  x/auth/legacy/v043/store_test.go
  x/distribution/keeper/querier_test.go
  x/foundation/msgs_test.go
  x/simulation/simulate.go
  x/staking/keeper/val_state_change_test.go
  x/staking/teststaking/validator.go
Due: modules

lint: unused
  baseapp/baseapp_test.go
  client/keys/list_test.go
  crypto/ledger/encode_test.go
  server/rosetta/converter_test.go
  store/rootmulti/store_test.go
  types/context_test.go
  x/auth/types/common_test.go
  x/staking/simulation/decoder_test.go
  x/staking/types/data_test.go
Due: app, modules, client

lint: unconvert
  crypto/keys/ed25519/ed25519_test.go
  crypto/keys/internal/ecdsa/privkey_internal_test.go
  types/address_test.go
  x/authz/simulation/decoder_test.go
  x/feegrant/simulation/decoder_test.go
Due: modules

lint: stylecheck
  codec/any_test.go
  server/oc_cmds_test.go
  server/util_test.go
  x/auth/ante/testutil_test.go
  x/auth/legacy/legacytx/stdtx_test.go
  x/auth/tx/builder_test.go
  x/bank/bench_test.go
  x/distribution/simulation/operations_test.go
Due: modules

lint: staticcheck
  client/grpc/ocservice/service_test.go
  client/keys/add_test.go
  client/utils_test.go
  codec/any_test.go
  server/oc_cmds_test.go
  server/rosetta/lib/errors/errors_test.go
  store/iavl/store_test.go
  store/rootmulti/store_test.go
  types/address/hash_test.go
  types/address_test.go
  types/denom_internal_test.go
  types/module/module_test.go
  types/query/pagination_test.go
  x/auth/signing/verify_test.go
  x/auth/tx/encode_decode_test.go
  x/auth/tx/legacy_amino_json_test.go
  x/auth/tx/service_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/bankplus/keeper/inactive_test.go
  x/distribution/proposal_handler_test.go
  x/genutil/client/cli/init_test.go
  x/params/types/subspace_test.go
  x/slashing/genesis_test.go
  x/staking/handler_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/querier_test.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/validator_test.go
  x/staking/legacy/v043/store_test.go
  x/upgrade/abci_test.go
Due: modules, client

lint: ineffassign
  store/iavl/store_test.go
  x/gov/keeper/deposit_test.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/signing_info_test.go
Due: modules

lint: govet
  client/grpc/ocservice/service_test.go
  client/grpc/tmservice/block_test.go
  client/grpc/tmservice/service_test.go
  crypto/hd/hdpath_test.go
  types/module/module_int_test.go
  x/auth/tx/service_test.go
  x/auth/tx2/service_test.go
  x/bank/keeper/keeper_test.go
  x/capability/keeper/keeper_test.go
Due: modules, client

lint: gosimple
  store/streaming/file/service_test.go
  types/address/hash_test.go
  types/query/filtered_pagination_test.go
  types/store_test.go
  x/bank/legacy/v043/store_test.go
  x/collection/collection_test.go
  x/staking/client/cli/tx_test.go
Due: modules

lint: gosec
  .golangci.yml
  client/keys/import_test.go
  x/authz/keeper/grpc_query_test.go
  x/bank/simulation/genesis_test.go
  x/capability/simulation/genesis_test.go
  x/distribution/simulation/genesis_test.go
  x/foundation/genesis_test.go
  x/gov/simulation/genesis_test.go
  x/mint/simulation/genesis_test.go
  x/slashing/simulation/genesis_test.go
  x/staking/keeper/historical_info_test.go
  x/staking/simulation/genesis_test.go
  x/staking/types/msg_test.go
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/types/storeloader_test.go
Due: modules, client

lint: gofumpt
  x/auth/tx/builder_test.go
Due: modules

lint: gocritic
  crypto/keys/secp256r1/pubkey_internal_test.go
  crypto/ledger/encode_test.go
  store/cache/metrics.go
  store/rootmulti/store_test.go
  types/address_test.go
  types/decimal_test.go
  x/auth/legacy/legacytx/stdtx_test.go
  x/collection/client/testutil/suite.go
  x/foundation/client/cli/tx.go
  x/params/keeper/keeper_test.go
  x/staking/types/historical_info_test.go
  x/staking/types/validator_test.go
  x/token/client/testutil/suite.go
  x/upgrade/keeper/keeper_test.go
Due: modules

lint: goconst
  .golangci.yml
  x/collection/collection_test.go
Due: modules

lint: nolintlint
  .github/workflows/lint.yml
  .golangci.yml
  crypto/keys/multisig/multisig_test.go
  server/grpc/gogoreflection/serverreflection.go
  server/mock/store_test.go
  server/mock/tx.go
  server/rosetta/client_online.go
  snapshots/store.go
  types/address.go
  types/errors/errors.go
  x/auth/ante/sigverify_test.go
  x/auth/client/tx_test.go
  x/auth/signing/verify_test.go
  x/auth/tx/service.go
  x/auth/tx/service_test.go
  x/authz/simulation/operations.go
  x/bank/keeper/keeper_test.go
  x/bank/legacy/v040/types.go
  x/bank/legacy/v043/store.go
  x/bank/simulation/operations.go
  x/bankplus/keeper/inactive.go
  x/distribution/simulation/operations.go
  x/feegrant/simulation/operations.go
  x/gov/keeper/vote.go
  x/gov/legacy/v043/store.go
  x/gov/simulation/operations.go
  x/gov/types/proposal.go
  x/simulation/simulate.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Due: modules

chore: Add shell to run l2node (#1156)
  demo/run_chain.sh
  demo/run_l2node.sh
  demo/test_sequencer.sh
Due: none

fix
  baseapp/abci.go
  codec/any_test.go
Due: app

Update ostracon
  go.mod
  go.sum
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
