Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Revert gRPC errors on page error
  x/collection/keeper/grpc_query.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Increase coverage
  x/collection/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
Due: modules

fix: refactor queries of x/collection and x/token (#957)
  CHANGELOG.md
  simapp/app.go
  x/collection/expected_keepers.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keeper_test.go
  x/collection/module/module.go
  x/token/expected_keepers.go
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
  x/token/keeper/keeper_test.go
  x/token/module/module.go
Due: modules

fix: check event determinism on original modules (#963)
  CHANGELOG.md
  x/collection/event.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server_test.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/msg_server_test.go
  x/token/event.go
  x/token/keeper/keeper_test.go
  x/token/keeper/msg_server_test.go
Due: modules

Provide better error message
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
Due: modules

Remove x/collection legacy events from proto
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  x/collection/event.pb.go
Due: none

Remove x/collection legacy events logic
  x/collection/event.go
  x/collection/event_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/send.go
  x/collection/keeper/supply.go
Due: modules

Remove x/token legacy events logic
  x/token/event.go
  x/token/event_test.go
  x/token/keeper/msg_server.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/supply.go
Due: modules

Remove x/token legacy events from proto
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  x/token/event.pb.go
Due: none

Remove comments
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  proto/lbm/token/v1/event.proto
  x/collection/event.pb.go
  x/token/event.pb.go
Due: none

chore: provide specific error messages on x/collection queries (#965)
  CHANGELOG.md
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
Due: modules

fix: remove legacy events on x/collection and x/token (#966)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  proto/lbm/token/v1/event.proto
  x/collection/event.go
  x/collection/event.pb.go
  x/collection/event_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/send.go
  x/collection/keeper/supply.go
  x/token/event.go
  x/token/event.pb.go
  x/token/event_test.go
  x/token/keeper/msg_server.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/supply.go
Due: modules

fix: unittest error
  types/errors/abci_test.go
Due: none

chore: change md files. `github.com/line/lbm-sdk` -> `github.com/Finschia/finschia-sdk`
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  Makefile
  README.md
  RELEASE_CHANGELOG.md
  baseapp/abci_test.go
  contrib/githooks/pre-commit
  docs/core/encoding.md
  docs/migrations/chain-upgrade-guide-044.md
  proto/cosmos/bank/v1beta1/bank.proto
  simapp/sim_bench_test.go
  types/errors/stacktrace.go
  types/errors/stacktrace_test.go
  version/version.go
  x/auth/atlas/atlas-v0.39.1.md
  x/authz/authorization_grant_test.go
  x/bank/atlas/atlas-v0.39.1.md
  x/bank/types/bank.pb.go
  x/evidence/atlas/atlas-v0.41.x.md
  x/feegrant/filtered_fee.go
  x/foundation/README.md
  x/simulation/doc.go
  x/stakingplus/spec/03_messages.md
  x/upgrade/client/cli/tx.go
Due: app, modules

chore: update license copyright holder and contact email address.
  CODE_OF_CONDUCT.md
  LICENSE
  NOTICE
Due: none

fix: lint warning.
  x/collection/collection.go
  x/foundation/genesis.go
  x/foundation/keeper/internal/grpc_query.go
  x/staking/keeper/val_state_change.go
Due: modules

chore: replace ostracon import path from `github.com/line/ostracon` to `github.com/Finschia/ostracon`.
  .github/workflows/lint.yml
  Makefile
  tests/mocks/tendermint_tendermint_libs_log_DB.go
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

Refactor x/token
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
Due: modules

Refactor x/collection
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
Due: modules

Update go.mod
  go.mod
Due: none

Update the cli test case
  x/collection/client/testutil/query.go
Due: modules

chore: remove unnecessary blank
  go.mod
Due: none

Lint
  x/collection/client/testutil/query.go
Due: modules

chore: test docker pushn
  .github/workflows/docker.yml
Due: none

chore: test docker push
  .github/workflows/docker.yml
Due: none

fix: not to throw error when no txs in block
  CHANGELOG.md
  x/auth/tx2/service.go
  x/auth/tx2/service_test.go
Due: modules

chore: fix typo
  CHANGELOG.md
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
