Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 40
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

chore
  CHANGELOG.md
Due: none

Apply cosmos#15041, #16151
  go.mod
  server/api/server.go
  server/grpc/server.go
  server/start.go
  server/types/app.go
  server/util.go
  testutil/network/network.go
  testutil/network/util.go
Due: none

lint
  server/grpc/server.go
Due: none

wait for first block at testutil network
  testutil/network/network.go
Due: none

chore: add additional testcases for fswap (#1415)
  CHANGELOG.md
  x/fswap/keeper/genesis_test.go
  x/fswap/keeper/grpc_query_test.go
  x/fswap/keeper/keeper_test.go
  x/fswap/keeper/msg_server_test.go
  x/fswap/types/config_test.go
  x/fswap/types/genesis_test.go
  x/fswap/types/msgs_test.go
Due: modules

chore: add additional testcases for fswap (#1415)
  CHANGELOG.md
Due: none

fix: fix for comment
  x/fswap/spec/01_concepts.md
  x/fswap/spec/02_state.md
Due: modules

chore: fix format
  x/fswap/spec/01_concepts.md
Due: modules

backport finschia-sdk#1153
  baseapp/deliver_tx_test.go
  baseapp/grpcrouter.go
  baseapp/grpcrouter_helpers.go
  client/config/config_test.go
  client/grpc_query.go
  codec/codec.go
  codec/proto_codec.go
  go.mod
  go.sum
  server/grpc/gogoreflection/serverreflection.go
  server/grpc/server.go
  server/grpc/server_test.go
  server/rosetta/client_online.go
Due: app, client

go mod tidy
  go.mod
  go.sum
Due: none

Keep using Ostracon under tm naming
  go.mod
  go.sum
  server/config/config.go
  server/start.go
  server/util.go
  telemetry/metrics.go
  telemetry/metrics_test.go
  telemetry/wrapper.go
  testutil/network/util.go
  x/auth/vesting/msg_server.go
  x/bank/keeper/msg_server.go
  x/distribution/keeper/msg_server.go
  x/gov/keeper/msg_server.go
  x/staking/keeper/msg_server.go
Due: modules

chore
  CHANGELOG.md
  go.mod
  go.sum
Due: none

Apply
  crypto/keyring/keyring.go
  types/decimal.go
  types/int.go
  types/uint.go
  x/auth/ante/sigverify.go
  x/auth/client/testutil/suite.go
  x/auth/client/tx_test.go
  x/gov/genesis_test.go
  x/gov/keeper/deposit_test.go
  x/staking/handler_test.go
  x/staking/keeper/delegation_test.go
Due: modules

Apply `errorlint`
  client/config/cmd.go
  client/config/config.go
  client/debug/main.go
  client/keys/show.go
  crypto/armor.go
  crypto/keyring/keyring.go
  crypto/ledger/ledger_mock.go
  crypto/ledger/ledger_secp256k1.go
  server/export.go
  server/grpc/gogoreflection/serverreflection.go
  server/start.go
  server/tm_cmds_test.go
  server/util.go
  server/util_test.go
  simapp/simd/main.go
  snapshots/chunk.go
  snapshots/helpers_test.go
  store/rootmulti/store.go
  types/dec_coin.go
  types/uint.go
  x/auth/client/tx.go
  x/bank/keeper/genesis.go
  x/bank/keeper/keeper.go
  x/fbridge/keeper/transfer.go
  x/genutil/client/testutil/helpers.go
  x/gov/client/cli/query.go
  x/params/types/subspace.go
  x/staking/client/cli/query.go
  x/staking/client/cli/tx.go
  x/staking/keeper/slash.go
Due: modules, client

Add CHANGELOG
  CHANGELOG.md
Due: none

Use golangci-lint v1.59
  Makefile
Due: none

temp query cli test
  x/fbridge/client/cli/query_test.go
Due: modules

Fix conflicts
  .golangci.yml
  CHANGELOG.md
  Makefile
  server/oc_cmds_test.go
  server/util_test.go
  x/foundation/client/testutil/tx.go
Due: modules

fix: fix for comment
  x/fswap/spec/01_concepts.md
Due: modules

chore
  baseapp/abci.go
  crypto/keys/secp256k1/secp256k1_internal_test.go
  server/util.go
Due: app

chore
  client/grpc/ocservice/service_test.go
  crypto/keys/secp256k1/secp256k1_test.go
  crypto/ledger/ledger_mock.go
Due: client

chore
  x/fbridge/client/cli/tx_test.go
Due: modules

Add cli query test
  x/fbridge/client/cli/query_test.go
Due: modules

chore
  x/fbridge/client/cli/query_test.go
  x/fbridge/client/cli/tx_test.go
  x/fbridge/keeper/grpc_query_test.go
Due: modules

Add fbridge auth test case
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
Due: modules

fixup: fix for comment
  x/fswap/spec/01_concepts.md
Due: modules

chore: update release changelog for v0.49.1
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none
