Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

linter: ignore false positives in types/address (#8674)
  types/address/hash.go
Due: none

rework unsafe string -> bytes conversion #8674 (#8684)
  types/address/hash.go
  types/address/hash_test.go
Due: none

Merge pull request #8569 from sikkatech/adr-epoched-staking
  docs/architecture/adr-039-epoched-staking.md
Due: none

fix test build
  simapp/simd/cmd/genaccounts_test.go
  x/auth/client/cli/cli_test.go
  x/bank/keeper/keeper_test.go
  x/ibc/core/02-client/abci_test.go
  x/ibc/core/02-client/keeper/proposal_test.go
  x/slashing/legacy/v042/store_test.go
  x/staking/client/rest/grpc_query_test.go
  x/upgrade/abci_test.go
Due: modules

Move QueryTx functions to x/auth/tx (#8734)
  server/rosetta/client_online.go
  x/auth/client/cli/query.go
  x/auth/client/rest/query.go
  x/auth/tx/query.go
  x/auth/tx/service.go
  x/auth/tx/service_test.go
  x/auth/tx/xauthclient.go
  x/gov/client/utils/query.go
  x/staking/client/rest/utils.go
Due: modules

internal: create package for unsafe bytes convertion (#8733)
  internal/conv/doc.go
  internal/conv/string.go
  internal/conv/string_test.go
  store/cachekv/store.go
  types/address/hash.go
  types/address/hash_test.go
Due: none

add tm version to makefile (#8689)
  Makefile
Due: none

crypto/keyring: fix offline keys migration (#8639)
  client/keys/testdata/keys/keys.db/000136.ldb
  client/keys/testdata/keys/keys.db/000137.ldb
  client/keys/testdata/keys/keys.db/MANIFEST-000005
  client/keys/testdata/keys/keys.db/MANIFEST-000167
Due: client

fix build
  simapp/app.go
  x/auth/tx/xauthclient.go
  x/bank/keeper/send.go
  x/staking/client/rest/utils.go
  x/staking/legacy/v040/keys.go
  x/token/client/testutil/suite.go
  x/wasm/keeper/test_common.go
Due: modules

Updates and clarifications to the staking specs (#8675)
  x/staking/spec/01_state.md
  x/staking/spec/02_state_transitions.md
  x/staking/spec/03_messages.md
  x/staking/spec/08_params.md
Due: modules

store/cachekv, x/bank/types: algorithmically fix pathologically slow code (#8719)
  crypto/keys/ed25519/ed25519.go
  go.mod
  go.sum
  store/cachekv/store.go
  x/bank/types/balance.go
  x/bank/types/balance_test.go
Due: modules

keyring: remove hardcoded default passphrase on NewMnemonic (#8662)
  client/keys/delete_test.go
  client/tx/tx_test.go
  crypto/armor_test.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_ledger_test.go
  crypto/keyring/keyring_test.go
  server/init.go
  x/auth/client/cli/cli_test.go
  x/auth/client/rest/rest_test.go
  x/authz/client/cli/tx_test.go
  x/authz/client/rest/grpc_query_test.go
  x/feegrant/client/testutil/suite.go
  x/staking/client/cli/cli_test.go
Due: modules, client

[bank]: add balance tracking events (#8656)
  x/auth/client/cli/cli_test.go
  x/auth/tx/service_test.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/spec/04_events.md
  x/bank/types/events.go
  x/staking/client/cli/cli_test.go
  x/staking/client/rest/grpc_query_test.go
  x/staking/client/testutil/test_helpers.go
Due: modules

x{stake,slash,gov,distrib} In-place Store Migrations (#8504)
  simapp/app_test.go
  x/bank/legacy/v040/keys.go
  x/bank/legacy/v042/keys.go
  x/bank/legacy/v042/store.go
  x/bank/legacy/v042/store_test.go
  x/distribution/legacy/v040/keys.go
  x/distribution/legacy/v042/helpers.go
  x/distribution/legacy/v042/store.go
  x/distribution/legacy/v042/store_test.go
  x/distribution/module.go
  x/distribution/spec/02_state.md
  x/gov/legacy/v040/keys.go
  x/gov/legacy/v042/store.go
  x/gov/legacy/v042/store_test.go
  x/gov/module.go
  x/slashing/legacy/v040/keys.go
  x/slashing/legacy/v042/store.go
  x/slashing/legacy/v042/store_test.go
  x/slashing/module.go
  x/slashing/spec/02_state.md
  x/staking/legacy/v040/keys.go
  x/staking/legacy/v042/store.go
  x/staking/legacy/v042/store_test.go
  x/staking/module.go
  x/staking/spec/01_state.md
Due: modules

Add multisign batch command (#7787)
  x/auth/client/cli/cli_test.go
  x/auth/client/testutil/helpers.go
Due: modules

ADR-033 cosmetic updates (#8676)
  docs/architecture/adr-030-authz-module.md
  docs/architecture/adr-033-protobuf-inter-module-comm.md
Due: none

update ed25519 (#8690)
  crypto/keys/ed25519/doc.go
  crypto/keys/ed25519/ed25519.go
Due: none

Allow REST endpoint to query txs with multisig (#8730)
  x/auth/client/rest/rest_test.go
  x/auth/legacy/legacytx/stdsign.go
  x/auth/legacy/legacytx/stdtx.go
Due: modules

minor channel fixes (#8665)
  x/ibc/core/04-channel/types/acknowledgement.go
  x/ibc/core/04-channel/types/acknowledgement_test.go
  x/ibc/core/04-channel/types/channel.go
  x/ibc/core/04-channel/types/channel_test.go
  x/ibc/core/04-channel/types/codec.go
Due: modules

bank: name and symbol metadata fields (#8677)
  proto/lbm/bank/v1/bank.proto
  x/bank/client/cli/cli_test.go
  x/bank/client/rest/grpc_query_test.go
  x/bank/client/rest/query_test.go
  x/bank/keeper/keeper_test.go
  x/bank/types/genesis_test.go
  x/bank/types/metadata.go
  x/bank/types/metadata_test.go
Due: modules

add mergify config for automated launchpad backports (#8667)
  .mergify.yml
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
