Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: optimize get last completed upgrade (#12268)
  x/upgrade/keeper/keeper.go
Due: modules

fix: Simulation is not deterministic due to GenTx (backport #12374) (#12437)
  simapp/helpers/test_helpers.go
  simapp/test_helpers.go
  x/authz/simulation/operations.go
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/genutil/gentx_test.go
  x/gov/simulation/operations.go
  x/simulation/util.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Due: modules

fix: use go install instead of go get in makefile (#12435)
  .github/workflows/test.yml
  contrib/devtools/Makefile
Due: none

feat: Add `GetParamSetIfExists` to prevent panic on breaking param changes (#12724)
  x/params/types/common_test.go
  x/params/types/subspace.go
  x/params/types/subspace_test.go
Due: modules

fix: Use fixed length hex for pointer at FwdCapabilityKey (backport #11737) (#12818)
  x/capability/types/keys.go
  x/capability/types/keys_test.go
Due: modules

fix: rollback command don't actually delete multistore versions (backport #11361) (#13133)
  baseapp/baseapp.go
  server/mock/store.go
  server/rollback.go
  server/util.go
  store/iavl/store.go
  store/iavl/tree.go
  store/rootmulti/rollback_test.go
  store/rootmulti/store.go
  store/types/store.go
Due: app

imp(keyring): improve UX for keyring.List (#13369)
  .gitignore
  crypto/keyring/keyring.go
Due: none

feat: ADR-038 Part 2: StreamingService interface, file writing implementation, and configuration (#8664) (#13326)
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  baseapp/streaming.go
  simapp/app.go
  store/cachemulti/store.go
  store/streaming/README.md
  store/streaming/constructor.go
  store/streaming/constructor_test.go
  store/streaming/file/README.md
  store/streaming/file/example_config.toml
  store/streaming/file/service.go
  store/streaming/file/service_test.go
Due: app

chore: make iavl fast node migration off by default (#13540)
  server/config/toml.go
  store/rootmulti/rollback_test.go
  store/rootmulti/store.go
Due: none

ci: change the `release-sims` trigger rule when add `release` tag
  .github/workflows/release-sims.yml
Due: none

ci: remove pull_requests trigger rule in `release-sims`
  .github/workflows/release-sims.yml
Due: none

ci: change trigger rule in `release-sims`
  .github/workflows/release-sims.yml
Due: none

chore: add changelog.
  CHANGELOG.md
Due: none

fix: move ics23 to correct folder (#13549)
  ics23/go/Makefile
  ics23/go/compress.go
  ics23/go/go.mod
  ics23/go/go.sum
  ics23/go/ics23.go
  ics23/go/ops.go
  ics23/go/proof.go
  ics23/go/proofs.pb.go
Due: none

fix: fix liveness tests #13551
  contrib/images/simd-env/Dockerfile
Due: none

feat: add `GenSignedMockTx` (#13557)
  simapp/helpers/test_helpers.go
  simapp/test_helpers.go
  x/authz/simulation/operations.go
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/genutil/gentx_test.go
  x/gov/simulation/operations.go
  x/simulation/util.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Due: modules

fix: fix `make proto-gen` (#13564)
  Makefile
  scripts/protocgen.sh
  x/staking/types/staking.pb.go
Due: none

feat: [REDO] gRPC query for operator and chain configuration (backport #13485) (#13589)
  client/grpc/node/query.pb.go
  client/grpc/node/query.pb.gw.go
  client/grpc/node/service.go
  client/grpc/node/service_test.go
  docs/core/proto-docs.md
  proto/cosmos/base/node/v1beta1/query.proto
  server/start.go
  server/types/app.go
  simapp/app.go
  testutil/network/util.go
Due: client

chore: bump tendermint to `0.34.22` (#13585)
  Makefile
  go.mod
  go.sum
  third_party/proto/ostracon/abci/types.proto
  third_party/proto/ostracon/types/types.proto
Due: none

fix: (v0.45.x) regression in return value of WithdrawDelegationRewards when rewards are zero (#13588)
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
Due: modules

fix build
  baseapp/deliver_tx_test.go
  baseapp/p2p.go
  client/pruning/main.go
  server/start.go
  store/cachekv/memiterator.go
  store/cachekv/store.go
  x/auth/client/testutil/suite.go
Due: app, modules, client

ci: change the triggering rule of `release-sims`
  .github/workflows/release-sims.yml
Due: none

ci: Add github action in rc*/* and release/* branches like main branch
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
Due: none

fix: ci filtering rule of `release-sims`
  .github/workflows/release-sims.yml
Due: none

chore: change changelog
  CHANGELOG.md
Due: none

ci: change github action trigger rules for `release/*` and `rc*/*` branches (#779)
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  CHANGELOG.md
Due: none

chore: implemented method `SetOption()`
  baseapp/abci.go
Due: app

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
