Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Merge pull request #7802 from sikkatech/gov_split_vote_weighted_vote
  proto/lbm/gov/v1/tx.proto
  x/gov/client/cli/cli_test.go
  x/gov/client/cli/tx.go
  x/gov/client/utils/query.go
  x/gov/client/utils/query_test.go
  x/gov/keeper/querier_test.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/types/codec.go
  x/gov/types/msgs.go
  x/gov/types/msgs_test.go
  x/gov/types/tally.go
  x/gov/types/vote.go
Due: modules

Update cosmovisor.md (#8552)
  docs/run-node/cosmovisor.md
Due: none

Removed GetValidator caching to fix concurrency error (#8546)
  x/params/types/subspace.go
  x/staking/keeper/keeper.go
Due: modules

Remove useless package-lock.json (#8506)
  package-lock.json
Due: none

x/authz specs (#8499)
  x/README.md
  x/authz/spec/01_concepts.md
  x/authz/spec/02_state.md
  x/authz/spec/03_messages.md
  x/authz/spec/04_events.md
  x/authz/spec/README.md
Due: modules

Improve create proposal code (#8586)
  x/gov/types/proposal.go
Due: modules

Add pagination to GetValidatorSetByHeight response (#8567)
  client/grpc/tmservice/service.go
  client/grpc/tmservice/service_test.go
  client/rpc/validators.go
Due: client

ibc : replace strings.Contains to bytes.Contains (#8574)
  x/ibc/core/02-client/keeper/grpc_query.go
Due: modules

Add in-place store migrations (#8485)
  simapp/app_test.go
  store/types/store.go
  testutil/context.go
  types/context_test.go
  types/store.go
  x/auth/legacy/v040/store.go
  x/bank/legacy/v040/keys.go
  x/bank/legacy/v042/keys.go
  x/bank/legacy/v042/store.go
  x/bank/legacy/v042/store_test.go
  x/params/keeper/common_test.go
  x/params/keeper/keeper.go
Due: modules

add backport label to prs (#8609)
  .mergify.yml
Due: none

x/gov/simulation: fix wrong NewDecodeStore Proposal decoding + proper tests (#8603)
  x/gov/simulation/decoder.go
  x/gov/simulation/decoder_test.go
Due: modules

bank: additional denom metadata test case (#8612)
  x/bank/types/metadata_test.go
Due: modules

run make format (#8642)
  types/bench_test.go
  x/ibc/light-clients/99-ostracon/types/proposal_handle_test.go
Due: modules

utils: fix wrong filename in error message (#8643)
  server/util.go
Due: none

ADR 033: Inter-Module Communication (#7459)
  docs/architecture/adr-033-protobuf-inter-module-comm.md
Due: none

Add failing address to multisig validation (#8518)
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/tx_multisign.go
Due: modules

server: fix interceptConfigs (#8641)
  server/util.go
Due: none

gRPC gateway issue with colons in the account url path (#8649)
  scripts/protocgen.sh
  x/auth/client/rest/rest_test.go
Due: modules

typo fix (#8647)
  x/README.md
Due: modules

fix test
  baseapp/baseapp.go
  client/grpc/tmservice/service_test.go
  client/keys/parse_test.go
  client/tx/legacy_test.go
  simapp/app_test.go
  store/rootmulti/store.go
  store/transient/store.go
  store/transient/store_test.go
  store/types/store.go
  types/address_test.go
  x/auth/ante/sigverify.go
  x/auth/client/cli/query.go
  x/auth/client/rest/rest_test.go
  x/auth/legacy/v040/store.go
  x/authz/client/cli/query.go
  x/authz/client/cli/query_test.go
  x/authz/client/cli/tx_test.go
  x/authz/client/rest/grpc_query_test.go
  x/authz/simulation/operations.go
  x/bank/app_test.go
  x/bank/client/cli/cli_test.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/types/balance_test.go
  x/distribution/client/cli/tx_test.go
  x/distribution/client/common/common_test.go
  x/feegrant/client/cli/tx.go
  x/feegrant/client/testutil/cli_test.go
  x/feegrant/client/testutil/suite.go
  x/genutil/client/testutil/migrate.go
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
  x/gov/client/testutil/cli_test.go
  x/gov/keeper/tally_test.go
  x/gov/types/msgs.go
  x/staking/client/rest/query.go
  x/staking/types/authz.go
  x/staking/types/msg.go
Due: app, modules, client

fix build
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/test_common.go
Due: modules

fix test build
  server/grpc/server_test.go
  x/authz/types/keys_test.go
  x/bank/keeper/grpc_query_test.go
  x/params/keeper/grpc_query_test.go
  x/params/keeper/keeper.go
  x/params/proposal_handler_test.go
  x/params/types/subspace.go
  x/params/types/subspace_test.go
Due: modules

multisig checks and optimization (#8600)
  crypto/keys/multisig/multisig.go
  crypto/keys/multisig/multisig_test.go
  crypto/types/compact_bit_array.go
  crypto/types/compact_bit_array_test.go
  crypto/types/multisig/multisignature.go
  x/auth/testutil/suite.go
Due: modules

auth: query all accounts stored via gRPC (#8522)
  client/grpc/reflection/reflection.pb.gw.go
  client/grpc/tmservice/query.pb.gw.go
  docs/core/proto-docs.md
  proto/lbm/auth/v1/query.proto
  types/tx/service.pb.gw.go
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/query.go
  x/auth/keeper/grpc_query.go
  x/auth/keeper/grpc_query_test.go
  x/auth/types/query.pb.go
  x/auth/types/query.pb.gw.go
  x/authz/types/query.pb.gw.go
  x/bank/types/query.pb.gw.go
  x/consortium/types/query.pb.gw.go
  x/distribution/types/query.pb.gw.go
  x/evidence/types/query.pb.gw.go
  x/feegrant/types/query.pb.gw.go
  x/gov/types/query.pb.gw.go
  x/ibc/applications/transfer/types/query.pb.gw.go
  x/ibc/core/02-client/types/query.pb.gw.go
  x/ibc/core/03-connection/types/query.pb.gw.go
  x/ibc/core/04-channel/types/query.pb.gw.go
  x/mint/types/query.pb.gw.go
  x/params/types/proposal/query.pb.gw.go
  x/slashing/types/query.pb.gw.go
  x/staking/types/query.pb.gw.go
  x/token/query.pb.gw.go
  x/upgrade/types/query.pb.gw.go
Due: modules, client

Deprecate SetFullFundraiserPath in favor of SetPurpose and SetCoinType (#8629)
  client/keys/add_ledger_test.go
  client/keys/delete_test.go
  client/keys/export_test.go
  client/keys/list_test.go
  types/address.go
  types/config.go
  types/config_test.go
  x/staking/types/authz.go
  x/staking/types/authz_test.go
Due: modules, client

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
