Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

finish CLI suite initial setting
  x/or/da/client/testutil/suite.go
  x/or/da/client/testutil/tx.go
Due: modules

chore: add more unittest
  x/auth/tx/service_test.go
Due: modules

chore: change unittest function name.
  x/auth/tx/service_test.go
Due: modules

add tx filtering for enqueue
  simapp/app.go
  x/or/da/client/testutil/query.go
  x/or/da/keeper/cc.go
  x/or/da/keeper/cc_test.go
  x/or/da/keeper/genesis_test.go
  x/or/da/keeper/grpc_query_test.go
  x/or/da/keeper/keeper.go
  x/or/da/keeper/keeper_test.go
  x/or/da/keeper/params_test.go
  x/or/da/testutil/keeper.go
Due: modules

test: tx cli
  x/or/da/client/testutil/suite.go
  x/or/da/client/testutil/tx.go
Due: modules

test: query cli
  x/or/da/client/testutil/query.go
Due: modules

fix: modify broken package
  go.mod
  go.sum
Due: none

lint
  x/or/da/client/testutil/query.go
  x/or/da/client/testutil/suite.go
  x/or/da/client/testutil/tx.go
  x/or/da/keeper/genesis.go
  x/or/da/testutil/keeper.go
Due: modules

Revert "fix: modify broken package"
  go.mod
  go.sum
Due: none

deps: bump ostracon from v1.1.1 to v1.1.2-449aa3148b12
  go.mod
  go.sum
  server/oc_cmds.go
  server/oc_cmds_test.go
Due: none

chore: update CHANGELOG
  CHANGELOG.md
Due: none

refactor: automate EventTypeMessage inclusion in every message execution (backport #1063) (#1090)
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/testutil/messages.go
  x/auth/tx/service_test.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/constants.go
  x/bank/keeper/msg_server.go
  x/bank/types/events.go
  x/crisis/keeper/msg_server.go
  x/crisis/types/events.go
  x/distribution/keeper/msg_server.go
  x/distribution/types/events.go
  x/evidence/keeper/msg_server.go
  x/evidence/types/events.go
  x/feegrant/events.go
  x/gov/keeper/msg_server.go
  x/gov/types/events.go
  x/slashing/keeper/msg_server.go
  x/slashing/types/events.go
  x/staking/keeper/msg_server.go
  x/staking/types/events.go
Due: app, modules

feat(ostracon): add ip filter for kms connection (#1089)
  CHANGELOG.md
  go.mod
  go.sum
  server/oc_cmds.go
  server/oc_cmds_test.go
Due: none

fix: improve baseapp event emission (backport #1075) (#1091)
  CHANGELOG.md
  baseapp/baseapp.go
  types/events.go
  types/events_test.go
Due: app

fix: fix for redundant priv-validator-key generation when running with kms
  server/start.go
Due: none

chore: fix for conflict
  CHANGELOG.md
Due: none

chore: lint fix
  server/start.go
Due: none

chore: update test to use temp files
  server/start_test.go
Due: none

chore: add test
  server/start_test.go
Due: none

fix: fix redundant priv-validator-key generation when running with kms (#1086)
  CHANGELOG.md
  server/start.go
  server/start_test.go
Due: none

fix: do not add `module` attribute in case of ibc messages (backport #1079) (#1092)
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/xxx_msg_test.go
Due: app

refactor(x/bank): remove message events including `sender` attribute whose information is already present in the relevant events (backport #1066) (#1093)
  CHANGELOG.md
  client/grpc/ocservice/service_test.go
  types/events.go
  x/auth/tx/service_test.go
  x/authz/keeper/keeper_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
  x/bank/types/events.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/msg_server_test.go
Due: modules, client

refactor: automate EventTypeMessage inclusion in every message execution (backport cosmos/cosmos-sdk#13532) (#1063)
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/testutil/messages.go
  x/auth/tx/service_test.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/constants.go
  x/bank/keeper/msg_server.go
  x/bank/types/events.go
  x/crisis/keeper/msg_server.go
  x/crisis/types/events.go
  x/distribution/keeper/msg_server.go
  x/distribution/types/events.go
  x/evidence/keeper/msg_server.go
  x/evidence/types/events.go
  x/feegrant/events.go
  x/gov/keeper/msg_server.go
  x/gov/types/events.go
  x/slashing/keeper/msg_server.go
  x/slashing/types/events.go
  x/staking/keeper/msg_server.go
  x/staking/types/events.go
Due: app, modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: improve baseapp event emission (backport cosmos/cosmos-sdk#14356) (#1075)
  CHANGELOG.md
  baseapp/baseapp.go
  types/events.go
  types/events_test.go
Due: app

fix: do not add `module` attribute in case of ibc messages (#1079)
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/xxx_msg_test.go
Due: app

refactor(x/bank): remove message events including `sender` attribute whose information is already present in the relevant events (backport cosmos/cosmos#17273) (#1066)
  CHANGELOG.md
  types/events.go
  x/auth/tx/service_test.go
  x/authz/keeper/keeper_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
  x/bank/types/events.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/msg_server_test.go
Due: modules

Update unit test
  client/grpc/ocservice/service_test.go
Due: client

docs: document default events (#1081)
  CHANGELOG.md
  docs/docs/core/08-events.md
Due: none

docs: document default events (backport #1081) (#1094)
  CHANGELOG.md
  docs/docs/core/08-events.md
Due: none

Remove ostracon replace
  go.mod
  go.sum
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
