Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

Update gas price
  x/wasm/keeper/keeper_test.go
Due: modules

docs: add comments on x/token proto
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/token.proto
  x/token/event.pb.go
  x/token/query.pb.go
  x/token/token.pb.go
Due: client

Remove obsolete cli params
  x/wasm/client/cli/tx.go
Due: modules

Add organisation to grpc gateway path
  docs/core/proto-docs.md
  docs/proto/proto-docs.md
  proto/lbm/wasm/v1/query.proto
  x/wasm/types/query.pb.go
  x/wasm/types/query.pb.gw.go
Due: none

test: add test on class id check
  x/token/msgs_test.go
Due: modules

update wsamvm 0.16.0-rc3-testing
  go.mod
  go.sum
Due: none

fix: `make proto-format` bug in the Makefile
  Makefile
  proto/lbm/tx/v1/service.proto
Due: none

fix: `make proto-check-breaking` doesn't work.
  Makefile
Due: none

doc: add changes to CHANGELOG.md
  CHANGELOG.md
Due: none

Update x/auth/tx/direct.go
  x/auth/tx/direct.go
Due: modules

chore: bumped up iavl
  go.mod
  go.sum
Due: none

fix: validate class ids in genesis
  x/token/genesis.go
  x/token/genesis_test.go
Due: modules

refactor: move validation logics into a separate file
  x/token/msgs.go
  x/token/validation.go
Due: modules

test: add test cases into x/token keeper query
  x/token/keeper/query_server_test.go
Due: modules

test: fix test prep
  x/token/client/testutil/suite.go
Due: modules

ci: change `make proto-lint` to use clang-format lint
  .github/workflows/proto.yml
  Makefile
Due: none

fix: `make proto-format` bug in the Makefile (#438)
  .github/workflows/proto.yml
  CHANGELOG.md
  Makefile
  proto/lbm/tx/v1/service.proto
Due: none

test: add more test cases
  x/token/client/testutil/suite.go
  x/token/keeper/query_server_test.go
  x/token/keeper/supply_test.go
Due: modules

chore: fix build fail because NewSimApp parameter is changed.
  go.mod
  go.sum
  x/capability/genesis_test.go
Due: modules

test: fix x/token client tests
  x/token/client/testutil/query.go
  x/token/client/testutil/suite.go
  x/token/client/testutil/tx.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add contract features to debug logging
  x/wasm/keeper/keeper.go
Due: modules

test: fix the race
  x/token/client/testutil/suite.go
Due: modules

update test contracts to cosmwasm v0.16.0
  x/wasm/keeper/testdata/burner.wasm
  x/wasm/keeper/testdata/hackatom.wasm
  x/wasm/keeper/testdata/hackatom.wasm.gzip
  x/wasm/keeper/testdata/ibc_reflect.wasm
  x/wasm/keeper/testdata/ibc_reflect_send.wasm
  x/wasm/keeper/testdata/reflect.wasm
  x/wasm/keeper/testdata/staking.wasm
Due: modules

update wasmvm to v0.16.3
  go.mod
  go.sum
Due: none

Update x/token/class/validation.go
  x/token/class/validation.go
Due: modules

style: removed blank line and unnecessary aliases
  Makefile
  store/cachekv/memiterator.go
  store/cachekv/store.go
Due: none

test: fixed query height case and pruning case
  .github/workflows/release-sims.yml
  client/query_test.go
  store/rootmulti/store_test.go
Due: client

test: fixed query height case again
  client/query_test.go
Due: client

doc: change CHANGELOG.md
  CHANGELOG.md
Due: none

doc: change CHANGELOG.md (#442)
  CHANGELOG.md
Due: none

Refactor events
  x/wasm/keeper/events.go
  x/wasm/keeper/events_test.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/msg_server.go
  x/wasm/keeper/proposal_handler.go
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/keeper/relay_test.go
  x/wasm/keeper/submsg_test.go
  x/wasm/module_test.go
  x/wasm/types/events.go
Due: modules

Update ibc reflect contract from CosmWasm PR 1046
  x/wasm/keeper/testdata/ibc_reflect.wasm
Due: modules

Add tests for events
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
Due: modules

Strip message events and reorder
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/msg_server.go
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/module_test.go
Due: modules

Download cosmwasm contracts
  x/wasm/keeper/testdata/download_releases.sh
  x/wasm/keeper/testdata/hackatom.wasm.gzip
  x/wasm/keeper/testdata/version.txt
Due: modules

Add failing testcase showing messages make it into reply block
  x/wasm/keeper/keeper.go
  x/wasm/keeper/msg_dispatcher_test.go
Due: modules
