Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

feat: implement rollup module
  docs/core/proto-docs.md
  proto/finschia/or/rollup/v1/genesis.proto
  proto/finschia/or/rollup/v1/params.proto
  proto/finschia/or/rollup/v1/query.proto
  proto/finschia/or/rollup/v1/rollup.proto
  proto/finschia/or/rollup/v1/tx.proto
  simapp/app.go
  x/or/rollup/client/cli/query.go
  x/or/rollup/client/cli/tx.go
  x/or/rollup/genesis.go
  x/or/rollup/genesis_test.go
  x/or/rollup/handler.go
  x/or/rollup/keeper/grpc_query.go
  x/or/rollup/keeper/keeper.go
  x/or/rollup/keeper/msg_server.go
  x/or/rollup/keeper/params.go
  x/or/rollup/keeper/rollup.go
  x/or/rollup/keeper/sequencer.go
  x/or/rollup/module.go
  x/or/rollup/module_simulation.go
  x/or/rollup/types/codec.go
  x/or/rollup/types/errors.go
  x/or/rollup/types/expected_keepers.go
  x/or/rollup/types/genesis.go
  x/or/rollup/types/genesis.pb.go
  x/or/rollup/types/genesis_test.go
  x/or/rollup/types/keys.go
  x/or/rollup/types/message_create_rollup.go
  x/or/rollup/types/message_register_sequencer.go
  x/or/rollup/types/message_remove_sequencer.go
  x/or/rollup/types/params.go
  x/or/rollup/types/params.pb.go
  x/or/rollup/types/query.pb.go
  x/or/rollup/types/query.pb.gw.go
  x/or/rollup/types/rollup.pb.go
  x/or/rollup/types/tx.pb.go
Due: modules

feat: implement rollup module
  docs/core/proto-docs.md
  proto/finschia/or/rollup/v1/genesis.proto
  proto/finschia/or/rollup/v1/params.proto
  proto/finschia/or/rollup/v1/query.proto
  proto/finschia/or/rollup/v1/rollup.proto
  proto/finschia/or/rollup/v1/tx.proto
  simapp/app.go
  x/or/rollup/client/cli/query.go
  x/or/rollup/client/cli/tx.go
  x/or/rollup/genesis.go
  x/or/rollup/genesis_test.go
  x/or/rollup/handler.go
  x/or/rollup/keeper/grpc_query.go
  x/or/rollup/keeper/keeper.go
  x/or/rollup/keeper/msg_server.go
  x/or/rollup/keeper/params.go
  x/or/rollup/keeper/rollup.go
  x/or/rollup/keeper/sequencer.go
  x/or/rollup/module.go
  x/or/rollup/module_simulation.go
  x/or/rollup/types/codec.go
  x/or/rollup/types/errors.go
  x/or/rollup/types/expected_keepers.go
  x/or/rollup/types/genesis.go
  x/or/rollup/types/genesis.pb.go
  x/or/rollup/types/genesis_test.go
  x/or/rollup/types/keys.go
  x/or/rollup/types/message_create_rollup.go
  x/or/rollup/types/message_deposit.go
  x/or/rollup/types/message_register_sequencer.go
  x/or/rollup/types/message_remove_sequencer.go
  x/or/rollup/types/message_withdraw.go
  x/or/rollup/types/params.go
  x/or/rollup/types/params.pb.go
  x/or/rollup/types/query.pb.go
  x/or/rollup/types/query.pb.gw.go
  x/or/rollup/types/rollup.pb.go
  x/or/rollup/types/tx.pb.go
Due: modules

feat: add demo script
  x/or/demo/prepare_chain.sh
  x/or/demo/prepare_rollup.sh
Due: modules

chore: fix lint error
  x/or/rollup/keeper/msg_server.go
  x/or/rollup/types/expected_keepers.go
Due: modules

feat: impl gRPC query for `or/da` module
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/query.proto
  x/or/da/keeper/genesis_test.go
  x/or/da/keeper/grpc_query.go
  x/or/da/testutil/keeper.go
  x/or/da/types/keys.go
  x/or/da/types/query.pb.go
  x/or/da/types/query.pb.gw.go
Due: modules

feat!: migrate x/foundation FoundationTax into x/params (#999)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  proto/lbm/foundation/v1/tx.proto
  simapp/app.go
  x/foundation/README.md
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/tx.go
  x/foundation/codec.go
  x/foundation/event.pb.go
  x/foundation/foundation.go
  x/foundation/keeper/exported.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/grpc_query_test.go
  x/foundation/keeper/internal/keeper.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/keys.go
  x/foundation/keeper/internal/migrations.go
  x/foundation/keeper/internal/migrations/v2/expected.go
  x/foundation/keeper/internal/migrations/v2/keys.go
  x/foundation/keeper/internal/migrations/v2/store.go
  x/foundation/keeper/internal/migrations/v2/store_test.go
  x/foundation/keeper/internal/msg_server.go
  x/foundation/keeper/internal/msg_server_test.go
  x/foundation/keeper/internal/params.go
  x/foundation/keeper/internal/params_test.go
  x/foundation/keeper/internal/proposal_test.go
  x/foundation/keeper/internal/treasury_test.go
  x/foundation/keys.go
  x/foundation/module/module.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
  x/foundation/tx.pb.go
Due: modules

test: impl unit tests for gRPC query
  x/or/da/keeper/cc_test.go
  x/or/da/keeper/grpc_query.go
  x/or/da/keeper/grpc_query_test.go
  x/or/da/keeper/keeper_test.go
Due: modules

comment orda AppModule in simapp
  simapp/app.go
Due: none

lint
  proto/finschia/or/da/v1/genesis.proto
Due: none

lint
  proto/finschia/or/da/v1/query.proto
Due: none

chore: comment out
  simapp/app.go
Due: none

refactor: change the proof.proto path to third_party/proto/confio
  third_party/proto/confio/proofs.proto
Due: none

Add burn cmds to x/collection
  x/collection/client/cli/tx.go
Due: modules

Allow minting tokens of multiple classes
  x/collection/client/cli/tx.go
  x/collection/client/testutil/suite.go
  x/collection/client/testutil/tx.go
Due: modules

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: update x/collection cli for hackwasm2023 (#1038)
  CHANGELOG.md
  x/collection/client/cli/tx.go
  x/collection/client/testutil/suite.go
  x/collection/client/testutil/tx.go
Due: modules

fix: unable to connect ledger nano S on Ubuntu20.04, 22.04 by bump up ledger-cosmos-go module
  go.mod
  go.sum
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

add DA client for L1 Finschia
  client/or/finschia.go
  docs/core/proto-docs.md
  go.mod
Due: client

apply formatter for proto files
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/mint/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/finschia/or/da/v1/params.proto
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/genesis.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/genesis.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/tx.proto
Due: none

skip rollkit/cosmos-sdk derived and non-reproducible test failures
  client/grpc/tmservice/service_test.go
  client/grpc_query_test.go
  client/query_test.go
  client/rpc/rpc_test.go
  simapp/simd/cmd/cmd_test.go
  testutil/network/network_test.go
  x/auth/client/testutil/suite.go
  x/auth/tx/service_test.go
  x/auth/tx2/service_test.go
  x/authz/client/testutil/grpc.go
  x/authz/client/testutil/tx.go
  x/collection/client/testutil/suite.go
  x/distribution/client/testutil/grpc.go
  x/distribution/client/testutil/suite.go
  x/feegrant/client/testutil/suite.go
  x/foundation/client/testutil/suite.go
  x/gov/client/testutil/deposits.go
  x/gov/client/testutil/grpc.go
  x/gov/client/testutil/suite.go
  x/staking/client/testutil/suite.go
  x/token/client/testutil/suite.go
Due: modules, client

fix errors caused by the introduction of Ramus
  client/grpc/tmservice/service_test.go
  tests/mocks/types_module_module.go
  types/handler_test.go
  types/module/module.go
Due: client

refactor: change the proof.proto path to third_party/proto/confio (#1037)
  CHANGELOG.md
  third_party/proto/confio/proofs.proto
Due: none

add `orda/cc` query cli
  x/or/da/client/cli/query.go
  x/or/da/module.go
Due: modules

add missing error handlings
  x/or/da/client/cli/query.go
Due: modules

add `orda/cc` tx cli
  x/or/da/client/cli/tx.go
Due: modules

chore: update changelogs
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

Update golang versions in workflows & Dockerfiles
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/test.yml
  Dockerfile
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  contrib/rosetta/node/Dockerfile
  contrib/rosetta/rosetta-cli/Dockerfile
  go.mod
  go.sum
Due: none

Update golang version to 1.20 and replace ostracon
  go.mod
  go.sum
Due: none

Fix version to string in workflows
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/test.yml
Due: none

Update snapshot test
  snapshots/manager_test.go
  store/rootmulti/snapshot_test.go
Due: none

chore: update changelogs (#1042)
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

fix to refer to ramus remote repository
  go.mod
  go.sum
Due: none
