Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

chore: change the circom functions of zkauth to public function
  x/zkauth/types/zkauth_inputs.go
  x/zkauth/types/zkauth_inputs_test.go
Due: modules

Update sonar configs
  .github/workflows/test.yml
  sonar-project.properties
  x/foundation/sonar-project.properties
Due: modules

chore: no need to check empty balance. Balance will be back while handling tx which throws error
  x/bankplus/keeper/keeper.go
  x/bankplus/keeper/keeper_test.go
Due: modules

Update x/zkauth/types/zkauth_inputs.go
  x/zkauth/types/zkauth_inputs.go
Due: modules

chore: apply the feedback
  x/zkauth/types/zkauth_inputs.go
Due: modules

fix classIterator
  x/collection/keeper/alias.go
Due: modules

chore: remove duplicate private method
  x/bankplus/keeper/keeper.go
Due: modules

test: check tx result on x/foundation e2e test (#1237)
  .github/workflows/test.yml
  .golangci.yml
  CHANGELOG.md
  scripts/go-lint-all.bash
  tests/e2e/foundation/grpc.go
  tests/e2e/foundation/query.go
  tests/e2e/foundation/suite.go
  tests/e2e/foundation/tx.go
  tests/go.mod
  tests/go.sum
  x/foundation/authz.go
  x/foundation/events.go
  x/foundation/foundation.go
  x/foundation/genesis.go
  x/foundation/go.mod
  x/foundation/keeper/internal/grpc_query.go
  x/foundation/msgs.go
Due: modules

feat: change jwt save to local and rename params to config
  docs/core/proto-docs.md
  proto/finschia/zkauth/v1beta1/config.proto
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
  x/zkauth/types/config.go
  x/zkauth/types/config.pb.go
Due: modules

Update sonar configs
  sonar-project.properties
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: update x/stakingplus to use Finschia/cosmos-sdk (#1225)
  .github/pr_labeler.yml
  .github/workflows/test.yml
  CHANGELOG.md
  go.work.example
  scripts/mockgen.sh
  scripts/protocgen-pulsar.sh
  simapp/app_config.go
  simapp/app_test.go
  simapp/go.mod
  tests/e2e/stakingplus/cli_test.go
  tests/e2e/stakingplus/grantee.json
  tests/e2e/stakingplus/stranger.json
  tests/e2e/stakingplus/suite.go
  tests/e2e/stakingplus/tx.go
  tests/e2e/stakingplus/validator_util.go
  x/stakingplus/README.md
  x/stakingplus/authz.go
  x/stakingplus/authz.pb.go
  x/stakingplus/codec.go
  x/stakingplus/expected_keepers.go
  x/stakingplus/go.mod
  x/stakingplus/go.sum
  x/stakingplus/keeper/keeper_test.go
  x/stakingplus/keeper/msg_server.go
  x/stakingplus/keeper/msg_server_test.go
  x/stakingplus/module/module.go
  x/stakingplus/testutil/app_config.go
  x/stakingplus/testutil/expected_keepers_mocks.go
Due: modules

chore: change `bytesPerChunk` to the appropriate value name in `CircomBigIntToChunkedBytes`
  x/zkauth/types/zkauth_inputs.go
Due: modules

feat: add `CalculateAllInputsHash` in ZKAuthInputs (#1239)
  CHANGELOG.md
  go.mod
  go.sum
  x/zkauth/types/errors.go
  x/zkauth/types/zkauth_inputs.go
  x/zkauth/types/zkauth_inputs_test.go
Due: modules

fix: test error
  x/zkauth/keeper/keeper_test.go
Due: modules

fix: try sonar
  x/zkauth/keeper/keeper_test.go
Due: modules

fix: apply review
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
Due: modules

fix: written more simply
  x/zkauth/keeper/keeper.go
Due: modules

fix: remove unused variable
  x/zkauth/keeper/keeper.go
Due: modules

feat: implement fetch jwk (#1240)
  docs/core/proto-docs.md
  proto/finschia/zkauth/v1beta1/config.proto
  sonar-project.properties
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
  x/zkauth/keeper/keys.go
  x/zkauth/module.go
  x/zkauth/testutil/keeper.go
  x/zkauth/types/codec.go
  x/zkauth/types/config.go
  x/zkauth/types/config.pb.go
  x/zkauth/types/msgs.go
Due: modules

remove useless implementations
  x/collection/codec.go
  x/collection/keys.go
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

Update swagger
  client/docs/swagger-ui/swagger.yaml
Due: client

Implement CLITestSuite
  x/collection/client/cli/tx.go
  x/collection/client/cli/tx_test.go
  x/collection/go.mod
  x/collection/go.sum
Due: modules

feat: add ZKAuthMsgDecorator AnteHandler for zkauth
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/finschia/zkauth/v1beta1/tx.proto
  x/zkauth/ante/ante.go
  x/zkauth/types/errors.go
  x/zkauth/types/msgs.go
  x/zkauth/types/tx.pb.go
  x/zkauth/types/zkauth_inputs.go
  x/zkauth/types/zkauth_verify.go
Due: modules

chore: update changelog
  CHANGELOG.md
Due: none

feat: implement dispatch msg
  docs/core/proto-docs.md
  proto/finschia/zkauth/v1beta1/tx.proto
  x/zkauth/client/cli/tx.go
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
  x/zkauth/keeper/msg_server.go
  x/zkauth/keeper/msg_server_test.go
  x/zkauth/testutil/keeper.go
  x/zkauth/testutil/keeper_test.go
  x/zkauth/types/msgs.go
  x/zkauth/types/tx.pb.go
Due: modules

feat: get jwk from keeper
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
Due: modules

fix: lint error
  x/zkauth/keeper/keeper.go
Due: modules

fix: test error
  x/zkauth/keeper/keeper.go
Due: modules

chore
  x/collection/keeper/msg_server.go
  x/collection/keys.go
  x/collection/msgs.go
Due: modules

feat: add GetJWK function
  x/zkauth/keeper/keeper.go
Due: modules

Impl E2E test for tx
  tests/e2e/collection/cli_test.go
  tests/e2e/collection/suite.go
  tests/e2e/collection/tx.go
  x/collection/errors.go
Due: none

Add workflow
  .github/workflows/secrets.yml
Due: none

Fix
  .github/workflows/secrets.yml
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
