Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

docs: add changelog
  CHANGELOG.md
Due: none

test: remove comments
  baseapp/params_test.go
Due: app

refactor: remove useless DenomMetadata key function (#716)
  CHANGELOG.md
  go.sum
  x/bank/keeper/keeper.go
  x/bank/types/key.go
Due: modules

fix: make panic when GRPCGateway handler is not registered correctly (#722)
  CHANGELOG.md
  x/auth/tx/service.go
  x/authz/module/module.go
  x/bank/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/gov/module.go
  x/ibc/applications/27-interchain-accounts/module.go
  x/ibc/applications/transfer/module.go
  x/ibc/core/module.go
  x/mint/module.go
  x/params/module.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/module.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: check allowedList size in StakeAuthorization.Accept (#726)
  CHANGELOG.md
  x/staking/types/authz.go
  x/staking/types/authz_test.go
Due: modules

Use snake_case
  x/foundation/keys.go
Due: modules

Remove old spec
  x/foundation/README.md
Due: modules

fix: check pubkey type from validator params (#724)
  CHANGELOG.md
  baseapp/params.go
  baseapp/params_test.go
Due: app

Update references to the latest commit of chain
  x/foundation/README.md
Due: modules

Update comments in tx.proto
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/tx.proto
  x/foundation/tx.pb.go
Due: none

chore: change pr number
  CHANGELOG.md
Due: none

Remove UpdateFoundationParamsProposal
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/foundation/v1/tx.proto
  x/foundation/foundation.pb.go
  x/foundation/tx.pb.go
Due: none

Remove old logics and add stubs
  simapp/app.go
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/tx.go
  x/foundation/codec.go
  x/foundation/keeper/handler.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/proposal.go
  x/foundation/msgs.go
  x/foundation/proposal.go
  x/foundation/proposal_test.go
Due: modules

Implement MsgUpdateParams
  x/foundation/msgs.go
  x/foundation/msgs_test.go
Due: modules

Implement UpdateParams
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
Due: modules

Implement cli
  simapp/app.go
  x/foundation/client/cli/tx.go
  x/foundation/client/proposal_handler.go
  x/foundation/client/testutil/tx.go
Due: modules

Update name of the corresponding event
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  x/foundation/event.pb.go
  x/foundation/keeper/msg_server.go
Due: modules

Add test
  x/feegrant/filtered_fee_test.go
Due: modules

Update pruning logic
  x/foundation/keeper/abci_test.go
  x/foundation/keeper/proposal.go
Due: modules

fix: fix to prevent external filesystem dependency of simulations (#695)
  CHANGELOG.md
  x/wasm/keeper/testdata/reflect.go
  x/wasm/simulation/operations.go
  x/wasm/simulation/operations_test.go
Due: modules

Remove `VRFProve`
  crypto/ledger/ledger_secp256k1.go
Due: none

Add verification on accounts
  x/foundation/client/cli/query.go
Due: modules

Update `CHANGELOG.md`
  CHANGELOG.md
Due: none

Add unit tests on query cli
  x/foundation/client/testutil/query.go
Due: modules

tmp
  x/feegrant/filtered_fee_test.go
Due: modules

fix typo in val_state_change.go (#728)
  CHANGELOG.md
  x/staking/keeper/val_state_change.go
  x/staking/keeper/val_state_change_test.go
Due: modules

Add restrictions on the number of args in the CLIs
  x/auth/client/cli/query.go
  x/bank/client/cli/query.go
  x/gov/client/cli/query.go
Due: modules

Add unit tests
  x/auth/client/testutil/suite.go
  x/bank/client/testutil/suite.go
  x/gov/client/testutil/suite.go
Due: modules

Fix for reviews
  x/feegrant/filtered_fee_test.go
Due: modules

feat: replace all ModuleCdc instances with legacy.Cdc (cosmos-sdk #11240)
  codec/legacy/codec.go
  x/auth/types/codec.go
  x/auth/types/msgs.go
  x/auth/vesting/types/codec.go
  x/auth/vesting/types/msgs.go
  x/bank/simulation/operations_test.go
  x/bank/types/codec.go
  x/bank/types/msgs.go
  x/crisis/types/codec.go
  x/crisis/types/msgs.go
  x/distribution/client/common/common_test.go
  x/distribution/simulation/operations_test.go
  x/distribution/types/codec.go
  x/distribution/types/msg.go
  x/distribution/types/proposal.go
  x/evidence/types/codec.go
  x/evidence/types/msgs.go
  x/gov/simulation/operations_test.go
  x/gov/types/codec.go
  x/gov/types/msgs.go
  x/params/types/proposal/proposal.go
  x/slashing/simulation/operations_test.go
  x/slashing/types/codec.go
  x/slashing/types/msg.go
  x/staking/simulation/operations_test.go
  x/staking/types/codec.go
  x/staking/types/historical_info_test.go
  x/staking/types/msg.go
  x/upgrade/types/proposal.go
  x/wasm/alias.go
  x/wasm/lbmtypes/codec.go
  x/wasm/lbmtypes/proposal.go
  x/wasm/lbmtypes/tx.go
  x/wasm/types/codec.go
  x/wasm/types/proposal.go
  x/wasm/types/tx.go
Due: modules

fix: RegisterLegacyAminoCodec should error if Msg name is >39 chars (cosmos-sdk #11349)
  baseapp/baseapp_test.go
  codec/legacy/amino_msg.go
  codec/legacy/amino_msg_test.go
  codec/legacy/doc.go
  x/auth/vesting/types/codec.go
  x/authz/codec.go
  x/bank/types/codec.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/evidence/types/codec.go
  x/feegrant/codec.go
  x/gov/types/codec.go
  x/slashing/types/codec.go
  x/staking/types/codec.go
Due: app, modules

chore: remove unused comment.
  x/auth/types/codec.go
Due: modules

fix: implement Amino serialization for x/authz and x/feegrant (cosmos-sdk #11224)
  codec/legacy/codec.go
  docs/core/encoding.md
  x/auth/types/codec.go
  x/authz/authorization_grant.go
  x/authz/authorization_grant_test.go
  x/authz/codec.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/module/module.go
  x/authz/msgs_test.go
  x/authz/simulation/decoder_test.go
  x/authz/simulation/operations_test.go
  x/bank/types/codec.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/evidence/types/codec.go
  x/feegrant/codec.go
  x/feegrant/module/module.go
  x/feegrant/msgs.go
  x/feegrant/msgs_test.go
  x/feegrant/simulation/operations_test.go
  x/gov/types/codec.go
  x/slashing/types/codec.go
  x/staking/types/codec.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
