Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 40
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

feat: add new query to get a swap
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/query.proto
  x/fswap/keeper/grpc_query.go
  x/fswap/types/msgs.go
  x/fswap/types/msgs_test.go
  x/fswap/types/query.pb.go
  x/fswap/types/query.pb.gw.go
Due: modules, client

fix: missing event emissions(EventSetSwap, EventAddDenomMetadata) (#1385)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/event.proto
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/types/event.pb.go
Due: modules

chore: update changelog
  CHANGELOG.md
Due: none

fix: add missing pagination param in cli client
  x/fswap/client/cli/query.go
Due: modules

chore: lint fix
  x/fswap/keeper/grpc_query.go
Due: modules

fix: missing event emissions(EventSetSwap, EventAddDenomMetadata) (#1385)
  CHANGELOG.md
Due: none

chore: add grpc-query test
  x/fswap/keeper/grpc_query_test.go
  x/fswap/testutil/expected_keepers_mocks.go
Due: modules

fix: fix test
  x/fswap/keeper/keeper_test.go
Due: modules

fix: fix for comments
  x/fswap/keeper/expected_keepers.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/testutil/expected_keepers_mocks.go
Due: modules

chore: add descriptive message for invalid QuerySwapRequest
  x/fswap/types/msgs.go
Due: modules

fix: fix failed tests
  x/fswap/keeper/keeper_test.go
Due: modules

chore: add CLI to query swap
  x/fswap/client/cli/query.go
Due: modules

feat: add new query to get a swap (#1387)
  CHANGELOG.md
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/query.proto
  x/fswap/client/cli/query.go
  x/fswap/keeper/grpc_query.go
  x/fswap/keeper/grpc_query_test.go
  x/fswap/testutil/expected_keepers_mocks.go
  x/fswap/types/msgs.go
  x/fswap/types/msgs_test.go
  x/fswap/types/query.pb.go
  x/fswap/types/query.pb.gw.go
Due: modules, client

fix: fix for comment
  x/fswap/keeper/keeper.go
Due: modules

fix: remove unused keeper in appmodule
  simapp/app.go
  x/fswap/module.go
Due: none

fix: fix for merge (FSwapQueryTestSuite Setup up)
  x/fswap/keeper/grpc_query_test.go
Due: modules

chore: fix conflict
  client/docs/swagger-ui/swagger.yaml
Due: client

fix: fix for codecov
  x/fswap/types/genesis_test.go
Due: modules

fix: fix for comment
  x/fswap/types/genesis_test.go
Due: modules

test: add validation & unit tests in fswap module (#1382)
  CHANGELOG.md
  Makefile
  simapp/app.go
  x/fswap/keeper/expected_keepers.go
  x/fswap/keeper/genesis_test.go
  x/fswap/keeper/grpc_query_test.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/testutil/expected_keepers_mocks.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis_test.go
Due: modules

test: add cli_test for query
  x/fswap/client/testutil/cli_test.go
  x/fswap/client/testutil/query.go
  x/fswap/client/testutil/suite.go
Due: modules

fix: fix dummy denom coin data for test in fswap
  x/fswap/keeper/grpc_query_test.go
  x/fswap/keeper/keeper_test.go
  x/fswap/types/msgs_test.go
Due: modules

chore: update CHANGLOG.md
  CHANGELOG.md
Due: none

fix: fix failed test
  x/fswap/keeper/keeper_test.go
Due: modules

test: add cli_test for tx
  x/fswap/client/cli/tx.go
  x/fswap/client/testutil/suite.go
  x/fswap/client/testutil/tx.go
Due: modules

chore: lint fix
  x/fswap/client/testutil/query.go
  x/fswap/client/testutil/suite.go
  x/fswap/client/testutil/tx.go
Due: modules

test: add grpc query test
  x/fswap/client/testutil/grpc.go
Due: modules

build: refresh docker container's bound volume for proto and swagger generation
  Makefile
Due: none

chore: fix dummy denom coin data for test in fswap (#1392)
  CHANGELOG.md
  x/fswap/keeper/grpc_query_test.go
  x/fswap/keeper/keeper_test.go
  x/fswap/types/msgs_test.go
Due: modules

Return error instead of panic for action triggered by client
  x/fbridge/keeper/transfer.go
  x/fbridge/keeper/transfer_test.go
Due: modules

chore
  x/fbridge/keeper/transfer_test.go
Due: modules

Add CHANGELOG
  CHANGELOG.md
Due: none

chore: refactor to use snake_case in proto to fix mix-use of camelCase and snake_case
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/query.proto
  x/fswap/types/query.pb.go
Due: client

chore
  CHANGELOG.md
Due: none
