Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

fix: move events
  x/foundation/keeper/exec.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/vote.go
Due: modules

fix: remove deprecated SetBalance
  x/foundation/keeper/keeper_test.go
Due: modules

refactor: change multi if to else if, Nil to NoError
  x/auth/types/account.go
  x/auth/types/account_test.go
  x/auth/vesting/types/vesting_account_test.go
Due: modules

docs: fix typo
  x/foundation/keeper/treasury.go
Due: modules

fix: replace weight of Member into a boolean flag
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/foundation.proto
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
  x/foundation/foundation.go
  x/foundation/foundation.pb.go
  x/foundation/genesis_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/member.go
  x/foundation/keeper/member_test.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/tally.go
  x/foundation/msgs_test.go
Due: modules, client

chore: update ostracon dep related with cosmos-sdk [\#11562](https://github.com/cosmos/cosmos-sdk/pull/11562)
  CHANGELOG.md
  server/oc_cmds.go
  server/util.go
Due: none

fix lint warning
  server/util.go
Due: none

Remove reviewers on dependabot.yml
  .github/dependabot.yml
Due: none

fix: genesis auth account format (#517)
  CHANGELOG.md
  baseapp/block_gas_test.go
  x/auth/keeper/keeper.go
  x/auth/types/account.go
  x/auth/types/account_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/wasm/keeper/keeper_test.go
Due: app, modules

style: lint
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
  x/foundation/keeper/genesis.go
Due: modules

docs: update weight related statements
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/foundation/v1/tx.proto
  x/foundation/client/cli/tx.go
  x/foundation/foundation.pb.go
  x/foundation/tx.pb.go
Due: modules, client

fix: remove weight related logics
  x/foundation/foundation.go
  x/foundation/keeper/tally.go
Due: modules

fix: update grant related events
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  x/foundation/event.pb.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/proposal.go
Due: modules

chore: comment out the migration handler registration for now
  x/foundation/module/module.go
Due: none

feat: define proto for x/token
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/genesis.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/token.proto
  proto/lbm/token/v1/tx.proto
  x/token/event.pb.go
  x/token/genesis.pb.go
  x/token/query.pb.go
  x/token/query.pb.gw.go
  x/token/token.pb.go
  x/token/tx.pb.go
Due: client

feat: update proto
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/genesis.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/tx.proto
  x/token/query.pb.go
  x/token/query.pb.gw.go
  x/token/tx.pb.go
Due: client

feat: add event type enum
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  x/token/event.pb.go
Due: none

feat: add spent and received event
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  x/token/event.pb.go
Due: none

style: lint
  proto/lbm/token/v1/event.proto
Due: none

refactor: rename file
  x/token/keeper/send.go
  x/token/keeper/send_test.go
Due: modules

refactor: refactor send
  x/token/expected_keepers.go
  x/token/keeper/msg_server.go
  x/token/keeper/send.go
Due: modules

refactor: update msgs.go
  docs/core/proto-docs.md
  proto/lbm/token/v1/token.proto
  x/token/msgs.go
  x/token/token.pb.go
  x/token/validation.go
Due: modules

refactor: update codec
  x/token/codec.go
Due: modules

refactor: update genesis
  x/token/genesis.go
Due: modules

refactor: update keys
  x/token/keeper/alias.go
  x/token/keeper/keys.go
Due: modules

docs: update swagger statik.go
  client/docs/statik/statik.go
Due: client

feat: add index field into TxResponse (#526)
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/base/abci/v1/abci.proto
  types/abci.pb.go
  types/result.go
  types/result_test.go
Due: client

refactor: update genesis and query proto
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/genesis.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/token.proto
  x/token/genesis.pb.go
  x/token/query.pb.go
  x/token/query.pb.gw.go
  x/token/token.pb.go
Due: client

refactor: update types
  x/token/client/cli/query.go
  x/token/genesis.go
  x/token/keeper/alias.go
  x/token/keeper/genesis.go
  x/token/keeper/keys.go
  x/token/keeper/msg_server.go
  x/token/keeper/query_server.go
  x/token/keeper/send.go
  x/token/keeper/supply.go
Due: modules

fix: remove unused specs
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/authz.proto
  x/foundation/authz.go
  x/foundation/authz.pb.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/proposal.go
Due: modules

refactor: define own authorization interface
  proto/lbm/foundation/v1/authz.proto
  proto/lbm/foundation/v1/genesis.proto
  proto/lbm/foundation/v1/query.proto
  proto/lbm/foundation/v1/tx.proto
  x/foundation/authz.go
  x/foundation/authz.pb.go
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/tx.go
  x/foundation/codec.go
  x/foundation/foundation.go
  x/foundation/genesis.go
  x/foundation/genesis.pb.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/keeper.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/msgs.go
  x/foundation/query.pb.go
  x/foundation/tx.pb.go
Due: modules

fix: force a user to revoke the authorization before override it
  x/foundation/keeper/grant.go
  x/foundation/keeper/grant_test.go
  x/foundation/keeper/msg_server_test.go
Due: modules

style: lint
  proto/lbm/foundation/v1/genesis.proto
  proto/lbm/foundation/v1/query.proto
  proto/lbm/foundation/v1/tx.proto
  x/foundation/keeper/genesis.go
  x/foundation/keeper/proposal.go
Due: modules

fix: shorten the error message
  x/foundation/keeper/grant.go
Due: modules

refactor: restructure x/stakingplus
  simapp/app.go
  x/foundation/module/module.go
  x/stakingplus/expected_keepers.go
  x/stakingplus/handler.go
  x/stakingplus/keeper/msg_server.go
  x/stakingplus/module.go
  x/stakingplus/module/module.go
Due: modules

refactor: move CreateValidatorAuthorization
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/authz.proto
  proto/lbm/stakingplus/v1/authz.proto
  x/foundation/authz.go
  x/foundation/authz.pb.go
  x/foundation/codec.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/keeper.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/proposal_test.go
  x/stakingplus/authz.go
  x/stakingplus/authz.pb.go
  x/stakingplus/codec.go
  x/stakingplus/keeper/keeper_test.go
  x/stakingplus/keeper/msg_server.go
  x/stakingplus/keeper/msg_server_test.go
  x/stakingplus/module/module.go
Due: modules

fix: fix grant query
  x/foundation/keeper/genesis.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/keeper.go
  x/foundation/keeper/keys.go
Due: modules

refactor: use the getter once
  x/foundation/msgs.go
Due: modules

style: lint
  x/foundation/keeper/grpc_query.go
Due: modules
