Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat: remove legacy REST-related things in client-side
  client/grpc/tmservice/service_test.go
  client/rest/rest.go
  client/rpc/block.go
  client/rpc/routes.go
  client/rpc/rpc_test.go
  client/rpc/status.go
  client/rpc/validators.go
  client/tx/tx.go
  codec/amino_codec_test.go
  testutil/network/network.go
  types/query/pagination.go
Due: client

feat: remove legacy REST-related things in server-side
  server/api/server.go
Due: none

refactor: remove legacy REST API in `simapp`
  simapp/app.go
Due: none

refactor: remove `RegisterRESTRoutes` in all x modules
  simapp/app.go
  tests/mocks/types_module_module.go
  types/module/module.go
  types/module/module_test.go
  x/auth/module.go
  x/auth/vesting/module.go
  x/authz/module/module.go
  x/bank/module.go
  x/capability/module.go
  x/collection/module/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/foundation/module/module.go
  x/genutil/module.go
  x/gov/module.go
  x/ibc/applications/27-interchain-accounts/module.go
  x/ibc/applications/transfer/module.go
  x/ibc/core/module.go
  x/ibc/testing/mock/mock.go
  x/mint/module.go
  x/params/module.go
  x/slashing/module.go
  x/staking/module.go
  x/token/module/module.go
  x/upgrade/module.go
  x/wasm/module.go
Due: modules

chore: update mocks
  tests/mocks/account_retriever.go
  tests/mocks/tendermint_tendermint_libs_log_DB.go
  tests/mocks/types_handler.go
  tests/mocks/types_invariant.go
  tests/mocks/types_module_module.go
  tests/mocks/types_router.go
Due: none

chore: update CHANGELOG
  CHANGELOG.md
Due: none

remove sdk_test (legacy)
  x/ibc/testing/sdk_test.go
Due: modules

revert mocks
  tests/mocks/types_handler.go
  types/handler_test.go
Due: none

go mod tidy
  go.mod
  go.sum
Due: none

remove legact REST test in x/wasm
  x/wasm/client/proposal_handler_test.go
Due: modules

remove `getBlockByHash` which was used in legacy REST
  client/rpc/block.go
Due: client

chore: update ostracon v1.0.7
  go.mod
  go.sum
  x/capability/types/keys_test.go
Due: modules

chore: update changelog
  CHANGELOG.md
Due: none

chore: bump up ostracon v1.0.7 (#811)
  CHANGELOG.md
  go.mod
  go.sum
  x/capability/types/keys_test.go
Due: modules

release lbm-sdk v0.46.0 (update changelogs)
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

Revisit x/token Burn & OperatorBurn
  x/token/keeper/msg_server.go
  x/token/keeper/send.go
  x/token/keeper/supply.go
Due: modules

Revisit x/collection Modify
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/supply.go
  x/collection/msgs.go
Due: modules

Revisit x/collection GrantPermission & RevokePermission
  x/collection/keeper/msg_server.go
  x/collection/msgs.go
Due: modules

Revisit x/token Send & TransferFrom
  x/token/keeper/msg_server.go
  x/token/msgs.go
Due: modules

Revisit x/collection BurnFT, BurnFTFrom, BurnNFT & BurnNFTFrom
  x/collection/keeper/msg_server.go
  x/collection/keeper/send.go
  x/collection/msgs.go
Due: modules

Revisit x/token Modify
  x/token/keeper/msg_server.go
  x/token/keeper/supply.go
  x/token/msgs.go
  x/token/validation.go
Due: modules

Revisit x/collection MintFT & MintNFT
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
  x/collection/msgs.go
Due: modules

Revisit x/collection CreateContract
  x/collection/keeper/msg_server.go
  x/collection/msgs.go
Due: modules

Revisit x/collection IssueFT & IssueNFT
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs.go
Due: modules

Revisit x/token RevokeOperator & Approve
  x/token/keeper/msg_server.go
  x/token/keeper/send.go
Due: modules

Revisit x/collection Approve & Disapprove
  x/collection/keeper/msg_server.go
  x/collection/keeper/send.go
Due: modules

Revisit x/collection transfer endpoints
  x/collection/keeper/msg_server.go
  x/collection/msgs.go
Due: modules

release lbm-sdk v0.46.0 (#812)
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

remove useless workflow for local
  .github/workflows/autopr.yml
  .github/workflows/clean-artifacts.yml
  .github/workflows/docker.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/test.yml
Due: none

fix: update go.mod
  go.mod
  go.sum
Due: none

fix: bench_test
  x/wasm/keeper/bench_test.go
Due: modules

test: update testdata
  x/wasm/testdata/call_number.wasm
  x/wasm/testdata/checksums.txt
  x/wasm/testdata/dynamic_callee_contract.wasm
  x/wasm/testdata/dynamic_caller_contract.wasm
  x/wasm/testdata/number.wasm
Due: modules

fix: go mod tidy
  go.mod
  go.sum
Due: none

ci: version update
  .github/workflows/bench.yml
Due: none

build: set goreleaser
  .github/workflows/tag.yml
  .gitignore
  .goreleaser.yaml
  .goreleaser.yml
  CONTRIBUTING.md
  Makefile
  go.sum
  release.Dockerfile
Due: none

chore: delete useless code in `Makefile`
  Makefile
Due: none

remove support for composite (BLS) type from priv_key_type option of init CLI command
  client/flags/flags.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/init_test.go
Due: modules, client

add test case
  CHANGELOG.md
  client/flags/flags_test.go
  x/genutil/client/cli/init.go
Due: modules, client

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
