Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 40
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

Use go list
  Makefile
Due: none

Add init script for demo (#1297)
  demo_init_node.sh
Due: none

build: set Finschia/ostracon version (#1298)
  CHANGELOG.md
  Makefile
Due: none

chore: refactor delete logic not to touch iteration-related things while iteration
  tests/go.mod
  x/bankplus/deprecator.go
Due: modules

fix : Use bytes instead of string comparison in delete validator queue (#12303)
  x/staking/keeper/validator.go
Due: modules

fix: types: ensure .Amount is non-nil in Coin.Validate() (#15691)
  types/coin.go
  types/coin_test.go
  types/fuzz_test.go
Due: none

fix: change math.NewInt to sdk.NewInt
  types/coin_test.go
Due: none

fix: change to finschia-sdk
  types/fuzz_test.go
Due: none

fix: prevent nil DecCoin creation when converting Coins to DecCoins (#12903)
  types/dec_coin.go
  types/dec_coin_test.go
Due: none

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: fix lint
  types/coin_test.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

remove map iteration non-determinism with keys
  baseapp/baseapp.go
  store/rootmulti/store.go
  types/module/module.go
Due: app

add CHANGELOG
  CHANGELOG.md
Due: none

fix: possible overflow
  client/tx/factory.go
Due: client

fix(x/gov): grpc query tally for failed proposal (#19725)
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
Due: modules

fix: fix conflict
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
Due: modules

chore: update changelog
  CHANGELOG.md
Due: none

chore: add comment
  client/tx/factory.go
Due: client

fix: remove map iteration non-determinism with keys (#1302)
  CHANGELOG.md
  baseapp/baseapp.go
  store/rootmulti/store.go
  types/module/module.go
Due: app

Add slash redelegation test
  simapp/app.go
  x/slashing/keeper/slash_redelegation_test.go
Due: modules

Add validation
  x/staking/keeper/slash.go
Due: modules

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix for lint
  x/slashing/keeper/slash_redelegation_test.go
Due: modules

fix: possible overflow in BuildUnsignedTx (#1303)
  CHANGELOG.md
  client/tx/factory.go
Due: client

fix: add missing nil checks (#1299)
  CHANGELOG.md
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  types/dec_coin_test.go
  types/fuzz_test.go
Due: none

fix: Use bytes instead of string comparison in delete validator queue (backport cosmos/cosmos-sdk#12303) (#1301)
  CHANGELOG.md
  x/staking/keeper/validator.go
Due: modules

fix: possible app-hash mismatch(cherry-pick cosmos-sdk #13530)
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Due: none

chore: fix testcase
  store/rootmulti/store_test.go
Due: none

chore: lint fix
  store/rootmulti/store_test.go
Due: none

chore: not a breaking change
  CHANGELOG.md
Due: none
