Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

handle redundant role proposals correctly
  x/fbridge/keeper/abci.go
  x/fbridge/keeper/auth.go
Due: modules

return error instead of panic in InitGenesis
  x/fbridge/keeper/genesis.go
Due: modules

clean up useless tests
  x/fbridge/keeper/auth_test.go
Due: modules

chore
  x/fbridge/keeper/transfer.go
Due: modules

early return for updating same role
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
Due: modules

chore
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/genesis.go
Due: modules

add panic for impossible scenarios
  x/fbridge/keeper/abci.go
  x/fbridge/keeper/auth.go
Due: modules

chore: refactor to use snake_case in proto (#1396)
  CHANGELOG.md
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/query.proto
  x/fswap/types/query.pb.go
Due: client

fix: change fromDenom & toDenom
  x/fswap/client/testutil/grpc.go
Due: modules

chore: refactor to use snake_case in proto (#1396)
  client/docs/swagger-ui/swagger.yaml
Due: client

fix: fix for comment
  x/fswap/client/cli/tx.go
  x/fswap/client/testutil/tx.go
Due: modules

chore: fix dummy denom coin data for test in fswap (#1392)
  CHANGELOG.md
  x/fswap/keeper/grpc_query_test.go
  x/fswap/keeper/keeper_test.go
  x/fswap/types/msgs_test.go
Due: modules

Revert "build: refresh docker container's bound volume for proto and swagger generation"
  Makefile
Due: none

test: add cli_test for fswap module (#1391)
  CHANGELOG.md
  x/fswap/client/testutil/cli_test.go
  x/fswap/client/testutil/grpc.go
  x/fswap/client/testutil/query.go
  x/fswap/client/testutil/suite.go
  x/fswap/client/testutil/tx.go
Due: modules

build: add current directory as suffix for docker container
  Makefile
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

revert abci updateRole
  x/fbridge/keeper/abci.go
Due: modules

fix: return error instead of panic for behaviors triggered by client (#1395)
  CHANGELOG.md
  x/fbridge/keeper/abci.go
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/transfer.go
  x/fbridge/keeper/transfer_test.go
Due: modules

chore: update pattern
  Makefile
Due: none

build: add suffix string to docker container (#1393)
  CHANGELOG.md
  Makefile
Due: none

chore: update release changelog for v0.49.0
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

chore: fix wrong pr number format in changelog
  RELEASE_CHANGELOG.md
Due: none

Release finschia-sdk v0.49.0 (#1404)
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Due: none

Add global test codec
  client/tendermint.go
  init_node.sh
  testutil/cli/tm_mocks.go
  types/module/testutil/codec.go
Due: client

Add TransferTxCmd test
  x/fbridge/client/cli/tx_test.go
Due: modules

add the remaining tx cli tests
  x/fbridge/client/cli/tx.go
  x/fbridge/client/cli/tx_test.go
Due: modules

chore: make struct comments match struct names
  codec/types/compat.go
Due: none

Bump Go from 1.20 to 1.22.4
  go.mod
  go.sum
Due: none

follow golangci-lint rule
  go.mod
Due: none

Change ghaction go version
  .github/workflows/check-generated.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/test.yml
Due: none

Change the go version of all docker files
  Dockerfile
  contrib/devtools/dockerfile
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  contrib/rosetta/node/Dockerfile
  contrib/rosetta/rosetta-cli/Dockerfile
Due: none

add go version to split-test-files
  .github/workflows/test.yml
Due: none

Replace slice header because it's deprecated since go 1.21
  internal/conv/string.go
Due: none

Add CHANGELOG
  CHANGELOG.md
Due: none

Update subdirs go version
  ics23/go/go.mod
  tools/error_doc/go.mod
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
