Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

x/bank v0.43 Audit updates (#9271)
  proto/lbm/bank/v1/bank.proto
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/expected_keepers.go
  x/bank/atlas/atlas-v0.39.1.md
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/module.go
  x/bank/simulation/operations.go
  x/bank/spec/02_keepers.md
  x/bank/spec/03_messages.md
  x/bank/types/key.go
Due: modules

types: make chopPrecisionAndTruncate always non-mutative (#9250)
  types/decimal.go
Due: none

add cosmovisor docs on Auto-Download (#9358)
  docs/run-node/cosmovisor.md
Due: none

cosmovisor: set larger buffer size for cosmovisor to scan log (fix #8651) (#8653)
  cosmovisor/args.go
  cosmovisor/process.go
  docs/run-node/cosmovisor.md
Due: none

x/upgrade gRPC methods for VersionMap (#9073)
  proto/lbm/upgrade/v1/query.proto
  proto/lbm/upgrade/v1/upgrade.proto
  x/upgrade/client/cli/query.go
  x/upgrade/client/testutil/cli_test.go
  x/upgrade/client/testutil/suite.go
Due: modules

doc: Updates related to ServiceMsg, sdk.Msg and Msg service (#9294)
  x/authz/authorizations.go
Due: modules

fix: store key uniqueness (#9363)
  types/store.go
  types/store_internal_test.go
  types/store_test.go
Due: none

update spec and fix code snippets (#9334)
  proto/lbm/authz/v1/tx.proto
  x/authz/spec/01_concepts.md
  x/authz/spec/02_state.md
  x/authz/spec/03_messages.md
  x/authz/spec/README.md
Due: modules

rosetta: upgrade to newest version (#9314)
  contrib/rosetta/docker-compose.yaml
  contrib/rosetta/rosetta-cli/Dockerfile
  docs/run-node/rosetta.md
  go.mod
  go.sum
  server/rosetta.go
  server/rosetta/client_offline.go
  server/rosetta/client_online.go
  server/rosetta/config.go
  server/rosetta/converter.go
  server/rosetta/converter_test.go
  server/rosetta/lib/errors/errors.go
  server/rosetta/lib/errors/errors_test.go
  server/rosetta/lib/errors/registry.go
  server/rosetta/lib/internal/service/construction.go
  server/rosetta/lib/internal/service/data.go
  server/rosetta/lib/internal/service/offline.go
  server/rosetta/lib/internal/service/online.go
  server/rosetta/lib/server/server.go
  server/rosetta/lib/types/types.go
  server/rosetta/util.go
Due: none

fix client config don't take effect (#9211)
  client/keys/add.go
Due: client

Minor doc fix (#9328)
  proto/lbm/slashing/v1/genesis.proto
Due: none

v043 audit changes for `types/` (#9290)
  proto/lbm/base/query/v1/pagination.proto
  proto/lbm/base/reflection/v1/reflection.proto
  types/address/README.md
  types/address/hash.go
  types/query/pagination.pb.go
Due: none

Remove Redundant Staking Errors (#9231)
  x/staking/client/cli/tx.go
  x/staking/client/testutil/suite.go
  x/staking/keeper/delegation.go
  x/staking/keeper/msg_server.go
  x/staking/types/errors.go
  x/staking/types/msg.go
Due: modules

docs: cosmovisor docs clean-up (#9364)
  cosmovisor/README.md
  docs/run-node/cosmovisor.md
Due: none

docs: minor edits and typo fix on 06_begin_block.md (#9370)
  x/evidence/spec/06_begin_block.md
Due: modules

fix copy pasta (#9376)
  types/module/module.go
Due: none

docs: update simapp instructions (#9374)
  simapp/README.md
Due: none

chore: add lint-pr action (#9341)
  .github/workflows/lint-pr.yml
Due: none

fix build
  types/store.go
Due: none

test: fix mockgen version (#9127)
  Makefile
  tests/mocks/account_retriever.go
  tests/mocks/grpc_server.go
  tests/mocks/tendermint_tendermint_libs_log_DB.go
  tests/mocks/tendermint_tm_db_DB.go
  tests/mocks/types_handler.go
  tests/mocks/types_invariant.go
  tests/mocks/types_module_module.go
  tests/mocks/types_router.go
  types/handler_test.go
Due: none

fix: feegrant grant period not resetting (#9450)
  x/feegrant/periodic_fee_test.go
Due: modules

feat: add cosmos-sdk Version (#9429)
  CONTRIBUTING.md
Due: none

fix: Handle MAX_INT_256 (#9511)
  types/decimal.go
  types/int.go
  types/int_internal_test.go
  types/int_test.go
Due: none

fix: duplicate vesting and format (#9535)
  client/keys/root.go
  server/util.go
  simapp/simd/cmd/root.go
  x/auth/client/cli/decode.go
Due: modules, client

fix build & fix test build
  codec/any_test.go
  crypto/keys/multisig/multisig_test.go
  server/rosetta/converter_test.go
  simapp/app_test.go
  simapp/simd/cmd/genaccounts_test.go
  types/store.go
  x/auth/keeper/keeper_test.go
  x/auth/legacy/v043/store_test.go
  x/auth/simulation/decoder_test.go
  x/auth/types/common_test.go
  x/authz/simulation/decoder_test.go
  x/bank/keeper/keeper_test.go
  x/bank/legacy/v043/store_test.go
  x/bankplus/keeper/keeper_test.go
  x/capability/simulation/decoder_test.go
  x/distribution/client/cli/tx_test.go
  x/distribution/simulation/decoder_test.go
  x/evidence/keeper/querier_test.go
  x/feegrant/filtered_fee_test.go
  x/feegrant/simulation/decoder_test.go
  x/genutil/gentx_test.go
  x/gov/keeper/common_test.go
  x/gov/legacy/v043/store_test.go
  x/gov/simulation/decoder_test.go
  x/mint/simulation/decoder_test.go
  x/params/keeper/common_test.go
  x/params/types/subspace_test.go
  x/slashing/simulation/decoder_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/simulation/decoder_test.go
  x/wasm/client/cli/genesis_msg_test.go
  x/wasm/client/proposal_handler_test.go
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/reflect_test.go
  x/wasm/module_test.go
Due: modules

fix blond typo (#9422)
  x/slashing/types/genesis.go
Due: modules

fix: rollback height->Height in x/upgrade plan.DueAt formatting (#9416)
  x/upgrade/abci_test.go
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
Due: modules

feat: add Dec.Float64() function (#9382)
  types/decimal.go
  types/decimal_test.go
Due: none
