Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

refactor: change oneTimeMaxCount to oneTimeLeftCount
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/genesis.proto
  x/foundation/genesis.go
  x/foundation/genesis.pb.go
  x/foundation/genesis_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/treasury.go
Due: modules

test: change test code to check both cases
  x/staking/keeper/val_state_change_test.go
Due: modules

test: fix msg oneTimeMint server test
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
Due: modules

test: delete duplicated update validator
  x/staking/keeper/val_state_change_test.go
Due: modules

Apply suggestions from code review
  x/foundation/genesis.go
Due: modules

Revert "Apply suggestions from code review"
  x/foundation/genesis.go
Due: modules

Update unit test on UpdateFoundationParamsProposal
  x/foundation/proposal_test.go
Due: modules

fix: TODO: use base64.URLEncoding to modify TestQueryBlockByHash (#711)
  client/grpc/tmservice/service.go
  client/grpc/tmservice/service_test.go
  client/rpc/block.go
  client/rpc/routes.go
  client/rpc/rpc_test.go
  go.mod
  go.sum
Due: client

fix: delete wasmContractPath
  x/wasm/simulation/operations.go
Due: modules

fix: remove useless DenomMetadata key function
  go.sum
  x/bank/keeper/keeper.go
  x/bank/types/key.go
Due: modules

refactor: change oneTimeMint to govMint
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  proto/lbm/foundation/v1/genesis.proto
  proto/lbm/foundation/v1/tx.proto
  simapp/app.go
  x/foundation/codec.go
  x/foundation/event.pb.go
  x/foundation/genesis.go
  x/foundation/genesis.pb.go
  x/foundation/genesis_test.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/treasury.go
  x/foundation/keys.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
  x/foundation/tx.pb.go
Due: modules

fix: allow up to one direct sign in multi sign tx (#708)
  CHANGELOG.md
  client/tx/tx.go
  client/tx/tx_test.go
  x/auth/client/testutil/suite.go
Due: modules, client

feat: restore GovMint in tx.proto in foundation module
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/tx.proto
  x/foundation/tx.pb.go
Due: none

chore: remove leftcount init from genesis.go
  x/foundation/genesis.go
Due: modules

Apply feedback
  x/foundation/genesis.go
Due: modules

chore: fix typo in changelog
  CHANGELOG.md
Due: none

chore: change logic to use range
  x/staking/keeper/val_state_change_test.go
Due: modules

Remove potential runtime panic
  x/feegrant/filtered_fee.go
Due: modules

Update `CHANGELOG.md`
  CHANGELOG.md
Due: none

feat: add gov mint tx for cli
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/tx.go
Due: modules

test: set gov mint left count to 1 for cli test
  x/foundation/client/testutil/cli_test.go
  x/foundation/client/testutil/suite.go
Due: modules

rollback typo
  x/bank/keeper/keeper.go
Due: modules

fix: fix x/foundation EndBlocker (#712)
  CHANGELOG.md
  x/foundation/keeper/abci_test.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/proposal.go
Due: modules

Increase coverage
  x/foundation/keeper/abci_test.go
  x/foundation/keeper/grant_test.go
Due: modules

Add README.md into x/foundation
  x/README.md
  x/foundation/README.md
  x/foundation/spec/README.md
Due: modules

Fill README.md
  x/foundation/README.md
  x/foundation/spec/01_concepts.md
Due: modules

Fix for codecov
  x/feegrant/filtered_fee.go
Due: modules

add CHANGELOG
  CHANGELOG.md
Due: none

fix typo
  CHANGELOG.md
Due: none

fix: check pubkey type from validator params
  baseapp/params.go
  baseapp/params_test.go
Due: app

Update README.md
  x/foundation/README.md
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: make panic when GRPCGateway handler is not registered correctly
  go.sum
  x/auth/tx/service.go
  x/authz/module/module.go
  x/bank/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/gov/module.go
  x/ibc/applications/27-interchain-accounts/module.go
  x/ibc/applications/transfer/module.go
  x/ibc/core/module.go
  x/mint/module.go
  x/params/module.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/module.go
Due: modules

Update references to the latest commit of main
  x/foundation/README.md
Due: modules

fix: check allowedList size in StakeAuthorization.Accept
  x/staking/types/authz.go
  x/staking/types/authz_test.go
Due: modules

docs: add changelog
  CHANGELOG.md
Due: none
