Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

perf: remove iavl cache manager
  baseapp/options.go
  server/mock/store.go
  server/mock/store_test.go
  simapp/simd/cmd/root.go
  store/iavl/store.go
  store/rootmulti/store.go
  store/types/store.go
Due: app

build: build fix
  go.mod
  go.sum
  store/iavl/store_test.go
  store/rootmulti/proof_test.go
  store/types/iterator_test.go
Due: none

fix some x/collection conflicts (imcomplete)
  x/collection/client/cli/query.go
  x/collection/genesis.go
  x/collection/keeper/grpc_query.go
  x/collection/msgs.go
Due: modules

Fix the error test of x/staking
  x/auth/legacy/v040/store.go
  x/distribution/legacy/v043/helpers.go
  x/staking/legacy/v040/keys.go
  x/staking/legacy/v043/store.go
  x/staking/simulation/operations_test.go
  x/staking/types/keys_test.go
Due: modules

Fix syntax error in x/collection
  x/collection/client/testutil/suite.go
  x/collection/genesis_test.go
  x/collection/keeper/genesis.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/nft.go
  x/collection/keeper/send_test.go
  x/collection/keeper/supply.go
  x/collection/msgs_test.go
Due: modules

Fix invalid massage in x/collection
  x/collection/msgs.go
  x/collection/msgs_test.go
Due: modules

Revert "build: build fix"
  go.mod
  go.sum
  store/iavl/store_test.go
  store/rootmulti/proof_test.go
  store/types/iterator_test.go
Due: none

Revert "perf: remove iavl cache manager"
  baseapp/options.go
  server/mock/store.go
  server/mock/store_test.go
  simapp/simd/cmd/root.go
  store/iavl/store.go
  store/rootmulti/store.go
  store/types/store.go
Due: app

Fix incorrect address translation
  x/collection/keeper/genesis.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/msg_server.go
Due: modules

Remove redundant processing
  x/collection/keeper/grpc_query.go
  x/collection/keeper/msg_server.go
Due: modules

perf: remove SetIAVLCacheManager
  baseapp/options.go
  go.mod
  go.sum
  server/mock/store.go
  server/mock/store_test.go
  simapp/simd/cmd/root.go
  store/rootmulti/store.go
  store/types/store.go
Due: app

refactor: remove iavl metric provider from MetricsProvider()
  baseapp/options.go
  baseapp/options_test.go
  simapp/simd/cmd/root.go
Due: app

perf: remove iavlCacheManager
  store/rootmulti/store.go
Due: none

Fix the error test on x/feegrant, x/foundation, x/gov, and x/ibc
  x/feegrant/simulation/operations.go
  x/foundation/keeper/member.go
  x/gov/keeper/tally_test.go
  x/ibc/core/04-channel/types/msgs_test.go
Due: modules

fix: client
  client/query_test.go
Due: client

Fix a bug on x/slashing: https://github.com/cosmos/cosmos-sdk/issues/12573
  x/slashing/keeper/querier.go
Due: modules

Fix base gas in `baseapp`
  baseapp/block_gas_test.go
Due: app

Fix `x/bank`
  x/bank/keeper/genesis_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/legacy/v043/json_test.go
Due: modules

Fix incorrect address
  x/bank/keeper/genesis_test.go
Due: modules

docs: update x/bank events
  x/bank/spec/04_events.md
Due: modules

docs: update x/crisis events
  x/crisis/spec/03_events.md
Due: modules

docs: update x/distribution events
  x/distribution/spec/06_events.md
Due: modules

docs: update x/evidence events
  x/evidence/spec/04_events.md
Due: modules

docs: update x/feegrant events
  x/feegrant/spec/04_events.md
Due: modules

docs: update x/gov events
  x/gov/spec/04_events.md
Due: modules

perf: NewMutableTreeWithCacheWithOpts -> NewMutableTreeWithOpts
  store/iavl/store.go
Due: none

docs: update x/slashing events
  x/slashing/spec/06_events.md
Due: modules

docs: update x/staking events
  x/staking/spec/07_events.md
Due: modules

docs: add x/collection events
  x/collection/spec/03_events.md
Due: modules

docs: update x/foundation events
  x/foundation/spec/03_events.md
Due: modules

docs: add x/token events
  x/token/spec/03_events.md
Due: modules

Revert "perf: NewMutableTreeWithCacheWithOpts -> NewMutableTreeWithOpts"
  store/iavl/store.go
Due: none

Fix wrong usage of AccAddress in `x/auth`
  x/auth/client/rest/query.go
Due: modules

docs: add common spec of events into docs
  docs/core/event.md
Due: none

docs: fix typo
  docs/core/event.md
Due: none

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix lint error
  server/init.go
  testutil/key.go
  x/staking/keeper/val_state_change.go
Due: modules

docs: narrow the context
  docs/core/event.md
Due: none

Fix to use sdk.AccAddressFromBech32 from sdk.AccAddress
  x/feegrant/client/testutil/suite.go
  x/feegrant/filtered_fee_test.go
  x/wasm/client/cli/tx.go
  x/wasm/keeper/query_plugins_test.go
Due: modules

Ignore err on test
  x/feegrant/filtered_fee_test.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, *.yml, *.yaml, *.sh, *.png, *_test.go, **/*_easyjson.go, x/**/*.pb.go, x/**/*.pb.gw.go, scripts/, x/**/test_common.go, *_cmd.go, contrib, statik.go, root.go, x/**/module.go, x/**/errors.go, x/**/key.go
