Repository Finschia/finschia-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
codecov:
  require_ci_to_pass: yes
  bot: Codecov bot for LINK

comment:
  layout: "reach, diff, files"
  behavior: default  # update if exists else create new
  require_changes: false

coverage:
  status:
    project:
      default:
        target: 50
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false
  precision: 2
  range: 50...90
  round: down

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "*.yml"
  - "*.yaml"
  - "*.sh"
  - "*.png"
  - "*_test.go"
  - "**/*_easyjson.go"
  - "x/**/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "scripts/"
  - "x/**/test_common.go"
  - "*_cmd.go"
  - "contrib"
  - "statik.go"
  - "root.go"
  - "x/**/module.go"
  - "x/**/errors.go"
  - "x/**/key.go"

remove rollup_register
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  proto/finschia/or/da/v1/tx.proto
  x/or/da/keeper/msg_server.go
  x/or/da/types/da.pb.go
  x/or/da/types/expected_keepers.go
  x/or/da/types/tx.pb.go
Due: modules

Revert lint on protos
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/mint/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/genesis.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/genesis.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/tx.proto
Due: none

rename CTC to CC
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  proto/finschia/or/da/v1/genesis.proto
  proto/finschia/or/da/v1/params.proto
  proto/finschia/or/da/v1/tx.proto
  x/or/da/README.md
  x/or/da/keeper/cc.go
  x/or/da/keeper/msg_server.go
  x/or/da/keeper/params.go
  x/or/da/types/da.pb.go
  x/or/da/types/genesis.pb.go
  x/or/da/types/params.pb.go
  x/or/da/types/tx.pb.go
Due: modules

fix test
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/params.proto
  x/or/da/keeper/params_test.go
  x/or/da/types/params.go
  x/or/da/types/params.pb.go
Due: modules

feat!: migrate x/foundation FoundationTax into x/params (#999)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  proto/lbm/foundation/v1/tx.proto
  simapp/app.go
  x/foundation/README.md
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/tx.go
  x/foundation/codec.go
  x/foundation/event.pb.go
  x/foundation/foundation.go
  x/foundation/keeper/exported.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/grpc_query_test.go
  x/foundation/keeper/internal/keeper.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/keys.go
  x/foundation/keeper/internal/migrations.go
  x/foundation/keeper/internal/migrations/v2/expected.go
  x/foundation/keeper/internal/migrations/v2/keys.go
  x/foundation/keeper/internal/migrations/v2/store.go
  x/foundation/keeper/internal/migrations/v2/store_test.go
  x/foundation/keeper/internal/msg_server.go
  x/foundation/keeper/internal/msg_server_test.go
  x/foundation/keeper/internal/params.go
  x/foundation/keeper/internal/params_test.go
  x/foundation/keeper/internal/proposal_test.go
  x/foundation/keeper/internal/treasury_test.go
  x/foundation/keys.go
  x/foundation/module/module.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
  x/foundation/tx.pb.go
Due: modules

chore
  x/or/da/keeper/cc.go
  x/or/da/keeper/keeper.go
Due: modules

emit updateParams event
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/event.proto
  x/or/da/keeper/msg_server.go
  x/or/da/types/event.pb.go
Due: modules

fix typo
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  x/or/da/types/da.pb.go
  x/or/da/types/expected_keepers.go
  x/or/da/types/keys.go
  x/or/da/types/params.go
Due: modules

add query params
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/query.proto
  x/or/da/keeper/grpc_query.go
  x/or/da/keeper/grpc_query_test.go
  x/or/da/types/query.pb.go
  x/or/da/types/query.pb.gw.go
Due: modules

fix lint
  x/or/da/keeper/grpc_query.go
Due: modules

Fix proto files
  docs/core/proto-docs.md
  proto/finschia/or/settlement/v1/genesis.proto
  proto/finschia/or/settlement/v1/query.proto
  proto/finschia/or/settlement/v1/settlement.proto
  proto/finschia/or/settlement/v1/tx.proto
  x/or/settlement/types/genesis.pb.go
  x/or/settlement/types/query.pb.go
  x/or/settlement/types/query.pb.gw.go
  x/or/settlement/types/settlement.pb.go
  x/or/settlement/types/tx.pb.go
Due: none

fix typo
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  proto/finschia/or/da/v1/genesis.proto
  proto/finschia/or/da/v1/query.proto
  proto/finschia/or/da/v1/tx.proto
  x/or/da/types/query.pb.go
  x/or/da/types/query.pb.gw.go
Due: none

feat: implement query account number in x/auth module
  x/auth/keeper/grpc_query.go
  x/auth/keeper/grpc_query_test.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
Due: modules

chore: update changelog.
  CHANGELOG.md
Due: none

fix: line error
  x/auth/keeper/grpc_query.go
Due: modules

fix: proto function typo
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/cosmos/auth/v1beta1/query.proto
  x/auth/types/query.pb.go
  x/auth/types/query.pb.gw.go
Due: client

Remove deprecated param store
  x/or/settlement/keeper/keeper.go
Due: modules

Fix NewKeeper
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/mint/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/finschia/or/da/v1/da.proto
  proto/finschia/or/da/v1/genesis.proto
  proto/finschia/or/da/v1/params.proto
  proto/finschia/or/da/v1/query.proto
  proto/finschia/or/da/v1/tx.proto
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/genesis.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/genesis.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/tx.proto
  x/or/settlement/testutil/keeper/settlement.go
Due: modules

feat: re-design CC, SCC interfaces
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  x/or/da/keeper/msg_server.go
  x/or/da/types/da.pb.go
Due: modules

Revert "Fix NewKeeper"
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/mint/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/finschia/or/da/v1/da.proto
  proto/finschia/or/da/v1/genesis.proto
  proto/finschia/or/da/v1/params.proto
  proto/finschia/or/da/v1/query.proto
  proto/finschia/or/da/v1/tx.proto
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/genesis.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  proto/lbm/foundation/v1/foundation.proto
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/genesis.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/tx.proto
  x/or/settlement/testutil/keeper/settlement.go
Due: modules

Fix for review
  x/or/settlement/testutil/keeper/settlement.go
  x/or/settlement/types/settlement.go
Due: modules

chore
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  x/or/da/types/da.pb.go
Due: none

feat: implement the interface of the settlement module (#998)
  docs/core/proto-docs.md
  proto/finschia/or/settlement/v1/genesis.proto
  proto/finschia/or/settlement/v1/query.proto
  proto/finschia/or/settlement/v1/settlement.proto
  proto/finschia/or/settlement/v1/tx.proto
  x/or/settlement/client/cli/query.go
  x/or/settlement/client/cli/tx.go
  x/or/settlement/genesis.go
  x/or/settlement/genesis_test.go
  x/or/settlement/handler.go
  x/or/settlement/keeper/grpc_query.go
  x/or/settlement/keeper/keeper.go
  x/or/settlement/keeper/msg_server.go
  x/or/settlement/module.go
  x/or/settlement/module_simulation.go
  x/or/settlement/simulation/simap.go
  x/or/settlement/testutil/keeper/settlement.go
  x/or/settlement/testutil/nullify/nullify.go
  x/or/settlement/testutil/sample/sample.go
  x/or/settlement/types/codec.go
  x/or/settlement/types/errors.go
  x/or/settlement/types/expected_keepers.go
  x/or/settlement/types/genesis.go
  x/or/settlement/types/genesis.pb.go
  x/or/settlement/types/genesis_test.go
  x/or/settlement/types/keys.go
  x/or/settlement/types/query.pb.go
  x/or/settlement/types/query.pb.gw.go
  x/or/settlement/types/settlement.pb.go
  x/or/settlement/types/tx.pb.go
Due: modules

Implement the logic of Challenge query
  simapp/app.go
  x/or/settlement/client/cli/query.go
  x/or/settlement/client/cli/tx.go
  x/or/settlement/keeper/challenge.go
  x/or/settlement/keeper/challenge_test.go
  x/or/settlement/keeper/grpc_query.go
  x/or/settlement/keeper/grpc_query_test.go
  x/or/settlement/keeper/keeper.go
  x/or/settlement/keeper/keeper_test.go
  x/or/settlement/keeper/key.go
  x/or/settlement/keeper/params.go
  x/or/settlement/testutil/keeper/settlement.go
  x/or/settlement/types/codec.go
  x/or/settlement/types/errors.go
  x/or/settlement/types/msgs.go
  x/or/settlement/types/params.go
Due: modules

remove state batch pointer
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/da.proto
  x/or/da/types/da.pb.go
Due: none

add from for all msgs
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/tx.proto
  x/or/da/types/keys.go
  x/or/da/types/tx.pb.go
Due: modules

fix typo
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/tx.proto
  x/or/da/types/tx.pb.go
Due: none

fix typo
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/tx.proto
  x/or/da/keeper/msg_server.go
  x/or/da/testutil/keeper.go
  x/or/da/types/tx.pb.go
Due: modules

fix: push compressed batch data instead of origin
  docs/core/proto-docs.md
  proto/finschia/or/da/v1/tx.proto
  x/or/da/types/tx.pb.go
Due: none

feat: implement Msg interface
  x/or/da/types/msgs.go
Due: modules

feat: register or/da codec
  x/or/da/module.go
  x/or/da/types/codec.go
Due: modules

feat: support custom r/w gRPC options (backport cosmos/cosmos-sdk#11889)
  server/config/config.go
  server/config/toml.go
  server/grpc/server.go
  server/start.go
  testutil/network/util.go
Due: none

chore: add simple unittest for app config
  server/config/config_test.go
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

feat: support custom r/w gRPC options (#1017)
  CHANGELOG.md
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/grpc/server.go
  server/start.go
  testutil/network/util.go
Due: none
